[2019-11-25 04:56] sovesove opened #799 "[bug] Typo in how-to page button"
**Describe the bug**
Missing a dash.
It says "Create howto" instead of "Create how-to"

**To Reproduce**
https://community.preciousplastic.com/how-to
scroll to the bottom

<img width="673" alt="image" src="https://user-images.githubusercontent.com/940045/69513474-d1e78e80-0f82-11ea-8152-79ab160ab526.png">

[2019-11-28 11:14] sovesove opened #801 "[bug] How-Tos not loading"
**Description**
The How-To's are still not loading (I already cleared cache) on Windows 10, on Mozilla

**Link**
https://community.preciousplastic.com/how-to

**Screenshots**

**User contact**
mariska
Sure, I'm happy to help!

[2019-11-28 11:14] sovesove commented on #801
@BenGamma can't replicate on Mac, but seems urgent.

[2019-11-28 11:16] sovesove opened #802 "[bug] Discord field on user profile"
**Description**
Discord input field has not been defined.
If I put my Discord ID (mattia-io#4245) on my profile page the link is leading me to: https://community.preciousplastic.com/u/mattia-io#4245 .
I think for discord the field should simply show the text so people can copy and search it on Discord.
On top of this I would add a text placeholder for the input field with an example of what the di

[2019-11-28 11:17] sovesove opened #803 "[bug] Unable to signup"
**Description**
Cannot join the new platform. I have used both Brave and Firefox browsers.

**Link**
https://community.preciousplastic.com/sign-up

**Screenshots**
https://we.tl/t-SiLHTro5pM

**User contact**
mettodo
Sure, I'm happy to help!

[2019-11-28 11:26] sovesove opened #804 "[bug] Profile page bus"
**Description**
First - page keeps adding a new line / option for the links and contacts every time you edit the profile, so that unless you delete the last line, it will appear on the profile as an empty link.
Second (minor) - changing from one header to another, it rolled back the first one and I had to reupload the second one. Happened only once.

**Link**
https://community.preciousplastic.com/

[2019-11-28 23:54] BenGamma commented on #804
If I get it right there is two issues here :
1. We are saving empty contact links in the /settings page.
This one is a known issue and will be fixed with #788
2. This one I don't really understand what is it about, any more information about it ?

[2019-11-29 00:08] BenGamma commented on #803
First screenshot with mutators error is a known issue #778
Second screenshot I'm not able to reproduce using Brave version : 0.20.30
@sovesove can we contact the user mettodo to have more infos on his version of the Brave browser or how to reproduce the error he experienced ?

[2019-11-29 00:11] BenGamma commented on #802
For the fact that the discord ID is redirecting to https://community.preciousplastic.com/u/mattia-io#4245, it will be fixed with #788
Then the suggestion on the design, will have to go through design team first.

[2019-11-29 00:11] #802 closed

[2019-11-29 00:16] BenGamma commented on #795
may be linked to #700

[2019-11-29 00:20] BenGamma commented on #791
I can't manage to replicate this one. Can we have more info on how to reproduce the same problem @mattia-io ?

[2019-11-29 00:24] BenGamma commented on #787
Error messages are not the final ones. For now (beta), we leave them like this because it helps to debug.
Closing because duplicate of #649

[2019-11-29 00:24] #787 closed

[2019-11-29 00:27] BenGamma commented on #588
As I understand this in now done using GCloud functions to avoid Zapier limitation.
@davehakkens Do you know where the code of these functions will be ? Would be nice to save them in github. We could create a new repo for them under ONEARMY organization if needed

[2019-11-29 00:31] davehakkens commented on #588
Yes currently I have them locally and stored in Firebase Functions. But it seems there are a few other Functions already there.` DHSite_login , DHSite_migrateAvatar , DHSite_getUser `Dont know where they are stored in Github @chrismclarke. But would be good to store them at the same place.

[2019-11-29 00:32] BenGamma commented on #616
We removed the more button for "create" button. Closing

[2019-11-29 00:32] #616 closed

[2019-11-29 06:41] sovesove commented on #803
I don't have the user's contact unfortunately, I think that is their
discord ID.

On Fri, 29 Nov 2019 at 08:08, Benjamin Gammaire <notifications@github.com>
wrote:

[2019-11-29 06:42] sovesove commented on #804
I think 2. refers to the cover photo maybe?

[2019-11-30 14:00] chrismclarke commented on #778
Personally I'm against this idea, I think caching is hugely important for our sustainability goals and instead we should work to address the issues within the current system.

I've created pr #806 which should make the process of clearing old caches much easier.

I just tried accessing the platform in private browsing mode on chrome and it worked fine, so would be good if somebody can give guidanc

[2019-11-30 18:14] BenGamma opened #807 "[bug] can't interact with db on certain browsers."
**Describe the bug**
Some users experiences the impossibility to interact with the db. The error in the console is
Known issue with :
- private browsing window on mozilla 70.0.1, on macOS
- for some users on windows 10 and same version of mozilla ( explained in #801 )
Error is the same in both cases : `uncaught exception: Object`. But when you open the map section, there is a warning in the consol

[2019-11-30 18:22] BenGamma commented on #778
I totally agree that the caching system is hugely important ! I was suggesting to remove it for now because it seemed not stable enough.
With #806 it will helped a lot, and I think we'll move forward fixing issues as we run into.
I created #807 to describe the main problem with have with cache on firefox, it seems to be a legacy bug from mozilla's core that we can't do that much about.

[2019-11-30 18:22] #778 closed

[2019-12-01 11:29] BenGamma commented on #803
I've reached to the user `mettodo` on PP discord, waiting on his answer now. Otherwise will close.
I've changed the priority to `medium` because the bug is not affecting a lot of users.

[2019-12-01 11:35] BenGamma commented on #588
They are stored in [functions/src/DaveHakkensNL/index.tsx](https://github.com/ONEARMY/community-platform/blob/master/functions/src/DaveHakkensNL/index.ts).
I'll move this discussion to slack for an easier chat.

[2019-12-01 11:35] #588 closed

[2019-12-01 22:20] BenGamma commented on #801
I got in touch with user and it was linked to the fact that the browser was set to not save any history, which is described in #807
I'm closing as it's not something we are going to / can fix. See more infos in related issue mentionned above.

[2019-12-01 22:20] #801 closed

[2019-12-01 22:55] #706 closed

[2019-12-02 00:25] chrismclarke commented on #807
Yeah it's a tricky one, I just spent some time looking at and not sure what the best option is. It is due to firefox incognito not supporting indexeddb, as would a handful of legacy browsers and incognito modes (only chrome does support).

There's no immediate way to check if idb will be supported, so instead we would need to rely on attempting to open, checking for error, and then offering some s

[2019-12-02 07:38] sovesove opened #810 "[bug] Plural/Singular dates"
**Description**
A minor typo here. Published how-tos are displaying days as plural even when singular.
Like 0 days or 1 days... obviously should be Today and 1 day..
When you have a minute would be nice to correct it :)

**Link**
https://community.preciousplastic.com/how-to/tag-the-collections-bags

**Screenshots**
https://we.tl/t-LY7peP3he3

**User contact**
hello@mattia.io
Not this time

[2019-12-02 07:47] sovesove opened #811 "[bug] Map zoom issue"
**Description**
Little navbar bug on the map.
On landing all good. As soon as you click +/- to zoom on a location the navbar shrinks and gets heavily misaligned.

**Link**
https://community.preciousplastic.com/map

**Screenshots**
https://we.tl/t-GK21rZAQ3c

**User contact**
hello@mattia.io
Not this time

[2019-12-02 09:42] davehakkens commented on #807
instead of fixing. could the error message be changed?

Could be something like

[2019-12-02 13:12] sovesove commented on #798
<img width="568" alt="Screenshot 2019-12-02 at 10 54 58" src="https://user-images.githubusercontent.com/940045/69962209-7603a380-1548-11ea-8079-a6c569c91957.png">

[2019-12-02 18:15] BenGamma commented on #811
This one is because user scrolled on the page 😅
closing

[2019-12-02 18:15] #811 closed

[2019-12-02 18:41] #762 closed

[2019-12-02 18:42] BenGamma commented on #756
fixed with #805

[2019-12-02 18:42] #756 closed

[2019-12-02 18:44] BenGamma commented on #728
seems fixed, can't reproduce anymore 🤷‍♂

[2019-12-02 18:44] #728 closed

[2019-12-02 18:46] BenGamma commented on #526
fixed with #788

[2019-12-02 18:46] #526 closed

[2019-12-02 18:48] BenGamma commented on #513
fixed with #805

[2019-12-02 18:48] #513 closed

[2019-12-02 18:52] BenGamma commented on #690
Create a how-to test case works now. It's weird as I can't really point out which commit fixed this issue, but it's fixed !

[2019-12-02 18:52] #690 closed

[2019-12-02 21:51] #807 closed

[2019-12-03 14:45] chrismclarke commented on #807
Nah, found a fix :D

[2019-12-03 22:23] catx23 commented on #804
there is another bug : links without protocol in the profile will route to local 404s

[2019-12-05 10:48] drydenwilliams commented on #799
Please could you just confirm this is still a problem @sovesove? I think it's been fixed

[2019-12-05 10:50] drydenwilliams commented on #791
I can't seem to replicate this. What do you mean by "change focus" @sovesove?

[2019-12-05 10:54] BenGamma commented on #804
This one is fix with [v0.8.3](https://github.com/ONEARMY/community-platform/releases/tag/v0.8.3)
Can't replicate 2. Closing

[2019-12-05 10:54] #804 closed

[2019-12-05 23:51] chrismclarke commented on #773
So just to be clear, why is this a problem? I followed the link you gave and the page loaded. I'm not opposed to having strict usernames, but I just want to know what we'd be trying to achieve with them?

[2019-12-06 06:13] sovesove commented on #799
<img width="360" alt="image" src="https://user-images.githubusercontent.com/940045/70300457-8bbbe600-1832-11ea-8d5b-a0aa46b17438.png">

Yep in the button I still see the wrong copy

[2019-12-06 09:26] davehakkens commented on #773
usually the username is different from the profile name.
Now many users insert their profile name.
Which ends up in very long usernames:
**Plastikowa Rewolucja**
https://community.preciousplastic.com/u/Plastikowa%20Rewolucja
**Javier (Singular MARS Ltd)**
https://community.preciousplastic.com/u/Javier%20(Singular%20MARS%20Ltd)
**Inez UP!cycling**
https://community.preciousplastic.com/u/Inez%20UP!c

[2019-12-07 10:39] mattia-io commented on #791
Me neither. I guess you guys already fixed it.

But as I was trying to replicate the issue I encountered another one.

I made first a sheetpress account. Then switched to member. Attached you can see what my profile says now. Maybe good to create a separate issue? @sovesove ?

<img width="386" alt="Screenshot 2019-12-07 at 16 38 08" src="https://user-images.githubusercontent.com/17761877/70372968-

[2019-12-07 14:36] mattia-io commented on #773
yep, agree with dave.. is that a big thing to do @chrismclarke ?

[2019-12-08 22:01] #810 closed

[2019-12-08 22:16] BenGamma commented on #791
yes please create a separated issue @mattia-io , thanks !

[2019-12-08 22:16] #791 closed

[2019-12-09 02:17] sovesove opened #818 "[bug] Profile with "double type" after editing"
I made first a sheetpress account. Then switched to member. Attached you can see what my profile says now.
![unnamed](https://user-images.githubusercontent.com/940045/70402082-1851e880-1a6d-11ea-8054-a2875680ff7f.png)

[2019-12-09 02:18] sovesove commented on #791
Done: https://github.com/ONEARMY/community-platform/issues/818

On Mon, 9 Dec 2019 at 06:16, Benjamin Gammaire <notifications@github.com>
wrote:

[2019-12-09 03:04] sovesove opened #819 "[bug] Log in issue of user "12much""
** Description **
I try to refresh my account as stated in the email ....

**Link**
I cannot log in, but cannot create a new account. Have all our old accounts disappeared?

** Screenshots **

** User contact **
12much - boy@12much.nl
Sure, I'm happy to help!

[2019-12-09 09:11] BenGamma commented on #819
Yeah I contacted this user by email the 12 of december, said he will have a look, never heard back 🤷‍♂

[2019-12-09 09:11] #819 closed

[2019-12-09 10:10] BenGamma commented on #448
@chrismclarke is this issue still to fix ? There was some work done on avatar component in #782, maybe that fixed the issue here ?

[2019-12-09 10:11] #465 closed

[2019-12-09 10:20] BenGamma opened #820 "[feature request] mobile integration of settings page"
Integration of the /settings page to be usable on a mobile device.

[2019-12-10 04:26] sovesove opened #822 "[bug] Cover image is replaced when updating an image in how-to"
**Description**
Critical issue. I changed the image of step 25 and it automatically replaced the cover image.

**Link**
https://community.preciousplastic.com/how-to/setup-an-extrusion-workspace

**Screenshots**

**User contact**
hello@mattia.io
Not this time

[2019-12-10 04:36] sovesove opened #823 "[bug] Fix padding on how-to steps' number"
The step number and the step title are not vertically aligned (bad typography).

Fix: change the padding of the step number to 20px all sides (now is 15px 20px).

<img width="376" alt="image" src="https://user-images.githubusercontent.com/940045/70495961-8b309180-1b49-11ea-8e4e-27f38caf6f61.png">

[2019-12-11 02:45] sovesove opened #824 "[bug] Add a 600-char limit to each How-to step"
Context: The text boxes don't have a limit to 600 characters which means I can put loads of words in and then when uploaded it stretched the step. But after if I want to split the step into 2 steps. But have added additional steps I need to manually move every step down....super tedious process.

**Add a 600-char limit to each How-to step.**

[2019-12-11 11:27] davehakkens commented on #824
Yeh I guess this fits in this issue: https://github.com/ONEARMY/community-platform/issues/777

[2019-12-13 15:51] lauvrenn opened #828 "[bug] Profile workspace titles combine with previously picked workspace focuses"
**Describe the bug**
When profile focus is changed in settings from "I run a workspace" with a shredder workspace to "I run a local community", the workspace title on the profile page becomes "Shredder Community-builder" instead of just "Community-builder".

**Expected behavior**
Workspace titles on profile page should not retain previous workspace types when workspace focus is changed

**Screensh

[2019-12-14 11:59] #823 closed

[2019-12-16 02:28] davehakkens commented on #772
Not sure if this user was actually deleted. Might be a bug since it looks like its back now
<img width="397" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/70874804-154a8100-1fb4-11ea-9a9c-792e76d514a6.png">

[2019-12-18 20:33] #820 closed

[2019-12-18 20:37] #797 closed

[2019-12-19 09:02] #799 closed

[2019-12-19 14:24] BenGamma opened #831 "map filter for mobile"
Mobile integration of the map filter.

[2019-12-20 11:27] chrismclarke opened #832 "[bug] - External links clicked in academy page do not open"
**Describe the bug**
Whenever an external link from within the iframe the page will either block loading or sometimes loads within the iframe. Ideally we want to communicate the navigation up to the parent and handle from there. This will require additional postmessage methods from the academy site and a handler on the platform.

**To Reproduce**
Go to `/academy/support/chat`, try the discord link

[2019-12-22 19:32] #832 closed

[2019-12-23 13:59] #831 closed

[2019-12-23 17:01] BenGamma opened #835 "fix multiple small mobile display"
- [x] update create button layout in howtolist and eventlist to fit mockups
- [x] fix event filter display
- [x] move leaflet map zoom control in bottom left

[2019-12-23 18:31] #835 closed

[2019-12-23 18:52] BenGamma opened #837 "[feature request] limite settings access for non verified user"
**Is your feature request related to a problem? Please describe.**
At the moment unverified users can access and do whatever (update profile, add pins on map, create how-tos, events), there is no restrictions.

**Describe the solution you'd like**
We should disable content creation and user `/settings` access to unverified users.

Original feedback below :

[2019-12-23 19:08] BenGamma commented on #739
We seem to have quite some feedbacks from users that can't find their pin on the map, or it is misplaced. As a quick fix we could add a little message on the bottom of the map informing the user that the non accuracy of the pin is a known issue and that he's address is displayed anyway on his profile, so there is not too much to worry about ?

[2019-12-24 09:21] drydenwilliams commented on #822
I can't seem to replicate this one. Please could you give more information.

[2019-12-28 07:34] sovesove opened #839 "[bug] MOBILE - filters input box on focus"
**Describe the bug**
In the home page (https://dev.onearmy.world/) when I tap to select a filter the view zoom in cutting out part of the page.
After I tap out (blur) the input box the page is wider than the content leaving a margin on the right.

**Expected behavior**
When I focus on the filters box the zoom shouldn't change (it's already mobile optimized so no need to zoom more).
When I blur the

[2019-12-28 07:46] sovesove opened #840 "[bug] MOBILE - minor UI issues on How-To detail page"
**Describe the bug**
Check the mobile design here: https://one-army-community-platform.webflow.io/u/how-to-article

- too much padding in the title and steps card
- step's numbers should not be full width but a smaller (narrower) box
- the main image in each step should have some margin (5px) and round corners (currently there's no margin, which is fine, but then the corners need to be changed dyn

[2019-12-28 07:57] sovesove opened #841 "[bug] MOBILE - Main Navigation"
**Describe the bug**
1. The logo and the menu icon are too much towards the centre (too much space on the outside).
Either reduce the main container padding (now 20px) or the margin of each element.
<img width="376" alt="image" src="https://user-images.githubusercontent.com/940045/71540822-8d3c8200-298a-11ea-985f-985c0cab4434.png">
<img width="375" alt="image" src="https://user-images.githubuserco

[2019-12-28 08:16] sovesove opened #842 "[bug] MOBILE - User profile settings"
**Describe the bug**
When I change focus of my profile (for example: from member to workspace, but any combination applies) I am asked to confirm because my profile will be reset. If I select "Cancel" (to not change) the new focus I've just selected stays selected and looks like has been changed anyways.

[2019-12-28 08:23] sovesove opened #843 "[bug] MOBILE title text not aligned"
At the bottom of the how-to list page, the text is not centre-aligned

<img width="372" alt="image" src="https://user-images.githubusercontent.com/940045/71541053-14d7c000-298e-11ea-881a-c1e04ba491a4.png">

[2019-12-28 15:59] davehakkens commented on #841
I think Webflow had the old logo, this is the new one. Right @mattia-io?

[2019-12-28 16:00] sovesove commented on #841
Yes correct, only the menu icon and positioning needs to be updated

On Sat, 28 Dec 2019 at 23:59, Dave Hakkens <notifications@github.com> wrote:

--

——————

Andrea Soverini

twitter: @sovesove <https://twitter.com/sovesove>

[2019-12-29 08:45] sovesove opened #845 "[bug] Paragraph font family need to be system-font"
Description
The font for the paragraph text shouldn't be Varela Round but the system-font.

Link
https://community.preciousplastic.com/how-to/set-up-a-collection-point

Screenshots
https://we.tl/t-oeA0F024R0

User contact
hello@nico.pizza
Sure, I'm happy to help!

[2019-12-29 11:48] BenGamma opened #846 "[feature request] warn user when leaving settings without saving"
**Is your feature request related to a problem? Please describe.**
Some user mentioned that they loose all their informations when they left the settings page without saving.

**Describe the solution you'd like**
Warn user when leaving settings without saving (like in create how-to page)

**Additional context**
Check how it's done it create how to, using react-router.

[2019-12-31 17:11] BenGamma opened #847 "add moderation field on existing data"
We need to update the `DB_CACHE_NUMBER` because we are going to manually populate the moderation field with `accepted` value on the existing content (in dev & production db) in order to keep on displaying it.
It may be better to handle this operation with scripting, we start to have quite a lot of entries in the map, and 58 howtos.

[2020-01-05 15:29] #845 closed

[2020-01-05 15:29] #828 closed

[2020-01-05 15:29] #841 closed

[2020-01-05 15:29] #843 closed

[2020-01-05 15:29] #776 closed

[2020-01-06 19:00] #846 closed

[2020-01-06 23:34] BenGamma commented on #847
fixed with #853

[2020-01-06 23:34] #847 closed

[2020-01-06 23:34] BenGamma commented on #773
merged with #853

[2020-01-06 23:34] #773 closed

[2020-01-07 12:09] chrismclarke opened #860 "[feature request] - Add more edge cases to tests"
**Is your feature request related to a problem? Please describe.**
After dbv2 upgrade we found a number of issues which would have been missed by tests relating to users with spaces and special characters in names

**Describe the solution you'd like**
Add harder edge cases to tests (not just test_username type)

**Describe alternatives you've considered**
Fighting fires as they come up 🔥

[2020-01-07 16:12] BenGamma commented on #707
merge with #825

[2020-01-07 16:12] #707 closed

[2020-01-08 07:31] sovesove opened #863 "[bug] Broken page and/or link"
**Describe the bug**
This page is broken:
https://preciousplastic.com/en/videos/build/upgrades/shredder-2-1.html

**To Reproduce**
Open
https://community.preciousplastic.com/academy/build/shredder
click on "Upgrade: Shredder 2.1"
<img width="449" alt="image" src="https://user-images.githubusercontent.com/940045/71958701-e084bf00-322b-11ea-8108-e1068dd742c5.png">

[2020-01-08 11:28] BenGamma opened #864 "[feature request] setup analytics"
_Updated 2020-01-20 CC_
Required for analytics:

- [x] Decide on analytics provider (use GA for now, but hopefully matomo in future, as per some discussion on here and on slack)
- [x] Add component binding/hooks (close with pr #869)
- [x] Add privacy policy/terms of use and opt-in/out mechanism (see #619)
- [ ] Add profile/data deletion options (currently on manual request)
- [x] Add data opt-in/o

[2020-01-09 11:27] davehakkens commented on #863
fixed. thanks for spotting

[2020-01-09 11:27] #863 closed

[2020-01-09 21:31] chrismclarke opened #867 "[feature request] - admin ability to lookup a user's email address"
**Is your feature request related to a problem? Please describe.**
When moderating content not all users leave a contact, so instead the email used for sign-up needs to be retrieved to get in touch if there are moderation issues (we intentionally don't keep this email in the public profile)

**Describe the solution you'd like**
1. A backend function that will hook up to firebase auth and retrieve

[2020-01-10 08:05] chrismclarke commented on #448
Given that we're no longer using profile avatars (instead member pins) I'm guessing it's safe to close (can always revisit if we decide to put back in)

[2020-01-10 08:05] #448 closed

[2020-01-10 16:20] BenGamma commented on #803
User just reach back now, he was browsing in private mode. So this was fixed with #806

[2020-01-10 16:20] #803 closed

[2020-01-13 08:59] drydenwilliams commented on #864
Would be great to get some analytics on ASAP. I'm a big fan of GA as it's easy to add and give great granularity and events too.

Seems there is quite a few different alternatives out there:
https://www.leadfeeder.com/blog/google-analytics-alternatives/

[2020-01-14 21:42] chrismclarke opened #873 "[docs] - outline current service worker/caching strategies"
**Is your feature request related to a problem? Please describe.**
Following pr #872 a bunch of changes were made to make the service worker and overall site work more efficiently. Some of the code might not be obvious (particularly custom changes required if considering reverting back to create-react-app), so would be good to add a section to the wiki.

Also worth sharing to consider any addition

[2020-01-15 11:46] BenGamma opened #875 "[test] Add e2e testing to map section"
Cypress doesn’t support leaflet/google map. All map interactions require custom api implementation.

Based on discussion we had with @tmhung88 , he tried these approach with no luck yet :
1. we need to build map interaction apis with cypress low level api. mouse down, mouse up …. However there is no apis for mouse wheel which is to zoom in/zoom out.
2. Instead of using cypress api to interact with

[2020-01-15 13:30] chrismclarke commented on #873
**To Include**

Yeah testing is a bit of a pain as by default the service worker isn't installed on localhost (would make developing a pain if changes weren't seen immediately).

The best way to test is create a local build and serve that via a web server (I usually do this on port 5000 as firebase also uses it when serving).

[code]

Now you'll see the full service worker (in debug mode as on loc

[2020-01-17 09:23] BenGamma opened #879 "trigger slack webhooks on map pin creation"
At the moment we are using the `onWrite` event to trigger the slack webhook for map pin.

As user can update his profile quite often, only trigger webhook on the pin creation [like we were doing before](https://github.com/ONEARMY/community-platform/commit/5bce9a59927400ae36f1f6c3cd8b6dcd9f858d23#diff-6bf7c754f9d25cadbe393096603828ee)

[2020-01-18 14:57] chrismclarke commented on #722
merge into #619

[2020-01-18 14:57] #722 closed

[2020-01-18 15:01] chrismclarke commented on #619
Following a bunch of chat on slack (mostly v4-core-dev channel), decided on minimal implementation to start, linked with login mechanism.

[2020-01-20 11:47] catx23 commented on #211
bump,
might it be possible to add this at the end ? as it is now, we don't feel like making good articles without markdown and for now we're forced to go on with own tools (markdown -> stencil components -> html) - we could add add a few dozen good articles btw.

since it's kind of plain text, you can still strip out easily html tags but allow a few such as hr, video, code,...

the route to get th

[2020-01-20 11:55] davehakkens commented on #211
i dont think we are ready to implement markdown or rich editors. yet.
It's easy to implement but hard to implement properly.
Opens up to many possibilities and options to mess up the layout and create a mess.
Needs more thinking.

[2020-01-20 12:07] catx23 commented on #211
don't worry - you have 20 years skills in doing rich authoring software for the mass & experts at your hand ;-) I can't recall how often I implemented such things already :-)

[2020-01-20 12:16] catx23 commented on #211
the thinking part is btw. actually done on our end : https://github.com/plastic-hub/lang/blob/master/natives.md, one more iteration at best - pretty much all covered from what we and others need ..

[2020-01-21 09:45] #619 closed

[2020-01-21 09:54] chrismclarke commented on #211
I really like markdown and am much more efficient with it, although at this stage I don't think it would have much use we are literally only using plain text inputs + image uploads in the platform to keep a very consistent style for all posts. The academy site is all markdown though.

[2020-01-21 20:00] catx23 commented on #211
Well, no problem. As alternative to the rather narrow and fixed structure now (steps need pictures), how about adding support for freestyle how-tos ? For instance, I just dump a markdown file and done :-)

This way would we and others could could easily 'import' ready-to go content, more likely as seen in the almighty instructables.com way. That would allow users to be basically free and can focus

[2020-01-23 11:25] chrismclarke opened #882 "[suggestion] - Add context to feedback mechanism"
**Is your feature request related to a problem? Please describe.**
Suggested by @Lionel Horn on discord.

**Describe the solution you'd like**
If useful we could easily add a prefilled field to say what page the user has come from. Would require an extra field on the form (either hidden, or with additional mechanism to for user to say whether this is relevant or not). Not sure what else could be d

[2020-01-23 14:03] lionelhorn commented on #882
For additionnal feedback, I've also encountered
- Screenshots (automatically captured)
- - https://html2canvas.hertzen.com/
- Recordings (but probably too cumbersome to be easy enough to use. May also not be implemented in all browser yet)
- - https://webrtc.github.io/samples/src/content/getusermedia/getdisplaymedia/

[2020-01-23 14:27] catx23 commented on #882
yeah, that would be awesome ! comments or questions per step is a good way to improve the content but also also local infos.
I guess you guys already checked instructables on this :

![image](https://user-images.githubusercontent.com/1205100/72992894-c8e53300-3df4-11ea-81f2-aa9a0dcd21e2.png)

I'd also love to see attachments per step :-)

[2020-01-24 12:32] chrismclarke opened #883 "[bug] - account disappear bug"
**Describe the bug**
Reported previously, launch day let some code slip through that let users get trapped in a loop where the wrong db endpoint was checked for a profile, not found, and created new (overwriting existing profile). It was quickly fixed but a handful of users (mostly just pp main account we think) have recurring issue.

**To Reproduce**
Not sure, reported by users

**Suggestions**
H

[2020-02-18 16:25] tudi2d commented on #842
I would like to investigate & fix this issue.

[2020-02-19 07:20] chrismclarke commented on #842
Sounds good, there's likely a few moving parts causing the issue (form and store), if you can figure it out just make a PR to master with reference to the issue. Thanks!

[2020-02-20 10:16] drydenwilliams opened #886 "Create a dynamic `sitemap.xml`"
**Is your feature request related to a problem? Please describe.**
We need to have a `sitemap.xml` to list all the pages we have for nice Google Bots.

**Describe the solution you'd like**
A solution I've done in the past is to do this on the API by adding a for `/sitemap.xml` and dynamically making the `.xml` file..

Here is an example of a `sitemap.xml` and you can see how it structures it which

[2020-02-20 10:19] drydenwilliams opened #887 "SEO - Low word count on pages [bug]"
**Describe the bug**
After running a SEO check on [here](https://app.neilpatel.com/en/seo_analyzer/site_audit?domain=preciousplastic.com&view=all) it raised we have a low word count on 12 pages.

<img width="1119" alt="Screenshot 2020-02-20 at 09 48 46" src="https://user-images.githubusercontent.com/4403089/74924468-746cad80-53ca-11ea-9699-d44c75c42778.png">

Task:
To add lots of nice content to t

[2020-02-20 10:21] drydenwilliams opened #888 "SEO - Create unique title & meta descriptions [bug]"
**Describe the bug**
We have duplicate `meta` descriptions and `title` tags on `https://preciousplastic.com/` and it's better for SEO if they are unique

<img width="1131" alt="Screenshot 2020-02-20 at 09 49 16" src="https://user-images.githubusercontent.com/4403089/74924533-936b3f80-53ca-11ea-91cd-38efcb909628.png">

[2020-02-20 10:24] drydenwilliams commented on #886
@chrismclarke please could you just check my proposed implementation of this.
And also It was mentioned that this might be a nice story for @alromh87?

[2020-02-20 10:38] davehakkens commented on #887
This is SEO for preciousplastic.com
I guess you need to use community.preciousplastic.com for the platform

On Thu, Feb 20, 2020 at 15:49 Dryden <notifications@github.com> wrote:

[2020-02-20 15:49] chrismclarke commented on #886
We will definitely want to dynamically generate an xml file. My 2 main concerns would be:
1. How long do most searchbots wait to receive the sitemap? If interrogating the data on the fly it might take a few seconds to run all the required operations.

2.  How often do searchbots scrape? If it is frequent, or if there were a malicious 3rd party, it could be quite resource-intensive to go through th

[2020-02-21 12:04] tudi2d commented on #842
*Workflow:*
- Go to profile
- Changed Profile (e.g. "Focus")
- Navigate to other page (e.g. "Map")
- Cancel confirmation dialog

I´ve tested this with Firefox on Android & Windows for the live & dev version and I was not able to reproduce the error. @sovesove can you please verify I´ve my steps are right? Maybe this issue was already fixed in a different commit during the last 2 months.

![4Y9OmGg

[2020-02-25 11:14] #798 closed

[2020-02-25 11:27] chrismclarke opened #890 "[feature request] - Email System"
**Is your feature request related to a problem? Please describe.**
As part of monitoring a profile wipe issue it would be good to have a system that can send specific alerts or notifications on demand (not limited to specific slack or discord channel)

**Describe the solution you'd like**
A mailing system to trigger email notifications. Likely at first using firebase's mailing extension and existi

[2020-02-25 11:39] chrismclarke opened #891 "[bug] - Email validation user issues"
**Describe the bug**
Various messages coming through on email to say issue with confirming email address. Most saying they did not receive a link but some having issues of 'endless loop', possibly email confirmation link not working.

Possibly a couple issues, might be as trivial as spam filters for those not seen, but also likely issue with platform as I can't see any users who have their email m

[2020-02-25 12:07] chrismclarke opened #892 "[discussion] - Browserstack"
**Is your feature request related to a problem? Please describe.**
We previously signed up for a non-profit account with browserstack and were given a year's access, however I'm not sure if it's been used. Is it possible to automate anything with browserstack? Is there more we could or should be doing?

To make matters a little bit more difficult, the email first used to register the nonprofit (he

[2020-02-26 05:08] mattia-io commented on #887
Hey @drydenwilliams thanks for looking into it!
What you mean content? Keywords?
Any more info on best practices?

[2020-02-27 05:33] davehakkens opened #894 "Add Publication Date"
Description: Add the date when the how-to was published. In dd-mm-yyyy format.
Location: Single how-to Page

<img width="760" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/75415147-ba88ba80-5950-11ea-93d0-eccc96c01828.png">

[2020-02-27 05:34] davehakkens opened #895 "Link username to Profile"
Description: Make the username on the single how-to link to the profile of the creator
Location: Single how-to Page

<img width="696" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/75415205-e9069580-5950-11ea-83b5-c345727ba3e0.png">

[2020-02-27 05:37] davehakkens opened #896 "Add latest edit date"
Description: Add "last edit" date. This shows the latest date the how-to was editted. In dd-mm-yyyy format
Location: Single how-to Page

<img width="523" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/75415247-13f0e980-5951-11ea-8b2c-347bd5d3b146.png">

[2020-02-27 05:40] davehakkens opened #897 "Filter default on upload date, not edit date."
Description: Current how-to’s are sorted on latest edit. So everytime an how-to is editted it goes on top. This should be sorted on “creation date” having the last created how-to always on top. Not the last edited how-to
Location: https://community.preciousplastic.com/how-to

[2020-02-27 05:43] davehakkens opened #898 "Remove Image captions"
Description: Image captions are shown when images are uploaded for a how-to. However they are not used in the front end and make the backend more messy. So remove.
Location: Edit and Create How-to

<img width="712" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/75415536-f1130500-5951-11ea-90ab-11ce7efe2b7b.png">
<img width="730" alt="afbeelding" src="https://user-images.g

[2020-02-27 05:47] davehakkens opened #899 "Add Slideshow profile images"
Description: Add a slideshow to the header image on user profiles. There is already some work done for this but needed some refinement and testing. @BenGamma do you know where/which branch the code is for the slideshow?
Location: User Profile

- Max 4 images to upload.

<img width="869" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/75415734-7ac2d280-5952-11ea-915e-247ebf

[2020-02-27 06:01] davehakkens opened #900 "Align the description length on map-thumbnail."
Description :
The description text is currently cut of on map-thumbnails. 2 changes need to happen

**1. Map thumbnail.**
- Should show max 70 characters. if there are more charachters add dots...
- Height of the thumbnail will change accordingly
- [Example](https://precious-plastic-community.webflow.io/u/map)

**2. Edit/Create Profile page**
- The input text should be limited to 70 characters
- B

[2020-02-27 06:04] davehakkens opened #901 "Show amount of pins in dropdown filter"
Description:
- Display the amount of _approved_ pins in the dropdown selection menu.
- For both “workspaces” and “others”

<img width="769" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/75416687-076e9000-5955-11ea-88f5-9691917cfc00.png">

[2020-02-27 17:08] davehakkens opened #902 "Add <> to Discord messages"
Put the URL in the Discord message between chevrons `< >`
In this way it doesn’t show the big preview link in Discord which clutters the whole feed.
<img width="586" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/75467550-d8d2d280-59b1-11ea-83ef-daf72bacb2de.png">

[2020-02-27 17:19] davehakkens opened #903 "Remove double Discord and Slack Notifications"
Description:
Currently we get notifications on Slack and Discord and Slack using webhooks and Functions in Firbase. Method is great. But..
Problem:
1. **In Slack** we get multiple triggers per pin (image below). It might come because when people edit their profile. After every save it releases a notification. But not sure, it needs investigation.
2. **In Discord** we only want notifications for ne

[2020-02-27 21:52] BenGamma commented on #892
I send you the login details on slack.
I haven't setup any automated testing with it yet but that was the idea at the time, I just got lost into thousand of other things 🌪

[2020-02-29 13:41] chrismclarke commented on #892
Yeah I'm the same, I just noticed a bunch of marketing emails from them and that reminded me. I don't expect to have much time/use myself, but thought be good to open an issue in case anyone else suggests it in the future. Now it's been flagged I think I'll just close here and can always re-open in the future if someone has more interest on working with it.

[2020-02-29 13:41] #892 closed

[2020-02-29 14:54] tudi2d commented on #894
I would like to add this. Is this additional to the "| xxx days ago" or can I remove that?

[2020-02-29 18:33] davehakkens commented on #894
cool! The "days ago" should be removed..

[2020-03-01 18:22] mojoaxel opened #904 "[bug] Multiple scroll bars"
**Describe the bug**
In the academy menu the scrolling is broken, so that two scroll bars are displayed.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://community.preciousplastic.com/academy
2. Scroll down and up

**Expected behavior**
Only the main scroll-bar should be used.

**Screenshots**
![image](https://user-images.githubusercontent.com/600565/75629977-27b57d80-5be7-11ea

[2020-03-02 21:38] tudi2d commented on #894
I saw that #895 & #896 are related to this. I would like to work on them as well and would suggest to bundle the fixes in the pull request #906 with separate commits.

[2020-03-06 10:55] BenGamma commented on #904
Thanks for pointing out !
It's because we embed the academy from an other domain, I needed to update the size of the container only in the academy section.
Fixed with #907

[2020-03-06 17:36] BenGamma commented on #894
Yep that's good, see my comment in #906

[2020-03-06 17:38] BenGamma commented on #894
FYI there is already a PR (#905 ) that fix #895

[2020-03-06 18:05] #904 closed

[2020-03-08 10:45] tudi2d commented on #896
![image](https://user-images.githubusercontent.com/8904624/76161266-0b0ecd80-6132-11ea-8d58-a00515b65da1.png)
 I pushed the changes to the PR as mentioned. This is what it looks like.

[2020-03-08 13:22] davehakkens commented on #896
sweet!

[2020-03-10 17:24] BenGamma commented on #894
merge with #908

[2020-03-10 17:24] #894 closed

[2020-03-10 17:25] BenGamma commented on #896
merge with #909

[2020-03-10 17:25] #896 closed

[2020-03-11 12:21] #890 closed

[2020-03-11 15:00] tudi2d commented on #898
I would like to work on this :+1:

[2020-03-11 15:19] davehakkens commented on #898
yeah!

[2020-03-22 07:11] davehakkens commented on #895
fixed by @tudi2d 💪

[2020-03-22 07:11] #895 closed

[2020-03-23 18:01] davehakkens opened #915 "Video Embed in how-to Step"
## Dev Todo
- [x] Input field
- [x] Validation
- [x] Frontend component
- [x] Frontend case handling
- [x] Tests

## Component infos

### Description
Having the ability to embed a Youtube video instead of images as a step in the how-to
- Only Youtube is enough (no vimeo)
- Only 1 video per step
- Can't upload images + video
- Introduction (step 0) can't have video

### Page where it will be used
-

[2020-03-23 20:35] tudi2d commented on #900
I would like to work on this! :)

[2020-03-24 16:36] davehakkens commented on #900
yeah!

[2020-03-24 19:55] alromh87 commented on #903
Should we get notification after pin edition in slack, and just avoid discord notification when accepted? Or should the hole moderation should be avoided after first acceptance?

[2020-03-24 20:07] davehakkens commented on #903
This get complex. hehe
For us (in slack)  it's good to get a notification for edits of an accepted pin. Because we might need to re-approve. However we don not need to get a notification when someone edits their (not yet approved) unapproved pin

**So a user makes edit, we want a notification**
"⌛ waiting to be verified" + ✅ Notification
**If a users makes and edit, and another and another we real

[2020-03-24 20:11] davehakkens commented on #903
And Discord really only has to come once.
When something is created, not editted (or re-approved)

[2020-03-24 23:47] BenGamma commented on #900
Cool tks @tudi2d, let us know here if you have any questions

[2020-03-24 23:48] #902 closed

[2020-03-25 07:03] alromh87 commented on #903
Yep, makes sense, the slack part is done, will look into Discord functionality

[2020-03-27 08:19] #897 closed

[2020-03-27 11:55] #903 closed

[2020-03-28 16:05] #898 closed

[2020-03-28 16:06] #901 closed

[2020-03-28 16:42] BenGamma commented on #879
done with #920

[2020-03-28 16:42] #879 closed

[2020-03-29 06:36] #824 closed

[2020-03-29 07:08] davehakkens opened #925 "Set Character limites"
## Component infos
We need to set character limits for some input fields.
And mention this limit in the placeholder text for the fields

### Input fields & limits

|  Place                                 | character limit   | Place holder text |
|---------------------------|-------|-------|
| Create how-to (intro title)  |  50      | Make a chair from.. (max 50 characters)  |
| Create how-to (int

[2020-03-29 17:27] davehakkens commented on #900
Not sure how this is going. But this issue https://github.com/ONEARMY/community-platform/issues/925  could be a good followup

[2020-03-29 23:37] chrismclarke commented on #915
Hey @davehakkens

I've given a first pass at this and deployed to a temporary so you can take a look at:
https://5e812e0bf6c3cd0008ab8941--oa-preview.netlify.com

If you want to log-in to practice creating a how-to then use the same username/pw that you do on the dev.onearmy.world site.

I still need to add some tests but the main functionality should hopefully all be there (add url, show error if

[2020-03-30 15:42] tudi2d commented on #900
Sounds good. I will continue with #925 :)

[2020-03-30 16:04] tudi2d commented on #925
![image](https://user-images.githubusercontent.com/8904624/77934704-c26dae80-72b0-11ea-8592-061e7cb39396.png)

I changed the placeholders and also adjusted the other placeholders so it looks the same (no '*' in the placeholder e.g.)

[2020-03-31 12:26] #900 closed

[2020-03-31 14:07] #915 closed

[2020-03-31 14:11] #925 closed

[2020-04-01 11:58] #899 closed

[2020-04-01 20:36] chrismclarke opened #932 "[bug] - How-to failed uploads get stuck"
**Describe the bug**
When uploading a new how-to there can be an error with one of the steps (e.g. step images upload). when this happens the modal stays displayed (with no way to close) and spinner keeps spinning. The only way to close it is refreshing the page which loses all the how-to data.

**To Reproduce**
1. Create new how-to, filling required fields
2. Disconnect internet
3. Click publish

[2020-04-01 20:37] chrismclarke commented on #932
duplicate of #781

[2020-04-01 20:37] #932 closed

[2020-04-01 20:43] chrismclarke commented on #781
@davehakkens @BenGamma - This issue recently resurfaced via discord, it's currently already labelled as high priority so would be good if we can encourage anybody interested to work on it.

More description/example at: https://github.com/ONEARMY/community-platform/issues/932

[2020-04-01 20:44] BenGamma commented on #932
Couldn't it be linked to the upload image problem kat was mentioning ? I also experienced strange behaviors with image upload while working on #899

[2020-04-01 23:10] chrismclarke opened #933 "[bug] - PNG images lose transparency (background turns black)"
**Describe the bug**
Uploaded pngs seem to have a black background instead of transparent.

**To Reproduce**
Add a png with transparency to any how-to upload

**Expected behavior**
Keep transparency. If converting to JPG (which I don't think happens) then probably default to white background.

**Screenshots**
![image](https://user-images.githubusercontent.com/10515065/78194860-156f6f00-7433-11ea-9

[2020-04-01 23:53] chrismclarke commented on #932
Yes I think it is (the reason I came across it). I think there might be a couple issues if for example a user is trying to simultaneously upload images with the same filename, and also linked to however the save draft system works and subsequently replacing/updating images. But I haven't figured out good ways to reproduce the other issues yet and so only posted this one.

[2020-04-01 23:54] chrismclarke commented on #932
But we should probably either move this discussion over to the other thread or create a new issue so it doesn't get lost

[2020-04-01 23:55] chrismclarke commented on #781
Related (from other thread):

[2020-04-03 16:48] davehakkens commented on #888
This seems to be posted in the wrong repository?
It's for preciousplastic.com not community.preciousplastic.com
Cleaning up Github and this should be the the repository below.
But can't move it so i'm closing. sorry.
https://github.com/ONEARMY/precious-plastic/issues

[2020-04-03 16:48] #888 closed

[2020-04-03 16:49] davehakkens commented on #887
This seems to be posted in the wrong repository?
It's for preciousplastic.com not community.preciousplastic.com
Cleaning up Github and this should be the the repository below.
But can't move it so i'm closing. sorry.
https://github.com/ONEARMY/precious-plastic/issues

[2020-04-03 16:49] #887 closed

[2020-04-03 16:54] davehakkens commented on #777
Should be fixed in https://github.com/ONEARMY/community-platform/pull/929

[2020-04-03 16:54] #777 closed

[2020-04-03 16:55] davehakkens commented on #755
should be fixed in https://github.com/ONEARMY/community-platform/pull/916

[2020-04-03 16:55] #755 closed

[2020-04-03 17:06] davehakkens opened #934 "Mandatory contact details"
## Component infos
Make it mandatory to fill in at least 1 contact detail in profile details under "contact & links"

Pages:
https://community.preciousplastic.com/u/precious-plastic
https://community.preciousplastic.com/settings

<img width="994" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/78386590-27414580-75de-11ea-98f0-a7749ea6fd61.png">

[2020-04-03 17:18] davehakkens opened #935 "Add guideliness to cover images"
## Component infos

### Description

Currently there are no guidelines for uploading a cover image in profile, resulting in a lot of moderating and unnecessary mails. A few simple lines will avoid many issues.

### Page related
**Live**: https://community.preciousplastic.com/settings
**Example**: https://community-platform.webflow.io/u/edit/edit-user-profile

### Text needed

### Example(s)
<img w

[2020-04-03 17:42] davehakkens opened #937 "Display mail for admin"
## Component infos

### Show email in profile for admin
Show the mail address of the user account. (used to create an account) in the profile. Only admin should be able to see this. It makes it easier to get in touch and moderate content

### Page related
User profile: https://community.preciousplastic.com/u/precious-plastic

### Mockup
<img width="568" alt="afbeelding" src="https://user-images.gi

[2020-04-03 17:51] chrismclarke commented on #937
As the emails aren't stored in the database this will have to work slightly differently, using the backend `firebase-functions` to receive the user_id, retrieve the account email and send back.

From a frontend I think this would work better as a button to only make the request on demand (it could just be a contact button that opens a mailto link on retrieval), with the button only visible to admi

[2020-04-03 17:53] davehakkens opened #938 "[bug] Don't become owner of a how-to after edit"
**Describe the bug**
Currently if an admin edits a how-to it automatically becomes the owner. The username changes.

**Preferably**
Would be good that an admin is able to modify how-to content without becoming the owner. This gives us flexibility to take out small mistakes for uploaded how-to's. Easier for moderation.

**To Reproduce**
https://community.preciousplastic.com/how-to
Steps to reproduc

[2020-04-03 17:56] davehakkens commented on #937
ah. Button is also perfectly fine.
But that does sounds like a bit more complex then intended..
hmm..
Maybe keep it open for someone that is very excited to do it?

[2020-04-05 14:15] davehakkens opened #939 "Move steps in how-to"
## Component infos

### Description
Currently steps in how-to's have a fixed order. If you forgot one or want to change two steps you need to do a lot of copy/paste work to re-arrange everything. Having the option for each step to move up or down 1 postition would eliminate this problem.

### Page related
Page: https://community.preciousplastic.com/how-to/create

### Example(s)
<img width="940" al

[2020-04-10 13:28] tudi2d commented on #934
I would like to work on this 👍

[2020-04-10 19:39] davehakkens commented on #934
yeah!

[2020-04-15 21:28] chrismclarke commented on #611
Somewhat related, in the future we could try doing some additional automated testing with https://github.com/microsoft/playwright

Playwright is similar to google's puppeteer (automated chrome web browser for testing), but supports more browsers. Suggest we want to be testing:
- chrome
- firefox
- safari
- edge (although now just runs chromium)
And if possible variants such as desktop, mobile, and

[2020-04-15 21:35] chrismclarke commented on #241
Closing as we removed functionality to upload gifs. Can always re-open if the decision is reverted

[2020-04-15 21:35] #241 closed

[2020-04-15 21:36] chrismclarke commented on #227
merge into #939

[2020-04-15 21:36] #227 closed

[2020-04-15 21:37] chrismclarke commented on #600
Current system seems to be working fine so closing for now.

[2020-04-15 21:37] #600 closed

[2020-04-15 21:38] chrismclarke commented on #447
Update - still a handful of stuff there so will keep open

[2020-04-15 21:40] chrismclarke commented on #633
Appears to be fixed, closing

[2020-04-15 21:40] #633 closed

[2020-04-15 21:43] chrismclarke commented on #688
appears to be working, closing

[2020-04-15 21:43] #688 closed

[2020-04-15 21:46] chrismclarke commented on #700
appears to be working, closing

[2020-04-15 21:46] #700 closed

[2020-04-15 21:47] chrismclarke commented on #774
appears to be working, closing

[2020-04-15 21:47] #774 closed

[2020-04-15 21:48] chrismclarke commented on #822
hasn't been seen again so assume working correctly. closing

[2020-04-15 21:48] #822 closed

[2020-04-16 09:47] #935 closed

[2020-04-16 09:47] BenGamma commented on #935
merged with #941

[2020-04-16 09:55] BenGamma opened #946 "[bug] delete map pin when profileType is change to member"
**Describe the bug**
When user is changing his profile back to member, his pin still appear on the map as member.

**To Reproduce**

1. Go to your user settings
2. Change your profile type back to user
3. check the map
4. See error

**Expected behavior**
Member pin shouldn't be displayed on the map.
A quick fix could be to only display the pins that have a different profileType than `member`.

[2020-04-16 14:36] chrismclarke commented on #946
Different ways we could go about this:
1. Just code in an extra side-effect function into the profile save/update method (simplest, but not super clean to have something so custom in the middle of things more general code-wise. Perhaps it could be moved to a separate folder and called from there?
2. Add a cloud function trigger to automatically handle from the backend on user update (possibly more

[2020-04-16 16:54] davehakkens commented on #937
And if we leave it as it is in your example, it is ready? Or how does that live example work?

[2020-04-16 17:55] chrismclarke commented on #937
Yeah it's ready, the only difference is that instead of showing a text box it opens as a mailto email link. But could easily make it a text box instead. The live example works by:
1. visit the link https://5e975b9c0c93b3000803ed78--oa-preview.netlify.app/
2. log in using your dev site username/pw
3. visit a profile page
4. you should see the button (as you are an admin). Click it to see what happe

[2020-04-16 18:00] davehakkens commented on #937
huh. i think i mixed up 2 threads here.
But indeed tested and replied here: https://github.com/ONEARMY/community-platform/pull/944

[2020-04-16 18:17] #939 closed

[2020-04-17 00:15] chrismclarke commented on #451
Note - whilst unejecting would be good to do some housekeeping.
Can use tools like [depcheck](https://www.npmjs.com/package/depcheck) to analyze unused dependencies

[2020-04-17 04:27] chrismclarke commented on #611
Update - cypress now also supports firefox and edge, so could be worth adding or including for a small subset of tests.
https://docs.cypress.io/guides/guides/launching-browsers.html#Browsers
https://docs.cypress.io/guides/guides/cross-browser-testing.html#Continuous-Integration-Strategies

[2020-04-17 11:40] BenGamma commented on #946
3 sounds like the best option to me.
That could allow us to do 2 shots in a row : filtering the member pins and the deleted pins

We already have some deleted pins here and there on the map (I have 2 in mind), but these may be worth removing by hand.

[2020-04-17 22:13] chrismclarke commented on #611
Update - created PR #950 which adds firefox testing support.

Going through various docs and forum issues, it does not appear that cypress will ever support incognito mode (it itself is a plugin which would therefore be disabled), so I think this is about as good as we can do.  It also is clear that it would be a huge undertaking to write our own test library to use with playwright on safari (whic

[2020-04-17 22:13] #611 closed

[2020-04-19 03:53] #842 closed

[2020-04-20 06:00] #938 closed

[2020-04-20 06:04] #937 closed

[2020-04-20 15:35] chrismclarke commented on #934
closed with #942

[2020-04-20 15:35] #934 closed

[2020-04-20 15:36] chrismclarke commented on #867
merge into #937

[2020-04-20 15:36] #867 closed

[2020-04-20 15:39] chrismclarke commented on #818
This was missed during work on #942 so still requires fix

[2020-04-20 17:55] chrismclarke opened #953 "[Suggestion] - Backend Optimisations"
After spending some time on ci optimisations for #952 various issues identified that could be good to work on. Collating in a single issue for now (some already have sub-issues, others do not)

- [x] Remove non-used dependencies (npm depcheck)
- [x] Ensure tests fail (:s) - by default tests called from new node script will only fail silently (not pass on message to main run). Have added a line of

[2020-04-21 17:00] chrismclarke commented on #493
Update - still a good feature to have. Particularly as the current db and service worker strategy loads all  howtos and caches image on render. This means a default user loading the page will be loading all images, where might be more desirable to only cache those that show. Alternative would be pagination.

[2020-04-21 17:01] chrismclarke opened #956 "[suggestion] - Front-end Optimisations"
Following work on backend optimisations (#953), some thoughts on good potential frontend optimisations ahead of larger v2 changes

- [ ] Remove material UI #447
- [x] Add virtual scroll component #493
- [ ] Analyse bundle size and check for easy ways to slim down (analyze script already exists)
- [x] Add lazy-loading to pages via lazy and suspense
- [ ] Review DB request strategies (possibly use s

[2020-04-21 18:17] chrismclarke commented on #956
Optimisations also link with discussions:
https://github.com/ONEARMY/community-platform/wiki/Environmental-Impact
https://github.com/ONEARMY/community-platform/pull/952

[2020-04-23 10:08] BenGamma commented on #781
Fell on the bug again. It's probably due to the fact that I'm uploading the same images again and again while testing, but still, we should provide a way to close the upload status popup when upload is stuck (user will not loose all his work writing the how-to).

1. We could add a small cross on top right of the pop up (that change the state to close popup) to allow user closing it (may be a bit d

[2020-04-23 16:31] chrismclarke commented on #781
At this stage I'd say any fix would be worthwhile. A proper fix would be a medium amount of work, likely:
- bind the popup to the form own isSubmitting (?) status
- bind the form submit error to the store upload
- add relevant catches to the form upload to catch and pass on errors
- add image delete function to the backend
A bunch of similar stuff was done for the recent settings form refactor so

[2020-04-25 08:14] tudi2d commented on #493
Hey. This sounds useful and interesting. I would like to tackle this by using https://github.com/bvaughn/react-window , as the creator mentioned that it is the optimized version of react-virtualized (smaller & faster).

[2020-04-25 19:20] chrismclarke commented on #493
That would be awesome! Yeah I remember trying to do some work on it a while back with react virtualized but it had some problems (can't fully remember why, possibly needing exact row item heights and length in advance). But yeah the rewrite sounds like exactly what we need, great if you can test implementing it!

To start with I would suggest just trying to get it working for the list of howtos. O

[2020-04-29 19:31] chrismclarke opened #961 "[suggestion] - SEO Optimisations"
## Update 2021-07-14
Still a nice to have moving forward. One other suggestion which might be simpler short term:

- Add a backend function to intercept page requests from common bots (e.g. google, facebook, twitter bots etc.), and populate with metadata tags taken from the db entry (e.g. howto main image)

Here's an [example file](https://github.com/supportingami/sami-maths-club/blob/master/maths

[2020-05-10 11:24] davehakkens commented on #781
What would the `x` button do?
- Making it able to re-upload again?
- Making it able to copy paste previous text to a new window to upload again?

[2020-05-10 16:20] chrismclarke commented on #781
Pretty much, let the user dismiss the window that can then at least allow them to retry, or if not working copy-paste stuff they have written to try again another time. That's by far the simplest solution (1-liner)

[2020-05-10 22:09] chrismclarke commented on #493
Hi @tudi2d , just wondering if you've managed to make any progress on this? Would be great to get into the May release (aiming for Monday 25th May).

[2020-05-10 22:11] tudi2d commented on #493
Hey. Thanks for reminding. No progress yet, I will hopefully find time tomorrow. I will keep you updated!

[2020-05-18 09:47] mattia-io opened #963 "Tag Dropdown Styling"
Hello hello,

The tag dropdown seems to have been left to its default styling.
Originally it was designed as the screenshot below:
![Screenshot_2020-05-18_at_15_06_24](https://user-images.githubusercontent.com/17761877/82198414-e7c68280-9919-11ea-87d4-744e35c55f0d.jpg)

Any chances we could achieve that look 👆👆👆

Mainly would be a matter of:
1. Font-family: Varela
2. Color: black
3. Add the approp

[2020-05-18 09:51] mattia-io opened #964 ""Create How-to" button for not-logged in"
Hello,

Currently, as a not-logged-in user the user does not see the "Create How-to" button.
![image](https://user-images.githubusercontent.com/17761877/82199020-c3b77100-991a-11ea-9961-78f19e1908d6.png)

I think this is a missed opportunity to engage with new users and ultimately achieve more signups and how-tos. I would propose to have the "Create How-to" button at any time and if the user is no

[2020-05-18 10:06] mattia-io opened #965 "Map dropdowns improvements"
Hello,

Few minor changes on the map that would do a whole lot to the user experience and overall UI.
Would be great if:
1. We could replace the existing arrow with the one mariska originally designed for it. Attached below
[arrow_svg.zip](https://github.com/ONEARMY/community-platform/files/4643361/arrow_svg.zip)
2. All text placeholders are black
3. Text placeholder says "All workspaces"
4. Check

[2020-05-18 10:08] mattia-io commented on #964
Also valid for Map and Events page

[2020-05-18 10:08] mattia-io commented on #963
Also valid for Map and Events page

[2020-05-19 04:57] mattia-io opened #966 "How-to cover fine-tuning"
Hey devs 🤙

The how-to cover is slightly different from the original design (which can be found [here](https://community-platform.webflow.io/u/how-to-article)). Small things but I think that’s where we can excel.
![Screenshot_2020-05-19_at_09_13_50](https://user-images.githubusercontent.com/17761877/82288440-231b8c80-99c0-11ea-9f01-b1de63500e0f.png)
![fixes](https://user-images.githubusercontent.c

[2020-05-28 04:58] mattia-io opened #967 "Mobile - How-to icons"
On mobile the icon blocks for steps, time and difficulty are aligned horizontally.
Would be great if they are aligned vertically and centred 👀

![Screenshot_20200525-185806](https://user-images.githubusercontent.com/17761877/83100522-c742b900-a0cd-11ea-8405-8e91985ba3f3.jpg)

[2020-05-29 19:03] chrismclarke opened #968 "[bug] - Profile links without full url (e.g. https://) don't link correctly"
**Describe the bug**
When a profile enters a link (e.g. instagram.com/user) in their profile the link will only be appended to the current website (e.g. https://community.preciousplastic.com/u/instagram.com/user). This is the default behaviour of `<a href` tags (https://www.w3schools.com/html/html_links.asp), but ideally should be handled by the platform better.

**To Reproduce**
1. Go to your pro

[2020-06-01 06:48] #493 closed

[2020-06-01 10:36] BenGamma commented on #968
That's weird, we had a mutator to add the http:// if missing, I will investigate.

[2020-06-01 23:40] chrismclarke commented on #968
I'm doing some other work on profiles for #818 and am planning to add a small workaround to update URL, but if you also figure out at the point of user entering info that would be handy

[2020-06-02 03:55] chrismclarke commented on #883
This hasn't been mentioned again in a couple months so I'm assuming the previous fixes worked and closing for now

[2020-06-02 03:55] #883 closed

[2020-06-02 12:17] davehakkens opened #972 "Add country flags at username"
## Component infos

### Description
Show the diversity of the worldwide community more, by adding locations flags to usernames. Based on the location selected by the user.

### Page related
Will be used in :
[How-to overview](https://community.preciousplastic.com/how-to)
[Single How to](https://community.preciousplastic.com/how-to/add-interchangable-patterns-to-injection-moulds)

### Mockup
![prof

[2020-06-02 12:28] davehakkens opened #973 "Swap flag + username"
## Component infos

### Description

Swap the flag in the userprofile. Instead of being at the end of the username, it should be in the beginning. So it aligns with the other flags (https://github.com/ONEARMY/community-platform/issues/972) in the platform. Seems pretty straightforward, but below a mockup.

### Page related

Will be used in :
[Profile](https://community.preciousplastic.com/u/precio

[2020-06-02 12:49] davehakkens opened #974 "Extra information on Profile"
## Component infos

### Description
In the profiles we need some additional information in a sidebar
**Map pin:** Show if profile has map pin (and [link to pin](https://community.preciousplastic.com/map#username). )
**How-to:** Show amount of how-to's created by this profile (all approved ones)
**Events:** Show amount of events created by this profile (all approved ones)

### Page related

Will be

[2020-06-03 05:28] chrismclarke opened #975 "[feature request] - Delete server images on request"
**Is your feature request related to a problem? Please describe.**
Explained a bit more in #781, currently when the user presses the delete button on an image in their profile/how-to etc., if it exists on the server it still remains there. This is both inefficient in terms of storage and can lead to bugs. It's also an important factor if we think about #589

**Describe the solution you'd like**
De

[2020-06-06 12:16] BenGamma commented on #974
For this one IMO we should add new fields in the user model : `howtoCount` & `eventCount` to avoid having to do heavy reading on the DB (that filters from all how-to's the ones from the author) each time a user profile is displayed. Instead Increment the counters `howtoCount` & `eventCount` values that are directly on the user's data, along with his basic informations (name- profile pic, etc). The

[2020-06-06 12:30] BenGamma commented on #972
This one is a bit in the same veine as #974. We'll probably have to add a field on the how-to model `creatorCountry` when howto is created, to be able to easily get this info.

[2020-06-06 17:34] chrismclarke commented on #974
Yep definitely agree with you that we need to keep specific counters for these things rather than calculating each time. I would suggest however instead of adding a lot more to the user profile we store the info either in a single `userStats` variable, or possibly use a subcollection so all the info sits at `users/chrismclarke/stats` or similar in the db.

I also think we should move the logic awa

[2020-06-08 14:05] BenGamma commented on #974
Agree with the `userStats` variable.

You mean we will then create a firebase function that will update `userStats` when a db entry is created or updated ?

[2020-06-09 06:29] #818 closed

[2020-06-09 06:29] #968 closed

[2020-06-09 18:24] chrismclarke opened #980 "Admin panel - moderation overview components"
## Component infos

### Description
To make it easier for moderators to quickly get overview of outstanding issues/tasks. For backend keep simple and just do on-demand db requests, frontend can hopefully reuse existing components + simple HTML table. Doesn't need to be too fancy as won't be seen by many people.

### Page related
Will be used in :
- Admin page

### Mockup
![image](https://user-imag

[2020-06-14 23:50] chrismclarke commented on #974
Exactly, so nothing needed to be called manually from the user on the webpage (which  is much more prone to error), and nothing required in main platform code (all be within the functions instead)

[2020-06-15 02:23] chrismclarke opened #982 "[feature request] - Enable better PWA support"
**Is your feature request related to a problem? Please describe.**
We have service workers installed for caching, we should probably also add an updated manifest so that users can install a desktop/mobile shortcut and then consider options for push notifications.

**Describe the solution you'd like**
Updated manifest, possibly some home page loading optimisations

**Describe alternatives you've co

[2020-06-16 04:53] chrismclarke commented on #956
Lazy loading for pages and stores added to https://github.com/ONEARMY/community-platform/tree/feat/lazy-loading

Note, could still do more (particularly reorganise create/edit page to load lazily within main page), but for now reasonable improvement

[2020-06-16 05:14] chrismclarke commented on #956
![image](https://user-images.githubusercontent.com/10515065/84733295-b362d800-af52-11ea-8195-669f4fd8d458.png)
Latest update, roughly 1MB gzipped.

Recommended priorities:
- remove material-ui
- defer leaflet imports (lazily with maps page/module)
- check latest update for firebase minification and import options (`https://github.com/firebase/firebase-js-sdk/issues/2241`
- consider moving some of

[2020-06-16 20:44] chrismclarke opened #984 "[bug] - User last active does not automatically update"
**Describe the bug**
I think we created the field with the intention of updating it on login, but guessing forgot.

**To Reproduce**
Logout
Go to own map pin and see last active
Login
View map pin again (last active will not have changed)

**Expected behavior**
Likely will want a server-side or user store trigger that populates lastActive and modified on successful login. Server-side likely more r

[2020-06-18 13:00] jxofficial commented on #973
Hi, can I take this issue?

[2020-06-18 13:01] davehakkens commented on #973
yes! :)

[2020-06-19 00:16] #973 closed

[2020-06-19 14:23] BenGamma opened #986 "[bug] dissalow capitalized letter in userprofile links"
**Describe the bug**
If a user saved his link with a capitalized H like Http://link.com, it will make the link fail on the user profile page.

**Expected behavior**
We shouldn't allow capitalize letter when submitting a link.

[2020-06-20 16:05] davehakkens opened #988 "Change landingpage from How-to to Academy"
**Is your feature request related to a problem? Please describe.**
A lot of people don't find the right content/download files because the landing page of the platform is the how-to's. But it's hard to understand the how-to's without the basics (academy)

**Describe the solution you'd like**
Make the Academy (https://community.preciousplastic.com/academy) the landingpage for community.preciousplas

[2020-06-21 21:14] tudi2d commented on #963
Hey. I would like to improve this 👍

[2020-06-22 14:04] mattia-io commented on #963
hey @tudi2d all yours 🥳

[2020-06-22 18:22] jxofficial opened #989 "[bug] Error message for password reset renders multiple times"
**Describe the bug**
Reset password error message flickers upon input change.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the login page.
2. Click on 'Lost password'
3. Type anything into the input fields
4. Error message flickers erratically.

**Expected behavior**
Error message should only render once and disappear upon timeout.

**Screenshots**
![animation flicker](https://user

[2020-06-23 00:48] tudi2d commented on #963
Ok cool, thanks! I added a pull request. It looks like this:

**HowTo´s**
![image](https://user-images.githubusercontent.com/8904624/85346880-2215d780-b4f7-11ea-83ee-815d643bb647.png)

**Events**
![image](https://user-images.githubusercontent.com/8904624/85346918-4376c380-b4f7-11ea-8b4d-668ca67e9238.png)

I did not changed the look of the tag select when creating/editing HowTo´s/Events as there ar

[2020-06-23 11:05] mattia-io commented on #963
Fantastic. Thanks!
@chrismclarke or @BenGamma will review and merge asap.

Indeed all the other down arrows should be aligned.
If you have the time here is the grey down-arrow.
💪

[grey-down-arrow.svg.zip](https://github.com/ONEARMY/community-platform/files/4818911/grey-down-arrow.svg.zip)

[2020-06-23 12:59] tudi2d commented on #963
Sure! The change would be a different then, so it might make sense to wait with merging. Will probably get to this in the next few days 🙂

[2020-06-24 11:04] tudi2d commented on #963
Looks like this now & the pull request will implemented it for HowTo´s & Events:

![aCkC35rP6p](https://user-images.githubusercontent.com/8904624/85543721-9b5a1b00-b61a-11ea-8f9b-813875421612.gif)

In a future issue it might be interesting to change the map selects to look like the other selects:

![image](https://user-images.githubusercontent.com/8904624/85544212-17ecf980-b61b-11ea-985c-aa489fcce

[2020-06-24 13:18] jxofficial commented on #649
Hi, I would like to take this issue if it's not being worked on!

[2020-06-26 14:17] tudi2d commented on #966
Hey. I would like to work on this. Just gonna drop this old ticket here (#894 (Publication Date)) as it will reverse the changes implemented back then. This is intended, right? @mattia-io 👍

[2020-06-27 05:59] mattia-io commented on #966
hello @tudi2d that would be sweet. Yes, you can drop #894.
One more thing to add to the above changes would be to replace the arrow to the back button with the grey one you already replaced on the other issue.

Thank you Philip 🤘

[2020-06-27 08:04] mattia-io commented on #966
Hey @tudi2d just noticed a little conflict of versions.
The date should remain in dd-mm-yyyy format. The rest should be like in the sketch above.
Sorry for the confusion.

[2020-06-27 14:58] tudi2d commented on #966
No worries! Will fix this issue in the next few days. I will upload a screenshot for you to verify 👍

[2020-06-27 17:11] chrismclarke opened #992 "[feature request] - Ability to change username"
**Is your feature request related to a problem? Please describe.**
We've had requests (and requested others) to change their name, particularly in cases where locations used aren't very descriptive (e.g. country level pp-england when operate more locally).

**Describe the solution you'd like**
The username is used to populate the DB so would either need to:
- move to random IDs which can then be u

[2020-06-29 15:01] tudi2d commented on #966
Looks like this now:

![image](https://user-images.githubusercontent.com/8904624/86021971-06945a80-ba2a-11ea-8be8-f51df293ce60.png)

And the "last edit":
![image](https://user-images.githubusercontent.com/8904624/86022130-393e5300-ba2a-11ea-819f-4029975aef0f.png)

[2020-06-30 10:38] mattia-io commented on #966
Super! Looks neat. Thanks @tudi2d great job.
One last thing if you find the time would be to make the button subtler (point 1 above). Not sure if you need more info to make this change.
Big up!

[2020-06-30 10:52] tudi2d commented on #966
Thanks for the feedback! I did not change the the "Back" button yet, as there does not exists a general style for buttons, that looks like this (and you wrote it would be a nice to have). I will add this - probably in the next days or so.

At the moment I only replaced the general download icon and kept the PDF icon for PDF´s - I will change this as well.

[2020-06-30 19:36] mattia-io commented on #966
Yhe, I thought there wasn't a style set yet.
Whenever you got some time. Nice one!

[2020-07-03 10:07] tudi2d commented on #966
I pushed my changes to the PR. Looks like this now:

![m6gjMmpfxd](https://user-images.githubusercontent.com/8904624/86458514-a2bdaa80-bd25-11ea-99b1-0215f94e3f19.gif)

[2020-07-05 14:12] tudi2d commented on #986
Hey. I would like to add this. My solution would be to simply convert any input to lower case when saving. This should fix unintentional upper case letters in the future and also does not require any more user interaction.

[2020-07-05 14:45] mattia-io commented on #966
Looks great to me.
One last thing only, if you could change the "back" button arrow to the hand-drawn one previously shared above.
And lastly, I just noticed issue #967 is very closely related to what you're working on. Maybe you want to take care of that too? So this page is cleaned up properly.

Much appreciated :)

[2020-07-05 16:45] tudi2d commented on #966
@mattia-io Cool. Not sure which arrow icon you mean. I used the [hand drawn one which was already in the assets](https://github.com/ONEARMY/community-platform/blob/master/src/assets/icons/icon-arrow.svg).

Sure. #967 looks good - you can assignee me there :)

[2020-07-06 09:58] mattia-io commented on #966
I meant the arrow used for the dropdowns. The one you changed last week.
Not a big deal but would be great to align.

This one
[arrow_svg.zip](https://github.com/ONEARMY/community-platform/files/4878133/arrow_svg.zip)

[2020-07-07 18:21] tudi2d commented on #966
Sure. Update the PR. Looks like this now :)

![image](https://user-images.githubusercontent.com/8904624/86825257-6ffe1400-c08f-11ea-9b1d-9e46937d26e1.png)

[2020-07-08 09:34] BenGamma commented on #986
Yep seems good to me, thanks for picking it up :)

[2020-07-08 11:20] #963 closed

[2020-07-08 12:03] #966 closed

[2020-07-08 12:06] BenGamma commented on #966
merged with #993. CUrrently on dev site and will be live with the next release :rocket:

[2020-07-13 16:13] #986 closed

[2020-07-13 17:23] #988 closed

[2020-07-14 12:06] Daniel-Davies commented on #965
Hello, I'd be happy to look into some of the issues here if nobody else is looking into this.

[2020-07-14 14:04] mattia-io commented on #965
hey @Daniel-Davies by all means, go ahead.
Also, as you're at it, could you also change the cursor css styling on hover to pointer?

Let me know if you need any further assistance.
Mattia

[2020-07-19 13:28] darigovresearch opened #1000 "[feature request]: Add ability to set license to how-tos"
**Is your feature request related to a problem? Please describe.**
It's not entirely clear what terms the writer of a how-to is allowing for the content to be used for (exclusions on commercial use etc.). It would be nice to have a feature on the how-tos to add a license for the tutorial they are writing. For example CC-BY or CC-BY-SA or MIT or another from a dropdown field like on GitHub.

**Desc

[2020-07-19 13:31] tudi2d commented on #967
I implemented this (as discussed in #966). Below a screenshot of what it looks like. The display will not change on orientation change/ resizing. It will only change on load.

![image](https://user-images.githubusercontent.com/8904624/87875885-9c415b00-c9d4-11ea-9d71-85a981f16d16.png)

[2020-07-21 09:31] mattia-io commented on #967
Brilliant, thanks!

[2020-07-21 09:31] #967 closed

[2020-07-21 10:42] BenGamma commented on #1000
@darigovresearch thanks for pointing out, and congrats for the issue number #1000 :grin:

It's a good point and I understand it may not be clear enough when you create a how-to. As far as I know, a how-to is under the same license as all the precious plastic content. I'm not sure what the license is now, @davehakkens may have a hint on this one
?
@davehakkens any thoughts on this ?

[2020-07-24 09:08] catx23 opened #1002 "[bug] Map pin is gone"
As already mentioned, our well visited map pin is gone on the map, after changing cover picture. We heard it takes weeks to get a pin on there - does this apply also for minor changes ?

[2020-07-24 14:45] davehakkens commented on #1000
yeh good point. However it is something we need to dive a bit deeper into to see whats the best approuch for us
I'll put it on the list for our next big meeting

[2020-07-25 18:43] tudi2d opened #1003 "[feature request] Render SVGs inline"
**Is your feature request related to a problem? Please describe.**
There are different solutions for using Icons. Mostly custom Icons are used but additionally `react-icons` is used. All SVG Icons are loaded into `Image` components as src. This is not optimal. SVG could be easily directly rendered into the DOM.

**Describe the solution you'd like**
It would be nice to restart an attempt to unify t

[2020-07-25 23:00] catx23 commented on #1002
Ok, after deleting links to opensource projects / v4 upgrades, I guess wiping an entire team, contributor/supporters with a good reputation and help to hundreds of others from the map is the new way to bully your new revenue model and your close buddies so nicely promoted beside yourself in the faked top sellers module :-)

congrats, folks, as others said it too, a good way to shoot the movement i

[2020-07-25 23:00] #1002 closed

[2020-08-05 16:20] BenGamma opened #1006 "[bug] no pin cluster when multiple pin type on the same location"
**Describe the bug**
The map pin clusters is not working correctly when at the same location, there is multiple pin type.
The pins of different type are over each others. The last one added hides the previous one which affects a lot the visibility of the previously added.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the map and check for example the area of mexico city or florida.

[2020-08-09 14:54] tudi2d commented on #1006
Hey @BenGamma - I would like to work on this 🙂

[2020-08-12 10:17] BenGamma commented on #1006
Hello @tudi2d ! Yes no problem go ahead

[2020-08-12 22:00] tudi2d commented on #1006
@BenGamma Quick solution - all pins are clustered together. I only tested this with the data available for development.

When looking at the live version my guess is that there will be way more clustering, which will look cleaner, but also maybe less impressive and interesting. If the clustering is to harsh it can be adjusted afterwards using the `maxClusterRadius`.

![wriaRXe4mx](https://user-ima

[2020-08-19 13:34] #1006 closed

[2020-08-21 16:48] davehakkens opened #1008 "No notification when edit pin or how-to"
## Component infos

### Description

We receive to many notifications of all the edits people make to their map pin and how-to's.
This also gives messy notifications in Discord. So:
1. We only verify pins and how-to’s in the beginning. Not edits
2. Edits for pins and how-to’s are automatically approved.
3. No notification in Slack or Discord for an edit.

Bounty level #1

[2020-08-24 09:50] tudi2d opened #1011 "[bug] community-platform down/ not reachable"
**Describe the bug**
The community platform is not reachable, because of a broken firebase config/ broken deployment. Seems like the last deployment caused this.

**To Reproduce**
Steps to reproduce the behavior:

1. Visit the community platform

**Expected behavior**

Community platform should work.

**Screenshots**
![Screenshot_20200824-114533~2.png](https://user-images.githubusercontent.com/890

[2020-08-24 09:55] tudi2d commented on #1011
@chrismclarke @BenGamma Kind of urgent, as no one can use the community platform right now. I think this should be easy to fix. People in the Discord were mentioning, that the academy is not working.

[2020-08-24 10:45] davehakkens commented on #1011
thanks for letting us know.
Not sure where this goes wrong. limited webskills here and dont know where @BenGamma is.atm.
You have suggestions @tudi2d?

[2020-08-24 11:24] tudi2d commented on #1011
I don´t know what exactly the issue is with firebase. I created a pull request to revert the last PR on production called "Fix deploys". If that does not work i would just revert production again to #996, which was the last, bigger release.

My suggestion is to just revert and wait for @BenGamma to fix the deployment as it seems it was his intention to do so anyways. This way an older version of t

[2020-08-24 13:00] tudi2d commented on #1011
This did not really fix it for me... I will create a PR for reverting to the last production release..

[2020-08-24 13:02] davehakkens commented on #1011
yeh same here. still offline.
We have a dev site. But for some reason that does still work
https://dev.onearmy.world/how-to

[2020-08-24 13:18] tudi2d commented on #1011
Yeah. Seems like the dev site runs the latest master branch. The live version is running the latest production branch. There are also separate deployment scripts for both versions.

[2020-08-24 14:32] catx23 commented on #1011
it's off since Friday or so, more or less the time when the kamp site was deployed or so. the forum was also affected which points rather to some messed up DNS settings as well. The dev site how is working because it's using another dns but also the test database.
good luck

[2020-08-24 14:35] catx23 commented on #1011
btw. the there are plenty of build errors when building this outside of the CI, took me almost a day to fix, mostly typescript errors but also the main build command "npm build" won't work since somebody place env settings in there CI=false (which was fixed recently by ben again). good luck.

[2020-08-24 15:52] tudi2d commented on #1011
Mhh. Tried all the builds locally before creating the PR´s and they were working for me 😕

Nevertheless I would suggest jumping back to v1.2.0 now, as it was the last production build which did not fail in Travis CI and then continue finding the error.

[2020-08-24 16:03] catx23 commented on #1011
@tudi2d ,
I don't know the CI env.... here however - on clean setups (lnx and windows, Node 10.20.1 ) ```npm build``` fails because of

1. CI=false in the npm script ( I removed it)
2. several typing errors regarding untyped HTML attributes - I fixed the typings but hardcoded/directly. Possibly there is a mismatch or non updated dep.
3. webpack error (had to explicit install the right version) - s

[2020-08-24 23:00] #1011 closed

[2020-08-25 13:30] #1008 closed

[2020-08-29 11:17] darigovresearch opened #1023 "[feature request] Add more time options to how-to form"
**Is your feature request related to a problem? Please describe.**
Having the lowest time option to be `< 1 week` seems quite high

**Describe the solution you'd like**
Add more options which are less than 1 week

**Describe alternatives you've considered**
Could have strict time differences like 0-1 hour, 1-5 hours, 5-10 hours & 10-1 day 1 day - 1 week but that would mean having to update the exi

[2020-08-29 20:47] alromh87 commented on #933
Look into this and images are compressed with [client compress](https://www.npmjs.com/package/client-compress)  with current limitations:

- When working with image/gif, the compressed image will no longer animate.
- When working with image/png with transparent background, the compressed image will lose transparency and result in black background

Thats why images end as black background png, if w

[2020-08-30 18:29] alromh87 commented on #933
@chrismclarke can you assign this one to me and Backend tag label should be changed to Frontend since this compreesion is executed on the browser before upload

[2020-09-02 15:17] Daniel-Davies commented on #972
Hello- I'd love to help out your platform and contribute to this issue, if possible. Could I take this issue? (Or would you recommend another?)

[2020-09-03 13:41] davehakkens commented on #972
Thanks for wanting to help @Daniel-Davies, however @alromh87 is currently working on this one.
What do you like to work on/ what are your skills? We have quite some SEO improvement we need to make, optimise backend, and bugfixes.

We are working on some new features but are currently still in design stage.

[2020-09-03 14:33] Daniel-Davies commented on #989
Hello- I'm happy to take this one if you'd like!

[2020-09-03 14:34] Daniel-Davies commented on #972
Hello- I've had a look at other issues. Is #989 available?

[2020-09-03 16:26] chrismclarke opened #1027 "[bug] - Legacy user login bug"
**Describe the bug**
As discussed on slack (https://onearmy.slack.com/archives/CHUDUK0UV/p1599150097000600?thread_ts=1599062533.001400&cid=CHUDUK0UV)

There are still some older accounts that have incorrect auth information and should be migrated.  It would be worth going through sentry messages to see how many different users there are (around 180 events recorded, but lots of duplicates), and the

[2020-09-03 20:20] alromh87 commented on #974
Hello DB trigers for updating count when new howto/event are ready, now I will go for the display. What are your tougths on data for the frontend:

Extend user model
Create new model just for this

Note: I remember that last time I added fields to a model It caused trouble with the caching system and it would trigger big dta updates

[2020-09-03 21:38] alromh87 commented on #992
Maybe use a firestore function to trigger a transaction, that way migration would be less prone to errors

[2020-09-03 21:41] alromh87 commented on #974
In case of the first is possible I have PR ready

[2020-09-05 11:28] #1023 closed

[2020-09-05 11:37] davehakkens commented on #989
yes! :)

[2020-09-06 00:56] alromh87 commented on #972
@BenGamma @chrismclarke  I have some doubts about the cache for howto list:

Flag  **in howto list** gets updated if I edit the howto from the browser but not when i trigger from DB

Flag in Detail its updated every time (from browser or DB)

[2020-09-06 11:01] davehakkens commented on #974
Neat
Could you make sure it also says `How-to `and `Events`?
<img width="174" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/92324332-0e333980-f041-11ea-8070-ce0e1bc4b3ae.png">
Now it only shows the icon..

[2020-09-06 13:00] alromh87 commented on #974
Thanks updated

[2020-09-06 13:26] davehakkens commented on #974
<img width="181" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/92326819-36c52e80-f055-11ea-8ff7-4cd6fbd2f50f.png">
Howto is called event? Also should be on one line

[2020-09-06 15:59] alromh87 commented on #974
Should be fixed now
![Captura de pantalla de 2020-09-06 18-58-55](https://user-images.githubusercontent.com/7505980/92329861-0c826980-f073-11ea-8c9b-19304fb8c1a9.png)

[2020-09-09 14:41] teja8792 opened #1038 "Change App Manifest short name"
Need to change the app name in manifest file

[Manifest](https://github.com/ONEARMY/community-platform/blob/1964eef9b4dd6a767792ab11e9ab8f0eac723acb/public/manifest.json#L2)

[2020-09-09 15:51] davehakkens commented on #1038
why is this an issue?

[2020-09-09 21:41] #965 closed

[2020-09-09 21:42] #864 closed

[2020-09-10 10:12] BenGamma commented on #972
@alromh87 yes it would be preferable to update from the browser. Otherwise we have to update the cache of all the user and that's a lot of data 😬
Can you describe the procedure to update from the browser ? I'm not sure to understand

[2020-09-10 11:28] alromh87 commented on #972
When a user is updates a howto, the fag gets correctly updated in the HowToList.

But if a user changes his location all of his how-tos should reflect the change, that its achived with a firestore function.
After change the new flag will display in how-to detail(edit, view) but not on how to list.

Im unsure if this has to do with my dev environment or some web cache

[2020-09-14 12:04] BenGamma commented on #972
Ok and #1033 is updating the flag in the howto list but it doesn't update the location of the how-to if the user changes it.

After change the new flag will display in how-to detail(edit, view) but not on how to list.

Is it something you are planning to had to #1033 before merge ?

It's hard to tell for your problem since I don't see the code

[2020-09-14 13:02] alromh87 commented on #972
Not sure I understod this, If a user changes his location his howTo don't reflect the change, will fix that with next commit

Yes I will update the PR

The database is updated correctly its just the howTo list that doesn't reflect the change

[2020-09-14 17:23] alromh87 commented on #972
Firestore Trigger added
https://github.com/ONEARMY/community-platform/pull/1033/commits/b287bcceea9cc2671734a1bb503ac746302c49fe

[2020-09-16 15:29] mattia-io opened #1042 "Arrow is pointing in the wrong direction :)"
**Describe the bug**
The arrow next to the back button on the how-to is pointing in the wrong direction.

**To Reproduce**
https://community.preciousplastic.com/how-to/trouble-shooting-injection-moulding

**Screenshots**
<img width="410" alt="Screenshot 2020-09-16 at 17 27 10" src="https://user-images.githubusercontent.com/17761877/93358626-03975200-f842-11ea-8d98-444e420dbc21.png">

[2020-09-17 09:47] tudi2d commented on #1042
I would like to fix it, as I likely have caused this one 😄 Seems to be an issue with supported browser features - what kind of browser & environment are you using?

[2020-09-18 06:56] mattia-io commented on #1042
Thanks!
I am on the latest chrome.

[2020-09-18 06:58] mattia-io commented on #1042
Also as you're at it, I am not sure if it is related, but on mobile there are also some issues.
![screenshot_20200918-085841](https://user-images.githubusercontent.com/17761877/93566295-1a968b00-f98d-11ea-9d51-c783f8796808.jpg)

[2020-09-20 20:11] BenGamma commented on #1042
@tudi2d yes feel free to work on that 👍
Were you able to reproduce the bug ?

[2020-09-20 20:24] tudi2d commented on #1042
Yes - will work on this tomorrow 👍

[2020-09-28 23:38] JanetLaysEggs opened #1044 "[feature request] Code minification"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

Currently it seems that the pages at https://community.preciousplastic.com/ use no code minification in any of the JS files. I recommend webpack or something similar to help with this and reduce server

[2020-09-28 23:52] JanetLaysEggs commented on #992
Hi. I'm interested in helping with this feature request. I'm only a junior software developer "by trade" but I do know my way around migrations etc and like a challenge. I'd love to help on this in anyway. Is there anywhere where we could discuss the current situation in terms of the DB and the backend in general? - I see there is a discord and slack chat? Thanks -J (btw the name is an inside joke

[2020-09-30 11:26] BenGamma commented on #992
Hi J and thanks for your interest !

This issue in particular is a tricky one because it touches the way users logged in and we encountered a few critical bugs  while working on that in the past ( and some still today like #1027), so I don't think this issue is a good one to start with.

That being said there is plenty of issues to work on that are less critical but already super useful. If you li

[2020-09-30 11:34] #974 closed

[2020-09-30 11:36] #1042 closed

[2020-09-30 11:46] BenGamma commented on #1044
Can you point out which file you refer to  ?

The JS files in current build are minified see [here](https://community.preciousplastic.com/static/js/2.34918441.chunk.js) and [here](https://community.preciousplastic.com/static/js/main.4430561e.chunk.js)

[2020-09-30 11:49] BenGamma commented on #1038
No biggy but it can be used if you put the website in your fav or create a shortcut on desktop for example.
I updated the name, thanks for pointing out @teja8792

[2020-09-30 11:49] #1038 closed

[2020-09-30 13:50] #964 closed

[2020-09-30 13:59] BenGamma opened #1048 "[feature request] display "my pin" btn for notlogged in user"
[As discussed](https://github.com/ONEARMY/community-platform/pull/1035#issuecomment-692021318) in #1035 display map pin button also for not logged in user.

[2020-09-30 14:49] #989 closed

[2020-09-30 18:04] JanetLaysEggs commented on #1044
Hiya @BenGamma, I mean files like ['scrollSpy.js'](https://onearmy.github.io/academy/js/scrollSpy.js) and ''[custom.js](https://onearmy.github.io/academy/js/custom.js)'.
Also some files that have been minified could be reduced even further by the use of webpack etc where they could all be wrapped into one file - so even function/class names that span across multiple files can be shortened. This wo

[2020-09-30 18:56] JanetLaysEggs commented on #1044
Oh and css files too!

[2020-09-30 20:06] JanetLaysEggs opened #1051 "[bug] Can't add profile details"
**Describe the bug**
'Save profile' button disabled even though all the required fields are filled and appear valid.

**To Reproduce**
Steps to reproduce the behaviour:

1. Make a fresh user using disposable email sharklasers.com.
2. Verify the user.
3. Go to: (RHS)Icon->Profile
4. Fill with the following dummy data:

- Select: 'I am a memeber'
- Your username
- Location: UK
- Description: Test123

[2020-10-03 17:58] davehakkens opened #1054 "[feature request] Portrait images in how-to landscape"
**Problem**
Portrait images are displayed in original ratio in how-to. This makes formatting weird.

**Describe the solution you'd like**
All images (square, portrait, landscape etc) should be displayed in the same ratio. Just like we do with the little thumbnails underneat. You can click the image to see the original ratio/size.

**Example**
Here you can see a screenshot of how it is now and how

[2020-10-05 10:19] markjbuss commented on #1051
Hey, I'm new here, trying to find some issues to help out with. I tried reproducing this locally and I can successfully save my profile for a new user with the steps you mentioned, only thing I noticed was that the location isn't saved, everything else was good. What are you seeing when you do this? Is the button never enabled?

[2020-10-05 10:51] markjbuss commented on #1048
Looks like this was fixed as part of https://github.com/ONEARMY/community-platform/commit/7726a684af050afd77c1ef9497b7f256b2bbdd89 ?

[2020-10-05 10:53] markjbuss commented on #1054
I can't reproduce this with portrait images, Looks like they are being cropped as suggested on my local.

[2020-10-05 10:59] davehakkens commented on #1054
you might be right. sometimes it shows good. This is how I see it in (incognito) Firefox
<img width="1270" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/95071747-717cbe00-070a-11eb-964a-85340f2dbfe0.png">

This is in Chrome (correct)
<img width="1257" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/95071791-80637080-070a-11eb-863e-7bbe0ddc2b5f.pn

[2020-10-05 11:17] markjbuss commented on #1054
Ah yeah, other browsers are a thing 😆 I have repro'd locally with firefox now. Will see if I can figure out what's wrong.

[2020-10-05 11:56] markjbuss commented on #1054
Can't see anything obvious here, have googled a bit around object-fit not working in firefox but nothing relevant here. Will leave this for somebody with far superior front end skills than myself 🙇

[2020-10-08 14:01] BenGamma commented on #1048
Good catch, it's a first try of fixing the issue.
It display the link to settings for not logged in users, in pretty much the same way as in events and how-to.
For some reasons the link doesn't work yet.
I think it is due to the dynamic handling of the url routing in the map, but it will require more investigations.

Feel free if you want to have a look :)

[2020-10-09 18:41] JanetLaysEggs commented on #1051
Hey @markjbuss. Odd it seems to work for me now too. It must only happen occasionally.

[2020-10-12 02:59] #649 closed

[2020-10-12 17:42] tudi2d commented on #1054
@markjbuss Thanks for creating a how-to on dev. Made it much easier to reproduce again! :) This bug is related to how Chrome and Firefox calculate the width of elements. By default both browser use `width: auto` for an element, when the width is not explicitly defined. When the element uses `display: flex` Chrome calculates the width of the flex items while Firefox is not doing so. This is why it

[2020-10-12 22:47] chrismclarke commented on #974
I've made a few changes to the code to also keep track of draft/pending as well as specific ids of events/howtos in the stats as it's cleaner from a dev perspective and figure could be useful in the future. @davehakkens - by default this shows the counts for both approved and pending howtos or events, is there a strong preference to have the number only indicate approved (one line of code to filte

[2020-10-13 14:03] BenGamma commented on #1054
Thanks @tudi2d
I guess we were using a flex box here because it used to hold more elements, but didn't changed when removed them.
Good catch 🙆‍♂️

[2020-10-13 14:03] #1054 closed

[2020-10-13 19:39] davehakkens commented on #974
no strong preference. Including draft/pending count for how-to's is also good. (there are very little of those anyway)

[2020-10-14 09:57] #1051 closed

[2020-10-14 10:07] BenGamma commented on #1044
Ah you are refering to the academy. The repo for the academy is https://github.com/ONEARMY/academy

We are using a tool called Docusaurus to build the academy section and we embed it in /academy. I never dive into the minified optimizations for it. I would say have a look if you like !

[2020-10-14 10:11] BenGamma commented on #972
Reopen because we need to add `creatorCountry` field to existing how-tos before it's fully completed

[2020-10-14 10:35] alromh87 commented on #972
Following script will populate the fields as needed, has been run on dev environment already showing all available flags

![Captura de pantalla de 2020-10-14 10-08-56](https://user-images.githubusercontent.com/7505980/95977901-1e012300-0e22-11eb-8c66-c60dc7f20319.png)

[code]

[2020-10-14 11:02] BenGamma commented on #972
Ok cool, @chrismclarke since it's a one shoot script, do you prefer we run it from the console or like the userStats, create a dedicated folder/migration file for it ?

[2020-10-14 12:54] davehakkens commented on #972
What is up with your tag selection box @alromh87, you always see it like that?

[2020-10-14 13:55] alromh87 commented on #972
Haha yep, when I use one version of chrome, I'm not on my computer now but will tell you specific version when I'm back

[2020-10-16 20:37] alromh87 commented on #972
@davehakkens I see it like that with chrome Versión 69.0.3497.81 (Build oficial) (64 bits) on Debian Jessie

If I use Versión 80.0.3987.16 (Build oficial) beta (64 bits) int he same computer tag selection is smaller
![Captura de pantalla de 2020-10-16 23-37-21](https://user-images.githubusercontent.com/7505980/96306564-8f022f80-1008-11eb-9d07-96eba989bda9.png)

[2020-10-23 13:48] mattia-io opened #1062 "Social media icon not showing"
The social media icon on the profile is not showing at my end. Chrome Version 86.0.4240

https://community.preciousplastic.com/u/precious-plastic-los-angeles

![image](https://user-images.githubusercontent.com/17761877/97011532-12f77280-1547-11eb-90af-89302d045989.png)

💪

[2020-10-25 11:04] #1044 closed

[2020-10-25 11:19] BenGamma commented on #840
fixed in https://github.com/ONEARMY/community-platform/pull/1001

[2020-10-25 11:19] #840 closed

[2020-10-25 14:47] alromh87 commented on #1062
@mattia-io Could you show me the expected output, since none of my browsers show it :sweat_smile:

[2020-10-25 16:58] davehakkens commented on #1062
also here (Firefox) it doesnt show. Css says: undefined
<img width="295" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/97113478-f98f2b80-16ea-11eb-9ba4-164c52430698.png">

[2020-10-25 19:26] mattia-io commented on #1062
Exactly, here it is Alejandro 💪

[icon social media.svg.zip](https://github.com/ONEARMY/community-platform/files/5435783/icon.social.media.svg.zip)

[2020-10-26 10:57] prolland006 commented on #676
no "404" Page also for [http://localhost:3000/events/unknown-anything]

[2020-10-26 12:46] prolland006 commented on #676
i found the bug and i am doing a pull request !

[2020-10-26 17:36] alromh87 commented on #891
I look a bit into this an it seems that firebase email is working properly on dev environment,

@chrismclarke could you point me in the right direction to find more details to reproduce

I could not find a custom implementation of the handdling of password verification, so I guess thas why verified is never changed, probably should need something like:

https://firebase.google.com/docs/auth/custom

[2020-10-27 15:35] prolland006 commented on #651
hi, i found the solution but we see a little bit the login page before the redirection. I didn't found any solution for this stuff. I'm going to do the pull request.

[2020-10-28 02:20] nahos commented on #984
Hey, Can you assign it to me. I will try fixing it.

[2020-10-28 03:12] nahos commented on #984
Btw I am not able to see my pin, it just shows my location but it doesn't show a  pin.

[2020-10-29 14:32] mattia-io opened #1066 "Capitalization across Community Platform"
**Describe the bug**
Humans are forgetful beings :) I could win a Guinness for that.
People uploading how-tos and content on the Community Platform could (and will) forget to capitalize their text. Which in turn looks amateur/less professional. Would be really good to run a script to capitalize the first letter of the following:

1. How-to
1.1 How-to cover title and description
1.2 How-to steps ti

[2020-10-30 22:24] #651 closed

[2020-10-30 22:24] #676 closed

[2020-10-30 22:35] #1062 closed

[2020-10-30 23:25] chrismclarke commented on #1048
The issue is that map clicks also trigger navigation, so the user is first directed to /settings and then straight back to /map. I'm not exactly sure why this is, but a better solution would be to use `event.stopPropagation()` on the button click handler. I'll add this to the open pr.

The other question I would be wondering is whether the my-pin button should focus in on the user's pin on the map

[2020-10-30 23:29] #1048 closed

[2020-10-30 23:55] chrismclarke commented on #1066
So I see this as a 2-step issue for anyone who is interested in either/both:

1. Add a form validator to check if a field has been capitalised correctly, which we can use on things like how-to title fields and anything else in the future we want to enforce this on. This would be a good first issue, there are already validator examples in `src/utils` (e.g. email test) and form dev docs here: https:

[2020-10-30 23:58] chrismclarke commented on #984
Sure thing, happy to have you work on this.

Pins aren't enabled on all profile types so depending what you have selected in settings you may not have one (we don't have pins for members because there's just too many of them and don't represent physical locations as well as things like workspaces). If there seems to be some other problem then feel free to open another issue here with your username

[2020-10-31 00:04] chrismclarke commented on #891
Honestly I don't really know what the issues are or how to reproduce - I think Kat would put messages in slack from time to time having received requests from community members but I don't know if they were down to platform error or user error.

I would suggest using a service like https://temp-mail.org to create a new account on the live site and just confirm the workflow is correct, as well as r

[2020-10-31 00:33] chrismclarke commented on #651
Thanks for this. There would be a workaround using a route-guard (I think there's an admin page that already uses auth-route or similar), but that would require a few more changes higher up so honestly I think this is fine for now. Thanks for taking the time to help us out!

[2020-10-31 00:38] chrismclarke commented on #1044
Hi @JanetLaysEggs - thanks for pointing this out. Yes, confusingly enough all the content for the academy sits in another git repo (and we just display it in an iframe in the community platform). I've copied your issue over to https://github.com/ONEARMY/academy/issues/106 - if you did have a chance to look into ways we could improve on this then that would be great (although as a word of warning t

[2020-10-31 00:40] chrismclarke commented on #972
I think this discussion moved over to slack, but if there's still anything missing from my side feel free to reach out to me over on slack (I don't check github as regularly)

[2020-10-31 08:18] davehakkens commented on #1066
cant we do this with css?
https://css-tricks.com/almanac/selectors/f/first-letter/
[code]

[2020-10-31 15:53] prolland006 commented on #683
The method AuthRoute.isUserAuthenticated() is not working. The userStore at this moment is not loading so there is a redirection as the user was not connected.

[2020-11-01 10:10] prolland006 commented on #683
i did a correction in AuthRoute that wait than user data are ready to use. It has an impact on every AuthRoute uses in the website !

[2020-11-01 13:59] prolland006 commented on #693
to avoid to see /sign-up page before the redirection we should have my correction on the #683 as i did for the sign-in

[2020-11-03 09:59] chrismclarke opened #1069 "[feature request] - Move CI pipelines from travis to alternate provider"
**Is your feature request related to a problem? Please describe.**
Travis announced they will no longer be offering the same free plan to open source projects for automating builds, adding a yearly limit to around 1000 minutes build time (with possible extension on request). It is likely to not be sufficient for current needs (builds usually take around 15-20 mins and are often run multiple times

[2020-11-03 13:25] prolland006 commented on #1066
i found the soluce : Create a FormattedInputField that capitalized the firstletter. I pull the request it soon...

[2020-11-03 16:22] prolland006 commented on #1066
for the script i don"t know how to do !

[2020-11-04 15:05] prolland006 commented on #946
i'm working on it ! I did the 3rd point and looking for the "bonus" !

[2020-11-05 12:46] prolland006 commented on #946
i can't do the bonus because i don't know how to remove a pin and when i tried to create/remove a user no deletion is coming from firebase. So i put my pull request.

[2020-11-05 13:09] alromh87 commented on #946
I would suggest setting a different bug for handling user deletion and channing deletion of related data.

Trigger would be best suited for this

I should define beforehand whan datashould be preserved and what should be removed automatically

[2020-11-05 17:36] BenGamma opened #1072 "[new feature] useful button"
### Component infos

A "useful" button in the description of a how-to page.

### Description
This button will allow users to give an appreciation on the content available in the how-to.

- The button is always visible to all users.
- Only logged in users can click it and increment it's value
- If user not logged in the button is disabled state and you get a message on hover (see mockup section of

[2020-11-05 22:42] tudi2d commented on #1072
I like the feature and the wording! I would like to implement this. Thanks for breaking down the task into smaller steps and suggestions - really helpful to directly have an overview of what has to be done. This would be my first time touching a Firebase backend so I might have some questions, but would like to give it a try! :)

[2020-11-06 10:31] prolland006 commented on #796
For the description we should change the size also in the profile, it is also short there ! So i pull my request it without this.

[2020-11-06 22:52] BenGamma commented on #1072
Yes @tudi2d feel free to work on it 💯

[2020-11-23 23:46] mattia-io opened #1075 "Favicon is outdated"
Hey devs, a minor update concerning the favicon which is currently outdated. Below you can find the latest version that aligns with Precious Plastic visual identity.

![favicon](https://user-images.githubusercontent.com/17761877/100028098-097f5580-2de6-11eb-86d3-e5a8e0a8aa19.png)

Merci :)

[2020-11-25 17:07] mattia-io opened #1076 "Event's tags misaligned[bug]"
Heyo devs,
Tags on the event page are misaligned. Ideally they are either on the same line or break into two but without any left margin

Here to check
https://community.preciousplastic.com/events

![tags issue](https://user-images.githubusercontent.com/17761877/100259804-89b9ce00-2f40-11eb-80d9-1c2d55e9aa03.jpg)

Not super urgent as there ain't many events in the foreseeable future but still good

[2020-12-11 17:34] chrismclarke opened #1079 "Research Module - Folder structure and mock data"
## Component infos

### Description

Put in core scaffolding so people can build out components on the research module

[2020-12-11 17:35] chrismclarke opened #1080 "Research Module - Listing"
## Component infos

### Mockup

Requires #1079

![image](https://user-images.githubusercontent.com/10515065/101934855-07ade400-3b93-11eb-8366-d5cb612f8e69.png)

### Example(s)

If you have any examples of existing similar components, add the link here. It can be a link to a code snippet and/or to a page of a projet/website where we can interact with the similar component.

[2020-12-13 04:41] #531 closed

[2020-12-13 07:59] ivokh commented on #766
I started working on this issue so it can be assigned to me. Although I've been a software developer for a few years now I have no experience with React. I already ran into a few challenges where someone might have some ideas or suggestions for.

**Dirty state**
It's pretty easy to only show the confirmation prompt when the react-final-form is dirty. The challenge is the logic behind the dirty sta

[2020-12-22 08:48] tudi2d commented on #1075
Saw this issue & created a quick pull request. Would look like the following @mattia-io  :)

Chrome (Light)
 ![icon_chrome](https://user-images.githubusercontent.com/8904624/102868494-8976fa80-443a-11eb-8ec5-24cd6ea5179f.png)

Firefox (Dark)
![icon_firefox](https://user-images.githubusercontent.com/8904624/102868497-8a0f9100-443a-11eb-93f6-b40f41db1f9b.png)

[2021-01-12 06:15] chrismclarke commented on #766
Thanks for taking the time to look at this and the depth of solution you've worked on here. I think the main issues you've addressed are more than enough, and we don't need to worry about going into 100% accuracy for things like images etc.

For the react router, another option could perhaps be seeing if we can use the [componentWillUnmount](https://reactjs.org/docs/react-component.html#componentw

[2021-01-12 06:55] #1075 closed

[2021-01-16 21:53] darigovresearch opened #1088 "[feature request] Search field for how-to page"
**Is your feature request related to a problem? Please describe.**
A user in the discord mentioned that now there are many how-tos it would be helpful to have a search field to help find relevant how-tos a user is looking for, particularly when it is an old how-to

**Describe the solution you'd like**
A search field at the top of the page that would narrow down the visible how-tos from the databas

[2021-01-22 16:49] tudi2d opened #1089 "[feature request] Fixed HowTo URL"
**Is your feature request related to a problem? Please describe.**

Following issue discussed in the Feedback channel on Discord:

![image](https://user-images.githubusercontent.com/8904624/105518131-3235a580-5cd8-11eb-9b84-36b4540d5b18.png)

The title of the HowTo changed and this caused the URL to be invalid. The URL of an HowTo should not change by editing the title. Users won´t expect this and

[2021-01-23 09:16] ivokh commented on #766
Thanks for the appreciation and the clear reaction. I did a quick check with the componentWillUnmount but it is not triggered when the page is refreshed so I think the best solution for now is in my pull request.
Is there anything else I can look into to resolve/close this issue?

[2021-01-23 11:23] ivokh commented on #1027
I took a quick look at this and it seems like the getUserProfile is used for different purposes.
It's used by the sign-in logic to get the meta data of an authorized user. For this purpose only the _authID should be used but that's not possible because of the older accounts.
It's also used to get the user metadata for map pins and the user page. For this purpose it should only use the _id property

[2021-01-28 13:51] catx23 opened #1090 "Alternative content structures & sources"
Hi,

is there any chance to dump pre-compiled HTML content as howto ?

As much I'd like but the current structure won't allow us to publish meaningful/compelling content. We're in machining and related trades and simple tasks can be often a can of flies - even for professionals. It takes a quite often more than just 400 words - or 3 pictures, accompanied by lots of links/references.

This way I ca

[2021-01-29 04:02] chrismclarke commented on #1090
At this stage I don't think that would be possible, everything is set up for rendering content from the specific format as produced from the input forms. The best compromise I could think of would be to try and create an API endpoint that would accept a post request for a howto, and then leave it to others to find a way to convert their local content into the right format for the request - I'm not

[2021-01-29 13:41] catx23 commented on #1090
Alright I see.

We think the PP team isn't really aware about daily user needs or really familiar about the trade the community is dealing with. A little pity it's being treated more as a design pet project though. Being in plastic recycling, machining and end-user wise is a matter of highly technical details to be referenced and authored. You can call it science. We need tables, markdown, equatio

[2021-01-29 14:06] catx23 commented on #1090
![image](https://user-images.githubusercontent.com/1205100/106283867-bccf5500-6242-11eb-99db-b2c5689f9282.png)

Here some examples. Writing an article about how to make such parts, machines or systems is rather an educational task. It isn't done with a 1-2-3 tutorial. At many points you have to explain also about alternative ways doing it and what's actuallu important, also due to local stock size

[2021-01-30 11:24] #1090 closed

[2021-01-31 02:54] #796 closed

[2021-02-02 06:23] chrismclarke commented on #1090
I feel another thing the platform is missing, based on what you describe, is a better way so that more people can author things in a style like the academy section - i.e. multiple content pages linked together. The current academy page is actually just an iframe of another repo where all the content is written in markdown and rendered via docusaurus (similar to jekyll/gatsby, being pushed by the c

[2021-02-02 15:29] davehakkens opened #1096 "Add message to useful button for non logged in"
## Component infos

### Description

You can only use the  brand new useful button (#1074 )when you are logged in.  But if you are not logged in and click it, nothing happends. It looks broken. There is a message on hover (image below) But it would be good if it comes on click, and styled.

### Page related
-  How to's

### Mockup Currently

<img width="307" alt="afbeelding" src="https://user-imag

[2021-02-02 16:50] chrismclarke commented on #1096
This would be a good first issue if anyone wants to take it on. Up till now we haven't used tooltips in content (quick fix is adding a 'title' attribute to elements to use native browser tooltip as seen in the diagram), so we would likely want to add another library to do this.

A quick search shows a few options, with react-popper looking like a favourite:
https://www.npmtrends.com/react-popper-v

[2021-02-02 17:02] chrismclarke commented on #1089
I like the idea of first making it more explicit to creators that their title will be used to create a slug (maybe we could show this somewhere?).

I still think that there might be cases where people will want both the title and slug to change however, and would be really nice if any old links didn't break when doing so (like how Wordpress manages). A couple options could be:

1. We update the 40

[2021-02-02 17:11] chrismclarke commented on #1088
I really like this suggestion. There's a few different ways we could go about this:

1. Manual client-side search function that tries to match text from the input box against a few specific fields, such as title, description, and maybe howto steps. Pros: very quick to implement. Cons: search basic and harder to use elsewhere

2. Server-side search via algolia or elasticsearch. We use algolia in th

[2021-02-02 17:16] mattia-io commented on #1096
It could also work like the "Create how-to" in the home page where it redirects to the login page.

[2021-02-02 20:40] danitrod commented on #1096
Hi, I'm looking to start contributing, if you guys agree I could take this one.

[2021-02-02 21:07] davehakkens commented on #1096
Not sure if @tudi2d is already on it, otherwise go for it. Thanks! :)

[2021-02-02 21:11] tudi2d commented on #1096
@danitrod Nice! Go for it!

[2021-02-02 21:13] danitrod commented on #1096
Awesome, will start working then :)

[2021-02-03 17:55] #1096 closed

[2021-02-04 14:28] danitrod commented on #1088
I'd be willing to work on this, I think we can start with option 3, then eventually switch to server-side search if need be later on.

About the layout of the input field, I think it could be similar to the filter by tags button, maybe with a magnifier icon aside, and could be positioned in 1. or 2. (before the filter button) like the image below. Any thoughts?

<img width="1437" alt="Captura de T

[2021-02-04 19:22] chrismclarke commented on #1088
Sounds great, yes I think for the howto's as there's only 100 or so for now and unlikely to grow too big too soon I think fuse.js will be a solid option for some time. We have a pretty similar layout already for events so I'd suggest starting with that and then if design team want some changes we can update.

![image](https://user-images.githubusercontent.com/10515065/106943204-fa682e00-66d9-11eb-

[2021-02-06 10:35] darigovresearch commented on #1088
If possible it would be great to have that when you searched something in the search box it would generate a unique URL for the results so that a search results can easily be shared

Would this be easy to incidentally add when building the search feature?

[2021-02-06 12:04] tudi2d commented on #1089
We should also keep in mind that HowTos potentially have the same name, which would cause in conflicting URLs.

[2021-02-06 12:16] tudi2d opened #1099 "[enhancment] Client-side update usefull state"
**Is your feature request related to a problem?**

When a user clicks the Useful-button the client waits for the successful server side update without loading indication. As this can take a while due to firebase it feels as the "Click" did not cause any action.

**Describe the solution you'd like**
Change it to handle the request not asynchronous, update the counter for the client & just handle po

[2021-02-06 12:20] davehakkens commented on #1099
I think this is an important one!
Small detail but would make the expereince feel much smoother.

[2021-02-07 00:55] chrismclarke commented on #1088
@darigovresearch @davehakkens
Thanks to the work by @danitrod this feature has just gone into preview, you can check it out here:
https://onearmy-next--pr1098-1088-howto-search-96tkaftb.web.app/how-to

I can also see from the PR that there's some nice flexibility for which content we search for and how it's weighted, so feel free to share your thoughts if you have any regarding the specific implem

[2021-02-07 01:05] chrismclarke commented on #1099
Thanks for capturing this in an issue. As mentioned in the linked PR comment, a little bit of extra work to map the injected props from the howto store to a local state variable and update on click (either +/- 1 depending on whether they have already voted or not), but should be pretty quick to do and agreed make for a much more natural feel in case anyone is interested taking it on.

[2021-02-07 01:09] chrismclarke commented on #1089
I'm pretty sure we check the slugs when a howto is created/edited (the `validateTitle` function nested pretty deep inside the howto form component) so I think that should be ok, but worth double checking for sure.

[2021-02-07 13:56] davehakkens commented on #1088
looks neat, and works smooth! Thanks @danitrod
Also loving this preview thing @chrismclarke

Ready to merge besides one small request, while we are at it. (only if it's easy otherwise for a future issue)
Is there a way to include the 'creator' in the search?
A few people requested a few to filter content from a specific creator, this could be a good way to add that

[2021-02-07 17:30] danitrod commented on #1088
For sure @davehakkens; I'll update the search weights to consider the creator before the merge. What do you think of the following weights for the search?
[code]

About the URL updating, I think it's best to separate into a new issue, but I'll also be happy to work on that.

[2021-02-07 17:31] davehakkens commented on #1088
Sounds good to me!

[2021-02-07 17:40] chrismclarke commented on #1088
Adds to 1 so that's definitely good enough for me too :D
I'll merge the current changes (can see the weights have already been updated) and open a new issue for the search params

[2021-02-07 17:40] #1088 closed

[2021-02-07 17:47] chrismclarke opened #1100 "[feature request] - link howto search input with urls"
**Is your feature request related to a problem? Please describe.**
As discussed in #1088, would be great to be able to share a link that has the search field already filled (e.g. all howtos written by a specific creator).

**Describe the solution you'd like**
Use [react router query params](https://reactrouter.com/web/example/query-parameters), so that URLs are stored like `https://community.preci

[2021-02-07 17:50] chrismclarke commented on #1088
PR merged and new issue opened for search URL #1100

[2021-02-07 17:56] danitrod commented on #1100
Thanks @chrismclarke, I'll work on it during the week.

[2021-02-08 22:22] catx23 commented on #1090
Hey,
just saw your message.

Good to hear there is interest in Markdown :-)

I wouldn't push to much on a complete CMS - far from doable with the new tech around given the manpower. I was about to recommend using a traditional CMS just - has most on board so far. Instead, I think it might be enough content to pull Github repos just and display it some sort of directory. I've seen this quite often

[2021-02-08 22:44] catx23 commented on #1090
There are btw. also a few good web IDEs - can't remember the names. But Cloud9 comes to mind and there a few projects which brought VSCode to the web. With some luck you can mod these just for a sort of Git VFS (have one) and some basic ACL (have one as well).

At the end you may want just some basic system - maintained by others but you extend it using their Plugin interface (custom tags, ...).

[2021-02-14 19:39] davehakkens commented on #1099
anyone up for taking this issue? Then we can release the useful button into the world  💪

[2021-02-14 20:03] tudi2d commented on #1099
Sure - will create a PR later :shipit:

[2021-02-15 17:40] #1100 closed

[2021-02-16 00:36] davehakkens opened #1103 "Change Icon Useful"
As seen on the Slack channel, it would be cool to change the Icon for the useful.
 From star to.. special star :)
 Attached the .svg for default (black) and active (colored)

![new-icon](https://user-images.githubusercontent.com/13672737/108004848-f1872e80-6fee-11eb-9b80-6e544202d616.jpg)

 Download .svg 👇
[useful-Icon-star.zip](https://github.com/ONEARMY/community-platform/files/5984867/useful-Ic

[2021-02-18 19:32] danitrod commented on #984
Hi @nahos, are you working on this? Looks like it's been a while, I'd like to work on it if you're not.

[2021-02-18 20:00] danitrod commented on #1103
Cool! I'll make the change

[2021-02-18 21:45] #1103 closed

[2021-02-22 21:46] chrismclarke commented on #984
Reassigned. Thanks @danitrod!

This should hopefully be fairly straight-forward, the userstore has a `userSignedIn` method which can be used to also update the last active once the user profile has been successfully loaded.

The only complication would be with the `functions/src/userUpdates/backupUser.ts` function, which by default creates a backup of the user whenever the profile is updated - whi

[2021-02-24 00:05] #1099 closed

[2021-03-01 05:57] chrismclarke commented on #1072
Implemented

[2021-03-01 05:57] #1072 closed

[2021-03-04 18:18] danitrod commented on #1080
Can I start working on it? I see the store and page are already setup

[2021-03-04 19:03] davehakkens commented on #1080
from my end yes!
But not sure if you need some input from @chrismclarke?

[2021-03-04 20:07] danitrod commented on #1080
i think the implementation seems pretty straight forward - not sure if there's any prior work done before I should start though

[2021-03-05 11:10] davehakkens commented on #1080
the orignal plan was for @alromh87 to take it one. But don't think that ever took off.

[2021-03-08 10:05] davehakkens opened #1111 "Research Module - create/edit"
## Component infos

### Description

Add forms for creating and editing a research.

### Page related

Will be used in : #1110 and #1079

### Mockup

[Add here the mockup of the component]
<img width="1248" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/110305973-33efca00-7ff5-11eb-99a4-14ae5d2a62a7.png">

### Additional information

On this page you can start a new resea

[2021-03-09 05:50] chrismclarke commented on #1080
Thanks for moving forward on this, yeah from me happy to see any additions

[2021-03-09 21:47] #984 closed

[2021-03-09 23:12] #1079 closed

[2021-03-09 23:12] #1080 closed

[2021-03-10 00:40] danitrod opened #1114 "Add DB metadata to research updates"
Currently Research updates are being stored in an array in the Research object. The updates should be populated with DB metadata such as `_id`, `_modified` and `_created`, but currently aren't because they're not a standalone db entry. This could be solved either:
- injecting the metadata into an update every time it is created/updated
- moving updates to a separate collection and reference them b

[2021-03-15 00:50] danitrod commented on #1111
Working on this! Question: do we have the guidelines page to create a research already?

[2021-03-15 08:57] davehakkens commented on #1111
cool!
Not yet. But you can link it here https://community.preciousplastic.com/academy/guides/research

[2021-03-22 17:11] mattia-io opened #1117 "URGENT: Academy does not create unique URLs"
Hello,

I just noticed that the Academy does not create unique URLs any longer.
This is kind of a big deal because tons of backlinks will be deadlink now :(  Plus the whole academy is kind of unshareable now.

No matter which chapter I am in the URL is always 👉 https://community.preciousplastic.com/academy
![image](https://user-images.githubusercontent.com/17761877/112029244-efa21500-8b30-11eb-9e7

[2021-03-22 18:58] davehakkens commented on #1117
I just noticed it was probably me that broke it. :|
Could you give a try to see if it fixed now?

[2021-03-22 19:13] davehakkens opened #1118 "Research module live, but only for specific users"
## Component infos

### Description

The research module that is being developed here https://github.com/ONEARMY/community-platform/pull/1116 should go on the live site. However it shouldn't be public available since we first want to do some proper testing. It would be good if we can "invite" a few users to use the tool for beta testing.

 I could see it something as basic as having a field in fir

[2021-03-29 21:18] #1117 closed

[2021-03-31 19:41] davehakkens opened #1121 "Change Profile tips"
## Component infos

### Description

We need to update our profile tips in the profile settings.
⭐️  Part of our new verification program #1123

### Page related

Will be used in : https://community.preciousplastic.com/settings

### Mockup (original text)

<img width="317" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/113200148-e2d39e80-925f-11eb-96b5-06ef698bc6e0.png">

[2021-03-31 19:50] davehakkens opened #1122 "Add Notification to Map pin"
## Component infos

### Description

Add a little (red) notification bar for users when creating a map pin.
⭐️  Part of our new verification program #1123

### Page related

Will be used in :
https://community.preciousplastic.com/settings

### Mockup
# Original
<img width="836" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/113202067-36df8280-9262-11eb-8568-ff223513d091.p

[2021-03-31 19:58] davehakkens opened #1123 "Verified users ⭐️"
## Component infos

### Description

We are introducing a new verification program for Precious Plastic. This will add a new layer in the community. It will bring verified accounts. These accounts will be manually (in firebase backend?) selected and get a verified badge. We estimate between 20-30 accounts. This will be shown on the map and their profile.

### Page related
Will be used in :
https:/

[2021-04-05 09:29] chrismclarke commented on #1123
I think probably better to avoid need to manually interact with the database, so that would give two options for ways the admin team can mark a profile as verified:

1. We create a button that only admins can see on a workspace profile to mark as verified (like how how-tos can be approved)
2. We add as a feature to the rough admin panel we have

I'd be happy with either approach, so whatever you t

[2021-04-05 10:43] chrismclarke commented on #1118
Makes sense to me, from the technical side I think we might want to clarify our approach to levels of user permission/roles. What we have currently:

- 2 custom user roles which are `admin` and `super-admin` (which go beyond standard logged-in/anonymous)
- A minimal dashboard where admins can be added (super admins only manually in db)
- Various helper functions to limit specific content to specif

[2021-04-05 11:26] chrismclarke opened #1124 "[bug] - Pages requiring login don't support reload"
**Describe the bug**
As mentioned in #116 - various pages such as howto editing or the admin dashboard require the user to be logged in (and sometimes also have specific user roles). The problem is, when a page is reloaded (or navigated to directly) there is a delay between the page loading and the user being logged in (even when the login is 'persisted' between page refreshes, there is a delay wh

[2021-04-05 11:31] #1111 closed

[2021-04-05 12:43] danitrod commented on #1114
Using the first approach for now (#1116).

[2021-04-05 12:43] #1114 closed

[2021-04-05 17:15] chrismclarke commented on #1123
Following discussion, plan is for the more simple option 1 for now (more work on the dashboard later). Open if anyone wants to take the issue on.

[2021-04-06 10:01] chrismclarke opened #1125 "Add data protection to profile updates"
**Is your feature request related to a problem? Please describe.**
A couple times in the past we've seen weird caching issues make it possible for users to accidentally create a new profile which would then overwrite their existing profile. Various attempts to recreate/fix have proven inconsistent, so we need a better system to prevent this happening altogether

**Describe the solution you'd like*

[2021-04-14 09:50] tudi2d commented on #1121
Will work on this one! :)

[2021-04-14 16:58] davehakkens commented on #1123
You interested in this one @tudi2d, or above your skills?

[2021-04-14 20:47] davehakkens opened #1127 "Comments! 💬 (front end)"
## Component infos

### Description

Time to start adding comments to the platform! This is a big thing, its the first time we allow community interaction!
You can find more information in our [V2 Document ](https://docs.google.com/document/d/1hyWc2a9cn04B107UzUKd4-12T5v0VrlWmYTa8KZnYhQ/edit) (page 8) -Nested replies are skipped for now.

### Task
This issue is to get the front end in place. The b

[2021-04-14 20:58] davehakkens opened #1128 "Comments! 💬 (back end)"
## Component infos

### Description

We are introducing comments to the platform. More information on this issue #1127.
All the frontend work would be done in #1127, this issue is to connect it together in the backend.

### Bounty level 3 (€85)

### Task
Comments are used by how-to’s. They are chronologically sorted, latest one below. Above 10 comments there is a “load more comments” button displa

[2021-04-23 14:19] davehakkens commented on #1121
hi @tudi2d, planning to work on a release this morning and want to add this. So I took it over this one.
Also left a comment in the pull request, perhaps you can help out?
https://github.com/ONEARMY/community-platform/pull/1131

[2021-04-26 11:38] tudi2d commented on #1121
Hi @davehakkens - sorry, been of GitHub for a few weeks - will take a look at the PR later :)

[2021-04-26 16:55] #1121 closed

[2021-04-26 16:55] #1122 closed

[2021-04-27 08:40] catx23 commented on #1123
Great, 20-30 are known gang fans I suppose ?

Interesting though to be judged by folks living in van, I guess you explain the 100+ censored users why they are not good enough for the gang.

Censorship, more cultworshipping and discrediting folks who suits you well ;-)

[2021-04-27 08:41] catx23 commented on #1123
Great, 20-30 are known gang fans I suppose ?

Interesting though to be judged by folks living in van, I guess you explain the 100+ censored users (https://github.com/plastic-hub/pp-next/blob/master/censored_users.json) why they are not good enough for the gang.

Censorship, more cultworshipping and discrediting folks who suits you well ;-)

[2021-04-27 09:05] catx23 commented on #1123
I guess this goes the same way as it happened to some users recently : 'your workshop is not ready for the starterkit', without seeing any picture or the like.

[2021-04-27 11:45] #1118 closed

[2021-04-27 14:10] davehakkens commented on #1123
@davidyaha wants to take this one on..

[2021-04-27 14:36] davidyaha commented on #1123
On it :)

[2021-04-28 18:39] davidyaha commented on #1123
@davehakkens

1. do we have an svg file of the verified icon?
2. I saw [here](https://github.com/ONEARMY/community-platform/blob/master/src/models/user.models.tsx#L28) that the user table already has a verified flag. Should I use that flag to determine whether this icon will be shown on the card?

[2021-04-28 18:56] davehakkens opened #1137 "Set max-width for Research module"
**Problem.**
The max-width for the research module is currently set to 1280px. This is to wide on large screens.

**Solution**
The max -width of the main container on the research page should be set to 1000px instead of 1280px.

**🔥 Bonus round**
While you are at it. it would be great to also set a max-width 1000px for the [profile pages](https://community.preciousplastic.com/u/artem-smolokurov)

[2021-04-28 19:23] davidyaha commented on #1123
Just saw this icon: https://github.com/ONEARMY/community-platform/blob/master/src/assets/icons/icon-expert.svg

3. Can anyone with permissions to the dev firebase verify one of the user profiles so I could check that the whole thing work?

[2021-04-28 19:29] davehakkens commented on #1123
hey!
1. You can use that placeholder for now!
2. That's another kind of verification. (for us to approve how-to's and map-pin's) This verification would be done manually
3. Not really. Like mentioned above, we still need to build this new "verificaton field" for profiles

[2021-04-28 19:58] davidyaha commented on #1123
So I might not fully understand 😞
From what I could see in the code the map pin is an extension of a user profile. meaning the base information is from the user table. Also, the profile page shows information from the user table.

Hence, it would be most effective to have the user's "verification field" on the user table, correct?

Should I just add it next to the existing `verified` field with th

[2021-04-28 20:31] davehakkens commented on #1123
yes indeed, map pins is part of profiles. Some users create a map-pin, we verify them to see if they are legit.
What you are making now is another layer of verification. Both indeed linked to a profile (bit confusing that we call them both verified)

But your suggestion sounds good to me. But @chrismclarke has a better overview on the database. Ok for you Chris?

[2021-04-29 07:39] chrismclarke commented on #1137
I think the widths generally are a bit confusing/messy, some things are defined with variables and others are just hardcoded. E.g.
![image](https://user-images.githubusercontent.com/10515065/116515823-b34a9d00-a8c4-11eb-9351-7161b937b798.png)
`src/themes/styled.theme.tsx`

Defines breakpoints (based on a font size, assuming standard font size is 16px - not sure if this is the best way to go about

[2021-04-29 08:58] davehakkens commented on #1137
Not sure how its structured in code. Kinda weird because in the browser all pages with main containers seem to have a max-width of 1280px. (events, how-to, howto-edit, profile etc) And for most pages 1280px is good so better to not drop it.

So for now I would mainly apply it to
**- Research Single** (not the Research create/edit or overview pages)
**- Profile Pages** (not the Profile create/edit

[2021-04-29 09:39] chrismclarke commented on #1137
All the pages sit inside a `Main` (main-layout-container) which uses the `maxContainerWidth` property which is currently set at 1280px.

So in that case I think we just leave the maxContainerWidth as is and make the changes to the individual page components as suggested. Happy if anyone wants to take that on.

[2021-04-29 11:06] #1069 closed

[2021-04-29 12:14] chrismclarke commented on #1123
Yep that's right, we use the user profile to generate the map pin (`setUserPin` method called from the `user.store` on profile update).

I think so, as we will likely want the option to also show it on their profile or other places.

I like this option personally, I think 'verified' is a bit too vague (e.g. also having email verification). Another option would be to store a `badges` object in the

[2021-05-03 11:13] chrismclarke opened #1141 "Update core to React 17 and React scripts 4"
**Is your feature request related to a problem? Please describe.**
Improvements to the service worker and caching strategy in #983 require more flexibility with service workers currently allowed with workback generate sw and react-rewired scripts. The latest cra release (4) adds much better support for custom service workers and so makes sense to update and then remove the custom react-rewired imp

[2021-05-03 11:14] chrismclarke commented on #1069
Note - circleci implemented but still need to finish removing travis and add production build/deploy pipeline

[2021-05-03 17:14] chrismclarke commented on #1128
@danitrod will give a first go at this

[2021-05-03 21:11] chrismclarke commented on #1124
Realised that the easiest option is just to not redirect the user if not allowed to access a page (show a message instead). Will implement as part of #1140

[2021-05-04 14:59] #1124 closed

[2021-05-04 15:03] chrismclarke opened #1142 "[Developers] - Breaking Changes"
Just to make other developers aware a few breaking changes were made in #1140 to upgrade react to version 17 and yarn to version 2 (Berry).

If developing locally you will need to remove any existing `node_modules` folder and reinstall via `yarn install`

Any issues feel free to let me know here or on slack.

[2021-05-05 19:24] davidyaha commented on #1123
@chrismclarke

Just saw this.. atm I've added the said `verifiedBadge` property. I have an issue with seeing changes from firebase on the frontend. Just sent @chrismclarke  an email about it so hopefully, when we resolve that issue I could quickly make the change to `badges` and close that feature.

[2021-05-07 06:52] AnneBarbier commented on #1123
![image](https://user-images.githubusercontent.com/10199681/117409361-f5c43900-aec5-11eb-9c55-966099ea3112.png)

I hope you're aware that this is going to be huge set back for the community and project.

[2021-05-07 10:20] chrismclarke commented on #1123
Cool, @davidyaha - just replied to the email (been a busy week so sorry about the slow response).

[2021-05-18 13:12] davehakkens opened #1154 "[bug] How-to counter in profile looks broken?"
**Describe the bug**
The how-to counter in profiles doesn't work?

**To Reproduce**
See precious-plastic [how-tos](https://community.preciousplastic.com/how-to?search=precious-plastic) listed on the hompage and see the counter in [the profile](https://community.preciousplastic.com/u/precious-plastic)

**Expected behavior**
It should show all **Approved** how-tos

**Screenshots**
![broken-how-to-co

[2021-05-18 13:14] davehakkens opened #1155 "[bug] Country name in English"
**Describe the bug**
In the user-profile the location is shown in the native lagnuage. This should be in English

**To Reproduce**
Visit any (non English) user profile and the country is shown in their own language

**Expected behavior**
All countries should be written in English

**Screenshots**
![profile-country](https://user-images.githubusercontent.com/13672737/118657269-9d593980-b7eb-11eb-828

[2021-05-19 19:51] tudi2d opened #1157 "[feature request] Link username in comment to profile"
**Is your feature request related to a problem? Please describe.**

★ as a bonus you could also make it link to the user profile. But no need. We can also do it in an issue later

_Originally posted by @davehakkens in https://github.com/ONEARMY/community-platform/issues/1153#issuecomment-844372563_

**Describe the solution you'd like**

Link the username in a comment to the users profile, such tha

[2021-05-23 10:07] huntr-helper opened #1158 "Potential Security Issue"
👋 Hello, we've received a report for a potential critical severity security issue in your repository.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/1-other-ONEARMY/community-platform** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for more assistance.

3️⃣ Propose a patch or outsource it to our community.

---

#### Confus

[2021-05-23 10:12] huntr-helper opened #1159 "Potential Security Issue"
👋 Hello, we've received a report for a potential critical severity security issue in your repository.

#### Next Steps

1️⃣  Visit **https://huntr.dev/bounties/2-other-ONEARMY/community-platform** for more advisory information.

2️⃣  **[Sign-up](https://huntr.dev/)** to validate or speak to the researcher for more assistance.

3️⃣ Propose a patch or outsource it to our community.

---

#### Confus

[2021-05-27 23:36] #1123 closed

[2021-05-28 04:41] #1137 closed

[2021-05-28 22:11] davehakkens opened #1163 "Display verified icon in username"
## Component infos

### Description

If a user is verified it should show the icon next to the username

### Page related

How to overview
How to page
Events
Research overview (optional)
Research page (optional)

### Mockup
![verified_events](https://user-images.githubusercontent.com/13672737/120046302-c6f33b80-c009-11eb-938a-e44af485000c.jpg)
![verified](https://user-images.githubusercontent.com/

[2021-06-03 12:16] mattia-io opened #1166 "Capitalize titles"
Would be great to have all titles capitalized (first letter) so we can rule out user mistakes

![image](https://user-images.githubusercontent.com/17761877/120643112-0ab8cb80-c476-11eb-9593-eb3c96b75643.png)

[2021-06-05 08:49] davehakkens commented on #1166
Just putting this here for future references.
https://github.com/ONEARMY/community-platform/issues/1066
Not sure if the solution in #1066 was actually merged

[2021-06-06 08:48] darigovresearch opened #1167 "[feature request] Add a way to check for dead links in how-tos"
**Is your feature request related to a problem? Please describe.**
A user in the discord mentioned one of the how tos had a dead link.

**Describe the solution you'd like**
It would be good if we can have automated checks before publishing & check every week for example to notify the user that they need to make a correction.

**Describe alternatives you've considered**
The time frame for the check

[2021-06-06 08:52] darigovresearch opened #1168 "[feature request] How-to redirect url when name changes"
**Is your feature request related to a problem? Please describe.**
Often if you change the name of the How to it will update the URL but old links to the previous URL no longer works.

**Describe the solution you'd like**
It would be great if we can keep the old link active but it redirects to the new URL that way any links to the old URL will still be valid.

**Describe alternatives you've consid

[2021-06-07 05:07] #1127 closed

[2021-06-07 05:07] #1128 closed

[2021-06-08 17:03] davehakkens opened #1170 "Add Button to comment"
## Component infos
Currently, you leave a comment by pressing the "return" key. This behaviour is fast and snappy but feels like a chat. It needs to behave more like a thoughtful comment

### Description

- Add a button to the comment section to post
- The "return" key should not send the message but make a new line in the message

### Page related
https://dev.onearmy.world/how-to/

### Mockup
![c

[2021-06-08 17:07] davehakkens opened #1171 "Add edit feature in comments"
## Component infos

### Description
Currently, comments can be deleted but not edited. Editting is essential for us.
Clicking edit takes you back to the text editor. Publishing date stays unchanged but a little note `edited` is added.

1. Add "edit" and "delete" to the bottom of the comment
2. Show if a message is edited `(edited)`

### Page related
https://dev.onearmy.world/how-to

### Mockup
![4

[2021-06-08 18:01] #972 closed

[2021-06-08 18:58] davehakkens opened #1172 "Add dropdown filter for most useful"
## Component infos

### Description
Add a dropdown filter on the how-to overview page to sort on most useful.
- Default is latest.
- Ideally it works in combination with the other filters. So if you select a tag or search. You can also filter on "latest" or "most usefull"
- Will make more sense when #1174 is implemented

### Page related

Will be used in :https://community.preciousplastic.com/how-

[2021-06-08 20:30] patrycjapraczyk commented on #1157
Could I have a look at it once [#1153](https://github.com/ONEARMY/community-platform/pull/1153) is merged?

[2021-06-12 20:49] davehakkens opened #1174 "Add useful to howto"
## Component infos

### Description

Show the amount of useful for each how-to one the overview page.
Will also be used with dropdown filter from #1172

### Page related

Will be used in :
- [How to Overview](https://community.preciousplastic.com/how-to)

### Mockup

![useful](https://user-images.githubusercontent.com/13672737/121788744-9a255380-cbc7-11eb-92c6-098bd7453b74.jpg)

[2021-06-15 03:49] nshevcun commented on #933
Experiencing a similar issue, except the uploaded PNG image backgrounds show up as white on Github Pages.

[2021-06-20 20:43] chrismclarke commented on #1174
So this would actually end up being harder than it looks, due to the way the database is structured and read-optimisations work. Bascially the total votes for a howto is stored inside a sub-collection document of the howto, and by default only read when a user opens the howto. So the naive way to get all totals would be to read all the individual documents every time the page loads, which is a rea

[2021-06-20 20:45] chrismclarke commented on #1172
I think if anyone wants to give a first pass at this, focusing more on the UI (until we find a solution to merge the right data for sorting) would be the best start, and a basic sort function to work with the tagging system.

[2021-06-20 20:46] chrismclarke commented on #1171
Thanks for taking this on @danitrod, will try review the PR in the next couple days

[2021-06-20 21:21] chrismclarke commented on #1168
Make a lot of sense to me, I think the way wordpress handles it is keeping a list of previous URLs redirects when a post changes, which it uses when a page can't be found directly. We could probably try to do something similar either:

A) Inside a post itself, have a `previousUrls` (or similar) property that can store an array of all the slugs a howto has had in the past, or

B) Store a single lis

[2021-06-20 21:23] chrismclarke commented on #1168
One other option which would be much faster in the short term, would just be to redirect to the howto page and with the unmatched url in the search bar. It won't be perfect but would still likely have the target howto somewhere near the top assuming a few keywords are matched,

E.g. if someone tries to visit: https://community.preciousplastic.com/how-to/create-a-lamp (does not exist), they would s

[2021-06-20 21:24] chrismclarke commented on #1168
Have tagged with `help wanted` in case anyone fancies taking this one on?

[2021-06-20 21:26] chrismclarke commented on #1166
Yeah that one has been sitting unmerged for quite some time, wasn't sure if it was still relevant or not (take that as a yes!)

I'll try to take a look at it next week, and if working merge (otherwise I'll update this comment and add a help-wanted label).

[2021-06-21 00:32] danitrod commented on #1172
I had a look into this but ran into what you mentioned in #1174, don't want to actually make one request for each howto to get their stats. I'll prepare the UI part then, and then we figure out how to integrate it later

[2021-06-21 04:22] chrismclarke commented on #1154
That's really weird, not sure if it's an issue with the counter not incrementing properly, or maybe when the feature went live we didn't migrate existing data? If anyone wants to take it on they'll probably need access to at least the dev database to see how things are working there, and possibly live also

[2021-06-21 13:08] davehakkens commented on #1154
was looking at other accounts. Seems to be ok(in sync) for them.
Might just be only for the Precious Plastic account. So not an urgent issue.

[2021-06-21 13:09] davehakkens commented on #1174
ah I see the problem. Bummer..
Hope we can find a good way 🤞

[2021-06-24 18:32] chrismclarke opened #1177 "[feature request] - Replacement for Algolia Places Required"
**Is your feature request related to a problem? Please describe.**
We currently use algolia places to autocomplete location search on map and user profile pages, however Algolia have announced they are _sunsetting_ the project and will no longer be supporting after May 31st 2022 (and have already ceased new signups)
https://www.algolia.com/blog/product/sunseting-our-places-feature/

**Describe the

[2021-06-25 00:53] danitrod commented on #1174
@chrismclarke question, couldn't we save the useful stats as a prop in the actual howto docs, so they are loaded together with the other info from howtos?

[2021-06-27 10:31] tudi2d commented on #1170
@davehakkens PR created. Suggestion would be to move the button to the right, as it seems more common (e.g. GitHub comments) - what do you think about it? 🙂 It's possible to add new lines, but they won't be saved right now - not sure. @danitrod any idea why? 😕

![image](https://user-images.githubusercontent.com/8904624/123541059-ab7f6b80-d742-11eb-9a56-75ad0124a749.png)

[2021-06-27 17:54] davehakkens commented on #1170
suggestion accepted!  ✅
Makes sense. Thanks :)

[2021-06-28 01:41] danitrod commented on #1170
At a first sight not sure... it's probably something in the back end, I'll have a look tomorrow

[2021-06-28 23:34] danitrod commented on #1170
Just tested here, actually it looks like it is how the comment component works: the text of the comment is being displayed in a `<p>` tag, so any newlines are ignored. Since I have an open PR for adding comments editing, I'll include an update to fix that

[2021-06-28 23:36] davehakkens commented on #1163
Let me know if you have time for this @davidyaha otherwise i'll ask someone else.

[2021-06-29 06:18] tudi2d commented on #1170
Ah, haven't checked that. Thanks for taking care of that! :)

[2021-06-29 09:54] davehakkens commented on #1163
No worries. Just checking in. :)
Let me know if it doesn't work out

[2021-07-14 19:00] chrismclarke commented on #961
@davehakkens If design team are interested in exploring a couple options for how things like howtos might look you can use the site https://metatags.io/ to design/preview

[2021-07-14 19:07] davehakkens commented on #961
cool tool! Something like that would be really nice.
It would be great if we could use the how-to information:
1. Header title
2. Header image
3. Intro description

They are generally well-curated with the best images.

[2021-07-14 22:57] #1170 closed

[2021-07-14 23:27] chrismclarke commented on #961
Yeah I think howtos should be fairly straight-forward if we do things that way. Then we need to decide what to do about other pages (events, research, user profile etc.), E.g.

**Events**
Title - event title
Description - event location name or just some standard text (e.g. 'check out this event')
Image - some standard svg or maybe country flag(?)

Each module will want some sort of similar mappin

[2021-07-15 18:13] #1157 closed

[2021-07-15 18:44] #724 closed

[2021-07-16 19:35] chrismclarke commented on #1174
I think we covered this on the call, but just to keep a written record.

We decided that keeping the info in the individual doc itself would result in too many read updates on the main howto list page (we would need to retrieve all howtos every time the page loads - currently we avoid this by reading once, caching, and only reading again if updated). Instead we can just keep a single document with

[2021-07-16 19:51] chrismclarke commented on #1154
OK, for a proper fix we would need to run a script to check all the backend howto data and recalculate, which I don't think we can easily do until we have local database emulator running correctly.

In the meantime probably the easiest way would either be to go to individual howtos and just click to update/save/republish them. That should trigger the backend function to update the user profile.

Y

[2021-07-16 20:08] chrismclarke commented on #933
Yeah, there is an outstanding issue on compressjs (`https://github.com/alextanhongpin/compress.js/issues/3`), which client-compress is forked from (and another issue there: `https://github.com/davejm/client-compress/issues/7`)

I think unlikely this will be fixed in either repo so we should look to make a change. Browser-image-compression seems like a solid option, a few other alternative

 ![imag

[2021-07-16 20:14] chrismclarke commented on #1167
Makes a lot of sense to me that we have some way of notifying/fixing dead links. We're currently developing a comments system to the howtos shortly which might be a good-enough option short term for people to just mention if a link isn't working, instead of relying on automated checks (which could be a bit flaky depending on things like bot-handling, recaptchas etc.).

The other option might be to

[2021-07-17 08:17] darigovresearch commented on #1167
Another option is just a link crawler that checks it doesn't reach a 404 page which I'm sure that there are also plugins for

[2021-07-17 21:26] #1171 closed

[2021-07-17 23:52] #1066 closed

[2021-07-17 23:52] #1166 closed

[2021-07-18 09:33] davehakkens commented on #1167
Agree its annoying.
But indeed I also think comments might already solve some of it, to make sure the makers is even aware of it.
I'd suggest to see how that goes, if we still have many dead links we will take a deeper look at it.

[2021-07-19 20:46] #946 closed

[2021-07-19 20:53] chrismclarke commented on #1167
OK, for now I'm going to close this issue in the hopes that we can resolve with the comments system, and can revisit in the future if needed.

[2021-07-19 20:53] #1167 closed

[2021-07-29 13:14] davehakkens opened #1197 "Add verified filter to the map"
## Component infos
We need a filter on the map to filter our verified workspace. It would work the same as the existing dropdown filter`(workspace, extrusion, sheetpress, community point etc)`
- When selected it will show verified workspaces.

### Assets
The Verified user data is stored in the V3_users>username>badges>verified
The icon can be found [here](https://github.com/ONEARMY/community-platf

[2021-07-29 17:45] davehakkens opened #1198 "Add verified icon to map-pin"
## Component infos

### Description

To show and promote our verified workspaces more we add a verified icon on the map. The verified icon can be applied to all types of profiles. `Machine shop, community point, sheetpress workspace, extrusion workspace etc.`
If the profile is verified -> show blue checkmark
If the profile is not verified -> show no blue checkmark

### Assets

The Verified user da

[2021-07-31 22:24] davehakkens opened #1199 "Add notifications"
## Component infos

### Description
After introducing comments we need notifications so users can see they have a message to their content. There will be a small icon in the menubar that shows notifications. We start rolling out notifications in the how-to with two triggers

### 2 Triggers for notifications
**- New comment on a how-to** (if someone posts a comment on a how-to the creator of the ho

[2021-08-01 00:12] davehakkens opened #1200 "Simplify member profile"
## Component infos

### Description

Currently, profiles are quite extended, with long descriptions and multiple header images. They are designed for spaces. . With comments coming more individual users (not spaces) will interact. We need a simpler profile with less information for those. This will also be a step towards having "want to get started" pins for members

### Page related

Will be used

[2021-08-02 19:23] chrismclarke commented on #1163
We discussed this issue briefly on the call today and realised it might not be quite as quick a fix as we might want because the info about the user is stored in a different place from the info about the howto, and so would require an extra db lookup request to merge in for every howto card (or try to populate user badge into howto and update on change with backend functions which is also a bit me

[2021-08-02 19:25] chrismclarke commented on #1200
We discussed this on the monthly call today and still need to get a few things sorted like how best to show the map pin, but for now still good if anyone wants to take on the frontend task of designing the card and profile pages based on existing data

[2021-08-02 19:30] chrismclarke commented on #1200
as for the open questions:

1a. Compress  yes (we already do that to resize all images to 1280px (I think) but might want to add an additional profile pic version (e.g. 360px or similar)
1b. Crop - no, but there's lots of good tools out there that could help us do that if it's something we want. Could create as a separate issue (would be a reasonable amount of work, but a nice feature to have for

[2021-08-02 19:32] chrismclarke commented on #1199
Really nice feature to have, we would definitely handle most of this with backend triggered functions so likely will want to add a better testing setup for these before too much work can be done on this. I'll hopefully have that update live at some point this month however, so if anyone does want to take the issue on I'd be more than happy to help support.

[2021-08-02 19:34] chrismclarke commented on #1198
See my comments in https://github.com/ONEARMY/community-platform/issues/1163
Basically this is a little bit tricker given that the badge info is stored in a different place to the map info, but once we sort that out should be quick to implement.

If anyone wanted to start just testing getting the size and positioning on the frontend looking right (e.g. assume all pins verified for first test) then

[2021-08-02 19:36] chrismclarke commented on #1197
See my comments #1198 and #1163
If anyone wants to get started on the frontend then should be ready to go on that, but will need a few small updates on the backend to get the filtering logic working correctly.

[2021-08-02 19:46] chrismclarke opened #1203 "[feature request] Add local development database emulators"
**Is your feature request related to a problem? Please describe.**
When testing things like triggered functions (e.g. when a user updates their location automatically update their map pin), the workflow isn't ideal as we can only test after the functions have been deployed on the master branch, there is no way to revert changes if implemented badly, and can incur billing costs if lots of changes m

[2021-08-03 07:48] #795 closed

[2021-08-03 07:51] #839 closed

[2021-08-04 18:38] patrycjapraczyk commented on #1199
@chrismclarke could I try to help with this once the testing environment is ready?

[2021-08-08 00:12] danitrod commented on #1172
Waiting on #1204 to be merged before going into this one

[2021-08-11 00:52] danitrod commented on #1163
Hey @davehakkens question, don't remember if you mentioned but is it interesting to have the verified badge on howto comments as well?

[2021-08-11 08:58] davehakkens commented on #1163
YES! would be great to have it there. didn't mention it. so good call 💪

[2021-08-11 20:14] chrismclarke commented on #1199
That would be great! I'm mostly there with the testing environment, just need to find another half day to finish up (hopefully by the end of this week). Will add another message in this thread when ready

[2021-08-14 11:46] davehakkens opened #1206 "[bug] Image with identical filename gives errors"
**Describe the bug**
When users upload images in their research or how-to with the same file name they get mixed up and no error messages. Leaving the user confused.

**To Reproduce**
Steps to reproduce the behavior:

1. Create a few images with identical names` 1.jpg `or` image.png` etc
2. Create a new howto
3. Upload a different image (with the same name) for each step
4. Press publich and see t

[2021-08-19 15:41] chrismclarke commented on #1199
@patrycjapraczyk - The PR to implement a better system for testing backend functions is now open 🎉 : https://github.com/ONEARMY/community-platform/pull/1207

Would you be willing to help with testing it at some point over the next week or so? It would be great to have another developer try testing to see if they can also get the emulators working locally and start being able to write their own tes

[2021-08-21 23:04] patrycjapraczyk commented on #1199
Hi there, sorry about the late reply. Sure I could try it out next week,
since this will also be useful when working on the notifications.

On Thu, Aug 19, 2021, 4:41 PM Chris Clarke ***@***.***> wrote:

[2021-09-03 15:19] TinkeringAlways commented on #1198
Hi, taking this on as a first issue to help out with. Starting to work out the frontend like you suggested!

[2021-09-03 17:47] davehakkens commented on #1198
cool! Whats your mail? then I'll invite you to our slack

[2021-09-03 21:54] TinkeringAlways commented on #1198
alwaystinkering@outlook.com

[2021-09-04 17:26] TinkeringAlways commented on #1198
Can I get access to the dev database?

[2021-09-06 08:34] #1203 closed

[2021-09-06 10:37] #933 closed

[2021-09-06 17:13] tudi2d commented on #1200
Happy to work on this in the next weeks 👍

[2021-09-06 21:13] tiefpunkt opened #1210 "[feature request] show display name on map pins, instead of the username"
**Is your feature request related to a problem? Please describe.**
My "username" doesn't quite match the workspace, so this is confusing both on the map and in the how-tos. See this:
<img width="385" alt="image" src="https://user-images.githubusercontent.com/434444/132260417-f58fb091-3bd5-4ea0-9f55-383e557eda0a.png">.
Now when I click on that name, I get to the profile page, which doesn't say the

[2021-09-10 20:18] RaviAnand111 commented on #1200
Can I help ?
Just tell me what I have to do ? @tudi2d  @chrismclarke

[2021-09-11 12:46] tudi2d commented on #1200
@RaviAnand111 Hey - thanks for the interest in contributing - feel free to give it a go! I will assign it to you - if you have questions feel free to reach out :)

[2021-09-11 13:25] RaviAnand111 commented on #1200
guys I right now don't know reactjs, I just know javascript. Can I still contribute or should I learn reactjs in a week or so ?

[2021-09-11 13:49] tudi2d commented on #1200
Ok - maybe #1210 could be a good first issue for you then. You can get a feeling of the codebase & setup all the tooling. There are no specific React knowledge required for that issue & a first solution should be pretty straight forward. If you're interested comment in the mentioned issue that you will work on it :)

[2021-09-12 08:34] chrismclarke commented on #1200
Thanks for reaching out @RaviAnand111. In case you do find the platform a bit of a steep learning curve, I think there's a few suggested resources in the [Contributing](https://github.com/ONEARMY/community-platform/blob/master/CONTRIBUTING.md) notes. If any are outdated then you can also find loads of general react resources online. Or if you're the type who likes to learn whilst doing then the is

[2021-09-12 09:15] davehakkens commented on #1210
hey thanks for the issue. This is a bit of a more complex one though..
Sometimes we need usernames to refer to a member (especially with comments/ tagging people @username etc)
But `Usernames` do tend to look strange and are unchangable.

And it does get confusing when we mix both, sometimes `Username` sometimes `DisplayName`

So for now I would say we can use `DisplayName` on the Map & Profile. W

[2021-09-18 00:36] davehakkens commented on #1200
Are you good with this @tudi2d? let me know if you need anything!

[2021-09-18 00:38] davehakkens commented on #1197
Sorry, missed this comment @elvezpablo. Are you still good to finish it? Then i'll assign

[2021-09-18 00:58] davehakkens opened #1211 "[bug] Country flag not showing in comments"
**Describe the bug**
The country flag of a user is not showing in the comments.
[(example bottom of page)](https://community.preciousplastic.com/how-to/plastic-medals--free-injection-mould-design)

**Expected behavior**
Flag should be shown like in this issue #1127
<img width="670" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/133866843-5eb7c720-49b8-4a28-808f-85065b3337

[2021-09-18 01:06] danitrod commented on #1211
Should be a quick one, I'll send a PR

[2021-09-18 20:19] tiefpunkt commented on #1210
That sounds like it would eventually make sense to split workspaces/map pins & users into separate entities.

`DisplayName` on the Map would be a really great improvement though imho, sounds like a good start to me :)

[2021-09-19 09:26] tudi2d commented on #1200
Thanks Dave - all good - just finished an exam & will work on this in the upcoming week 👍

[2021-09-21 10:23] davehakkens commented on #1198
Just double checking, you got access to the dev database right @TinkeringAlways ?

[2021-09-21 12:44] TinkeringAlways commented on #1198
Not yet, @chrismclarke could you add me?

[2021-09-21 22:42] davehakkens commented on #1198
I've added you @TinkeringAlways. Hope thats ok @chrismclarke.
You are up for taking on the issue, should I assign you?

[2021-09-22 02:36] franknoirot commented on #1206
Would it be acceptable to alter the filename upon upload? Adding a timestamp could ensure no name collisions are possible if you don't mind the filename being manipulated. For example:
- upload 1: `image.png` becomes `image-210921223533.png`
- upload 2: `image.png` becomes `image-210921223614.png`

[2021-09-22 03:51] franknoirot commented on #1206
I think I see where the image metadata is created and would love to try this if that's alright to assign it to me.

I just have one question: how do I sign in during local development? I see a mock User "chris-m-clarke" but don't see how to sign in as them to test making a new HowTo.

[2021-09-22 10:05] davehakkens commented on #1206
yeh we can give a timestamp to the upload, seems good to me @franknoirot

For login
As far as I know (it might be changed)
It depends on which database you use locally ([staging](https://dev.onearmy.world/how-to) or [live](https://community.preciousplastic.com/how-to)) You can easily see the difference by checking the latest how-to's uploaded

From than you create an account online (on either dev

[2021-09-22 19:31] TinkeringAlways commented on #1198
Yes please

[2021-09-22 22:12] TinkeringAlways commented on #1198
@davehakkens could you also add "andrew@tinkerlabs.dev" for the Firebase dev access. The @outlook.com is a personal email. Thanks

[2021-09-22 22:40] TinkeringAlways commented on #1198
That worked

[2021-10-01 20:55] leonorader commented on #1155
Hi there! I would like to try to fix this! :) Could you please assign it to me?

[2021-10-01 20:56] davehakkens commented on #1155
jeej! done

[2021-10-03 12:36] thisislawatts commented on #1168
@chrismclarke Happy to take a look into this :)

I really like [your suggestion](https://github.com/ONEARMY/community-platform/issues/1168#issuecomment-864613687) of redirecting to search if there are no exact matches found. I think that is a helpful default behaviour.

In terms of [option A or B](https://github.com/ONEARMY/community-platform/issues/1168#issuecomment-864613446) from your earlier c

[2021-10-03 15:46] chrismclarke commented on #1168
Sounds awesome, great if you want to take this one on.

I think the main thing to avoid like you say is things becoming too littered (or case where we keep redirecting from one place to another and possibly into infinity (and beyond)).

I think this is easiest avoided if we go for option A, so that we can run a single query to find any howtos previously with that slug and not jump from link to lin

[2021-10-03 18:49] thisislawatts commented on #1168
Sounds good to me @chrismclarke, incremental delivery all the way. :shipit:

So to clarify there are two tasks to action here:

1. A 302 redirect to the search state instead of returning 404 for _only_ howto entries, estimated size small
2. Extend data model for howtos entitie to store a limited history of renaming and provide redirects, estimated size bigger than **1.** 😉

Happy to work on both o

[2021-10-03 23:04] chrismclarke commented on #1168
Sounds accurate to me!

For (1) - yes _only_ howtos - that's currently the only place we've implemented a search feature so all that makes sense for now. I see the PR you've just opened and that looks ideal!

For (2) - yes, probably best to store as an array to keep the flexibility if we ever do want to store more than one previous URL (and can use the frontend to try and discourage perhaps).

I t

[2021-10-04 02:32] chrismclarke opened #1227 "[feature request] - Fallback for not found howtos"
**Is your feature request related to a problem? Please describe.**
Following discussion in #1168, would be good to provide better fallback option when specific howto not found (e.g. link changed, deleted or typo)

**Describe the solution you'd like**
Suggested redirecting to howto page with slug input into search bar to at least try and filter for most similar

**Describe alternatives you've consi

[2021-10-04 02:35] chrismclarke commented on #1227
@davehakkens - we already have a PR ready for this (#1225), I just wanted to check with you. Do you think we should also show a message somewhere to say something like "We couldn't find what you were looking for, maybe you meant one of these:" (or similar), or just leave it to show the search page?

E.g. using the PR preview, what happens if you try go to the `wrong-lamp-link` howto:
https://onear

[2021-10-04 02:40] chrismclarke commented on #1227
@thisislawatts - thanks for opening the PR for this (I've just added this as an extra issue to separate up the bits of work a bit). I can't mark the issue as assigned to you, so feel free to self-assign (if you can) or otherwise I've sent an invite to the organisation which should enable me to.

[2021-10-04 09:18] davehakkens commented on #1227
yeh agree would be better to leave a message @chrismclarke, good double check.
Thanks for the pull @thisislawatts, possible to add a message?

[2021-10-04 14:58] thisislawatts commented on #1227
Sure thing @davehakkens, I agree that the loading then redirect behaviour is slightly jarring.

Do we have any design process here or shall I just sketch something up and we can iterate from there?

[2021-10-06 14:50] #1210 closed

[2021-10-07 16:59] chrismclarke opened #1238 "[bug] - howto search persists after navigation"
**Describe the bug**
When using the search box to find/filter howtos the sort order remains in the howto store regardless of any future navigation events. This is a bit confusing because the search param in the URL does disappear.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to howto page
2. Enter text in search box
3. Follow howto link
4. Click howto in main menu bar to go to howto h

[2021-10-07 17:12] MichalAndrejko commented on #1238
This is something i'd like to work on, please assign me to this issue if available.

[2021-10-07 17:24] chrismclarke commented on #1238
Sounds great! Thanks @MichalAndrejko

[2021-10-17 17:50] thisislawatts commented on #1198
Hey @TinkeringAlways, I wanted to follow up and see how you are getting on with this issue? Is there anything we can help with?

[2021-10-17 17:53] thisislawatts commented on #1197
:wave: Hey @elvezpablo, I wanted to check in on this issue and see if you've had a chance to work on it?

We try to make sure any PRs are reviewed ahead of a monthly dev call (which is the first Monday of each month), so even if you've only got an early stage draft PR it could be a good starting point for discussion 😁

Thanks again for offering to help with this issue ✨

[2021-10-17 18:16] TinkeringAlways commented on #1198
Hey, @thisislawatts I appreciate you reaching out. I was still trying to get setup a week ago when life stepped in and spun me around. I probably won't be able to really keep my head down on the community platform for a few months. So I am taking myself off assignment. Cheers and thanks for checking in!

[2021-10-17 19:28] thisislawatts commented on #1198
Thanks for the fast response @TinkeringAlways 🙇🏻  Sorry to hear that life has thrown you a curve ball, good luck with everything.

If you get any time in the future and would like to share your feedback on getting the project up and running on your machine that would be really appreciated.

[2021-10-17 22:14] patrycjapraczyk commented on #1199
Hi Luke,

I've made a start on the notifications, I wrote some back-end functions and
also looked at the React components but this is not finished yet and I'm
afraid I won't be able to work on this in the following week.

You can see my progress here:
https://github.com/patrycjapraczyk/community-platform/tree/feat/notifications

Best wishes,
Patrycja

On Sun, Oct 17, 2021, 6:47 PM Luke Watts ***@*

[2021-10-21 00:47] danitrod commented on #1211
Re-opening, as apparently the merged PR had no effect in the [example page](https://community.preciousplastic.com/how-to/plastic-medals--free-injection-mould-design). We will have to further debug to find the root cause of this problem

[2021-11-07 20:32] shenoa opened #1256 "[bug] Links broken when inserted into Community contact fields (case-sensitive error)"
**Describe the bug**
When editing the "Contacts and links" section of the https://community.preciousplastic.com/settings page, one of the options is to add a link type called Discord. Any link that is pasted into the text field is reformatted as all lower-case. Any URL that has uppercase letters in the URL is reformatted as lowercase. It is also not possible to type an uppercase letter into the bo

[2021-11-08 14:12] mattia-io opened #1257 "Map Performance"
Hello,

Recently I have had performance issues with the Community Platform map. A few seconds after I get on the map (chrome) my laptop's fans start and seem like it is struggling big time. All other apps are closed. From the activity monitor seems like it is chrome struggling to render the map.

As I quit the map, few minutes later is all back to normal.

Anyone else experiencing such difficultie

[2021-11-09 18:58] thisislawatts commented on #1257
Thanks for the report @mattia-io, I haven't as yet been able to recreate the behaviour. Would you be able to provide a bit more information about your system to help us recreate the issue.

Are you able to recreate the issue in an incognito tab? One hypothesis is that a browser extension _could_ be causing this.

Broadly speaking I am sure there are some optimisations we could make to this page bu

[2021-11-09 19:14] thisislawatts commented on #1256
Thanks so much for taking the time to file your bug report @shenoa, it is really appreciated ✨

It looks like this is the cause:
https://github.com/ONEARMY/community-platform/blob/master/src/pages/Settings/content/formSections/Fields/Link.field.tsx#L50

I think this should be removed entirely in favour of deferring to the user to format a URL correctly. Browsers are fairly tolerate of malformed ho

[2021-11-11 08:17] mattia-io commented on #1257
Hey @thisislawatts thanks for this!

Did try and it actually works soo much better. Crazy that extensions alone can slow the whole thing so badly. Hopefully, I am the only one with such issues. As it was really freezing my laptop. Anything we could do at our end to make sure extension-rich people like myself can still use the map?

[2021-11-12 06:35] thisislawatts commented on #1257
Thanks for the quick response @mattia-io, that is super helpful.

We should be aiming to create a page that requires the least possible resources from our visitors. Whilst your specific combination of extensions may have tipped the total resource usage into being unusable on your machine it suggests there is some improvements we could make to deliver a faster experience for everyone.

Next steps w

[2021-11-15 08:43] tudi2d commented on #1200
<img width="849" alt="Screenshot 2021-11-14 at 21 51 21" src="https://user-images.githubusercontent.com/8904624/141749565-2dbdca0f-b036-4c37-881d-436439c48424.png">

Just a quick update: I started playing a bit around with this yesterday - if I find more time this week, I will create the PR. Does this look like you would expect? What should be the default image? (I just sketched smth. with Excalid

[2021-11-23 14:39] thisislawatts commented on #504
A PR here, which will remove material-ui

[2021-11-23 14:40] thisislawatts commented on #679
According the linked PR this issue has been addressed.

[2021-11-23 14:40] #679 closed

[2021-11-23 14:52] thisislawatts commented on #596
We've not actively worked towards this goal over the last 2 years and I have raised some a few PRs recently which address our use of rebass to ensure we explicitly load the `rebass/styled-components` variant for consistent styling.

I am going to close this issue out in the meantime. Please feel free to re-open with a comment that addresses @chrismclarke questions around indentifying _pain-points/

[2021-11-23 14:52] #596 closed

[2021-11-23 14:55] thisislawatts commented on #394
@chrismclarke do you think this is still valuable? The storybook system doesn't seem to be very well adopted by the current set of contributors. That could be exactly _because_ we are missing this public site **or** simply because for a project of this size it is not necessary. What do you think?

[2021-11-23 14:58] thisislawatts commented on #630
Unable to recreate in the latest version of Safari.

![Screenshot 2021-11-23 at 15 57 56](https://user-images.githubusercontent.com/472589/143048050-353052fb-7b11-43aa-b40e-bb194015a357.jpg)

[2021-11-23 14:58] #630 closed

[2021-11-23 15:15] thisislawatts commented on #754
Thanks for the report @shadiakiki1986.

We are using the default notifications that ship with the Firebase Auth product. These definitely could do with some visual refinement to improve trust signals, but otherwise from a functional perspective these links are behaving as expected.

Please feel free to re-open this issue if you have any outstanding concerns.

[2021-11-23 15:15] #754 closed

[2021-11-23 15:28] thisislawatts commented on #780
I haven't been able to verify that either of those examples still exist within the database. So I am closing for the time being. Please feel free to re-open if you encounter the issue again.

[2021-11-23 15:28] #780 closed

[2021-11-23 15:30] #739 closed

[2021-11-23 15:45] thisislawatts commented on #891
👋🏻 Hey @alromh87, you're assigned to this issue. Is it still something you'd be available to help out on? No worries not, life gets busy! If we've not heard back from you in a month we'll remove your assignment from this issue.

✨

[2021-11-23 15:48] thisislawatts commented on #683
It seems that this issue was fixed as with PRs addressing: https://github.com/ONEARMY/community-platform/issues/1124

[2021-11-23 15:48] #683 closed

[2021-11-23 16:47] thisislawatts commented on #693
👋🏻 Hey @drydenwilliams, you're assigned to this issue. Is it something you'd be available to help out on? No worries not, time passes and proirities change If we've not heard back from you in a month we'll remove your assignment from this issue.

✨

[2021-11-23 16:52] thisislawatts commented on #1155
Hey @leonorader, hope you're well. Have you had a chance to take a look into this issue?
We have our monthly dev call on Monday 6th December where we normally review any open PRs and issues. It would be great to take a look at this one if you've got a draft to review by then.
Let me know if you're having any issues setting up a local dev environment.

[2021-11-26 15:59] chrismclarke commented on #393
Closing as not really doable as a single issue (!) (and slow progress being made on documentation)

[2021-11-26 15:59] #393 closed

[2021-12-02 12:42] davehakkens commented on #1177
came across this map. Looks cool.
Just dumping it here for alternative inspiration
https://www.beehome.design/community/

[2021-12-05 22:46] #447 closed

[2021-12-06 20:49] chrismclarke commented on #1177
Thanks @thisislawatts for reviving this on the call today.

I did a quick bit more investigating and of the 6 options mentioned GeoCode earth is built on top of Pelias, so could be a self-hosted option (albeit they recommend some pretty substantial hardware requirements for hosting which would need to be reviewed).

I think to move things forward the best thing to do would be @davehakkens , if eit

[2021-12-08 20:09] orangejulius commented on #1177
Hi folks,

Co-maintainer of Pelias and co-founder of Geocode Earth here. I check Github for mentions of our work pretty carefully and came across this discussion :)

We often provide free plans for non-profits and other organizations. If self-hosting Pelias is something you're looking at we can also provide a few tips for doing that as cost effectively as possible.

Feel free to shoot us an email

[2021-12-09 23:05] kfern commented on #1198
Hi! I would like to contribute and I started by looking at this issue.

We have 2 problems to solve:

1. IMapPin does not have all the information ("The Verified user data is stored in the V3_users>username>badges>verified"):

[code]

We could getUserProfilePin at processDBMapPins (src/stores/Maps/maps.store.ts) and use IMapPinWithDetail instead of IMapPin when creating the Leflet Maker.

Another

[2021-12-10 14:49] kfern commented on #1198
HI!

I have prepared a proof of concept by querying the user data for each pin and the performance is unacceptable.

@chrismclarke Are you planning to make the change on the backend commented above?

[2021-12-10 14:56] davehakkens commented on #1198
hi @kfern. good to see you here! :)
I just realised this issue is quite entangled in a few others issues.
https://github.com/ONEARMY/community-platform/issues/1163
https://github.com/ONEARMY/community-platform/issues/1197
plus an [open Pull request](https://github.com/ONEARMY/community-platform/pull/1205)

I think the latest approuch agreed on is written [here](https://github.com/ONEARMY/community

[2021-12-10 15:26] davehakkens commented on #546
Not needed at this point

[2021-12-10 15:26] #546 closed

[2021-12-10 15:27] davehakkens commented on #545
Not needed add this point. No spam yet :)

[2021-12-10 15:27] #545 closed

[2021-12-10 15:29] davehakkens commented on #1000
Not on the roadmap for now. Closing the issue

[2021-12-10 15:29] #1000 closed

[2021-12-11 17:12] kfern commented on #1003
Hi @tudi2d

We have more than 100 icons on the map page and this feature will add performance issues; we will have a larger html page (all images will be embedded) and this images cannot be cached by a browser.

Also, as we can see at https://stackoverflow.com/a/23779501/3623553
"when loading multiple times the same image, if it is declared inline, the browser performs a request for each image (I

[2021-12-12 10:05] davehakkens commented on #1177
haha hey @orangejulius. Thanks for popping in here.
Do you think Pelias would be a good fit for our map?
https://community.preciousplastic.com/map

[2021-12-12 12:38] thisislawatts commented on #1177
Reading through [the documentation around full planet] builds of Pelias, I am not sure a self-hosted instance is a good fit given our project constraints. Managing an ElasticSearch install with more than 400Gb is going to require more resources (time/money) than we currently have available. I think a plan with the Geocode Earth, would be a better fit.

[2021-12-12 12:41] thisislawatts commented on #1003
@kfern some additional context [here](https://github.com/ONEARMY/community-platform/issues/1257), as we are already experiencing performance issues on our Map page.

[2021-12-14 15:17] kfern opened #1308 "[bug] yarn storybook: broken build error"
**Describe the bug**
I can't run storybook

**To Reproduce**
git clone
yarn install
yarn storybook

I have a lot of lines like...

      /node_modules doesn't exist or is not a directory
      looking for modules in /home/community-platform/node_modules
        using description file: /home/community-platform/package.json (relative path: ./node_modules)
          Field 'browser' doesn't contain a

[2021-12-14 18:07] thisislawatts commented on #1308
Thanks for raising this bug @kfern, I haven't actually tried getting the Storybook instance up and running before. I will take a look and see what I can find.

[2021-12-14 19:31] thisislawatts commented on #1308
Confirming that I have been able to recreate this locally.

Looking further down the output I was struck by _ModuleParseError: Module parse failed: The keyword 'interface' is reserved (14:0)_ is this something you saw on your machine? It seems like maybe some typescript compilation is not quite right.

As I've never seen this working, I would like to hear if @chrismclarke has any insight on what c

[2021-12-14 19:44] kfern commented on #1308
HI @thisislawatts

I don't see "ModuleParseError: Module parse failed: The keyword 'interface' is reserved (14:0)" but other module parse error like "ModuleNotFoundError: Module not found: Error: Can't resolve '@storybook/addon-knobs'"

[2021-12-14 19:47] thisislawatts commented on #1308
Hm… I did move a few things around in this commit that may have affected things, could you try pulling that down?
https://github.com/ONEARMY/community-platform/commit/5de47620c1d9032c3e5d921c3a0a66c814c61131

[2021-12-14 23:03] orangejulius commented on #1177
@davehakkens yes definitely. The autocomplete functionality from Pelias would fit great there.

Setting up Pelias for a full planet with _all_ the data can be rather costly, but if you want to limit to something like cities only it's pretty manageable. I want to say around 10GB worth of data. Depending on your needs that would certainly be an option.

[2021-12-15 08:01] kfern commented on #1308
Hi @thisislawatts

I have a different error using investivation/bug-report-1308 branch

[code]
ModuleParseError: Module parse failed: Unexpected token (9:27)
  File was processed with these loaders:
   * ./node_modules/@pmmmwh/react-refresh-webpack-plugin/loader/index.js
  You may need an additional loader to handle the result of these loaders.
  | import { HeadingProps as RebassHeadingProps } fro

[2021-12-15 12:28] kfern commented on #1177
Hi!

Could we use open data sets like those in https://www.higithub.com/planetopendata/repo/awesome-world or similar?

The place with highest number of sites on the map is the north of France, with 60.

Do we need to search by location or would be enough by county?

If we do the search by country it would not be necessary to use an external service.

This search only changes the center on the map.

[2021-12-15 13:37] davehakkens commented on #1199
Hi @patrycjapraczyk how is this going?
As mentioned in the meeting i'm sending the icons. Let me know if you need anything else!
[Icons.zip](https://github.com/ONEARMY/community-platform/files/7719739/Icons.zip)

[2021-12-15 14:37] davehakkens commented on #1177
@b-n any suggestions on this? 👆
As a PP map veteran

[2021-12-15 19:45] mef commented on #1257
Hi, I just checked the map on an average laptop, and did not notice any performance issue. Nothing seems to keep running when inactive, and there is no degradation of performance or lag when interacting (click and drag the map, click on markers).

Performance profile attached : [profile.json.txt](https://github.com/ONEARMY/community-platform/files/7722230/profile.json.txt)

[2021-12-15 19:58] b-n commented on #1177
@davehakkens Now you're making me feel old! (and too right, those maps had me beat in 'nam!)

TL;DR: Ditch street level search, look for city/country level search because that's what people probably use it for anyway.

I would go way back to the question which to me is: "How do people use search on the map? And what are they expecting the map to do?

I imagine it's a mix of people that search by:

[2021-12-16 09:41] davehakkens commented on #1177
thanks for the reply @b-n
I think a country dropdown on the front-end could actually be enough, specially knowing it could reduce complexcity.
Most users don't have specific searches but browse areas.

But how would this work for a user to set a pin? You zoom in to your location?
Could see this being challenging in a small profile-admin-screen....

![afbeelding](https://user-images.githubuserconte

[2021-12-16 16:35] kfern commented on #1177
HI @davehakkens

This use case appears to meet the "Acceptable Use Policy for the server running at nominatim.openstreetmap.org" requirements for free API access.
https://operations.osmfoundation.org/policies/nominatim/

API Playground
https://nominatim.openstreetmap.org/ui/search.html

[2021-12-16 19:44] b-n commented on #1177
@davehakkens Yeah, that would be slightly more ideal to have address. But even then, most users do it once, and they generally know where they are situated, so it should be "fairly fast" for them to do it and forget that the "bad" UX ever existed. Could just scale the map to be bigger there too :smile: . Could also throw a "zoom to me" button that asks if the browser can have the users location fo

[2021-12-17 17:32] kfern commented on #1308
Hi @thisislawatts

This bug was introduced on May 10, 2021 by https://github.com/ONEARMY/community-platform/commit/db0b3b3280114ceab255f74be73ca51aa9b2d640

At this point it works (May 8, 2021) https://github.com/ONEARMY/community-platform/commit/098a1f795617ee1b8119701e93b241e4944cf3db
[code]
The following commit caused the error (May 10, 2021) https://github.com/ONEARMY/community-platform/commit

[2021-12-17 18:26] thisislawatts commented on #1308
![Great detective work](https://media.giphy.com/media/42wQXwITfQbDGKqUP7/giphy.gif)

Amazing detective work @kfern1

So if we revert that change were you able to get Storybook up and running against the `HEAD` of the branch?

[2021-12-17 18:42] kfern commented on #1308
@thisislawatts I'm not sure. Could you do it in a new branch?

[2021-12-17 18:52] thisislawatts commented on #1308
@kfern I would definitely like to get this working again, and probably add a CircleCI job that builds the Storybook library so we can keep an eye on this going forward.

Looking at the latest state of `master` we no longer have a yarn.lock within functions 🤔
https://github.com/ONEARMY/community-platform/tree/master/functions

[2021-12-18 09:58] thisislawatts commented on #1308
@kfern, digging into this a little bit this morning, I have been able to build storybook at this point, 28th May:
85aaa9a3fec0047983d03120c3c39983a3d950b4

Are you able to build storybook at this commit?

This is the first workable commit I found after it was moved into a subdirectory, which is good because I was worried the monorepo structure could have been causing this error.

[2021-12-18 12:25] kfern commented on #1308
@thisislawatts. I can confirm that at that commit storybook works 👍🏽

[2021-12-18 12:47] thisislawatts commented on #1308
Thanks for confirming @kfern, I was also able to get this installed and working with, e415cf6ceddd7008ede8068d8a4aa36f965219c8, which was the last commit affecting the contents of `packages/storybook`.

So next steps I guess are to dig in with  `git bisect` between HEAD and e415cf6ceddd7008ede8068d8a4aa36f965219c8, and see what we can find.

[2021-12-18 13:44] thisislawatts commented on #1308
Suspected candidate for causing storybook to break: https://github.com/ONEARMY/community-platform/commit/b864aea

Now to research whatever `nmHoistingLimits` is
https://github.com/ONEARMY/community-platform/commit/b864aea#diff-88fbe28c4102501b94961511a0d70ff895bf39970b4d3fc11917794a239117c5R11

[2021-12-18 18:40] #1308 closed

[2021-12-18 20:40] kfern commented on #1308
@thisislawatts It works 👍🏽 Thank you

PS: I had to delete node_modules and run yarn install

[2021-12-19 06:28] thisislawatts commented on #1308
Good catch, thank you for clarifying that additional clean-up step @kfern ✨

[2021-12-19 14:36] mattia-io commented on #1257
Thanks @mef for checking 💪

[2021-12-20 10:31] #1256 closed

[2021-12-27 08:25] jparadasb commented on #1238
Hey @chrismclarke and @thisislawatts, I was looking into this issue, and I found the following:

1. The search box is preserved in the "howtoStore" because when we navigate back to "howto" page, the SearchBox is fulfilled with the previous search text. This behavior is the same as the "selectedTags", the problem here is the component SearchInput is not triggering the onChange function when the "se

[2021-12-28 09:27] thisislawatts commented on #1257
Thanks for taking the time to profile this page @mef 🙏🏻

Would you be able to share a bit more context on the system you used to conduct this review. For example, CPU/RAM, operating system version and browser details?

[2021-12-28 09:39] mef commented on #1257
Sure:

* Operating System: Debian 10 buster (linux)
* Intel Core i5-8265U
* 16GB RAM
* Browser: Firefox v95
* Firefox's built-in "Enhanced Tracking Protection" feature activated on the website.

[2021-12-28 10:10] thisislawatts commented on #1238
Thanks @jparadasb for taking the time to look into this 🙏🏻

I have pulled the branch down and built it locally.

So if a user takes the following steps:

1. Loaded the howto listing page
2. 🔍 Search for _fish_
3. Clicked away to 'Events'
4. Navigated back to howto listing page
5. Expectation: Search field is empty

If I perform those steps on [your branch](https://github.com/jparadasb/community-pl

[2021-12-28 11:57] thisislawatts commented on #1177
We still have some until Algolia Places is sunset entirely, I think it would be worth introducing some analytics on the LocationSearch component so we can understand how folks are using it.

It may be that we end up splitting the implementation out to a few different components which are more focused on the specific user needs.

Based on the thread so far, I see there being two distinct use cases:

[2021-12-28 13:29] thisislawatts opened #1351 "[bug] Flags do not appear on `Where are you based?` input"
**Describe the bug**

![Screenshot showing alternative text fallback for flag image assets](https://user-images.githubusercontent.com/472589/147570960-2e0b613b-74e2-4945-af0a-9b7c4a32612a.jpg)

**To Reproduce**
Steps to reproduce the behavior:

1. Log into the platform site
2. Navigate to '[the user Settings page](https://community.preciousplastic.com/settings)', via Avatar > Settings
3. See error