[2019-02-27 18:36] #360 closed

[2019-02-27 22:22] tx4x commented on #363
how you want to limit intents, not sure what facebook has, but i guess there is one. common sense tells me 4 intents are pretty on the edge to looking messy

i thought earlier to use the new grid's tree renderer (cant wait to add keyboard) but as always this depends on the store facilities, does the mobx thing supports on a nested tree and how does notifications look like then, API vise though

bo

[2019-02-28 06:17] kopecms commented on #351
About this read/write access to only own doc, don't we want to allow ready other users profile data like display name country (email perhaps)?

[2019-02-28 10:15] tx4x commented on #363
@chrismclarke ,
I will be back as soon I can, max. Monday. I have to sort our unexpected and harsh problems with the bazaar.

[2019-02-28 10:48] #367 closed

[2019-02-28 13:52] chrismclarke commented on #363
What do you mean by intents here? As in what sharing to other media platforms might look like? If so I think that discussion belongs in a different thread, this issue should be a fairly simple one, take an array of data which has a bunch of parent/child key relationships, and create the correct nested tree structure for the data (like the demo in the npm package listed)

Definitely a long way to g

[2019-02-28 14:02] chrismclarke commented on #351
I think what most of this comes down to is whether users will have any private information saved. At this point I'm assuming mostly no, all the information saved in the user doc is what they choose to put into their public profile, however both the id of the doc and a field within contain the email address the user signed up with which they probably don't want to share.

So either we remove relian

[2019-02-28 14:04] chrismclarke commented on #351
The reason any of this matters is because documents retrieved from the database are cached offline to local storage (indexedDB), so a user could easily use any of that data even if not explicitly exposed within the interface, e.g.
![image](https://user-images.githubusercontent.com/10515065/53571833-bc634680-3b61-11e9-99d7-4022ec3447d4.png)

[2019-02-28 14:53] tx4x commented on #363
right,
i though this was a about displaying the reply tree (needs intends)

[2019-02-28 21:25] chrismclarke opened #370 "Authenticated user not shown as logged in"
child of #8
I log in successfully however the sign in modal doesn't dismiss and I can still click the button to log in. I'm assuming this is because my email isn't verified? Would be good to have a clearer indication that is the case and mechanism to resend verification email.

![image](https://user-images.githubusercontent.com/10515065/53599540-509fce80-3b9f-11e9-8d42-daed8b2e1816.png)

(screensh

[2019-02-28 23:21] chrismclarke commented on #363
it is, but I'm not sure what you mean about intends/intents... not a term I'm familiar with given the context so please elaborate/post link/or just ignore me :D

[2019-03-01 00:07] tx4x commented on #363
it's written indent, not intent, sorry :p

[2019-03-01 01:17] kopecms commented on #370
it's a feature ;p I have added link below the form for password (it will show up when email is not verified) #371. I want to work during weekend on this a little more and hopefully close all related to registration/confirmation issues (probably besides styling)

[2019-03-01 11:21] tx4x commented on #363
@chrismclarke , so somebody is there to review/merge PRs ? i have some stuff for Monday: filterbar, and with some luck agolia search

[2019-03-01 19:12] jameswakefield commented on #361
@mattia-io: what is the desired behaviour for the presentation of the cover image? Does it need to be a certain width/height or can it be displayed at it's original dimensions? The 'styled-component' `<CoverImg>`:https://github.com/OneArmyWorld/onearmy/blob/d914803e8b92121d8fb237442a8047958caa4996/src/pages/Howto/Content/Howto/HowtoDescription/elements.js#L31-L35 has styling that makes the `<img /

[2019-03-02 19:18] jameswakefield commented on #361
Proposed fix from @flakessp fix in PR: https://github.com/OneArmyWorld/onearmy/pull/372

[2019-03-02 23:16] chrismclarke commented on #363
Oh, that makes a lot more sense. Yes I see what you mean, we can't keep infinitely nesting... not really sure how other sites handle that sort of thing

[2019-03-02 23:16] chrismclarke commented on #363
I'll be checking PRs when I can, generally benji also reviews on Tuesdays, but typically more focused on the frontend stuff

[2019-03-03 03:13] RangerMauve commented on #344
Hi, I really like the effort you're putting into making a usable tool for decentralized organization.

One of the focuses that stood out to me was the focus on making things work offline in addition to offline.

With that in mind I was wondering if you'd be interested in integrating P2P technologies instead of a traditional centralized back-end in order to give users of the tool more power over th

[2019-03-04 07:52] tx4x commented on #363
Good morning, maybe it's better that someone from the ux department takes a look at it first .

[2019-03-04 10:44] BenGamma commented on #260
I think this was implemented with the creation of the backend for post by tx4x, right ? @chrismclarke

Did you start working on it @vatsan28 ?

[2019-03-04 11:01] BenGamma commented on #361
Closed with #372
Thanks guys !

[2019-03-04 11:01] #361 closed

[2019-03-04 14:18] BenGamma opened #374 "[research] Dat protocol"
Interesting Dat protocol suggested by @RangerMauve :

I would say yes we are interested to build a plateform that will not depends on big corporations such as google or amazon but since it's a lot of effort and work to avoid, and because we don't have the necessary work force (for now) to build and maintain our how backend, we choose this solution. I suggest you have a look at [this wiki section](

[2019-03-04 14:20] BenGamma commented on #344
@RangerMauve just moved your question in a dedicated issue #374

[2019-03-04 15:53] BenGamma commented on #363
Hey mornin' @tx4x !
The design team is currently working on that and will be answered soon with some more precise mockups. For now you can consider that there is one indent on the first reply to a comment and then replies stays on the same indent level.
The data structure would look like so :
* a discussions_collection
* that contain a comments_collection
* each comment in the comments_collection

[2019-03-04 15:59] tx4x commented on #363
crystal clear! thanx for the heads up
g

[2019-03-04 19:08] tx4x commented on #215
@BenGamma things got here a little bumpy, i have to manage 2 other teams on the side so i have only 12 hours per week for the next weeks ;-)
however, this week, in this order:
1. filter bar (native select widget or material ? ) implementation : basics only, just to get stuff working
2. use the filter system to provide some 'view' presents : default, most liked, etc.. i will have to look into the m

[2019-03-04 20:13] BenGamma commented on #215
No worries, it's already helping a lot :)

1. Would prefer if you start working with the `src/pages/common/FilterBar` which uses the `src/components/Selector` instead of material-ui
2. Are you talking about the list sorting or the filter sorting ? Because I need to clarify list sorting with design team, meeting planed for tomorow morning, I'll keep you updated with the needed view in this thread.

[2019-03-04 20:21] tx4x commented on #215
great, thanks @BenGamma

[2019-03-05 07:15] chupakabra commented on #359
I think I will focus on that this week
@chrismclarke, @mattia-io

[2019-03-05 09:50] tx4x opened #377 "missing dependency : queryString"
i pulled this morning from master and yarn start aborted with missing dependency 'query-string', referenced by src/pages/Home/EmailConfirmation.tsx

[2019-03-05 10:06] #377 closed

[2019-03-05 11:03] mattia-io commented on #359
NIce one @chupakabra 🙌

[2019-03-05 11:04] mattia-io commented on #347
@suvya is on this

[2019-03-05 11:12] tx4x commented on #215
2. yes, filtering (#244 ) will be implemented as follows:

- the filterbar will emit an event with a payload {prop:'categories|projects|tags' , value: 'selected value' }
- the very payload will be transformed to an Boolean filter expression :

[code]
that expression will be consumed by src/pages/Discussions/common/filters.ts. this also allows combining
a search text (title expression) :

filters:

[2019-03-05 11:14] tx4x commented on #215
so the filter key 'prop' equals to a property key in the retrieved posts, there is still some tuning needed in the data (and mocks)

[2019-03-05 12:06] tx4x commented on #245
hey guys, no idea what to do in the backend yet. I'd prefer to wait that also the post's type/category is implemented first.

[2019-03-05 12:46] kopecms commented on #351
Maybe deleting email address from users doc is not that bad idea (we can add private data doc later when needed). Displaying discussion or any other entity anyway require downloading users public profile. So maybe I will replace email with id generated when creating Authentication profile? And add avatar and other public data to /users doc?

[2019-03-05 13:38] tx4x opened #378 "App-size getting too big"
not sure what the limit should be, but the build in master ends in 1.7 MB where 700Kb is for JS files alone.
i understand that certain parts will be removed, like material ui..I just wanted to bump this here as notice :-)

[2019-03-05 13:42] tx4x commented on #378
just as reference, I've managed to develop a full and pretty complex IDE with around 2MB in app size some years ago (see https://github.com/tx4x/control-freak/issues/1)

and so from what i see under /discussions should not exceed 250 KB in JS. i know it's a little blunt to make this comparison but lets please take care a little

[2019-03-05 14:23] BenGamma commented on #378
the current scan of the package.json point the material-ui icon as a really really bad guy 😈

https://bundlephobia.com/scan-results?packages=@ephox/sand@2.0.11,@material-ui/core@3.7.1,@material-ui/icons@3.0.2,@sentry/browser@4.6.3,@tinymce/tinymce-react@3.0.1,@types/rebass@3.0.3,@types/styled-components@4.0.0,@types/styled-system@3.2.2,@types/dompurify@0.0.32,bfj@6.1.1,date-fns@1.30.1,dompurify@1.

[2019-03-05 14:31] BenGamma commented on #215
Ok, still seems a bit abstract to me but I'm sure it would be clarify with some code to look at.

To precise about the list sorting, there will be 3 type of sorting :
* Latest
* Most comments
* Most useful

[2019-03-05 15:48] tx4x commented on #215
sure, sorting is handled with the grid library in place which only needs slight extra helpers to work.
about the first filter expressions, for instance one which takes selected tags, selected categories, search term into account : i will post here something tomorrow but more or less here is one example which filters the posts by a time threshold and selected tags : https://github.com/OneArmyWorld/

[2019-03-06 09:46] tx4x commented on #374
I think it would be already good step to have for most modules an exporter in mind. PDF or the like. So a user can select the parts he wants to print (for presentation) or download. Not sure yet how to get HTML to PDF but there are tools though. Having monthly printable issues isn't exactly a new thing, I always enjoyed those magazines and especially how-to content is good to have as book/magazine

[2019-03-06 10:07] tx4x commented on #328
hi,
so after checking, i can't get my head around firebase in conjunction with mobx and now building agolia search in top. for that I seem to miss the bigger picture, more documentation or just learning the whole stack.

[2019-03-06 10:50] BenGamma commented on #257
On pause for now, waiting on redesign by the end of the week

[2019-03-06 10:51] BenGamma commented on #244
On pause waiting on redesign by the end of the week

[2019-03-06 11:24] BenGamma opened #379 "remove material-ui icon"
Removing all occurence of any material-ui based icon. Use instead our own component `src/components/Icons` based on react-icons.
child of #378

[2019-03-06 16:23] BenGamma opened #381 "Discussion post save appear to be broken"
To reproduce :
* try to create a post on http://localhost:3000/discussions/create
* open the console
* click on save button
Then kind of an infinite loop starts, it's a console.log from the `_createNewDiscussion` function in `src/stores/Discussions/discussions.store.tsx`

Then the loops keep going and post is not saved in `discussions` collection. Do you have an idea on what append here @chrismcla

[2019-03-06 16:43] BenGamma commented on #381
The saveDiscussion function was call inside herself, wich causes the infinite loop. Fixed with previous commit. It's probably due to a moment of inattention from a previous merging.

The post still doesn't appear in the database thought. I keep it open.

[2019-03-06 18:58] RangerMauve commented on #374
Yes and no. Right now there's only one browser that supports Dat out of the box: http://beakerbrowser.com/. It gives the best experience and makes full use of the P2P tech.

However, we've been working on [dat-js](https://github.com/datproject/dat-js#readme) which gives you the ability to pull data off of the Dat network using WebRTC for P2P, paired with gateways to pull and push data to the rest

[2019-03-07 16:00] tx4x commented on #381
yup, i tried explaining this to @chrismclarke  already, i tried debugging it but as often, that react/mobx magic makes it hell

[2019-03-07 17:23] BenGamma commented on #381
Can you point me to the related issue or discussion where you tried to debug ?
This is pretty critical and I would like to try to fix it as quick as possible.

[2019-03-07 18:05] tx4x commented on #381
i think it was within the 'TinyMCE editor doesn't clear', but me and him didn't know much about nor what to do.

[2019-03-07 19:16] tx4x opened #386 "Now - Project - Forum Account DELETED"
hi, once again our account in the forum got deleted, I guess you don't like people asking critical questions ? what's up ?

just to let you know, the collected media, links was a result of endless hours of work, on a volunteer base, full-time.

wtf is going on please ?

[2019-03-07 20:42] #386 closed

[2019-03-07 20:42] tx4x commented on #386
i am pretty pissed, i am leaving.

[2019-03-07 23:12] tx4x commented on #381
@BenGamma , @chrismclarke , @davehakkens, @mattia-io : your mod is running mad, please take care that our personal names are removed from the posts. this is illegal and you don't have our authorization to do so because if not you're in serious trouble with me. i don't want to end this in a stupid drama, you've already done enough this way.

see : https://davehakkens.nl/community/forums/topic/porta

[2019-03-07 23:18] tx4x commented on #381
@BenGamma , @chrismclarke , @davehakkens, @mattia-io : the name are still there. i am waiting

[2019-03-07 23:31] tx4x commented on #381
@BenGamma , @chrismclarke , @davehakkens, @mattia-io

[2019-03-07 23:46] tx4x commented on #381
@BenGamma , @chrismclarke , @davehakkens, @mattia-io : i understand you have to protect all your lies with even more lies but you're crossing the line when you put others through your dirt machinery (oliver)

anyways, I am on on my way to Eindhoven. will be there in around 30 hours of a shitty drive. I hope you have a good apologize to destroy all our content (again) and a real good explanation wh

[2019-03-08 00:02] BenGamma commented on #381
Hey, I don't really understand what's going on here. If you want to recover data it's probably doable but I have no clue on how to do this right now since it's 1am and I don't have any hand on the forum server. I suggest we'll found a solution tomorrow after a good night of sleep.

[2019-03-08 00:08] tx4x commented on #381
it's about hillarious lies, about one of our associates, she's been put through the dirt by one of you mods in the most miserably way. we also gave no authorization to use her full name. i don't mind about the loss of $$, time and content (for now) over the last 12 years, created by all the other lies but this one goes too far.
So reach out Oliver, to remove the name and remove his dirt machinery

[2019-03-08 00:19] tx4x commented on #381
just to make it clear: we're looking here not just the damages you've created already with the PP docs/kit, this is also now about false accusation against some of us, illegal distribution of private names. so you better make this right ASAP. sorry to say it like this but that's crap at hand there you don't make much friends here, with the court or friends in Eindhoven, but no worry. I am reasonab

[2019-03-08 00:46] BenGamma commented on #381
All I know is that we've been colaborating here since a month and yeah you seems reasonnable and a dedicated contributor. The rest I'm not aware of and it seems to take unwanted proportions for everyone. Will see tmrw how to reach this Oliver (that I've never heard about before now) to make the light on this.
That beeing said you may don't but I care about the fucking time and how you talk to peop

[2019-03-08 03:26] suvya commented on #347
@chrismclarke Can you please provide more details on this enhancement and also I read that it requires a login fix, Please help me understand if I have to address it first?

[2019-03-08 07:50] tx4x commented on #381
baumgart.guenter02@gmail.com

you guys have to understand that crimes like false allegation public, putting people though the dirt having nothing to do is crossing the line once again too often. we expect from you a complete and public apology in the forum and via email.

your organisation already causes enough damage to others but the behaviour of Oliver goes to far.

[2019-03-08 11:32] BenGamma opened #387 "add code_of_conduct.md"
based on https://www.contributor-covenant.org/

[2019-03-08 14:25] tx4x commented on #381
after consulting/feedback a lawyer and our mutual user base , in that email we need also an official statement why reference material of our users/clients team-members has been knowingly rendered useless and basically destroyed, without any prior consensus or ability to archive. we also demand a full of copy of that destroyed content.

i know things like laws/responsibilities aren't exactly your f

[2019-03-08 15:34] BenGamma commented on #387
closed with #389

[2019-03-08 15:34] #387 closed

[2019-03-08 15:47] chrismclarke commented on #378
yeah I think we should push to remove all material-ui/icons over the next couple months as the rest of design moves forward

[2019-03-08 17:08] tx4x commented on #381
@BenGamma , @mattia-io
Can you confirm there will be an email conversation to lift this or not ? Because we consider your recent actions as extreme hostile against, us as team, us as individuals and our users.

[2019-03-08 20:17] tx4x commented on #381
@BenGamma  @mattia-io so we tried recovering at least our community efforts, that are lots of hours of other people btw. but as response David the guy in charge for our PP activities got just banned just for asking to recover the content.

with that you've cut any possibility to fix our bazaar payments, outstanding payouts from 6 weeks ago which is also a pretty tough disaster for some of us and q

[2019-03-10 10:06] chrismclarke commented on #347
Hi @suvya, this isn't a good issue to pick up and hence why it has not been marked with the `good first issue` or `help wanted` tags. It is minor and I plan to do it myself. It is simply to add to the existing database functions to populate the user id on creation of new database objects (basically one line of code), so really not worth worrying too much about

[2019-03-10 10:24] chrismclarke opened #391 "Use of GraphDB to provide recommendations"
Ben (yet another one!) from the community recently reached out to discuss use of graphDB to link into a recommendations system. It would be good to use this issue to share any thoughts on this. Could you outline your thoughts and investigation so far **Ben**?

[2019-03-10 17:24] martisj commented on #381
I have a pull request to allow saving discussions again.

[2019-03-10 21:21] #22 closed

[2019-03-10 21:21] #370 closed

[2019-03-10 21:26] chrismclarke commented on #245
Cool, I didn't manage to find any time this weekend but will put this up my priority list perhaps for one evening this week.

[2019-03-10 22:19] chrismclarke commented on #351
I think that probably makes the most sense at this point. I'm guessing we could also save the user doc using that same id.

[2019-03-10 22:22] chrismclarke commented on #378
Although remember, even if the scan shows a package is large if it's been imported correctly then only small parts of it will be included in the final build (so removing the entire package is unlikely to affect the production bundle size very much at all)... but still, nice to not have multiple competing systems

[2019-03-10 22:29] chrismclarke commented on #328
Yeah, I think at some point I really need to build a systems/architecture diagram because I can see how it would be confusing. It doesn't help that firebase is a term for a family of different products (so not just the database used), and sits on both front and back ends in different formats. I'll add an issue to try and address this at some point in the future (although will likely be a couple we

[2019-03-10 22:36] chrismclarke opened #393 "Document full system architecture"
As mentioned in #328, it's a bit confusing for seasoned devs and newcomers alike to understand the full platform architecture unless already quite familiar with the stack. Probably a good excuse to play around with cloudcraft. If anyone feels like they have a good understanding of the full platform they are welcome to take this on, otherwise happy to do it myself when I can find the time.

[2019-03-10 22:48] chrismclarke commented on #374
Quite simply, we want to build something that will be easily accessible to people around the world and as simple as possible to maintain. Whilst I'm strongly in favour of the ethos behind decentralisation, I don't think such bleeding edge technologies would be right for our project at this stage.

I'm going to close this issue for housekeeping purposes, but still feel free to add any further comme

[2019-03-10 22:48] #374 closed

[2019-03-10 22:52] chrismclarke commented on #374
Cool blog article also!

And @tx4x , yes there's plenty of html->pdf out there (usually build on top of pdf.js), they can be a little bit fiddly but still for the most part workable. Data export options is something I hadn't thought about at all but could see how they could be very useful for different contexts. Feel free to create a separate issue if you wish to talk about these further.

[2019-03-10 22:59] #381 closed

[2019-03-10 23:02] chrismclarke opened #394 "Add automatic deployment for design storybook"
Should add build and deploy scripts to let the design storybook be available. Easiest way is probably to host on github pages:

https://storybook.js.org/docs/basics/exporting-storybook/
https://github.com/storybooks/storybook-deployer
https://docs.travis-ci.com/user/deployment/pages/

Once deployment sorted can add a custom domain to make more easily accessible

Note, this will probably need to be

[2019-03-10 23:07] chrismclarke commented on #260
I created a placeholder to get started with so perhaps let us know if you have got stuck @vatsan28 , or if you have been unable to find time then what your current estimated timeline is

[2019-03-11 08:10] mattia-io commented on #227
@sanjuskm05 I know you said you won't be able to help us anymore for the time being but are you gonna complete this issue or shall I de-assign you from this?
Thanks for your work so far 👊

[2019-03-11 08:18] mattia-io commented on #374
Thanks for everyone's inputs on this topic. As @chrismclarke mentioned it is a dear topic to us but we have to be pragmatic with our resources at the moment as our priority number one is to go live before the end of summer. Don't get us wrong, we kinda hate Google and Amazon but for the time being they offer the necessary ease of implementation and reliability that we need to get the project off t

[2019-03-11 08:21] mattia-io commented on #184
@harrier91 I am gonna have to assign this issue to someone else for now unless you will confirm you want to deliver this

[2019-03-11 08:28] sanjuskm05 commented on #227
Thanks. Please unassign it

[2019-03-11 08:30] RogerKemp commented on #374
@tx4x and @chrismclarke - have a look at this url to PDF api @SpaceK33z forked https://github.com/Volst/url-to-pdf-api

[2019-03-11 08:35] chrismclarke opened #395 "Data/Page Export Options"
It had been suggested that we might want to start thinking about options for people to export data from various pages/endpoints, such as pdfs
(see #374 )

One way to do this suggested was to use: https://github.com/Volst/url-to-pdf-api, which uses puppeteer to genenerate pdfs for page urls. Any more discussion on either general or specifics welcome in this thread.

[2019-03-11 08:35] chrismclarke commented on #374
Awesome @RogerKemp! I really like the approach to use headless chrome to generate, likely much more robust than pdf.js. Will note this and move discussion to a different thread (#395).

[2019-03-11 10:08] BenGamma opened #396 "define subdomain & deploy storybook on CI build"
See details in #388 description

What subdomaine you think will fit the most @mattia-io ?

I suggest :
* design-system.onearmy.world
* ui.onearmy.world
* components.onearmy.world

[2019-03-11 10:17] BenGamma commented on #396
duplicate of #394 closing

[2019-03-11 10:17] #396 closed

[2019-03-11 10:21] BenGamma commented on #394
Yes github.io deployments seems a good option, and we will not need a subdomain but a url path in that case.

We could do */ui* or */design-system*

[2019-03-11 11:27] BenGamma commented on #32
Frontend structure is now defined and explained in the [dedicated wiki section](https://github.com/OneArmyWorld/onearmy/wiki/Frontend)

[2019-03-11 11:27] #32 closed

[2019-03-11 11:29] BenGamma commented on #152
After redesign, this is no longer up to date. Pictures of a step are selected one by one to allow a display order of the pictures.
Closing.

[2019-03-11 11:29] #152 closed

[2019-03-11 13:26] harrier91 commented on #184
Some changes I did were merged already into master, I'm not sure what more should be done about it. Which is the definition of done of this task? Because I think some pages are not ready yet

[2019-03-11 20:37] martisj commented on #192
I am going to have a stab at this on the airplane to Norway. In case anyone wants to assign this to me 👏

[2019-03-12 08:13] mattia-io commented on #343
@vatsan28 wanted to take this on.. @chrismclarke are you already working on it?

[2019-03-12 10:29] mattia-io commented on #184
Hey @harrier91 thanks!

@chrismclarke is there anywhere we can check this?
Have the global site pages (even placeholders) already been created?

[2019-03-12 11:48] BenGamma commented on #184
@harrier91 I can't find any PR from you, can you point us to your changes ?

As discussed in #186 the behavior here is to create the navbar of the landing page on onearmy.world (eg mockup on thread top). On click on the top right button, user is redirected to community.onearmy.world

[2019-03-12 12:58] harrier91 commented on #184
I was referring to this one, but I've just noticed that it was closed, not merged, sorry:

https://github.com/OneArmyWorld/onearmy/pull/376

Anyway that should work as switch if I understood right.
In case that's not the correct change feel free to assign this to someone else, as I don't have much time next weeks.

[2019-03-13 04:06] seanbrookes opened #397 "Type 'undefined' is not assignable to type 'string'. TS2345"
Hello,  I came across this project doing some research into DIY recycled plastic extrusion machines.

I've been developing web applications for long time so I was pretty excited to see you are using React / Node. Hopefully I can help out.

I cloned the repo to get up and running and ran into a typescript compile error in Action.tsx file in the pages/home folder:

[code]

I'm comfortable with React

[2019-03-13 09:59] chrismclarke commented on #394
I'm not sure how easy it will be to direct a url path to a different domain, if possible to do with a subdomain once deployed onto github pages that would be a lot easier to setup. Personally I like the sound of design.onearmy.world

Do you want to try and handle the github pages deploy? Otherwise add a `help-wanted` label and there might be somebody who has done this before (otherwise I'm happy t

[2019-03-13 10:04] chrismclarke commented on #192
Great, I've removed the `help wanted` label and sent an invite to you to join the project so I can officially assign. Let me know when you've joined.

As for the slugs, the database store object has a function called `queryCollection` which can be used the find documents where slug == ..., and use the length of the return to determine whether unique or not.

[2019-03-13 10:05] chrismclarke commented on #192
(the queryCollection in this implementation builds directly on top of firestore's own methods, with more info here: https://firebase.google.com/docs/firestore/query-data/queries)

The reason for separation is in case we ever want to migrate to a different database provider

[2019-03-13 10:07] chrismclarke commented on #227
Thanks for the update, I see you have been unassigned and I have just added back the `Help wanted` label. I would suggest you unsubscribe from the thread if you wish to stop receiving notifications on it (totally optional of course)

[2019-03-13 10:08] chrismclarke commented on #343
I think this warrants discussion, so if @vatsan28 wants to take a look and make a proposal we can determine how best to implement.

[2019-03-13 10:15] chrismclarke commented on #184
I'm not fully up to date on this so will leave for @BenGamma to resolve as he seems to have been involved with the previous PR. Thanks for the update @harrier91 .

[2019-03-13 11:06] kopecms commented on #397
sorry my bad.. #398

[2019-03-13 11:17] BenGamma opened #399 "load avatar from userId instead of email"
For now the `src/components/Avatar` component takes a prop `userEmail`, which is the post._createdBy field of a post.
As discussed in #351 would be better to use the user id, to avoid exposing user email adress in post data.

We need to populate the `_createdBy` field of a `discussion` object with the id of the user instead of his email adress and create a method to load user infos from this id.

[2019-03-13 11:19] BenGamma commented on #351
created new related issue #399 for using user id instead of email since Avatar component is now created and merge

[2019-03-13 11:19] #351 closed

[2019-03-13 11:20] #397 closed

[2019-03-13 15:21] BenGamma opened #400 "use native @devexpress/dx-react-grid instead of material-ui dependent"
We are using [dx-react-grid](https://devexpress.github.io/devextreme-reactive/react/grid/docs/guides/getting-started/) to build the discussion list (#215)

On the process of removing material-ui from the project, we'll need to replace @devexpress/dx-react-grid-material-ui with the native @devexpress/dx-react-grid and our own styling.

child of #378 & #379

[2019-03-13 15:35] BenGamma commented on #394
In the first place we need to add more components to the storybook.

Then I'll do it no problem, that's something I wanted to dive in.

[2019-03-13 16:27] martisj commented on #192
There we go! I've assigned myself and will sit down after work today 👏

[2019-03-14 14:20] vatsan28 commented on #343
Talking about a possible approach with Chris on slack.

[2019-03-14 16:25] BenGamma opened #402 "[pages] Discussions overview"
Last update 28/03/19 (BenGamma)

Child of the Discussions module #213
This issue is the main reference for the work done on the page : discussions overview.
Link to interactive prototype can be found in the related parent issue.
### Page infos
* Url : `/discussions`
* Path in codebase : `src/pages/Discussions/PostList`

### Description
List view of all the discussions

## Page components splitting

[2019-03-14 16:48] BenGamma commented on #402
Related issues :
PostList #215 #400
FilterBar #244 #245 #328

[2019-03-14 17:10] BenGamma opened #403 "Discussions overview - postTypeFilter component"
The discussion overview page (#402) will need a postTypeFilter component like so :

<img width="550" alt="Capture d’écran 2019-03-28 à 17 22 11" src="https://user-images.githubusercontent.com/4993215/55174616-10237880-517e-11e9-8579-7705a19a520c.png">

The best approach to me for now would be to create a stateless component that takes a `typesFilter` object array as props, which describe the fil

[2019-03-14 17:42] chrismclarke commented on #343
(my comment from discussion)
Whenever data is sent to firebase in date format it is stored in date format, but when retrieved date objects are replaced by firebase's own custom timestamp object. So we need to decide whether happy to use that (and if so find a way to ensure all typescript interfaces use the correct format and people are aware in the future), or find a way to force firebase to pass

[2019-03-15 11:22] tx4x opened #404 "TinyMCE plugins"
hi,
I guess you guys have now an idea about TinyMCE. For now we have custom image insert plugin (not finished : upload multiple pictures).
The next plugin candidates :

1. embed video : YouTube, ...
2. embed social : Instagram post, ...
3. translate post : not urgent but enabling users to translate how-to articles seems needed at some point.

However, as always this adds js code to the editor but

[2019-03-15 11:27] tx4x commented on #404
ah, i just realize, most plugins can come with lazy load for plugins, so it's not a real issue. I just want to know what's on the road map.

[2019-03-15 11:30] BenGamma commented on #214
Updated mockups :
<img width="1238" alt="Capture d’écran 2019-03-15 à 11 28 38" src="https://user-images.githubusercontent.com/4993215/54428461-dbdf9f00-471d-11e9-9fb3-c7941b46d3cb.png">

[2019-03-15 11:43] BenGamma opened #405 "Discussions overview - PostListRowMetas component"
Last update 28/03/19 (BenGamma).

The discussion overview page (#402) will need to display some information from the post in a postListRow :

<img width="1297" alt="Capture d’écran 2019-03-28 à 17 52 04" src="https://user-images.githubusercontent.com/4993215/55176918-5ed31180-5182-11e9-81b3-21425fa25e94.png">

 It rendered the `src/components/Avatar` component, the post `title` file using a head

[2019-03-15 11:53] BenGamma opened #406 "PostTags component"
Updated 18/04/19 (BenGamma)
## Component infos
### Description
We're gonna use a **PostTags** component to display all the tags contained in a post.

### Page related
Will be used in :
* How-to post view (#420)
* How-to overview (#419)

### Mockup

<img width="168" alt="Capture d’écran 2019-04-18 à 14 19 28" src="https://user-images.githubusercontent.com/4993215/56360511-26ed4600-61e5-11e9-909f-

[2019-03-15 12:04] BenGamma opened #407 "Discussions overview - postListRowInteractions"
The discussion overview page (#402) will need a postListRowInteractions component like so :

<img width="427" alt="Capture d’écran 2019-03-15 à 12 24 28" src="https://user-images.githubusercontent.com/4993215/54429890-0e8b9680-4722-11e9-87c5-eb2504288d94.png">

It will render the common components `usefulCounter` & `viewsCounter`

Will also render the `postType` element, which in that case doesn

[2019-03-15 14:02] BenGamma commented on #404
The editor is still not finished yet by the design team. We'll provide a proper roadmap and feature list when ready.
Youtube embed sounds like a strong candidate thought.
And what about user mentions discussed in #246 ?
Also is #349 done ? I haven't follow what happend there

[2019-03-15 14:30] tx4x commented on #404
1. youtube: ok, i hope one those video players has it maybe
2. user mentions discussed in #246 : need an API to retrieve/resolve users, but i have to check it's there already
3. #349 : i dunno, it should but let me check against master again

[2019-03-15 14:52] BenGamma opened #409 "[pages] Discussions Q&A post"
Last update 25/03/19

Child of the Discussions module #213
Link to interactive prototype can be found in the related parent issue.
This issue is the main reference for the work done on the page : discussions Q&A and Talk post.

## Page infos
* Url : `/discussions/<post-slug>`
* Path in codebase : `src/pages/Discussions/PostView`

### Description
When a user post a message, it can be of two type :

[2019-03-15 14:53] BenGamma commented on #253
closing cause reorganizing in #409

[2019-03-15 14:53] #253 closed

[2019-03-15 17:47] BenGamma opened #410 "badge component"
## Component infos
### Description
A `badge` component to display multiple informations. Can be the status of a post or of a comment, later may for other usage.

### Page related
Will be used in :
* Discussion Q&A post (#409)

### Mockup

<img width="396" alt="Capture d’écran 2019-03-20 à 18 01 30" src="https://user-images.githubusercontent.com/4993215/54704077-5d7a6700-4b3a-11e9-9f21-d1f547b10d

[2019-03-16 15:17] sam-heller commented on #241
Gonna grab this as a way to get my feet wet with the platform (ping @mattia-io ).

Standard doctrine around this seems to require using something like [fluent-ffmpeg-extended](https://www.npmjs.com/package/fluent-ffmpeg-extended) or something else that wraps [ffmpeg](https://www.ffmpeg.org).

Are there any issues around requiring the installation of ffmpeg binary to be installed? My read seems to

[2019-03-16 16:37] sam-heller commented on #241
oooor I could RTFM and see that it's all firebase. [ffmpeg-static](https://github.com/eugeneware/ffmpeg-static) it is

[2019-03-16 20:34] tx4x commented on #410
eventually that's the time to introduce a flag, ie : LOCKED|PINNED|SOLVED,CLOSED etc..

[2019-03-17 11:48] tx4x commented on #393
maybe some on-boarding videos would do the job. doing good docs takes an insane amount of time. worsening is that those docs become obsolete  often in no time.

with a onboarding video you just need to show where is what, on case to case base. i think most confusing comes with mobx/firebase and cloud functions (which unnecessary bloat to me but ok), if you can point out how to add new fields, clou

[2019-03-18 09:22] tx4x opened #413 "Create@Discussions : Firestore errors"
good morning,
i wanted to proceed the works on TinyMCE,
opening the page gives me endless errors:

![image](https://user-images.githubusercontent.com/1205100/54519764-8e567280-4967-11e9-9681-11441d283a9c.png)

I dont know cypress but i am putting now my puppeteer-cucumber test suite locally in place to prevent this loss of time ;-)
g

[2019-03-18 20:24] martisj opened #414 "Upgrade react-router to v5.0.0"
Since we encountered the bug referenced here: https://github.com/ReactTraining/react-router/issues/6630
Consider upgrading to v5.0.0.
https://github.com/ReactTraining/react-router/releases/tag/v5.0.0
They offer an official apology even 👏 😄

[2019-03-19 13:13] BenGamma commented on #404
what do you mean ? if it has an integration for tinyMCE ?
2. user api in not on top of priority now but feel free to create a issue to suggest it. You can check with the label:Backend on issues list which are the one working on now

[2019-03-19 20:32] tx4x commented on #404
good evening @BenGamma

1. youtube: i'd prefer to make this as custom plugin. if it comes to media, v4 shouldn't fall short..

I recently pimped a react based video player to the max, which can deal with vimeo, youtube, images, from url, etc... what was more amazing it has a built-in playlist; I'd love that player can play hole categories or selected filters, for instance : recent posts (endless..

[2019-03-20 22:56] #404 closed

[2019-03-20 22:56] #413 closed

[2019-03-20 22:57] #378 closed

[2019-03-21 09:25] BenGamma commented on #413
As a reference, @rudolphfunk is working on #266 to implement unit test. I will merge #411 today, that looks to be a good starting point.
We want to avoid this loss of time, sorry for inconvenience.

[2019-03-21 13:37] #414 closed

[2019-03-22 09:20] BenGamma commented on #241
I suggest you have a look at the [functions folder](https://github.com/OneArmyWorld/onearmy/tree/master/functions/src), we already have a function that converts images. The idea would be to allow it to also convert gifs into smaller video.

[2019-03-22 09:53] BenGamma opened #419 "[page] How-to list view"
Last update 18/04/19 (BenGamma)

Child of the How-to module #3
Link to interactive prototype can be found in the related parent issue.
This issue is the main reference for the work done on the page : How-to overview

## Page infos
* Url : `/how-to`
* Path in codebase : `src/pages/Howto`

### Description
The list of all the how-tos

## Page components splitting :
**Legend**
* Red encased elements a

[2019-03-22 10:00] BenGamma opened #420 "[page] How-to post view"
Last update 18/04/19

Child of the How-to module #3
Link to interactive prototype can be found in the related parent issue.
This issue is the main reference for the work done on the page : How-to post view

## Page infos
* Url : `/how-to/<post-slug>`
* Path in codebase : `src/pages/Howto/Content/Howto`

### Description
View a how-to post

## Page components splitting :
**Legend**
* Red encased ele

[2019-03-22 10:54] BenGamma opened #421 "how-to summary component"
## Component infos
### Description
We're gonna use a **howtoSummary** component to allow user to easily navigate between the different steps that compose a how-to.

### Page related
Will be used in the how-to post view (#420)

### Mockup
<img width="154" alt="Screenshot 2019-03-27 at 11 01 59" src="https://user-images.githubusercontent.com/17761877/55067363-dc622900-507f-11e9-83b2-8c7430f6a2e7.png

[2019-03-22 14:47] #2 closed

[2019-03-22 17:28] 007vasy commented on #391
The idea is to build a graph based recommendation engine for the bazar.

[Here is how](https://www.kaggle.com/ironben/rdbs-to-graphdb-neo4j-network-approach)
[Tech example](https://neo4j.com/developer/guide-build-a-recommendation-engine/)

[2019-03-22 22:58] vatsan28 commented on #343
I looked at the code to identify where we use date time attributes other than the defaults `_created` and `_modified`.
1. Events list component makes use of the event date.
2. In the discussions page, the PostList component has a row that indicates the number of days since the post was created. This is a default `_created` attribute.

This is the current state. Can you guys confirm if i missed any

[2019-03-23 12:20] tx4x commented on #404
hi Benjamin,
i am afraid to tell you that I can no longer contribute into OneArmy. It was a team decision after putting all the facts together on the table from the last 12 months. Given the destructive nature of some of your guys, rendering endless hours of our and others content, just to please a few more unrelated community members how cowardly denounce our critics behind our back leaving no po

[2019-03-23 12:33] tx4x commented on #404
ah, fully forgot: i will post some snippets on how to use the proposed filter system in the discussions module.

[2019-03-25 07:45] tx4x opened #424 "Add filter samples to pages/Discussions"
just for house keeping for a PR which demonstrates the use of the filter system in pages/Discussions.

[2019-03-25 08:26] tx4x commented on #424
hi,
can someone fix the discussions mock data ? i need each post to have valid tags (matching filter bar select values) and categories and project if possible.

btw, the firestore exceptions are really annoying, no fun to code here

[2019-03-25 15:20] BenGamma commented on #234
Closing. Now discussed in up-to-date #419

[2019-03-25 15:20] #234 closed

[2019-03-25 22:34] tx4x commented on #424
ok then, closing. thanks for your time ..

[2019-03-26 16:39] ThomasRoest opened #425 "Questions regarding the platform"
Hi, I was thinking about contributing but I still have some questions

1. Is there already a live v1 that is being used? It doesn't look like it at https://onearmy.world
If not, when are you planning to release a v1?

2. I've read the descriptions of the platform and its functionalities. But I'm still not sure what users will actually be doing on this site. Is it uploading tutorials, chatting, pos

[2019-03-26 16:47] wellemut opened #426 "[feature request] Connect with wechange.de and Karte von morgen (map of tomorrow)"
In Germany, there are allready some of those plattforms starting, and Initiatives would like to find all projects on one place, and not scattered all over different tools.

wechange.de is an open source, collectivley owned, privacy secure and non profit plattform, which helps projects to collaborate online.

KartevonMorgen.org (Map of Tomorrow) also is a non profit crowd developed online map to ma

[2019-03-26 19:20] chrismclarke commented on #426
Hi Helmut, thanks for reaching out and for the links to the really interesting projects. A personal response from me, which I'll keep brief and in this thread just so that it's open to anyone else who also wants to add.

I definitely know there's no shortage of good, open-source projects fighting the same battle as the onearmy community, and although I can't speak for the community as a whole I ca

[2019-03-26 19:43] chrismclarke commented on #425
Hi, we have a dev site: https://dev.onearmy.world/ but it still needs quite a bit of development. There's also a prototype that can be viewed at: https://www.figma.com/proto/OZ5xbZYR4ZKNBijrs9kPJnbu/OneArmy-Platform

As for your second point, most of the things mentioned plus anything else felt required to help sustain a strong community (additional modules planned for events, creating sub-organis

[2019-03-26 19:43] #425 closed

[2019-03-26 19:53] chrismclarke commented on #424
Hey man, apologies I've been away running a workshop in South Africa so a bit slow to get to issues. I'm still really keen for the filter system (both for this project and another one I'm working on) so happy to help try get things running more smoothly for you. What exceptions are firebase throwing?

As for the mock data, I think the format of the data should be correct but awaiting on updates to

[2019-03-26 21:11] chrismclarke commented on #391
I think at this point my impression is that it's something interesting but wouldn't be a priority. Once working with some mock data we can look at what data from the platform you might want to access and the best way to do it.

[2019-03-26 21:18] chrismclarke commented on #241
Hey @sam-heller , awesome to hear you're picking this one up. I think ffmpeg is probably a pretty solid option. Here's an example use with firebase functions: https://medium.com/@satish.a.wadekar/ffmpeg-with-google-cloud-function-under-node-js-platform-89a98c1f491d, although if you have an alternate approach don't feel entirely constricted (widening the choice of platforms is a long term objective

[2019-03-26 21:19] chrismclarke commented on #241
let me know if you hit any sticking points working with the platform, getting a good workflow for testing functions deploys can be a bit of a pain.

[2019-03-26 21:41] chrismclarke commented on #393
Yeah I can imagine things getting quickly obsolete but hopefully if done well we could keep maintenance to a minimum. I'll put this on my personal roadmap for next month. I'm hoping in time we can add better middle-layers to make choice of database, server-functions and auth system a bit more flexible, particularly as I really don't like some of the very custom syntax (like firestore's timestamps)

[2019-03-26 21:43] chrismclarke commented on #413
no idea what caused this, we really need to avoid errors falling into the main repos. Glad to hear @rudolphfunk picking up some of the testing, apologies I haven't found the time for it

[2019-03-26 21:44] chrismclarke commented on #404
Yeah I'm back this week, just let me know if there's anything specific you want me to look at

[2019-03-26 21:50] chrismclarke commented on #343
I think for this type of thing it might be better to put in a `hacks` folder just to make it clear that this is simply a response to otherwise undesired behaviour patterns (which still hoping a more elegant solution can be found for in the future, e.g. moving database provider).  I would suggest anything we include would make sense on the `Database` class as this specifically links to firebase

[2019-03-27 10:00] mattia-io commented on #424
Hey @tx4x the latest signed off prototype can be found here
https://www.figma.com/proto/OZ5xbZYR4ZKNBijrs9kPJnbu/OneArmy-Platform?node-id=458%3A0&viewport=-1426%2C242%2C0.0625&scaling=scale-down-width

[2019-03-28 17:12] BenGamma commented on #214
Hey @kopecms did you started working on this ?

[2019-03-28 18:38] #192 closed

[2019-03-28 19:44] chrismclarke commented on #426
For housekeeping I'm going to close this conversation for now, but I've added reference to it on the wiki page: https://github.com/OneArmyWorld/onearmy/wiki/Reinventing-the-wheel-(collaborations)

Also anyone can still feel free to add comments to this thread

[2019-03-28 19:44] #426 closed

[2019-03-29 03:39] wellemut commented on #426
Thanks for your anwer @chrismclarke !
I definitly understand this questions of different technologies. Therefore Kartevonmorgen will allway stay an on JS/React/Leaflet project, linked via ActivityPub to wechange. Thats our actual state of development.

[2019-03-29 13:35] 007vasy commented on #391
What do you mean by "Mock data"? The kaggle thing was written by me :D

[2019-03-29 15:08] kopecms commented on #214
yeah but I didn't finished and right now I am out for a month without computer. sorry I forgot to change status here

[2019-03-29 17:32] sumedhan commented on #421
Hi
Would love to work on this. Can I pick it up please?
Sumedha

[2019-03-30 15:26] BenGamma commented on #421
Hi @sumedhan,
Yes, I add the label `in-progress` to the issue. Thanks !

[2019-03-31 09:35] chrismclarke opened #429 "Migration path from big companies (e.g. firebase) to alternatives"
So one thing that is very obvious from the early feedback is a (valid) distrust and apprehension for any type of reliance on the big tech companies (e.g. google).

This has been an ongoing discussion within our own community too, and it seems there is general consensus that whilst it's really important to use tooling that will help us deliver quickly and efficiently, it's also important to keep th

[2019-03-31 21:14] martisj commented on #410
I'll have a crack at this. @chrismclarke @BenGamma

[2019-04-01 15:06] BenGamma commented on #410
Hey ! If you have a crack just go for it :)

Implement a simple typescript type like tx4x suggests.

For now we can consider 3 status : OPEN | SOLVED | LOCKED.

Yes, only for Q&A type post.

Yes, still need some clarification with design team thought. It is also linked to autenthication to only allow author to mark as resolve.

Yes make sense but I would wait for the design to be ready

Thanks @ma

[2019-04-01 21:15] tx4x commented on #429
I have been pretty happy with TypeORM and Swagger (comes with code generator for the client) for a couple of projects. Thats possibly a little outdated approach compared with mainstream going to AWS Lambda & friends but if you like things fast, compact and small, there you go. Problem with Swagger: doesn't support REST over web sockets, and TypeORM is a little blown and targets relational database

[2019-04-02 10:19] BenGamma commented on #391
The mock datas are lorem ipsum data for development purpose only.

Be sure to check our [contribution guide](https://github.com/OneArmyWorld/onearmy/blob/master/CONTRIBUTING.md) to understand all our current codebase.

[2019-04-03 11:01] oceatoon opened #430 "friend community, we are another one army called human pixels"
Hi
I just discovered your project , it's great , and looks a lot like our communecter.org in production since 2016
we used to be called human PIxel https://vimeo.com/74212373
but as we've been growing we work a lot with the commons , we changed name to communecter
which means connecting the commons https://vimeo.com/133636468
I'd love a bit more information , is there a place to see the wireframes

[2019-04-03 12:43] 007vasy commented on #391
So I did a recommendation engine on kaggle as a proof of concept and you want me to do it with dummy data? Or do you mean figure out your database structure from the code make a lorem ipsum data then show it to you?

[2019-04-03 17:52] oceatoon commented on #430
Hi @chrismclarke  and @BenGamma
yes and always have been , we have 2 stacks both based on a mongoDB
the web version is a php , jquery
the mobile , tablet version is oriented real time activity is NodesJS, meteor
we have a modular and API driven architecture which is open to any stack
we also follow the fediverse connectivty standards like activityStream
would be great to hook up at least for a pea

[2019-04-03 23:08] tx4x commented on #430
@oceatoon , nice nice. looking at the project and [code](https://github.com/pixelhumain/communecter) I see lots of overlap with onearmy and as a occasional contributor I'd rather say that onearmy focusing more on making knowledge accessible,editable, manageable first rather than actually connecting people as seen in 'communecter' (later though), i can be wrong of course ;-)

However, exchanging de

[2019-04-03 23:31] tx4x commented on #429
not sure this still matters but [there is a list of opensource versions](https://www.nuweba.com/blog/open-source-serverless-projects) for 'serverless' functionality. You will notice that many use 'Go' which makes sense when looking at the size and speed of NodeJS run-time, Haskell is doing also great in this matters :-)

[2019-04-04 09:47] BenGamma commented on #430
Hi @oceatoon and thanks for your comments !
I went throught communecter.org and that's always interesting to discover others similar project as onearmy. Also thanks for pointing out Fediverse, I've already knew a few project of the federation (mastodon or diaspora) but I didn't know they where based on a common protocol (activitySub). That opens a lot of possibilities for the futur.
As @tx4x menti

[2019-04-04 11:07] oceatoon commented on #430
all this is super
I'll send a mail to set up a call
we use swagger for our api endpoints
https://www.communecter.org/api
it's really made for APi Restfullness

[2019-04-04 11:46] tx4x commented on #430
if you guys like, i can join and may be add 2 cents :-)
'zoom' would be great

[2019-04-04 13:52] BenGamma opened #431 "Create basic text components"
As described in the figma file Design system, create corresponding headings and text components.

[2019-04-04 21:49] sumedhan commented on #421
The # link in react router causes the page to re-render. Looking for advice on how I can implement it.
[this package](https://www.npmjs.com/package/react-router-hash-link) seems like an option.
Let me know how you want me to take it forward or if there is any other recommendation.
Appreciate the guidance.

[2019-04-05 12:28] #431 closed

[2019-04-05 12:42] BenGamma commented on #421
Hey @sumedhan
I had a look at `react-router-hash-link` and it seems like a good solution, you can go with it :)

[2019-04-05 14:32] BenGamma commented on #391
Hey @007vasy,

I checked your links below, it sounds like a lot of work, I guess you've learned a lot out of it.

But it is hard to understand for someone without any tech background in data science and/or the use of the tools your described in your kaggle.

To be straightforward, we are not planning on working on preciousplastic bazar for now, there is already a lot to do with building the onearm

[2019-04-05 14:32] #391 closed

[2019-04-05 14:44] BenGamma opened #433 "[bug] Get user avatar url outside the Avatar component"
**Describe the bug**
Each time we use the Avatar component, a request is made to the backend to get the user using the userId. [See here](https://github.com/OneArmyWorld/onearmy/blob/c8e9b958f275173cd689abd51b49bbb1979464e2/src/components/Avatar/index.tsx#L36).

**Expected behavior**
The avatar component should instead take a `src` prop and display it, but not making a db request.
Because then it

[2019-04-08 15:15] BenGamma commented on #430
Can you provide an email @tx4x so I can invite you to the call ? Will be this wednesday 11AM GMT+02

[2019-04-08 15:22] nairolfo commented on #406
There is already a TagDisplay component that is used for example in the HowtoDescription <TagDisplay tagKey={k} key={k}/> Is the issue more related to the ability to save/retrieve the tags selected in the create view?

[2019-04-08 16:19] BenGamma commented on #406
Hi @nairolfo

No this issue is only related to the display of the tags. As we are still adjusting the backend, I would recommend you focus only on the frontend and use an array of tags in props as follow :
[code]
Depending on the type you display :
- an icon on the tags with type `project`
- the tags with a different color

I suggest you create a new component `postTags` in `src/pages/common`.

Is

[2019-04-08 18:04] tx4x commented on #430
@BenGamma  cgoflyn@gmail.com, see you then, i guess it's on 'zoom' then.

[2019-04-10 12:58] #430 closed

[2019-04-11 14:53] chrismclarke commented on #328
Note, current account will expire if requests not made shortly (no biggie as can just create a new one and change ci variables, but if sending a single demo request is easy probably worth doing)

[2019-04-11 17:31] tx4x commented on #328
I thought Agolia is out due to policy regarding foreign libs and services ? Anyway, I am just wondering. I'd prefer something which works offline, more simple, closer to Lucene etc.. Keep in mind the filter system in discussions needs to be mapped to indexer expressions ( similar to SQL syntax )

[2019-04-16 17:53] tx4x commented on #430
@here, i am doing mentioned the liferay/communector sample instances over weekend :-)
g

[2019-04-16 20:05] chrismclarke commented on #336
assume will push in line with new module versioning system, closing here

[2019-04-16 20:05] #336 closed

[2019-04-17 08:53] BenGamma commented on #421
Closed with #435

[2019-04-17 08:53] #421 closed

[2019-04-17 08:53] chrismclarke commented on #166
Given previous discussions and some recent investigation a slightly better system should probably be put in place, consisting of:

1. Create a new account (makes it easier if everyone does this)
2. Migrate user profile data from Dave Hakkens on click (make overt)

Will refactor this a little today and just waiting on Dave to upload a plugin on the wordpress site to make accessing user profile imag

[2019-04-17 20:39] tx4x commented on #430
@BenGamma do we have roadmap ? just wondering what to plug in liferay and communector ...

I know only of :

- how-to
- discussions aka forums
- events

in our reality we want :

- how-to, versioned (community updates, etc...)
- discussions, chat, per continent
- library (molds, ...), with upstream to store, per region
- store, with CRM for sellers, per region
- streams (curated, instagram, google

[2019-04-18 09:06] BenGamma commented on #430
Hey @tx4x,
I can't provide you a roadmap as precise yet. As I said on the phone I can't assure you that we would use the liferay connector you are building.
I would say do the thing that correspond to your needs for precious-plastic.org for now and we'll do our best to found ways to plug in with in the futur.
I'll keep the github updated and the maximum transparent as I can on what we are working

[2019-04-18 09:24] #405 closed

[2019-04-18 09:25] #407 closed

[2019-04-18 09:27] BenGamma commented on #244
This is on hold for now. Will reopen if appropriate in a close futur.

[2019-04-18 09:27] #244 closed

[2019-04-18 09:28] BenGamma commented on #216
This is on hold for now. Will reopen if appropriate in a close futur.

[2019-04-18 09:28] #216 closed

[2019-04-18 09:28] #403 closed

[2019-04-18 09:29] BenGamma commented on #402
This is on hold for now. Will reopen if appropriate in a close futur.

[2019-04-18 09:29] #402 closed

[2019-04-18 09:30] BenGamma commented on #213
This is on hold for now. Will reopen when appropriate in a close futur.

[2019-04-18 09:30] #213 closed

[2019-04-18 09:40] BenGamma commented on #424
This is on hold for now. Will reopen if appropriate in a close futur.

[2019-04-18 09:40] #424 closed

[2019-04-18 09:58] #409 closed

[2019-04-18 10:21] BenGamma opened #437 "add text & heading component to storybook"
Write story for text and heading component.

An example can be found in [button component](https://github.com/OneArmyWorld/onearmy/blob/master/src/components/Button/button.stories.tsx)

[2019-04-18 10:41] BenGamma opened #438 "Card component"
## Component infos
### Description
We're gonna use a **Card** component to display the how-to informations in a list.

### Page related
Will be used in :
* How-to overview (#419)

### Mockup

<img width="417" alt="Capture d’écran 2019-04-18 à 12 37 41" src="https://user-images.githubusercontent.com/4993215/56355536-d40c9200-61d6-11e9-96ef-c6b2ac9df9f1.png">

### Build suggestion
Use `Avatar`, `H

[2019-04-18 10:50] BenGamma opened #439 "Remove & replace all material-UI components of how-to section"
In the [how-to section](https://github.com/OneArmyWorld/onearmy/tree/master/src/pages/Howto) a lot of the components used to build the interface are from the material-UI library.

Replace :
* `Typography` components with our `Text` or `Heading`
* Build our own `Card` component (#438)
* Replace `CardContent`
* Replace all material-UI elements from [howToList](https://github.com/OneArmyWorld/onearmy

[2019-04-18 12:22] #214 closed

[2019-04-18 13:53] #400 closed

[2019-04-18 13:55] #359 closed

[2019-04-18 13:56] BenGamma commented on #343
Any updates on this ?

[2019-04-18 14:00] BenGamma commented on #328
Closing for now, will repopen when needed.

[2019-04-18 14:00] #328 closed

[2019-04-18 14:02] BenGamma commented on #260
Closing for now, will repopen when needed.

[2019-04-18 14:02] #260 closed

[2019-04-18 14:03] BenGamma commented on #257
Closing for now, will repopen if needed.

[2019-04-18 14:03] #257 closed

[2019-04-18 14:03] BenGamma commented on #256
Closing for now, will repopen if needed.

[2019-04-18 14:03] #256 closed

[2019-04-18 14:03] BenGamma commented on #254
Closing for now, will repopen if needed.

[2019-04-18 14:03] #254 closed

[2019-04-18 14:05] BenGamma commented on #245
Closing for now, will repopen when needed.

[2019-04-18 14:05] #245 closed

[2019-04-18 14:19] BenGamma commented on #236
To summarize the subdomain routing for now :
* https://community.onearmy.world/ wil be used as main url for the onearmy app.
* https://onearmy.world/ will be our landing page, explaining what is onearmy.
* We'll have https://dev.onearmy.world/ that reflects the `master` branch.
* We'll have https://beta.onearmy.world/ that reflects the `production` branch.
* We stop using https://documentation.pre

[2019-04-18 14:19] #236 closed

[2019-04-18 14:23] BenGamma commented on #223
Thanks for the discussion, we'll probably look into that kind of plateform in the futur. Too early to know  how we could register on it.
I'm closing for house-keeping reasons.

[2019-04-18 14:23] #223 closed

[2019-04-18 14:25] BenGamma commented on #219
related to #439
Closing

[2019-04-18 14:25] #219 closed

[2019-04-18 14:27] BenGamma commented on #215
Closing for now, will reopen when needed.

[2019-04-18 14:27] #215 closed

[2019-04-18 14:33] BenGamma commented on #205
We created the [wiki](https://github.com/OneArmyWorld/onearmy/wiki) to explain our technical choices and how to use the frontend.
With #388 we implemented storybook to document our component library/design system.
Will deploy it soon, follow #394 for more details.

[2019-04-18 14:33] #205 closed

[2019-04-18 14:34] BenGamma commented on #203
Will be remove with #439

[2019-04-18 14:34] #203 closed

[2019-04-18 14:35] #204 closed

[2019-04-18 14:43] #184 closed

[2019-04-18 14:45] BenGamma commented on #177
Where are we on this. Still sounds relevant to me to implement.

[2019-04-18 14:46] #171 closed

[2019-04-18 14:55] BenGamma commented on #127
Current implementation is done. Closing.

[2019-04-18 14:55] #127 closed

[2019-04-18 14:56] #106 closed

[2019-04-18 14:57] #101 closed

[2019-04-18 15:00] BenGamma commented on #98
Done, see [contribution guide](https://github.com/OneArmyWorld/onearmy/blob/master/CONTRIBUTING.md).

[2019-04-18 15:00] #98 closed

[2019-04-18 15:03] BenGamma commented on #20
Done with #373, closing.

[2019-04-18 15:03] #20 closed

[2019-04-18 15:03] #93 closed

[2019-04-18 15:03] #125 closed

[2019-04-18 16:25] BenGamma opened #440 "[page] How-to create post"
Child of the How-to module #3
Link to interactive prototype can be found in the related parent issue.
This issue is the main reference for the work done on the page : How-to create

## Page infos
* Url : `/how-to/create`
* Path in codebase : `src/pages/Howto/Content/CreateHowTo`

### Description
Creation page of a how-to

### Mockup

<img width="1680" alt="Create_HowTO(1)" src="https://user-images

[2019-04-19 08:42] BenGamma opened #441 "Archive current work on discussion & other section than how-to"
Remove and archive all the work on other sections than how-to to a separate branch.

[2019-04-19 09:07] BenGamma opened #442 "Alpha V0.x.0 roadmap"
This issue is a high-level roadmap for all work on the alpha release. The goal is to provide:
* a transparent process for our contributors
* a space to discuss about features
* an expected release version

This issue will be updated on the go, as we work on the release.

### v0.3.0
This version is focus on the How-to section. We defined a minimalist and must have version of the section.
All the ho

[2019-04-19 23:01] chrismclarke opened #443 "[optimisation] - reduce number of server queries for user profiles"
**Is your feature request related to a problem? Please describe.**
When displaying user content individual db requests are made to the server to get info about the author (e.g. user name and avatar url). This can get quite heavy if viewing lots of pages

**Describe the solution you'd like**
First make any requests from cache and see if user profile already known. Run extra request after to see if

[2019-04-20 00:10] chrismclarke commented on #433
The problem with always taking a src is that the src needs to come from somewhere. The simple case is to just save the src when saving the rest of the data (e.g. when a user creates a 'how-to', save the userID and user avatar url, however if the user ever changes this then you'd have to find all the places to update.

A better option would be fixed urls where we know a users avatar is always at 'h

[2019-04-20 11:27] BenGamma commented on #433
Codesandbox seems to manage all the profile informations with signals from the mobx store which make sense. Check [this example](https://github.com/CompuIves/codesandbox-client/blob/4032aad4e2c38a98cc334680eccb35db5ae554bd/packages/app/src/app/pages/Profile/index.js#L35) from their Profile page, and in their store [here](https://github.com/CompuIves/codesandbox-client/blob/4032aad4e2c38a98cc334680

[2019-04-20 22:39] chrismclarke opened #444 "[bug] - Server image resize runs on images which are already small"
**Describe the bug**
Server image resize runs on images which are already small

**To Reproduce**
Upload a small image to storage

**Expected behavior**
Check dimensions first and then skip resizing if below threshold

[2019-04-21 00:09] chrismclarke commented on #443
Ok, think I've figured out best option for now is:

1. Store all users in the database with their username (/@mention-name) as the key. This means no db lookup required to give author of content (stick with mention-name instead of fullname/nickname etc)

2. Store all user avatars in a single storage folder using userName as an identifier (e.g. avatars/chris-m-clarke.jpg or avatars/chris-m-clarke.t

[2019-04-21 00:11] chrismclarke commented on #347
fixed, will merge with `user-profiles` module

[2019-04-21 00:11] #347 closed

[2019-04-21 00:13] chrismclarke commented on #166
system redesigned and basic implementation and testing complete. Could still do with some tidying and refining but will cover in separate issue later and close here for now

[2019-04-21 00:13] #166 closed

[2019-04-21 00:13] #443 closed

[2019-04-21 00:14] chrismclarke commented on #346
As lots of future changes likely for discussions closing this issue here and can revisit conventions when identified for future sprint

[2019-04-21 00:14] #346 closed

[2019-04-21 09:34] chrismclarke opened #445 "[bug] - legacy users requires upgrade"
**Describe the bug**
With new changes to auth system all legacy users will be required to have a username field on their profile which is linked to auth display name. Should look into temp system as a way to ease migration for existing users (alt would be just to have everyone create new accounts). Could be linked to future system for existing user to change their username.

[2019-04-21 10:24] chrismclarke opened #446 "[styles] - Add different styling for disabled input fields"
**Is your feature request related to a problem? Please describe.**
I tried figuring it out but couldn't quickly. Basically it would be good to have a different style to show if a field is disabled or not in form elements. Examples of disabled fields in user profile page. I'm guessing @BenGamma this would be pretty quick?

**Describe the solution you'd like**
Temporarily maybe just a slightly grey

[2019-04-21 11:31] chrismclarke opened #447 "[nit] - replace instances of material form with react"
**Is your feature request related to a problem? Please describe.**
When we remove material ui we will also lose form elements that had been used in some form binding (e.g. `FormControl` elements). Their child input elements behave differently to react-final-form `Field` elements (onChange returns a value instead of object). To save confusion it would be good to go and check these instances and put

[2019-04-21 16:33] chrismclarke opened #448 "[enhancement] - Update user avatar methods"
**Is your feature request related to a problem? Please describe.**
During user module rewrite most avatar-related methods became deprecated and need to be put back in (to match improved workflows and conventions).  Will try get it done this week.

[2019-04-22 19:37] chrismclarke commented on #433
implemented as described (userID passed to avatar component which links directly to storage object). closing

[2019-04-22 19:37] #433 closed

[2019-04-22 19:53] chrismclarke opened #451 "[optimisation] - code split main bundle with webpack"
**Is your feature request related to a problem? Please describe.**
Currently the full app code is bundled together and loaded in a single file (still quite small, less than 1MB but likely to grow). Ideally we want it to be split with different pages as entrypoints. I think this is done automatically with create-react-app, so it might be worth investigating un-ejecting the app to use default build

[2019-04-22 19:55] chrismclarke commented on #406
starting work on this now

[2019-04-23 09:44] BenGamma commented on #441
Closed with https://github.com/OneArmyWorld/onearmy/commit/fb8a977e53995a2d85731336934ccd0b54433be3 & https://github.com/OneArmyWorld/onearmy/commit/9293bb8835869cdc69d9af942016a302f6a86419

[2019-04-23 09:44] #441 closed

[2019-04-24 13:28] chrismclarke commented on #451
Note, if doing so can also revisit current service worker behaviour if following issue resolved:
https://github.com/facebook/create-react-app/issues/5316

[2019-04-25 14:37] chrismclarke commented on #451
Another couple to consider:

https://www.styled-components.com/docs/tooling#babel-plugin
https://www.styled-components.com/docs/tooling#babel-macro
(allow custom css property on styled components)

https://github.com/timarney/react-app-rewired
https://github.com/withspectrum/react-app-rewire-styled-components
(cra overrides for working with things like styled components without eject)

[2019-04-25 18:54] BenGamma commented on #406
closed with https://github.com/OneArmyWorld/onearmy/commit/9341f8f66f2376b5ee488e08a88727c3083db25d

[2019-04-25 18:54] #406 closed

[2019-04-25 18:56] BenGamma commented on #438
Done with https://github.com/OneArmyWorld/onearmy/pull/455
Closing

[2019-04-25 18:56] #438 closed

[2019-04-25 18:59] BenGamma commented on #441
I created the branch v0.3.0 which is limited to the scope of the current version

[2019-04-25 19:36] BenGamma opened #457 "Disallow create post if not logged in"
For now you can click on the `create` Button whenever you are logged in or not. Need to add a condition :
- If click on the create button and not logged in then display login modal

[2019-04-25 19:42] BenGamma opened #458 "Use durationSincePosted in how-to post"
See in [PostList/ListRow/index.tsx](https://github.com/OneArmyWorld/onearmy/blob/b57d427819f892a5d1be69bb10b2a40dd0dc7fa8/src/pages/Discussions/PostList/ListRow/index.tsx#L32) `durationSincePosted` function.

Use the same function in [PostView](https://github.com/OneArmyWorld/onearmy/blob/b57d427819f892a5d1be69bb10b2a40dd0dc7fa8/src/pages/Howto/Content/Howto/HowtoDescription/HowtoDescription.tsx#L

[2019-04-25 19:45] BenGamma opened #459 "[feature request] DIsplay how-to title in breadcrumb"
**Describe the solution you'd like**
Display the how-to title in the breadcrumb like so `How-to > How-to-title`

[2019-04-26 21:24] chrismclarke commented on #451
Note, custom code currently added to ejected version to support skipWaiting (`config/webpack.config.js` L561), suggest waiting until good solution to above issue solved before any uneject

[2019-04-27 09:53] chrismclarke opened #460 "[feature request] - Client-side image compression"
**Is your feature request related to a problem? Please describe.**
Server function for compression exists but this still relies on sending large files to the server first which is inefficient for bandwidth and could be confusing to user (why aren't my pictures in the same resolution?)

**Describe the solution you'd like**
Client-side image compression, indicating to the user how much their image w

[2019-04-27 09:55] chrismclarke commented on #460
Early implementation done:

https://onearmy.slack.com/files/UCTUPF469/FJ5PCJXS4/oa_image_resize_feat.webm

[2019-04-30 16:39] chrismclarke commented on #167
implemented, closing

[2019-04-30 16:39] #167 closed

[2019-05-01 12:50] chrismclarke opened #462 "[bug] - react final form validation doesn't detect changes to custom components"
**Describe the bug**
Other fields validate fine and values are passed correctly, but for some reason this value update doesn't trigger validation methods and so validation has been removed from how-to create `tutorial_time` and `difficulty_level` fields, as well as custom components

**To Reproduce**
Go to `CreateHowTo.tsx` and try add `validate={required}` to fields with custom components

**Expe

[2019-05-02 14:33] chrismclarke commented on #462
fixed, two issues, one was formvalues were being passed to validation object and not react form values,  second was validation was being called onblur but custom components only bound to input onchange events, so needed to add onblur call/handler

[2019-05-02 14:33] #462 closed

[2019-05-02 20:06] chrismclarke opened #463 "[Enhancement] - Only allow signed in user to create how-to"
**Describe the bug**
Currently anyone can create a how-to, need to limit this to only logged in users

**To Reproduce**
Log out, click on create how-to button or nav direct to create page

**Expected behavior**
Button doesn't appear for logged out user, page redirects or shows message when nav direct

child of #3

[2019-05-04 07:28] etienneleba commented on #429
After my comment on the one army video, I want to develop my answer of this question.

Why don't use firebase for an open source project like one army?

To answer to this question I'm gonna develop 2 points, the technical answer and the "ethic" answer.

1 cause firebase is too powerful

Maybe this argument is gonna surprised you, but I think it's an important argument. Firebase is too powerful and

[2019-05-06 10:54] BenGamma commented on #463
duplicate of #457

[2019-05-06 10:54] #463 closed

[2019-05-06 11:01] BenGamma opened #465 "add auth to dev.onearmy.world"
Create an basic htaccess auth with user & psw to access dev.onearmy.world

[2019-05-06 11:04] BenGamma opened #466 "v0.3.0 release process"
1) Define the subdomain alpha / beta / test / begin .onearmy.world

2) link branch `v0.3.0` to the subdomain. To do that I would suggest to create a tag with the subdomain same. On each push of this tag, the tagged branch is automatically deploy to the subdomain.

[2019-05-06 13:29] #439 closed

[2019-05-06 17:21] tanvirraj commented on #458
anyone working with this issue? I am interested

[2019-05-06 17:22] tanvirraj commented on #437
@BenGamma, I want to do this

[2019-05-06 19:14] chrismclarke commented on #442
I think it's better to capture this information in modules threads. I've added a board which shows an overview of all the modules: https://github.com/OneArmyWorld/onearmy/projects/4

I've also copied content from this checklist into the corresponding howto and user profile modules, and created placeholder projects for the 0.4 and 0.5 versions.

Closing here

[2019-05-06 19:14] #442 closed

[2019-05-06 19:15] chrismclarke commented on #460
Integrated into how-to, closing

[2019-05-06 19:15] #460 closed

[2019-05-06 19:16] chrismclarke commented on #465
what's the purpose for this?

[2019-05-06 19:19] chrismclarke commented on #40
I think we're currently headed in a different direction (show how-tos on beta version) so closing this for now (can revisit in future when working on community site)

[2019-05-06 19:19] #40 closed

[2019-05-06 19:23] BenGamma commented on #458
Hi @tanvirraj ! Nope you can go for it. Let me know if you start so I'll add the `in progress` label :v:

[2019-05-06 19:28] chrismclarke commented on #466
I have no issue with release/tag versions and automatically deploying, however just to check, are you suggesting we also have an entirely separate database/user auth system for each release or can we use the master database (as we do for the live production site)?

[2019-05-06 19:34] BenGamma commented on #437
Yes just do it ! Again let me know, to avoid two people working on the same thing. Thanks !

[2019-05-06 19:36] BenGamma commented on #465
To keep the dev site for internal use, and we'll have the alpha.onearmy.world to deploy the release on a public url.

[2019-05-06 19:38] BenGamma commented on #466
My idea was to use the master database yes :)

[2019-05-06 19:46] chrismclarke commented on #446
done, closing

[2019-05-06 19:46] #446 closed

[2019-05-06 20:57] chrismclarke commented on #444
now longer relevant as automated compression removed (instead handled on case-by-case basis)

[2019-05-06 20:57] #444 closed

[2019-05-06 20:59] chrismclarke commented on #355
implemented, closing

[2019-05-06 20:59] #355 closed

[2019-05-06 21:03] chrismclarke commented on #186
we're quite a way off implementing this so closing for now

[2019-05-06 21:03] #186 closed

[2019-05-06 21:03] chrismclarke commented on #177
no longer relevant as all files uploaded on submit

[2019-05-06 21:03] #177 closed

[2019-05-06 21:27] chrismclarke commented on #429
Thanks for the comment, a couple quick responses:

1. Completely agree and think it is an interesting argument which we have been thinking of. In many ways we need to act like a startup, utilising whatever tools get us moving fastest as there is a LOT to do with a limited team. I wouldn't be so fast to discount future investment potential however, and also am trying to add a layer between source c

[2019-05-06 21:36] chrismclarke commented on #465
That would mean creating another database and auth system which I am not keen to do. We need a site that anybody who wants to contribute to the project can easily use, this is the purpose of the staging site. For each URL we have to essentially define the database, entrypoint and access, we currently have

Staging DB - localhost dev or dev.onearmy.world live, for any developer
Production DB - beta

[2019-05-06 21:37] chrismclarke commented on #466
Ok yeah I can get that done

[2019-05-07 08:46] chrismclarke opened #467 "Link username and avatar to created by message"
Currently just shows 'by' and blank. Should show username and avatar.

[2019-05-07 08:50] chrismclarke opened #468 "Migrate existing production site data to new formats"
During latest dev a number of changes were made to user profile and howTo data structures. HowTos aren't a big issue as they are using a different database endpoint and so prior data just won't show (instead of throwing errors), but would still be good to have migrated for release.

Additionally user profiles will need to be migrated. This might be more tricky as the original user accounts may not

[2019-05-07 09:48] BenGamma commented on #467
Should show only username. eg [mockups](https://www.figma.com/file/OZ5xbZYR4ZKNBijrs9kPJnbu/OneArmy-Platform?node-id=3370%3A5028).
Done with https://github.com/OneArmyWorld/onearmy/commit/6d13801673440cd5f82115ee6c19d466165604af

[2019-05-07 13:27] tanvirraj commented on #437
start working

[2019-05-07 13:35] tanvirraj commented on #437
when i run `yarn storybook` i get this error, can't start storybook
any idea ?
<img width="1427" alt="Screen Shot 2019-05-07 at 7 33 16 PM" src="https://user-images.githubusercontent.com/3768120/57303392-0ab33980-70ff-11e9-950e-085610f9a031.png">

[2019-05-07 16:23] BenGamma commented on #437
Looks like there is an issue with storybook 5.0.0 https://github.com/storybooks/storybook/issues/6306

If you can have a look that would be nice :)

[2019-05-07 17:07] tanvirraj commented on #458
@BenGamma created a  [PR](https://github.com/OneArmyWorld/onearmy/pull/469) for this issue

[2019-05-07 17:30] BenGamma opened #470 "[feature request] download files on click"
**Is your feature request related to a problem? Please describe.**
User should be able to download the file and not only display their name.

**Describe the solution you'd like**
Allow download on click. Wrap the filename in a `Link` and use the file.downloadUrl for href.

**Additional context**
In [src/components/FileInfo/FileInfo.tsx](https://github.com/OneArmyWorld/onearmy/blob/master/src/compo

[2019-05-07 18:08] #467 closed

[2019-05-07 18:09] BenGamma commented on #458
Merged with #469

[2019-05-07 18:09] #458 closed

[2019-05-07 18:12] tanvirraj commented on #437
i will look into it.

[2019-05-07 23:39] #440 closed

[2019-05-08 00:24] #420 closed

[2019-05-08 00:24] #419 closed

[2019-05-08 09:43] #457 closed

[2019-05-08 10:24] BenGamma commented on #466
We're going to release the v0.3.0 on the domain https://alpha.onearmy.world

@chrismclarke let me know if I can be in any help to setup the subdomain and/or the tag deployment.

The idea is to create a tag `alpha`, and each time this tag is pushed to a new branch/commit, the deployment to https://alpha.onearmy.world starts automatically.

[2019-05-09 15:59] #470 closed

[2019-05-09 16:44] #466 closed

[2019-05-09 16:47] BenGamma opened #481 "Create a tag based deploy system"
Following #466
Create a tag based deploy system.
For now it will be used for the alpha.onearmy.world and in the futur for global production deployments.

[2019-05-09 17:21] chrismclarke opened #483 "[bug] - Final form arrays poor performance"
**Describe the bug**
You can see when adding/removing steps how janky the animation is. This is due to heavy re-renders and checking by final form

**To Reproduce**
Add remove how-to step or add a console log during the render method to count

**Expected behavior**
Minimal renders

**Additional context**
Common issue, discussion and potential solutions:
https://github.com/final-form/react-final-fo

[2019-05-10 15:55] BenGamma opened #487 "correct padding on how-to post view"
The padding of the step Heading is not conform to mockups, child of #420

[2019-05-10 15:57] BenGamma opened #488 "[feature request] add top bar to help build"
**Is your feature request related to a problem? Please describe.**
We ant to add a top bar to encourage people to help.

**Describe the solution you'd like**
Text would be `This is the alpha version of onearmy platform, if you want help out visit [here](build.onearmy.world)`

[2019-05-16 14:31] BenGamma commented on #487
merged

[2019-05-16 14:31] #487 closed

[2019-05-16 14:31] BenGamma commented on #488
merged

[2019-05-16 14:31] #488 closed

[2019-05-17 11:10] BenGamma opened #490 "add image gallery in steps"
## Component infos

### Description

A simple image gallery to display multiple image in a step.

### Page related

Will be used in how-to post view Page (#420)

### Mockup

<img width="961" alt="Screenshot 2019-05-17 12 51 58" src="https://user-images.githubusercontent.com/4993215/57923520-d24ff000-78a2-11e9-89c4-c07fbe55425d.png">

### Build suggestion

Use the images array in the steps array.
D

[2019-05-21 08:18] chrismclarke opened #491 "Feature - Event location search"
## Component infos

### Description

Location lookup and autocomplete.

### Page related

Will be used in :

- Events module (and likely later others)

### Example(s)

https://community.algolia.com/places/

### Build suggestion

For the sake of early convenience and as we already have algolia will use algolia places api. More analysis should be carried out in the future on the pricing model (100,0

[2019-05-21 09:06] chrismclarke commented on #491
Note, had first gone for existing implementation of `algolia-places-react`, however this feels like a very thin wrapper over the default api and makes it more restrictive to use custom styling so will implement from scratch (that way can also add debounce to the search autocomplete to save on search quota)

[2019-05-22 11:22] BenGamma opened #492 "[page] create event"
Child of the How-to module #143
Link to interactive prototype can be found in the related parent issue.
This issue is the main reference for the work done on the page : Events create

## Page infos
* Url : `/events/create`
* Path in codebase : `src/pages/Events/Content/EventsCreate`

### Description
Creation page of an event

### Mockup
<img width="1680" alt="Events_Post" src="https://user-images.

[2019-05-22 13:11] chrismclarke commented on #491
implementation in, have included debounce method to help limit the number of request

[2019-05-22 21:51] #491 closed

[2019-05-22 22:01] chrismclarke opened #493 "Virtual Scroll Component"
## Component infos

### Description

When displaying large lists of data it would be more efficient to only render what is in the current viewport. Alternative would be to use infinite scroll to systematically query more data however this takes more of a technical implementation and doesn't hold much benefit (slightly smaller db requests but by no means significant, and could still be implemented

[2019-05-24 10:50] chrismclarke opened #494 "[feature request] - ability to add caption to images"
**Is your feature request related to a problem? Please describe.**
Requested from user feedback

**Describe the solution you'd like**
Simple text box under image upload or lightbox popup to add caption

**Describe alternatives you've considered**
Not having it

**Additional context**
I think it would be a good addition and quite quick to implement, just need to decide on the UI/UX side

[2019-05-24 11:00] chrismclarke opened #495 "[Enhancement] - Improve how-to image display"
**Is your feature request related to a problem? Please describe.**
Currently all pictures display at maximum size, and feedback is saying this is too big.

**Describe the solution you'd like**
Either set a max width for images and use the same lightbox functionality to open larger on click as used in the how-to create page, or possibly have one large image and smaller thumbnails of others which ca

[2019-05-26 10:50] BenGamma opened #496 "[page] Events list"
Child of the Event module #143
Link to interactive prototype can be found in the related parent issue.
This issue is the main reference for the work done on the page : Events list

## Page infos
* Url : `/events`
* Path in codebase : `src/pages/Events/Content/EventsList`

### Description
List all the events available

### Mockup
<img width="1680" alt="Events" src="https://user-images.githubusercon

[2019-05-27 19:14] chrismclarke opened #499 "[feature request] - Event Map View"
**Is your feature request related to a problem? Please describe.**
First quick mockup of event page included a map view for locations. This was removed during rebuild but should be quick to put back in

**Describe the solution you'd like**
Integrate existing code from event content for a simple list/map toggle button and map display

[2019-05-27 19:41] chrismclarke opened #500 "[bug] - tags don't appear on live"
**Describe the bug**
Tags are uploaded to dev site via temporary script which can't be easily replicated onto live. Therefore method will be needed set the live tags

[2019-05-27 21:05] chrismclarke commented on #500
creating an admin page where this can be done programatically

[2019-05-27 21:54] chrismclarke commented on #500
PR made for admin pages, once live can use admin page button on live to update

[2019-05-28 07:56] chrismclarke commented on #451
Update to skipWaiting, now possible through postMessage:
https://github.com/facebook/create-react-app/issues/5316#issuecomment-496292914

[2019-06-01 10:23] tx4x commented on #500
@BenGamma , @chrismclarke , @mattia-io ; once again you target us with defamation, creating exposure  to public hatred by your fanboys with clear intentions to harm as in many ways you can possibly do, without any prior consensus.

if this video is not down and/or replaced without the kids play removed; i have no other choice to involve legal actions but also forcing me to come to Eindhoven today.

[2019-06-01 11:09] tx4x commented on #500
ok, then. we're heading for Barcelona; let me make it clear that I hold you responsible for all consequences carried out the families here working on PP.

[2019-06-01 11:10] tx4x commented on #500
@mattia-io , @BenGamma , @chrismclarke

[2019-06-01 12:47] tx4x commented on #500
@mattia-io , @BenGamma , our lawyer confirmed, every hour this video is online is going to be expensive for you; it can't be that you punish and harm our people here just because you can't deal with critics and opinion and put us on the stage for hatred as seen now on youtube.

i just can hope there is a single slice of decency in you to stop this; count on me taking this very very serious

[2019-06-03 12:02] Jerzeek commented on #500
@catx23 Sorry but I think your reply is not related to the issue, would you please be so kind to delete your comments here.
If the problem you are describing is still an issue, you could think of opening a new issue. Even though I think your problem is not related to the digital development of OneArmy

[2019-06-03 14:19] chrismclarke commented on #500
build live, tags updated, closing

[2019-06-03 14:19] #500 closed

[2019-06-04 10:44] chrismclarke opened #503 "[bug] - Service worker not caching images"
**Describe the bug**
Service worker caches site so core loads offline and database has separate offline sync to populate data, however currently retrieved images are not cached

**To Reproduce**
Visit site offline

**Expected behavior**
Previously loaded images should be cached

**Screenshots**
![image](https://user-images.githubusercontent.com/10515065/58872414-dc078f00-86bb-11e9-9d6c-d497960a50b

[2019-06-04 18:36] #492 closed

[2019-06-04 18:36] #496 closed

[2019-06-04 21:25] chrismclarke opened #504 "[optimisation] - code bundle sizes"
**Is your feature request related to a problem? Please describe.**
An npm script has been added to view bundle sizes (`npm run analyze`) using webpack-bundle-analyzer, and whilst still pretty small highlights some of the main offenders

**Describe the solution you'd like**
Find ways to remove, reduce or defer import of

- [ ] Firebase
- [x] Material-UI
- [ ] DevExpress
- [ ] ReactSelect
- [ ] Uppy

[2019-06-04 21:32] chrismclarke opened #505 "Map Module Scaffolding"
## Component infos

### Description

The map module is getting ready for active development. Whilst still waiting for final specs, there's another to getting going with. Previously some map components were used in the events page which need tidying before reuse, and then a base structure put in place to make it easier for devs to work with. Specifically:

- [x] Add map page container
- [x] Add map

[2019-06-04 23:24] chrismclarke commented on #505
Added the main page container, a separate Map View container and inside direct hookup to leaflet.

Pulled the legacy map pins and just hardcoded them for now, and added a small script to convert the data format to match what we expect the final db will look like (pending whatever people decide)

Haven't got round to adding the binding for adding more pins to the DB yet, but guessing this should ho

[2019-06-05 22:09] grahamlyons commented on #259
Should this be closed as the dependency, #254, has been closed?

[2019-06-06 09:05] BenGamma commented on #259
Yes, closing

[2019-06-06 09:05] #259 closed

[2019-06-06 13:36] chrismclarke opened #506 "[bug] - enter key doesn't add new line in how to"
**Describe the bug**
We need to make it
So haikus can be written
Or Saskia sad

[2019-06-14 09:13] #410 closed

[2019-06-14 09:16] BenGamma opened #507 "[page] user Profile"
## Page infos
* Url : `/settings`
* Path in codebase : `src/pages/Settings/`

### Description
Private profile page of the user. Contains all the informations of his profile. This is where the user can edit his informations.
Child of module Profiles #8

### Mockup

<img width="1680" alt="Maps_Input_Individual_v2" src="https://user-images.githubusercontent.com/4993215/59497930-b2f1b600-8e94-11e9-835

[2019-06-15 15:14] kopecms commented on #503
only thing I could came up with (beside writing custom service worker) is setting cache-control while saving file in firebase. I have tested it on chrome and it's working

[2019-06-18 16:15] BenGamma commented on #490
merged with #509

[2019-06-18 16:15] #490 closed

[2019-06-18 16:21] BenGamma commented on #506
Merged with #508

[2019-06-18 16:21] #506 closed

[2019-06-25 14:44] pmcp opened #511 "[feature request] Make at least one image required per step"
## Component info

### Description
Every step in a how to article should have at least one image.
If a user creates a step, he can't publish if there isn't at least one picture in that step.

### Page related

Will be used in :

- How To

[2019-06-25 14:51] pmcp opened #512 "[feature request] Remove the "Low / Normal / High" option for uploaded images"
## Component info

### Description

User can now choose the compression when they upload an image. We want to make it dummy proof for the user, and leave this choice out. We choose the best compression / size of the image and go with that. We still show them how much it is compressed and the impact that has on environment, but just take away the choice for the user.

### Page related

Will be used

[2019-06-25 15:01] pmcp opened #513 "[feature request] delete individual pics"
## Component info

### Description

Users can now only overwrite images on upload. We also want the user to be able to delete individual images, without having to reupload all the images.

### Page related

Will be used in : How To (edit)

[2019-06-25 15:05] pmcp opened #514 "Add Feedback Button (Typeform)"
## Component infos

### Description

A feedback button that connects with Trello. It's made in Typeform and can just be implemented in the website. Code is here: https://codepen.io/pmcp/pen/vqObPb

Should appear on every website, position absolute against the right side of the viewport.

The Typeform takes two parameters in the url: the url of the page and extra tech info about the user session. B

[2019-06-25 16:44] kopecms commented on #511
Why? imo you don't need pictures to explain stuff. Also makes creating how to less user friendly. I would focus on creating a edit page for how to rather than implementing this restriction (then user can add image if requested in comments eg)

[2019-06-25 17:38] pmcp commented on #511
You are correct from the point of view of the editor, but it's an feature to make the how to's easy and attractive for the other users. Up for debate ofcourse :)

[2019-07-02 07:48] catx23 commented on #511
i left some more food in this regard : https://davehakkens.nl/community/forums/topic/alpha-review/#post-145359

i agree, image should be optional, and it should be only one of many types you could use there; even code would be cool.

[2019-07-02 09:25] #459 closed

[2019-07-04 11:46] catx23 commented on #511
ok then. i couldn't see any plugin/addon infrastructure code enabling 'onearmy' campaign statements about extend-abilities; where or how can we integrate the addons mentioned above in the forum entry ?
thanks

[2019-07-08 09:06] BenGamma commented on #511
@catx23 I'm not sure to understand what you are talking about. You want to propose a feature request ? If so feel free to use our issue template to describe your idea.

[2019-07-08 09:09] BenGamma commented on #511
Closing this issue for now since it's not a high priority feature

[2019-07-08 09:09] #511 closed

[2019-07-08 11:15] catx23 commented on #511
@BenGamma , feel free to follow the [mentioned forum post](https://davehakkens.nl/community/forums/topic/alpha-review/#post-145359). More or less we have quite a different point of view on what the platform has to provide and what not but also the tools and frameworks; also enabling the platform to be used for other projects. All we need is a way to show & integrate community modules/apps to the e

[2019-07-09 17:39] chrismclarke opened #518 "Discussion - Optimising map backend"
Firestore is really poorly optimised for these types of operations (costs scale linearly with results retrieved from a query), so getting 1000 small files is really expensive compared to 1 large, but having many rows of data makes a lot more sense for the map. Need to decide best approach to ensure map data is kept fresh but without downloading lots of unnecessary data or incurring high costs.

[2019-07-12 01:01] chrismclarke commented on #518
So here's the current system I'm thinking of... It's not great because it has a number of moving parts but hopefully just a temp measure until alternate db option provided.

- Use 2 databases, _firestore_ for pulling individual records and _realtime-db_ for pulling large batch
- Use local storage caching (manually implemented)
- Use cloud function to keep cloud dbs sync'd
- Keep pin details indepe

[2019-07-12 09:20] BenGamma commented on #518
Realtime-db is part of firebase also ? Or it means running our own server ?

You mean on click on the marker to open the Card or on click on the Card to go to the user profile ? Because on the profile /u/:username page, a query will be made to load all the user informations. I think on the "large batch" query we could load a minimalist version of a profile to display the markers and the Cards (fie

[2019-07-12 13:04] BenGamma commented on #505
Now implemented with #517
Separate issue created for db related question #518
Closing.

[2019-07-12 13:04] #505 closed

[2019-07-12 13:08] BenGamma commented on #507
Merged with #520, closing.

[2019-07-12 13:08] #507 closed

[2019-07-12 13:09] BenGamma commented on #499
merged with #517
Closing.

[2019-07-12 13:09] #499 closed

[2019-07-12 13:13] BenGamma commented on #481
Stick to use branches for now.
`master` is deployed on development environment dev.onearmy.world
`production` is deployed on production environment alpha.onarmy.world
Closing.

[2019-07-12 13:13] #481 closed

[2019-07-12 14:30] BenGamma commented on #514
Created a feedback button merged in #521 , for now simple external Link to the typeform.
We may want to use hidden-fields and/or [more advanced features](https://www.typeform.com/help/hidden-fields/) provided by typeform in the futur. Leaving here as a note.
Closing.

[2019-07-12 14:30] #514 closed

[2019-07-12 18:41] chrismclarke commented on #518
RealtimeDB is part of firebase, so extra confusing I know. RealtimeDB was the first database that firebase used, and particularly focused on keeping large amounts of data in sync across multiple devices, such as chat apps or games. Firestore came in later to focus more on scaling to huge amounts of data which were less time sensitive (i.e. writing a doc at most once per second, but able to store a

[2019-07-12 18:46] chrismclarke commented on #518
I mean clicking on the card pulls the card data. Basically when the map first loads we want to be able to see and display all the pins, but for this the only information we actually need is the LatLng of the pin, what type/colour it should be, and a reference to the full document, i.e.

[code]

Currently each data point holds a lot more information because it has the full pin description, which co

[2019-07-12 21:27] chrismclarke commented on #518
Just seen the existing map frontend is already set up to handle things this way so that's awesome 👍

[2019-07-15 19:42] roychri commented on #241
Hello,

@sam-heller Did you make any progress here?
I have experience with nodejs, ffmpeg and microservices. I can build a microservice using the google function which receives a GIF and convert to an MP4 for example.
I have experimented with google functions before but never with real projects that are used.

If this task is about creating a google function with node and ffmpeg that will convert

[2019-07-16 04:37] chrismclarke opened #522 "Migrate DB methods to use Dexie instead of firestore for caching"
Dexie provides a really useful wrapper around local indexeddb, and offers a more versatile solution for offline-first data approaches. The firestore cache can only be used with firestore methods, making it harder to migrate to other dbs in the future and doesn't support use with firebase realtime which is currently required for the map.

In addition Dexie provides a nice query syntax which could b

[2019-07-16 05:34] chrismclarke opened #523 "[code tidying] - split server and cache db methods"
Starting to get a bit messy/complex, would be good to have clearer structure and patterns.

[2019-07-16 22:08] chrismclarke commented on #241
That's exactly the setup we're looking at, something in node that can convert gif to a better format (I'm guessing mp4, although open to webm or any other recommendations). The input would be an attached storage bucket, although methods already exist to push/pull to tmp directory for working directly with a file object. All that is missing is the code to take input file and output as a file, and t

[2019-07-16 22:10] chrismclarke commented on #518
Implemented with pr #524 and added section to wiki about additional database source so closing here

[2019-07-16 22:10] #518 closed

[2019-07-16 23:17] chrismclarke commented on #503
oh cool, yeah just tested also and seems working. Probably a caching issue as suggested thanks for testing, closing here

[2019-07-16 23:17] #503 closed

[2019-07-16 23:19] chrismclarke commented on #512
sounds good to me, what do you reckon would be the best size of images to go for?

[2019-07-17 12:31] BenGamma commented on #343
I recently added two methods to handle dates in the`src/utils/helpers` file https://github.com/OneArmyWorld/onearmy/blob/d72ee3a0810617063b3c661726f71ed0284394c1/src/utils/helpers.ts#L29
Does that help in any ways ? Feel like this issue is blocked, maybe need to be break down into smaller  ?

[2019-07-17 12:32] BenGamma commented on #363
Closing as it's part of discussion module

[2019-07-17 12:32] #363 closed

[2019-07-17 12:42] BenGamma commented on #344
closing since part of discussion module

[2019-07-17 12:42] #344 closed

[2019-07-17 12:43] BenGamma commented on #349
closing since part of discussion module

[2019-07-17 12:43] #349 closed

[2019-07-17 12:44] #209 closed

[2019-07-17 12:44] #258 closed

[2019-07-17 13:09] BenGamma opened #525 "[feature request] allow user to upload avatar picture"
**Is your feature request related to a problem? Please describe.**
For now you can only have a profile picture if you import your profile from DH website.

**Describe the solution you'd like**
Need to allow the user to upload his own Profile picture, even if he doesn't have a DH account.

[2019-07-17 13:38] BenGamma opened #526 "validate url for communication links"
**Is your feature request related to a problem? Please describe.**
Validate url on communication links in the profile page.

**Describe the solution you'd like**
The url field is not validated for now, need to add a method to validate that it is a correcttly formated url and add the `http://` protocol if absent. If there is no protocol, the link is considered as a internal link and will redirect t

[2019-07-17 13:43] BenGamma commented on #512
We would use the low conversion rate by default

[2019-07-17 18:08] chrismclarke commented on #343
I think for now we just keep using these methods and make clear in typings what data formats are in use are sufficient. I expect this to be a non-issue in future versioning where we provide alternate database options. Firestore look set to not budge on the issue (they will keep converting any dates sent to timestamps and return the data in timestamps), so closing

[2019-07-18 20:35] RickyMed commented on #494
I would like to tackle this issue if that's fine.

[2019-07-26 21:46] roychri commented on #241
@chrismclarke My son and I developed this proof of concept/prototype google function:

https://us-central1-mercurial-datum-221620.cloudfunctions.net/ConvertGifToMP4/

Once you access this it will give you instructions on how to use it. It will convert a gif into an mp4. You can control the fps and the bitrate to control the quality/size of the mp4.
The resulting mp4 will be downloadable once conve

[2019-07-27 04:08] wallies opened #528 "[optimisation] Snyk / Netlify / Zap proxy / Lighthousebot"
**Is your feature request related to a problem? Please describe.**
More security and automated testing for PRs and dev environment before code makes it into live site

**Describe the solution you'd like**
- Snyk - can detect dependencies that have security alerts on them and raise PRs. Good to keep the project up to date but does rely on having a good test suite, so you know nothing will break.
-

[2019-07-28 10:52] tudi2d commented on #495
Hello! I would like to work on this issue. I read through your Contribution Guideline, took a look at the code of the project and think that I can implement a solution for this. The first approach you suggested sounded good so my idea was to change it from this...

![image](https://user-images.githubusercontent.com/8904624/62005528-dfa41900-b134-11e9-8d77-4d097c258c01.png)

... to this ...
![image

[2019-07-31 12:41] chrismclarke commented on #528
Sounds like some good additions, I use snyk and lighthouse a lot, interested to look a bit more into the others. At this point we really haven't started much on optimisations, but having a few benchmark scores would be nice and give us an indication of how much/little there is to do.

If you let me know which of these will need api keys I can set them up using the project admin email account.

[2019-08-01 11:32] grahamtwine opened #529 "[bug]"
**Describe the bug**
It must be possible to 1, download the source, 2, download dependencies, 3, execute the tests and 4, begin adding value!
Developers cannot execute tests due to absolute path names in package.json.

**To Reproduce**
`$yarn test`

**Expected behavior**
All tests are executed and pass.

**Fix:**
1. package.json
[code]

2. src/utils/helpers.ys
delete /App from the path in `import

[2019-08-01 11:34] grahamtwine commented on #529
I attempted to create a PR from branch `bugfix/remove-absolute-paths-to-enable-testing`. No joy :(

[2019-08-01 12:16] grahamtwine commented on #529
Ok the above then exposes some bad config and a test that can only ever pass for one day.
1.
src/utils/helpers.ys
[code]
2. Discussion test fails as the expected date of 3 days ago is now 89x days since passing.
What benefit is this test offering?
It will break an automated build

[2019-08-01 17:42] mutalis commented on #495
@chrismclarke @tudi2d
Additional tip: You can make your website faster and less data-hungry by using the right file format for images.

In few words use the correct format — SVG or JPEG

This video shows simple techniques to identify problematic images, and then quickly and easily optimize them to the most suitable format.

https://www.youtube.com/watch?v=8VoCua-dEu0

[2019-08-01 18:46] chrismclarke commented on #529
Thanks for flagging this and trying to fix, happy to review any PR if you can get it working.

[2019-08-01 18:50] chrismclarke commented on #529
This doesn't throw any errors for me and I know at least in earlier versions this was required to enable tree-shaking (and not importing the parts of firebase that aren't required)... Although at this point I think most of the library still is, but just wondering if you have any other reason for this?

(small note on it here: https://stackoverflow.com/questions/48718421/import-only-auth-and-firest

[2019-08-01 19:38] Andrux51 commented on #512
Hello, I'm new to the project and planning to start by tackling this feature. I have a pull request coming in a few minutes.

[2019-08-01 22:00] Andrux51 commented on #525
@BenGamma @pmcp I'd like to take this on and do a bit of refactoring to the `ImageInput` component to make it a more generic uploader, with the idea that pages will implement it and style a button/etc around it.

What I currently see is that the image uploader is so closely tied to its style that trying to reuse it for Avatar uploading (or anywhere else on the site in the future) would be basicall

[2019-08-01 22:01] chrismclarke commented on #512
Hey @Andrux51 , welcome! Thanks for the PR, we try to review every Tuesday so will hopefully be able to feedback around then.

[2019-08-01 22:10] chrismclarke commented on #495
Haha, saw that video last week too! Agree SVG/JPEG is the way to go, up till now we've mostly avoided PNGs and have automated client-side compression for all the images as they are uploaded. I think there's also an open issue for converting videos, although at this point we're simply not using them.

I think simply adding a max width and lightbox feature would definitely be a good start, so please

[2019-08-01 22:10] chrismclarke commented on #495
I could also imagine perhaps adding a breakpoint for larger screens where text is shown beside the image might also be nice, although should probably check with @BenGamma and the design team in case they have already drawn up designs.

(example - main image next to text, additional images as thumbnails which could also be opened)
![image](https://user-images.githubusercontent.com/10515065/62330713

[2019-08-01 22:40] Andrux51 commented on #512
Sounds great!

[2019-08-01 23:43] chrismclarke commented on #241
Thanks for all the effort you've put into this. It's unlikely that we'll make use of fine-grained controls such as bitrate and fps (likely to just have a uniform setting used throughout), but as a developer I do like exposing these types of functionality in case it's ever required in the future!

Really like the demo too! I think for using within the platform it would be great to pass back full fi

[2019-08-01 23:47] chrismclarke commented on #241
When you are happy with the code, I suggest you make a PR with the necessary video conversion utility functions saved in the `functions/src/Utils`
https://github.com/OneArmyWorld/onearmy/tree/master/functions/src/Utils

If you are happy to write in typescript then a `.ts` file would be preferred, but if it is javascript I'm sure it would be very quick for someone else to add them after.

Thanks ag

[2019-08-01 23:56] chrismclarke commented on #525
Sounds great @Andrux51 , yes the original image input was designed only with the how-tos in mind so something more general could be of use. There is a separate `FileInput` component also which is built on top of [uppy](https://uppy.io/), but not sure if that would make things easier or harder - ideally we would want to keep the client-side image compression on upload, however there is an open pr t

[2019-08-01 23:58] chrismclarke commented on #525
and.... that was you. So I'm guessing you're more than aware! :S

[2019-08-01 23:59] Andrux51 commented on #525
Perfect, I'll jump in and get going on my idea

[2019-08-02 10:24] chrismclarke opened #531 "[discussion] - Providing better options for deleting data from the database"
**Is your feature request related to a problem? Please describe.**
Currently few areas of the site give the ability to delete content (e.g. a how-to), and when it does this is handled by adding a `_deleted:true` field and updating the `_modified` timestamp within the document instead of actually removing it.

The reason for this is due to current caching mechanisms (i.e. only query for data newer

[2019-08-02 10:35] chrismclarke opened #532 "[discussion] - Ways to ensure content quality"
**Is your feature request related to a problem? Please describe.**
The system is very open at the moment, before general release we will likely want to put in place some sort of system to help ensure inappropriate content can be quickly removed or put aside, and potentially include ways to promote content which is viewed as more useful by the community.

**Describe the solution you'd like**
Perhap

[2019-08-02 10:38] chrismclarke opened #533 "Implement keycloak auth system"
More to server as a reminder, demo given on slack of how to implement a login system using keycloak to also allow users to sign in via their credentials on the DH wordpress site. It should be implemented into the platform for testing. This includes:

- [ ] Setup standalone keycloak server
- [ ] Add integrations for wordpress login
- [ ] Rewrite/redirect firebase auth to use the keycloak server ins

[2019-08-02 13:50] roychri commented on #241
I totally agree

I was not sure what kind of quality/size trade-off you wanted, so now you have the options to choose which settings you prefer in case the default wasn't what you wanted.

We'll definitely add the full meta

Thanks! We were very pleased with the results too!

Shouldn't I try to make it work locally first? Do you have instructions on how to run the whole thing locally? Otherwise I

[2019-08-02 17:59] chrismclarke commented on #241
Sounds great. I think fully testing the full workflow at this stage would probably be a bit tricky as it depends on a few pending changes to the frontend site (minimally some sort of testing page on the dev site where a user could upload a gif and see the downloaded video, ideally integration with existing methods). Generally the workflow for testing backend functions really needs a lot of improve

[2019-08-03 10:26] chrismclarke commented on #343
I think it's time to re-open this as we're now starting to deal with other databases (not just) firestore which could easily add confusion.

I suggest we plan to change all dates to `ISOString` format, so that it saves as a string and avoids confusing conversion.

ISOStrings represent date as **YYYY-MM-DDTHH:mm:ss.sssZ** , and so not only are standardised across timezones and provide ms precision

[2019-08-04 22:21] tudi2d commented on #495
@chrismclarke Thanks for the feedback!

I created a pull request, which adds a fixed width as well as a lightbox. I also like the idea of displaying images on the right hand site, but I think this might be part of a new enhancement (Users might want to deicide by them self if a image should be displayed on the left, right or in the center instead of displaying every image on the right hand site) :

[2019-08-05 07:39] catx23 commented on #532
is this about a forum or articles ? either way; I wrote Adrian a few thoughts and in the last 30 years i haven't seen better than Stackoverflow. Simplest and more fitted model I see at the moment is :
1. turn conversations in to content : more difficult and needs community help;
2. turn content into conversations : easy and would to funnel new findings, ideas, etc.. into the right place; that assu

[2019-08-05 07:43] catx23 commented on #532
publiclab.org also has 'templates' for posts/articles btw. that also helps a lot to ensure some policies for content.

[2019-08-07 15:44] manzoorwanijk commented on #483
Any update on this?
The performance is very poor. I removed all the fields except the array field (with just two sub fields) and it is still the same.

[2019-08-09 10:16] BenGamma commented on #494
merged with #535

[2019-08-09 10:16] #494 closed

[2019-08-09 10:30] #512 closed

[2019-08-10 07:38] grahamtwine commented on #529
Hi Chris, I totally agree with the concept of only importing the required
libraries.

If this was a build my proposal is no solution at all.
In this instance this is a test and it requires other libraries.
Furthermore a new contributor should have no issues checking out the
source, executing a build and test before starting.

On Thu, 1 Aug 2019 at 20:50, Chris Clarke <notifications@github.com> wro

[2019-08-13 16:36] BenGamma commented on #495
merge with #536

[2019-08-13 16:36] #495 closed

[2019-08-15 16:52] chrismclarke commented on #343
OK, this is a pain point on something else I'm working on so plan to create a PR to migrate all the backend functionality and existing data

[2019-08-16 13:54] chrismclarke commented on #468
if this hasn't already  been done then it can be merged into #539
closing

[2019-08-16 13:54] #468 closed

[2019-08-16 14:07] chrismclarke commented on #532
Thanks for all the advice @catx23 !

In the first case we are talking more about articles, such as the 'how-to' guides that people can create. These are built on top of our own custom system, so whilst less susceptible to the likes of robo spam, we need to develop our own custom means of moderation for contributors. Currently anyone can write a how-to and it appears immediately at the top for the

[2019-08-16 14:13] chrismclarke commented on #483
As a quick update, 3 months later and issues still open but some people say that latest versions should add some improvement. We are stuck on v3 so it would be worth somebody testing whether upgrade to v6 can be done without breaking too much!

[2019-08-16 15:46] #343 closed

[2019-08-18 11:16] catx23 commented on #532
Ok,
in the short term you could :
- place a guide or an example article (links to supplies write a sort of best practice article, similar to the IOS UX guide lines; basically a collection of dos and don'ts; Since you're on react / material-ui; there is a repo of Microsoft (https://developer.microsoft.com/en-us/fabric/#/controls/web/breadcrumb)
- for the moderating/promoting/demoting/approval part

[2019-08-20 09:46] BenGamma commented on #522
Is this closed with #540 ? @chrismclarke

[2019-08-20 09:47] chrismclarke commented on #522
Ah yeah it does, will add the ref

[2019-08-20 13:00] BenGamma opened #542 "[feature request] improve form validation"
**Is your feature request related to a problem? Please describe.**
On the mutiple forms you can't click the publish button before all the fields are validated. For now, the publish button is `disable` if the for is not validated, but you can't know which field is invalid.

**Describe the solution you'd like**
We'll need a more visual field validation. 2 options I have in mind :
* Remove the disabl

[2019-08-20 13:00] #483 closed

[2019-08-20 13:23] chrismclarke commented on #542
I personally think the nicer user experience is not letting them try to submit when there are errors and highlighting on blur, but if option would be a worthwhile improvement

[2019-08-22 13:57] BenGamma opened #545 "[feature request] integrate captcha validation for content (how-to & events)"
**Is your feature request related to a problem? Please describe.**
To avoid massive spamming when the plateform will be release to a broader audience, we consider using captchas validation before submiting a how-to and an event.

**Describe the solution you'd like**
An easy, not too anoying validation captcha for users.

**Describe alternatives you've considered**
An hidden checkbox that if checke

[2019-08-22 14:20] chrismclarke commented on #545
Google captchaV3 is invisible at least, and widely used so could be a decent option

[2019-08-24 02:24] wallies commented on #528
Ok so interested in becoming a contributor more often if it helps set these things up easier.
Here is an example PR, from snyk high security fixes and runs the build and deploys with Netlify, you can then view the PR build site. https://github.com/wallies/onearmy/pull/5
https://app.netlify.com/sites/focused-perlman-fc922a/deploys/5d609e1fc5bf2b00075d762b

Otherwise you will need to sign up for sny

[2019-08-26 10:27] BenGamma opened #546 "[feature request] how-to pdf export"
**Is your feature request related to a problem? Please describe.**
Allow users to access the content of the how-to anytime, even without internet connexion?

**Describe the solution you'd like**
Ability to export the how-to content into pdf files.

**Additional context**
Seems like [react-pdf](https://github.com/diegomura/react-pdf) would be the way to go

[2019-08-27 17:34] tudi2d commented on #542
I would like to work on this issue. My implementation would be the 2nd approach with the "onBlur"-event because of the UX as @chrismclarke explained above.

[2019-08-28 11:39] #522 closed

[2019-08-29 09:21] BenGamma commented on #529
Hi @grahamtwine, thanks for flagging the bug.
Do you have any updates on this ? I don't understand why your attempt to make a PR didn't work ?

[2019-08-29 09:24] BenGamma commented on #525
Hi @Andrux51 👋
Thanks for helping !
Is this moving forward ? Did you run into a problem that we could help to solve in any ways ?
Let us know, so we can organize the work on our side too 🤓 tks !

[2019-08-29 09:27] BenGamma commented on #542
Hi @tudi2d,
The validation `onBlur` sounds good to me, tks for working on that !
Feel free to ask any questions here if you run into problems 🖖

[2019-08-29 15:24] Andrux51 commented on #525
Thanks for checking in! I'm making progress on it, it's a bit more complicated than I thought at first, but I should be able to get a pull request up soon.

Hopefully I'm not blocking anything, but if so, please feel free to not wait on my work.

[2019-08-29 15:39] BenGamma commented on #525
Ahah yes I see, we all went throught this path I think 😅

Nope nothing blocking on our side, I'm planning the next release and wanted to catch up.
Thanks again for helping out !

[2019-08-31 07:09] wallies commented on #533
@chrismclarke what would you see the benefits of using keycloak, yes its a good server, but do you want to burn time setting up and maintaining this. Interesting to hear reasons to move away from firebase? Maybe a move to something like Auth0 or were you trying to optimise costs to use an opensource solution? More than happy like I said in another issue to help out with the backend role you have o

[2019-08-31 08:24] chrismclarke commented on #533
So the main thing reasons I guess are:

1. Allowing auth via DaveHakkens.nl - as this community will be the first to test the platform we wanted to provide a seemless way that users could log  in using existing credentials and migrate their account details across. I tested a workaround with firebase (storing hashed passwords on the db, allowing users to login with their emails and check pw against

[2019-08-31 09:43] wallies commented on #533
Cool let me know if I can help. Have done alot of work with key cloak, oauth, identity management, saml etc

[2019-08-31 14:22] wallies commented on #528
@chrismclarke so we have zap, lighthouse bot, eslint security so far merged into the Ci testing branch. The of r major thing from above is definitely setting up netlify, then you can have dynamic Ci envs

[2019-08-31 15:14] chrismclarke commented on #528
Thanks @wallies, all the additions are really appreciated. I haven't used netlify myself before but taking a quick look through the docs and a few forums seems like a pretty solid option and fits well with our model of slowly transitioning away from a dependency on firebase (although still nice to have as an option of course).

Although I don't think we would need to take the full leap until we ar

[2019-08-31 15:17] chrismclarke commented on #533
Awesome! yeah I definitely will. I'll let you know once the server is spun up and configured with wordpress. The missing piece of the puzzle currently is the mechanisms for communicating with it from the platform (request/handle tokens and ideally provide some form of automated/invisible login for returning users like what currently happens with firebase). I'm guessing something like [passport.js]

[2019-09-02 04:48] grahamtwine commented on #529
Hi Benjamin,

I suspect it may be a permissions issue on the project?
Is it open for anyone to contribute?

I did not delve into the issue in great detail once the PR failed I just
notified the project ( you ) and moved on..

Kind Regards,
Graham

On Thu, 29 Aug 2019 at 11:21, Benjamin Gammaire <notifications@github.com>
wrote:

--
Regards,

Graham Twine
+27 82 990 3055

[2019-09-02 09:42] BenGamma opened #557 "[feature request] events filtering by tags"
**Is your feature request related to a problem? Please describe.**
When the list of event will be long, we will need to filter them.

**Describe the solution you'd like**
Ability to filter events by tags, like the solution implemented in how-tos #549

[2019-09-02 09:48] BenGamma opened #558 "[feature request] filter events by location"
**Is your feature request related to a problem? Please describe.**
Ability to filter events by location

**Describe the solution you'd like**
Build on top of the tag filtering system #557 , the possibility to filter by location.

**Build suggestion**
Use the `location.name` field as an other filter on the current event array.

[2019-09-02 10:26] BenGamma commented on #529
I tried to fetch your branch and it seems the repository doesn't exist, it may be the reason why you couldn't do a PR ? Because every github users can open PR.
If you still have the fork in your local folders, we would appreciate to see the fix :)

PS : Note that we've changed the name of the organization from **onearmyworld** to **ONEARMY** and the repository name from **onearmy** to **community-

[2019-09-02 10:34] BenGamma commented on #523
is this closed by #540 ?

[2019-09-02 11:09] wallies commented on #528
Yeh I definitely dont suggest moving the full stack to Netlify yet. Im more advocating for doing something like this https://github.com/wallies/onearmy/pull/11. This has snyk integration yes, but the main thing here is netlify build on PR, then lighthousekeeper runs against the PR netlify build. Also added nodejsscan, which is a static security scanner.

[2019-09-02 16:55] grahamtwine commented on #529
awesome I will give it a bash

On Mon, 2 Sep 2019 at 12:26, Benjamin Gammaire <notifications@github.com>
wrote:

--
Regards,

Graham Twine
+27 82 990 3055

[2019-09-02 17:44] #557 closed

[2019-09-04 07:38] #558 closed

[2019-09-04 14:44] BenGamma opened #561 "Archive Discussion page"
The Discussion section is not planned anymore for different reasons : not enough work force, others do it well already (for example discourse).

To keep an archive of the work done on this section and that may be useful in the futur I created a branch called `archive-discussion-section`.

[2019-09-04 15:18] #561 closed

[2019-09-05 08:49] BenGamma opened #563 "firebase emails : update project infos"
<img width="663" alt="Capture d’écran 2019-09-05 à 10 42 57" src="https://user-images.githubusercontent.com/4993215/64326355-1c7fed00-cfca-11e9-80f5-a882515e6f9a.png">

See screenshot below 👆
When you reset your email, need to rename **project-174193431763** to **precious plastic community**

[2019-09-06 16:10] BenGamma opened #565 "create login pages"
### Description
Create pages for the login flow :
- [x] page to sing-in under url `/sign-in `
mockup https://precious-plastic-community.webflow.io/login
- [x] page to sign-up under url `/sign-up`
mockup https://precious-plastic-community.webflow.io/signup
- [x] page to reset password under url `/reset-password`
mockup https://precious-plastic-community.webflow.io/forgot-password
- [x] page landing

[2019-09-11 16:05] #565 closed

[2019-09-12 09:51] BenGamma opened #571 "Make sign-up and sign-in page usable"
- [x] Link the created page in #565 to database to actually really get logged-in / signed-up when using them.
- [ ] remove the material-ui components in current `Login` component
- [x] validate fields (email / password)
- [x] error handling / display

[2019-09-12 09:56] BenGamma opened #572 "update rebass to 4.0"
See [Migration guide](https://rebassjs.org/migrating/) from rebass

[2019-09-13 12:30] #571 closed

[2019-09-16 14:20] BenGamma opened #582 "[bug] davehakkens login fails"
**Describe the bug**
Login with DH credentials is not properly working and needs more investigations.

I initialize the `authProvider` state to `Firebase` by default for now. Just remove it [there](https://github.com/ONEARMY/community-platform/blob/546318d26b896e61f03eb1c2cfc04cbdb98a766b/src/pages/SignIn/SignIn.tsx#L62) to work on this issue.

**To Reproduce**
Steps to reproduce the behavior:

1.

[2019-09-16 17:22] BenGamma opened #584 "Update /u/<username> UI page"
Integration of the new mockup of the user profile page.

## Page infos
* Url : `/u/<username>`
* Path in codebase : `src/pages/User/Content/UserPage`

### Mockup
https://precious-plastic-community.webflow.io/u/user-profile

Note : use placeholder data for "Extrusion Workspace" eg workspace_type and image of the workspace_type. Also the badges and howto and events count can be placeholders data.

[2019-09-16 17:28] BenGamma opened #585 "Mobile integration of the Header"
As suggested in the [mockup here](https://one-army-community-platform.webflow.io/), integrate the mobile version of the menu.

eg :
<img width="334" alt="Capture d’écran 2019-09-16 à 19 27 20" src="https://user-images.githubusercontent.com/4993215/64979471-176b4980-d8b8-11e9-8a42-dee6351c0fd8.png">

Note : resize your browser to see the mobile result.

[2019-09-18 08:41] catx23 commented on #585
it’s amazing with what kind of people we have to deal with, permanent destruction – since June, damages in the thousands – no sorry, no apologize, just some cool insults of Mr Hakkens :

We’ve got possibly 10 times banned, lost all friends and private chats for  :

– asking what to tell this poor people asking about this filament – one of the biggest lies ever of Mr Hakkens
– setting out a bounty

[2019-09-18 13:23] BenGamma opened #587 "create profile type selector"
As suggested on the mockups, create a profile_type "focus" section :
- [x] display the focus selector
- [x] change the sections form depending on the focus value :
![Profile_Fields_Explained](https://user-images.githubusercontent.com/4993215/65045936-f9f1ba80-d95f-11e9-9092-6913d10ff2ad.jpg)
note : this is not final scheme

- [x] if the user profile is empty, disable all form sections except focus

[2019-09-19 20:12] chrismclarke opened #588 "[feature request] - Zapier (or similar integrations)"
**Is your feature request related to a problem? Please describe.**
Unlikely to have notification/email system in place for launch so could provide a quick, reasonable way to improve knowledge of events on the platform. Zapier in particular already has configurations for firebase: https://zapier.com/app-directory/firebase/integrations/zapier

**Describe the solution you'd like**
Decide what are the

[2019-09-19 20:15] chrismclarke opened #589 "[feature request] - Add delete option for all user content (how-tos, events etc.)"
**Is your feature request related to a problem? Please describe.**
Recently added delete functionality to the database and enabled with user profile delete. Would be good to also integrate with the other common user interactions (e.g. how-tos, events etc.).

**Describe the solution you'd like**
Clear buttons and dialogs to allow the right users to be able to delete content.

**Describe alternative

[2019-09-20 12:18] davehakkens commented on #588
Good basic triggers would be
- New user registered
- New How-to uploaded
- New event created
- New pin on the map

Optional triggers
- notification if how-to is edited

[2019-09-23 10:35] BenGamma opened #591 "[bug] File upload freeze"
**Describe the bug**
(as describer by the user)
on https://community.preciousplastic.com/how-to/make-the-v4-chair upload
browser: firefox
Cover and images uploaded, but then it got stuck (for like 1h) at Files upload and didn't do anything more
solution (after a couple of times of trying): I uploaded 3 steps without files first and published, then I edited and uploaded the rest of the files and st

[2019-09-23 10:45] BenGamma opened #592 "[bug] app crash on multiple image upload"
**Describe the bug**
When creating a how-to, app crashes on multiple images upload in a step.
Screencast https://recordit.co/GAr9Ic4bIE

**To Reproduce**
Upload multiple images on a step

[2019-09-23 23:12] jparadasb commented on #437
Hello! is someone working on this issue? I took a look at this and was fixed after upgrading storybook to `5.2.1` and changing the webpack.conf as the migration guideline says [https://github.com/storybookjs/storybook/blob/next/MIGRATION.md#deprecate-webpack-extend-mode](url)

[2019-09-24 07:24] BenGamma commented on #437
Oh cool ! No feel free to fix it !

[2019-09-25 15:41] drydenwilliams opened #593 "How-to step should only allow 3 images to be uploaded [bug]"
**Describe the bug**
When you create a new how-to, you should only be able to upload 3 images max. Currently you can upload as many as you want.

**To Reproduce**
Steps to reproduce the behavior:
1. Visit the `/how-to/create` route
2. Go to a step
3. Upload lots of images

**Expected behavior**
The upload should only upload the first three images.

**Screenshots**

<img width="788" alt="Screenshot

[2019-09-26 10:46] BenGamma commented on #592
fixed with #594 closing

[2019-09-26 10:46] #592 closed

[2019-09-26 13:12] BenGamma opened #596 "[suggestion] moving from styled-component to emotion"
After rebass upgrade to v4 (#595), the lib use now by default [emotion](https://emotion.sh/docs/introduction) for styling.
Considering most of our component library is based on rebass, would make sens to align with them to insure the highest compatibility now and in the futur.

Also emotion seems to have a better developer experience and the size of the bundle is more than 10kb smaller, c.f. captu

[2019-09-26 13:29] drydenwilliams commented on #596
Do you have an estimate to do the switch to emotion?

[2019-09-26 13:40] BenGamma commented on #572
closed with #595

[2019-09-26 13:40] #572 closed

[2019-09-26 14:03] BenGamma commented on #596
Still need to investigate a bit on the benefits to switch to emotion and how to integrate it with our codebase (current component library/storybook) but once this is done I would say a day should be enough.

[2019-09-26 14:16] drydenwilliams commented on #593
Few questions about the UI & UX of this:
- What should happen if the user uploads more than three images?

[2019-09-26 14:24] mattia-io commented on #593
Hey @drydenwilliams
Thanks for bringing this up.

So, when the user uploads 3 images the dotted image upload box should disappear. Hence the user is not able to upload more than 3 pics. If he/she needs to replace one he/she would have to:
- delete one of the already uploaded images
- Dotted image upload box reappears
- Upload a new image.

Quickly paste together an example, let me know if not clea

[2019-09-26 14:50] drydenwilliams opened #597 "Re-order images in how-to steps [feature request]"
**Is your feature request related to a problem? Please describe.**
When a user upload images to a step, it would be great to be able to re-order the,.

**Describe the solution you'd like**
Would be great to be able to drag and drop those images.

**Describe alternatives you've considered**
Just the first one you upload is the featured one. But you would have to delete an image(s) to reorder which

[2019-09-26 14:52] drydenwilliams commented on #597
I've used [`react-sortable-hoc`](https://github.com/clauderic/react-sortable-hoc) for re-ordering before which works really nicely.

**Please note:** We do not currently have ability on the backend for image ordering.

[2019-09-26 14:55] #597 closed

[2019-09-26 14:56] drydenwilliams commented on #597
Closed as it's similar to #227

[2019-09-26 14:56] drydenwilliams commented on #227
I've used [`react-sortable-hoc`](https://github.com/clauderic/react-sortable-hoc) for re-ordering before which works really nicely.

**Please note:** We do not currently have ability on the backend for image ordering.

[2019-09-27 09:11] BenGamma opened #598 "Allow admin editing of tags"
**Describe the bug**
Some tags from the `v2_tags` collection are not displayed anymore in the tags selector in how-to section.
Needs investigate. May be linked to dexie cache db.
**To Reproduce**

* Open the tag selector in how-to list or how-to create/edit page
* check list of tags in firebase (you can order them by category to have a better overview)
* 16 tags are in the firebase, only 8 are sho

[2019-09-27 13:53] chrismclarke opened #600 "[feature request] - Decide on and implement full image handling strategy"
**Is your feature request related to a problem? Please describe.**
Currently we have in place a system that automatically compresses all images to a much more reasonable file size (letting the user know that it has done so). This reduced (640px wide) image is then used throughout the site.

Whilst pretty reasonable, there are 2 possible issues with this:
1) Users who want to upload larger images (

[2019-09-27 13:55] #587 closed

[2019-09-27 15:48] drydenwilliams commented on #584
Estimate: 2d

[2019-09-28 13:43] BenGamma opened #602 "Link new settings UI for profilev2 to database"
- [x] update IUser interface with all new fields
- [x] save data to firebase
- [x] populate fields with existing data
- [x] refactor focus & workspace selector
- [x] if a profileType exist, open corresponding form section and display existing value to user
- [x] compress user cover image before upload

[2019-10-01 09:22] BenGamma opened #605 "compress picture in a higher quality"
Change the compression default value to medium insted of low.

[2019-10-02 12:47] BenGamma opened #607 "update filters on map"
Link the existing filters on the map with the profile v2 user models.

There is two filters that doesn't depend on each others :

* Filtering depending on the `profileType` field :
<img width="881" alt="Capture d’écran 2019-10-02 à 14 45 29" src="https://user-images.githubusercontent.com/4993215/66045107-512c8900-e523-11e9-8af2-ab70f9b97fc4.png">

* Filtering depending on the `workspaceType` fie

[2019-10-02 12:55] byronwilliams opened #608 "[feature request] map should ask for user's location"
**Is your feature request related to a problem? Please describe.**
The map always loads around Einhoven, most people don't live here

**Describe the solution you'd like**
When the map loads it should ask the user for their location so that we can centre the map around them

**Describe alternatives you've considered**
None

**Additional context**

[2019-10-03 09:52] drydenwilliams opened #611 "Define browser matrix [feature request]"
It would be great to know what browsers we are going to support e.g.

- Chrome - v-x-x
- Firefox - v-x-x
- Safari
- Internet Explorer

Once we have done this we can explore any polyfills needed and also code for older versions if needed.

I raise this as we have used `object-fit` which is not supported on IE11 and looking at these stats from Africa (https://gs.statcounter.com/os-market-share/all/a

[2019-10-04 13:44] sovesove opened #615 "[bug] Hide event's tags from filter when there's no result"
**Describe the bug**
In: https://community.preciousplastic.com/events
If you select some filters (eg: "cleanup" at the moment of writing this) there's no result shown.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://community.preciousplastic.com/events
2. Select "cleanup" from the tag filters dropdown
3. See error

**Expected behavior**
Filters that returns zero results should

[2019-10-04 13:48] sovesove opened #616 "[bug] Nothing happens clicking on "More Events""
**Describe the bug**
At the end of the events list, there's the button "More Events" that doesn't do anything

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://community.preciousplastic.com/events
2. Scroll down to 'More Events' button
3. Click on the button
4. See error (nothing happens)

**Expected behavior**
If there are more events, then show more events at the bottom of the

[2019-10-04 14:06] sovesove opened #617 "Filter's dropdown box has an extra border"
In: https://community.preciousplastic.com/events

The dropdown for the tags has an extra 1px border that makes the box not aligned with the other buttons next to it
<img width="595" alt="image" src="https://user-images.githubusercontent.com/940045/66213771-b8337480-e6c0-11e9-9fb9-cc3b674475d0.png">
<img width="239" alt="image" src="https://user-images.githubusercontent.com/940045/66213866-e1ec9b80

[2019-10-07 09:21] chrismclarke opened #619 "[feature request] - Analytics/Cookie Policy"
**Is your feature request related to a problem? Please describe.**
Discussion started in slack but better to capture here. Code previously included to test implementing google analytics, however this is no longer desirable. Want to determine best alternative including thoughts on:

1) Do we need to track any information? If so, why?
2) What are our options to capture this? (likely either hardcodin

[2019-10-07 09:22] chrismclarke commented on #320
closing this in favour of #619

[2019-10-07 09:22] #320 closed

[2019-10-07 09:50] sovesove opened #620 "Update navigation bar buttons cooler"

[2019-10-07 09:52] sovesove commented on #620
<img width="404" alt="image" src="https://user-images.githubusercontent.com/940045/66302169-b81db980-e8f8-11e9-8408-a01f0843ea17.png">

Currently, the "Login" and "Join" buttons are the same light blue and don't use the hand pointer as the cursor when hovering.

See default/hover colours and hand cursor here: https://one-army-community-platform.webflow.io/

[2019-10-07 12:07] sovesove opened #621 "[bug] "Back" button doesn't work"
**Describe the bug**
When I get to the end of an How-To article there's a "Back" button to go to the list page, but this button does nothing when I click on it.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://community.preciousplastic.com/how-to/glue-hdpe--pp-with-2component-adhesives
2. Scroll down to the end of the article
4. Click on the "Back" button

**Expected behavior**

[2019-10-07 12:57] BenGamma commented on #602
closed with #609

[2019-10-07 12:57] #602 closed

[2019-10-07 23:54] #605 closed

[2019-10-07 23:55] BenGamma commented on #584
done with #613

[2019-10-07 23:55] #584 closed

[2019-10-08 00:02] BenGamma commented on #529
Closing. Now running test with cypress, see the [contribution guidelines](https://github.com/ONEARMY/community-platform/blob/master/CONTRIBUTING.md#--getting-started) for commands.

[2019-10-08 00:02] #529 closed

[2019-10-08 13:07] BenGamma commented on #621
Fixed in last release, see [production site](https://community.preciousplastic.com/)

[2019-10-08 13:07] #621 closed

[2019-10-08 13:54] BenGamma opened #627 "[bug] display how-to in chronological order"
**Describe the bug**
The how-tos in the list are displayed in weird order.

**To Reproduce**
See in `/how-to/list`, click on a first how-to and see the publication date and check a second how-to.

**Expected behavior**
They should be order in chronological order.

**Additional context**
May be linked to the `v2_<collection-name>` update. Also check the howto.store method to retreive how-to `this.a

[2019-10-08 14:03] BenGamma opened #628 "update user menu modal"
**Is your feature request related to a problem? Please describe.**
In header, when you click on avatar, the UI of the modal needs update to fit new mockups.

**Screenshot**
<img width="195" alt="Capture d’écran 2019-10-08 à 15 58 54" src="https://user-images.githubusercontent.com/4993215/66402271-e11b7880-e9e4-11e9-99f5-6617f7eb3f7d.png">

**Describe the solution you'd like**
Remove all the uses

[2019-10-08 14:14] BenGamma opened #629 "[bug] datepicker doesn't appear in safari"
**Describe the bug**
When user want to create an event and using safari browser, the datepicker display as a regular input field.

**To Reproduce**
Use safari browser and navigate to `/events/create`.

**Expected behavior**
User should be able to add a date using a datepicker.

**Screenshots**
<img width="540" alt="Capture d’écran 2019-10-08 à 16 10 23" src="https://user-images.githubusercontent

[2019-10-08 14:20] BenGamma opened #630 "[bug] can't preview image upload on safari"
**Describe the bug**
On safari, when uploading an image, the preview doesn't show the image the user wants to upload.

**To Reproduce**
using safari, try to upload an image either in youe user `/settings` or in the create how-to page.

**Expected behavior**
User should be able to preview the image your are about to upload.

**Screenshots**
After image selected :
<img width="336" alt="Capture d’éc

[2019-10-08 14:34] BenGamma opened #631 "migrate previous forgot password integration"
Need to migrate the previous integration of the forgot password flow that lives in the file `src/pages/common/Login/ResetPW.form.tsx`, in the current `/sign-in` page.

[2019-10-08 14:50] BenGamma opened #632 "[feature request] send verification email to new users"
**Is your feature request related to a problem? Please describe.**
When user sign-up successfully, we prompt them a message to verify their account by clicking the link they just receive by email. But we don't send any email.

**Describe the solution you'd like**
Send the verification email to new user with unique link. Firebase provide a [custom mail handler](https://firebase.google.com/docs/auth

[2019-10-09 08:24] sovesove opened #633 "[bug] Profile stats disappears for tablet view"
**Describe the bug**
The profile statistics box disappears for viewports between 640px-831px

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to https://dev.onearmy.world/u/davehakkens
2. Set browser width at 700px
4. See error

**Expected behaviour**
See expected here: https://one-army-community-platform.webflow.io/u/my-profile

**Screenshots**
<img width="671" alt="image" src="https://

[2019-10-09 15:38] lauvrenn commented on #632
I'll give it a try 👌

[2019-10-10 02:58] tmhung88 opened #636 "Tags in /how-to are not shown on load"
**Describe the bug**
Open /how-to and no tag was shown for any how-to

**To Reproduce**
https://github.com/ONEARMY/community-platform/commit/6faefbcac756ab79a86f5b3abe9ba99bc2806bd4

**Expected behavior**
Tags are shown as the following
![image](https://user-images.githubusercontent.com/2813016/66536430-20fa7100-eb47-11e9-8e93-832492553fa9.png)

[2019-10-10 05:48] tmhung88 opened #638 "Cannot log-in when reading a how-to"
**Describe the bug**
the **Log-in** button didn't work when reading a how-to

**To Reproduce**
ccd2289b1e72b11164d6b5b9686e36f180e1dd40

**Expected behavior**
Take users to the login-page or show a modal to log-in

[2019-10-10 06:05] tmhung88 opened #639 "Don't show loading... when there is no how-to left"
**Describe the bug**
**loading...** was always shown even if there was no how-to matching selected tags

**To Reproduce**
fccf3d8ac0d3451a0d35b92e83aa25ca5b4effc9

**Expected behavior**
Should say to users there is no more how-to available
![image](https://user-images.githubusercontent.com/2813016/66543104-a0476f00-eb5e-11e9-8552-a5548cc6d203.png)

[2019-10-10 06:18] tmhung88 opened #640 "Cannot open the create-how-to page with its url"
**Describe the bug**
Login with any user. Visited /how-to/create and got redirected to /how-to

**To Reproduce**
f590178669d2954adab8792d6637e4246b012407

**Expected behavior**
- The create-how-to page should be opened as if clicking on the **Create a How-to** button

[2019-10-10 07:44] chrismclarke commented on #639
The way things are coded currently, if the page sees there are zero how-tos (just an empty array) it thinks it is still waiting to load (like in the very first load). Ideally there should be a better way to differentiate between not-yet-loaded and loaded-but-no-results.

As a minimum, simply swapping the behaviour so that zero how-tos a message saying there are none and mis-diagnosing when the how

[2019-10-10 07:47] chrismclarke commented on #638
Really like having a bugs section of the ci!
Can see it's a simple mistake of how the sign-in url is populated (adds '/sign-in' to the end of whatever the current page is instead of comparing to the root)
i.e `https://dev.onearmy.world/how-to/sign-in` instead of `https://dev.onearmy.world/sign-in`

Will make a quick fix

[2019-10-10 08:02] chrismclarke commented on #632
We don't?? We used to, I wonder what happened/changed. Firebase has it's own built in mail system that should be handling this (and we only need to update the template).

@lauvrenn , I think you might not be able to do this without access to the firebase console so I'd say probably wouldn't be the best use of your time to investigate. There are a number of other issues tagged `Good first issue` an

[2019-10-10 09:04] #638 closed

[2019-10-10 11:09] tmhung88 opened #646 "View How-To is not disabled while a how-to is being saved"
**Describe the bug**
Users were able to click on the **View How-To** button when a how-to was being saved. As a result, it showed the how-to was not found.

![image](https://user-images.githubusercontent.com/2813016/66563943-106aea80-eb89-11e9-901e-2b5399f40ab2.png)

**To Reproduce**
Steps to reproduce the behavior:
1a6905469e4e62ad52dd2e59227baf0100d760e1

**Expected behavior**
The View How-to bu

[2019-10-10 12:48] tmhung88 opened #648 "Lost password link doesn't work in the Sign-in page"
**Describe the bug**
Nothing happened when clicking onto the **Lost Password** link

**To Reproduce**
c9268e39d298cf5f87c35bc7421e4be0adf11bdb

**Expected behavior**
The lost password form should be shown

[2019-10-10 13:00] tmhung88 opened #649 "Friendly messages for failed login"
**Describe the bug**
Error messages at the login screen were very technical and were not helpful.
![image](https://user-images.githubusercontent.com/2813016/66570847-99d5e900-eb98-11e9-8005-e7e76f6e6968.png)

**To Reproduce**
c44fab7268313e6099b4f875d10cee38695f0ba8

**Expected behavior**
There are 2 main scenarios:
- Wrong email + any password: then show **Incorrect email**
- Correct email + wron

[2019-10-10 13:11] tmhung88 opened #651 "The sign-in page is accessible to logged-in users"
**Describe the bug**
Currently logged-in users were able to open the log-in page with its url, /sign-in

**To Reproduce**
23ab619c445e4e1f244a3fd8cbe193754036b1c6

**Expected behavior**
Users should be redirected to the home page instead

[2019-10-10 14:48] #632 closed

[2019-10-10 18:57] chrismclarke commented on #266
We've (finally) gotten around to implementing cypress testing, with a bunch of specs and integrations already done (thanks @tmhung88!)

Closing this issue here as dealing with specific tests on a case-by-case basis

[2019-10-10 18:57] #266 closed

[2019-10-10 18:59] chrismclarke opened #658 "[bug] - Duplicate how-tos not prevented"
**Describe the bug**
See title

**To Reproduce**
Try make a how-to with the same title as another, also test available in cypress bugs spec

**Expected behavior**
Form validators prevent

Fix already prepared, issue more for reference

[2019-10-11 09:59] #640 closed

[2019-10-11 10:10] chrismclarke commented on #648
Will look into this now...

[2019-10-11 10:47] chrismclarke commented on #631
merge into #648

[2019-10-11 10:47] #631 closed

[2019-10-11 10:48] #136 closed

[2019-10-11 10:48] #226 closed

[2019-10-11 10:49] chrismclarke commented on #342
implemented

[2019-10-11 10:49] #342 closed

[2019-10-11 10:49] chrismclarke commented on #445
Assume users using new sign-up, or old issues handled case by case. Closing

[2019-10-11 10:49] #445 closed

[2019-10-11 10:52] chrismclarke commented on #447
A bunch of work done on this previously, but still a few outstanding things to go (some legacy code for removal, so existing code pending update) so will keep open. Removing myself as assignee and replacing with @BenGamma who has been working on this

[2019-10-11 11:45] chrismclarke commented on #596
Before trying to assess the benefits of a new system, it would be good to identify pain-points/known limitations with the current system and look for solutions (which may/may not be another similar system). There's always going to be something newer and shinier, and easy to get lured into 'pro-information bias'.

[2019-10-11 12:36] #658 closed

[2019-10-11 12:39] chrismclarke commented on #3
now things being handled in smaller issues so feels less relevant to keep open. Closing.

[2019-10-11 12:39] #3 closed

[2019-10-11 12:40] chrismclarke commented on #8
now things being handled in smaller issues so feels less relevant to keep open. Closing.

[2019-10-11 12:40] #8 closed

[2019-10-11 12:41] chrismclarke commented on #143
now things being handled in smaller issues so feels less relevant to keep open. Closing.

[2019-10-11 12:41] #143 closed

[2019-10-11 12:41] chrismclarke commented on #144
now things being handled in smaller issues so feels less relevant to keep open. Closing.

[2019-10-11 12:41] #144 closed

[2019-10-11 12:42] chrismclarke commented on #523
yes, restructure means no longer relevant, closing.

[2019-10-11 12:43] chrismclarke commented on #532
Discussion moved to slack/other general discussions. closing here

[2019-10-11 12:43] #532 closed

[2019-10-11 12:44] chrismclarke commented on #533
Alternate workarounds found to avoid need for keycloak. closing

[2019-10-11 12:44] #533 closed

[2019-10-11 12:48] #103 closed

[2019-10-11 12:50] chrismclarke commented on #324
not really related to dev, and recorded in separate doc so closing here

[2019-10-11 12:50] #324 closed

[2019-10-11 12:54] chrismclarke commented on #395
merge into #546

[2019-10-11 12:54] #395 closed

[2019-10-11 13:00] chrismclarke commented on #429
This has now been captured mostly in the wiki and start of other docs (plus github not the best medium for wider discussion), so closing here

[2019-10-11 13:02] chrismclarke commented on #437
closed by #618

[2019-10-11 13:02] #437 closed

[2019-10-11 13:21] chrismclarke commented on #394
@caiokf - is this something you would be interested in looking into?

[2019-10-11 13:31] #639 closed

[2019-10-11 14:06] lauvrenn commented on #636
I'll try to fix this one :hand:

[2019-10-11 19:09] lauvrenn commented on #629
It's because Safari unfortunately doesn't support the native datepicker. One way to tackle this would be to attach a jQuery datepicker instead when a browser doesn't support a native one. I saw jQuery, and the required jQuery UI, aren't installed in the project though, @chrismclarke do you think they should be brought in for this one thing? :thinking:  I remember reading that jQuery UI is quite a

[2019-10-12 09:30] chrismclarke commented on #629
Yeah support isn't even on the roadmap it seems:
https://caniuse.com/#feat=input-datetime

I would say not to bring in jquery just for the one feature, as said it is quite heavy and also can have a tendency to interfere with other packages. I would say we should just import a specific lib to use for a date-picker like we do for the select picker.

https://www.npmjs.com/search?q=react%20date&rankin

[2019-10-12 10:15] chrismclarke commented on #649
If anyone wants to take this on, I don't have the exact text from the design team, but what could be nice is to include some sort of `DISPLAY_MESSAGES` json or ts file that can be used for quick look-up of a specific message and return something nicer (fallback to original message if not available).

That way we can have all the text in one place and easy to change/adapt in the future.

[2019-10-12 10:21] chrismclarke commented on #611
Whilst we're talking about this, it would be good to have some way of automating some of the tests on multiple browsers, even if only in a very basic way (current e2e testing only supports chrome/chromium/electron). I'm sure someone put some links for this somewhere at some point but I can't track them down

[2019-10-12 10:21] chrismclarke commented on #630
As a fix can I just give you a better web browser @BenGamma ? :p

I'm guessing this should also link with browser support (#611) and testing strategy.

[2019-10-12 11:36] chrismclarke commented on #649
Including friendlier messages with #661. So should be able to use same methods.
see `getFriendlyMessage()` function in `src\components\Notification\messages.tsx`

[2019-10-12 14:29] #648 closed

[2019-10-12 21:32] lauvrenn commented on #629
Yeah, I stared at the roadmap in disbelief when I found out about it :joy: Okay, I went with the most common one, hoping it works :joy:

[2019-10-13 08:27] #636 closed

[2019-10-14 15:49] #617 closed

[2019-10-15 02:26] tmhung88 opened #676 "Received a broken How-to page when opening a unknown how-to"
**Describe the bug**
When visiting /how-to/unknown-anything, the page was as below
![image](https://user-images.githubusercontent.com/2813016/66795052-9c846580-ef2d-11e9-8513-4e0c7752aeec.png)

**To Reproduce**
5a266775073243f6fa702a9e94351a6f727d7c12

**Expected behavior**
Just show the 404 page for any nonexistent resource

![image](https://user-images.githubusercontent.com/2813016/66795072-ac03

[2019-10-15 02:41] tmhung88 opened #677 "CSS is broken for an event card"
**Describe the bug**
- Tags were overlapped
- There was too much space between Go to event and its icon

![image](https://user-images.githubusercontent.com/2813016/66795671-82e41d80-ef2f-11e9-9aa8-070a339df24d.png)

**To Reproduce**
Run `cy:open` and select the `event.spec.ts` test file

**Expected behavior**
- Tags should be put in a new line when there are too many
- **Go to event** should be ri

[2019-10-15 09:15] tmhung88 opened #678 "The location dropdown list cannot be closed in the Events page"
**Describe the bug**
The location dropdown list didn't go away when clicking ECS or left-clicking on the open space
![image](https://user-images.githubusercontent.com/2813016/66818236-39172980-ef67-11e9-9ce0-9731f193babc.png)

**To Reproduce**
- Go to /events
- Type **suba** in the Location box

**Expected behavior**
The dropdown list should go away when
- Hit the ECS button
- Left click outside t

[2019-10-15 09:24] tmhung88 opened #679 "Inconsistent behavior for the anonymous when opening /events/create"
**Describe the bug**
As an anonymous, visiting /events/create, the user was redirected to /events

**To Reproduce**
1e196543e4c31ee5e1dbca16f4ba8d3454c0df4f

**Expected behavior**
It should be handled as same as #656 that is to ask users to login
![image](https://user-images.githubusercontent.com/2813016/66818913-3ff26c00-ef68-11e9-97a3-31082ee41f9d.png)

[2019-10-15 10:42] tmhung88 opened #680 "Date picker is not shown in the /events/create page"
**Describe the bug**
Part of the user experience, I expected the date picker should be shown when clicking into  the input box. However it did not.
We had to click into the small arrow icon. It was only shown when we hovered over the field.
![image](https://user-images.githubusercontent.com/2813016/66824755-1d198500-ef73-11e9-938f-0ad119b5bfc4.png)

**To Reproduce**
- Go to the page that is to cre

[2019-10-15 12:40] lauvrenn commented on #680
This should be fixed once #667 is merged

[2019-10-15 15:10] tmhung88 opened #683 "Cannot open /events/create as logged-in users"
**Describe the bug**
Logged in users were redirected to the /events page when visiting /events/create

**To Reproduce**
- Log in with any user
- Go to /events/create

**Expected behavior**
- Should allow users to see /events/create.
This issue also happened to /how-to/create before (#640). We should have a fix at the authentication layer which decides a page to be seen by an authenticated user.

[2019-10-15 15:22] tmhung88 opened #684 "[feature request] Create a ResetLinkHandler for testing"
An improvement for this quick fix 4041bf2a34a42a8f27e20ec81b31c2c8bf776560. There is a daily cap, 150  of **reset_auth** requests/day in Firebase. As a result, Lost Password tests fail permanently if we hit this threshold. A solution is to inject corresponding ResetLinkHandler based on the environment
- FirebaseResetLinkHandler - call Firebase SDK to send a reset link
- TestRestLinkHandler - does

[2019-10-15 15:41] tmhung88 opened #685 "Users stay on the same page after logout"
**Describe the bug**
For some protected pages (/settings, /create ...), users were asked to login just right after they logged out. The behavior was confusing.
![image](https://user-images.githubusercontent.com/2813016/66847376-79919a00-ef9d-11e9-9272-4e0fea4fd0c6.png)

**To Reproduce**
af8706c2aa93d7e588dbd4d39e94e86190c61e5f

**Expected behavior**
Should redirect users to Home page ('/') after t

[2019-10-15 15:43] jparadasb commented on #649
Hello @chrismclarke This is great, what do you think about to move this method to utils/helpers? and handle a single file with the `MESSAGES` const, as a translation file?

[2019-10-15 15:52] tmhung88 opened #686 "Submit buttons are not enabled after all fields are validated successfully"
**Describe the bug**
This issue happened to many forms: how-to, events. Essentially, the Publish (submit) button was not enabled after the last field was inputted correctly. It required an extra action to fire form validation. The action could be a click, a focus ...
![image](https://user-images.githubusercontent.com/2813016/66848113-ae522100-ef9e-11e9-82c1-d7cff919d3e4.png)

**To Reproduce**
f01e

[2019-10-15 15:56] tmhung88 commented on #686
@chrismclarke logged the issue as discussed

[2019-10-15 16:01] tmhung88 opened #687 "[feature request] As an user, I want to clear the location box with a single click"
**Is your feature request related to a problem? Please describe.**
Users manually removed the selected location with backspace. It's unpleasant if a location is too long

![image](https://user-images.githubusercontent.com/2813016/66848514-6ed80480-ef9f-11e9-92cb-864f0bd5e6d4.png)

**Describe the solution you'd like**
There should be a small icon (X). It should clear texts in the box on click.

[2019-10-15 16:02] chrismclarke commented on #686
To the best of my knowledge this only effects the CI, as manual user input triggers validation on click and blur methods. So I think it might just be the testing that needs to update to account for this, because otherwise additional change detection within forms (e.g. every input change event) would be quite heavy

[2019-10-15 16:02] chrismclarke commented on #686
But maybe someone can test if this also reproduces using manual input

[2019-10-16 10:20] tmhung88 opened #688 "/how-to/{slug}/edit is not accessible to resource owners"
**Describe the bug**
As an creator of a how-to, the user was redirected to /how-to instead of seeing the /edit page of the given how-to

**To Reproduce**
0c2e2f90874aedf8a9df7eccd9f4ee19e9806af5

**Expected behavior**
- Should allow resource owners to go to Edit mode of their how-tos with the url
- Please note Anonymous and other logged-in users shouldn't get into the page if they're not resource

[2019-10-16 13:02] tmhung88 opened #690 "Failed to upload images for a step in How-to"
**Describe the bug**
After creating, images of steps were either missing or lack of public access.
![broken-images](https://user-images.githubusercontent.com/2813016/66921639-d3529c80-f04f-11e9-8e85-0de0e33e5ecc.png)

![missing-images](https://user-images.githubusercontent.com/2813016/66921880-37756080-f050-11e9-96eb-45afefb0edb3.png)

**To Reproduce**
Refer to [**Create a How-to**] test case

**E

[2019-10-16 14:53] tmhung88 opened #692 "Edit button is not shown after login with firebase api"
**Describe the bug**
Most the time, the Edit button was not shown after login done via firebase SDK within Cypress test. However, if we use **cy.wait(1000)**, it'll appear.

**To Reproduce**
Run the Cypress test in this commit f11d33ce9f8a2f084283d8347a08d9ffc6a3a641

**Expected behavior**
 The Edit button should be shown even if it's slow

[2019-10-16 15:14] tmhung88 opened #693 "/sign-up is accessible to authenticated users"
**Describe the bug**
After login, users were able to open /sign-up

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
For authenticated users, they should be redirected to Home Page when trying to open **/sign-up**

[2019-10-16 15:22] tmhung88 opened #694 "Validation for Password & Confirm-Password does not work"
**Describe the bug**
When registering a new user, we're able to proceed even if Password is different to Confirm-Password

**To Reproduce**
93a6a68705db90f3200147c0798240debcd8a7e7

**Expected behavior**
- Should stop the registration and show an error message to users.

[2019-10-16 16:39] tmhung88 commented on #692
Set this one as High because this issue is affecting many test cases that requires login

[2019-10-17 09:47] drydenwilliams opened #697 "Map - popups need fallback image [bug]"
**Describe the bug**
When you open a popup on the map is should have a fallback image.

**To Reproduce**
1. Go to the map
2. Click on the pin in London for the user `chris-m-clarke` and you'll see there isn't any image, just a grey box.

**Expected behavior**
It should have a fall back image.

**Screenshots**
<img width="1440" alt="Screenshot 2019-10-17 at 11 09 04" src="https://user-images.github

[2019-10-17 09:52] drydenwilliams opened #698 "Map - Popup opens when filtering [bug]"
**Describe the bug**
Popup is visible when the map has been filtered.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to the map
2. Click on a marker to open the popup
3. Click somewhere else on the map to close the popup
4. Use the filters to filter markers
5. Note that the last popup you clicked on is open without a marker

**Expected behavior**
It should just filter the markers. Not o

[2019-10-17 10:44] #628 closed

[2019-10-17 12:03] tmhung88 opened #700 "Editing an existing how-to inserts a new document"
**Describe the bug**
Right after an user submitted edit changes, a new document was created and the original document stayed intact in the collection

**To Reproduce**
Run the **[Edit a how-to]** test in this #689 and notice a new document is inserted after the edit is done.

**Expected behavior**
All changes should be updated against the existing document. No new document should be inserted

[2019-10-17 12:25] tmhung88 commented on #684
There is a much simpler solution that we just let it hit the limitation and verify if the expected Firebase error is returned. It's enough to say that we've called the correct resend-auth api.

[2019-10-17 12:56] drydenwilliams commented on #677
Fixed the date output and the styling on the tags.

<img width="1238" alt="Screenshot 2019-10-17 at 14 55 06" src="https://user-images.githubusercontent.com/4403089/67010583-398dfc80-f0ee-11e9-9d21-8cc1b0aaca15.png">

[2019-10-17 13:43] tmhung88 commented on #677
@drydenwilliams Could you also put the text "**Go to Event**" next to its icon

[2019-10-17 13:51] #629 closed

[2019-10-17 15:34] #593 closed

[2019-10-18 09:10] drydenwilliams commented on #690
This should be fixed as part of #691

[2019-10-18 09:19] drydenwilliams commented on #677
Done ✅

[2019-10-18 09:30] drydenwilliams commented on #692
Could be going to a `404` page instead of the `/how-to/make-glasslike-beams`? I've tried quite a few times and the edit button seems to display find. Only time when it doesn't is when I don't own that how-to (which is great) and then if the how-to isn't there.

[2019-10-18 09:31] drydenwilliams commented on #693
I need to come back to this one. My local wasn't working correctly and not updating from `userStore`

[2019-10-18 10:24] chrismclarke commented on #685
makes sense to me, go for it @drydenwilliams

[2019-10-18 10:29] chrismclarke commented on #692
Will investigate, I imagine it's down to there being two different ways for gatekeeping content, one at the routing level and one at the component level. For now I'd say just workaround however possible for testing how-tos, and will try to have a fix in place by the time it comes to adding tests for editing events.

[2019-10-18 10:37] tmhung88 commented on #692
I gave it another try and my finding is **userStore.user** does get updated after **cy.login()**. However, **Howto** component isn't notified by **userStore** in order to re-render.

[2019-10-18 10:51] tmhung88 commented on #694
Fixed by #702

[2019-10-18 10:51] #694 closed

[2019-10-18 16:42] BenGamma opened #705 "allow events edit"
Like for a how-to, allow the creator of the event to edit it.

**mockups**
event page with edit button on the side :
<img width="1653" alt="Capture d’écran 2019-10-18 à 18 42 03" src="https://user-images.githubusercontent.com/4993215/67112223-007d8700-f1d7-11e9-8d13-0a71db62aace.png">
edit page https://precious-plastic-community.webflow.io/u/edit/edit-event

[2019-10-18 16:47] BenGamma opened #706 "academy routing"
As it is an iframe now, you can only see the `/academy`.

Allow user to navigate with URLs. Update the routing depending on the iframe using [postMessage](https://developer.mozilla.org/en-US/docs/Web/API/Window/postMessage)

[2019-10-18 17:30] BenGamma opened #707 "moderation system on how-to"
Allow creator and super admin to publish and unpublish their content :

- [ ] Add a button publish/unplublish on the how-to page for the owner and super-admin.
- [ ] by default a how-to is unpublish
- [ ] send notification using zapier to content moderator on creation
- [ ] update text on how-to creation popup

[2019-10-19 03:10] tmhung88 commented on #680
Fixed by #667

[2019-10-19 03:10] #680 closed

[2019-10-20 14:38] porcelani opened #710 "Change asserts of the date that can change with timezone"
**Is your feature request related to a problem? Please describe.**
When I execute the Cypress tests in my timezone the tests fail.

**Describe the solution you'd like**
![Screenshot from 2019-10-20 10-00-06](https://user-images.githubusercontent.com/7378479/67161082-7267e480-f32d-11e9-9aaf-473dc462efdc.png)

**Describe alternatives you've considered*
Change assert of day

[2019-10-21 11:43] chrismclarke commented on #706
Just to elaborate a bit more, the academy uses an iframe to show content from a static site generated at: https://onearmy.github.io/academy

We want to be able to directly link to sections in the academy from the main site, i.e.,

https://onearmy.github.io/academy/plastic/basics
should be viewable at
https://dev.onearmy.world/academy/plastic/basics

This can probably be done simply by binding the

[2019-10-21 12:06] chrismclarke commented on #687
Anyone looking into this may also want to refer to #678 and #712 because there could be overlap.

[2019-10-21 12:11] tmhung88 commented on #687
@chrismclarke #678 is a bug and different to this request. It's tiny functionality to clear input whether Aloglia suggestion box is opened or not. In case, Algolia is opened, (X) also closes the box

[2019-10-21 12:20] #615 closed

[2019-10-21 12:43] #627 closed

[2019-10-21 13:00] tmhung88 commented on #646
Fixed by #682

[2019-10-21 13:00] #646 closed

[2019-10-21 13:48] chrismclarke commented on #649
Hey @jparadasb, yep that makes a lot of sense, much easier if people want to make their own changes just to the text.  By translate file are we thinking JSON with a http import mechanism? I had briefly thought about that and should definitely work, was just lazy at the time of writing code.

In any case feel free to make a PR however you feel best.

[2019-10-21 17:03] chrismclarke commented on #710
closed with #714

[2019-10-21 17:03] #710 closed

[2019-10-21 17:11] chrismclarke commented on #598
There's 16 tags in the DB but they are split between how-to and event tags, so only the 8 that are categorised as how-tos are shown.

e.g.:
![image](https://user-images.githubusercontent.com/10515065/67226923-04efad00-f42e-11e9-8545-37fbf2f385ae.png)

Agree it would be better to manage tags from another panel, suggest either renaming this issue or closing here and opening elsewhere

[2019-10-21 22:57] #678 closed

[2019-10-21 23:03] chrismclarke commented on #707
Just as a quick note, I've made a couple changes to the admin settings so now there is a regular `admin` role as well as `super-admin`. I would suggest either we specify `admin` for people who can do this, or if useful could create another role of `moderator` or similar if we want to only give a specific set of permissions

[2019-10-22 13:59] #687 closed

[2019-10-22 21:41] lfre commented on #528
Hi everyone! Thanks for giving [Lightkeeper](https://github.com/lfre/lightkeeper) a try! I'd appreciate if you could give it a ⭐️ if you found it helpful. Thanks!

[2019-10-28 09:31] #598 closed

[2019-10-29 14:33] BenGamma commented on #698
The method `componentDidUpdate` of the Popup component is fired everytime the filter is onChange. That seems to be why.
We need to find a way to not update the component 🤔

[2019-10-29 20:07] BenGamma commented on #700
Is it fixed ? I can't reproduced from `master` and it's not present in the bug.spec.ts file. @tmhung88 ?

[2019-10-29 20:13] BenGamma opened #722 "GDPR regulation"
Align the platform with GDPR regulation.

[2019-10-29 21:21] chrismclarke commented on #722
Might be good if other people weigh in on this, but I'm naively assuming there isn't much we actually need to do at this stage. We're not currently using cookies to track/store any analytics, and the only user information we expose publically is username and profile picture (both of which users can choose to make non-identifiable).

I can see a similar discussion on discourse here: https://meta.di

[2019-10-30 11:07] BenGamma opened #723 "add zIndex to theme value"
At the moment we have multiple zIndex values around the project and it each time a value is added, the dev never know if the new value is going to override an other z-index value, somewhere else in the project.
As suggested by @drydenwilliams we could use a theme value for z-index like :
[code]

[2019-10-30 13:04] tmhung88 commented on #700
@BenGamma it's still there. You can check by looking at firestore db of **onearmy-test-ci**. This is the inserted record on edit

![image](https://user-images.githubusercontent.com/2813016/67860470-7deab500-fb50-11e9-9c1b-7bf1843f7027.png)

[2019-10-30 13:06] tmhung88 commented on #690
@drydenwilliams it's not fixed. The upload functionality is broken for both create/edit a howto

[2019-10-30 13:07] #677 closed

[2019-10-30 14:04] BenGamma opened #724 "Update react-pose (deprecated) to framer"
React-pose [has been deprecated](https://github.com/Popmotion/popmotion/tree/master/packages/react-pose) for [framer motion](https://github.com/framer/motion).

Do a search of `react-pose` in the project and update where needed.

[2019-10-30 15:43] BenGamma opened #726 "remove default cover_image in /u/<username> page & registration flow"
When users create their profile but doesn't add any cover image a default is displayed on the user profile page. Remove the default cover image.

This question is linked to a more global reflexion about the user flow after registration. For now it is sign-up => confirmation email link => redirect to call to action to home.
We could at this point suggest to the user to setup his profile and redirec

[2019-10-30 16:00] BenGamma opened #727 "refactor Text component"
TODO :
- [ ] reduce the number of props by deleting the single-use props
- [ ] avoid confusion with `tags`props used to style non tags text
- [ ] use the theme values

[2019-10-30 19:28] chrismclarke opened #728 "[bug] - Settings page resets input fields on map pin location change"
**Describe the bug**
When filling out the form on the settings page, once I input a location for the map pin there is some sort of form reset and I lose description fields and contact links

**To Reproduce**
Go to settings page, fill out all fields and then change the pin location

**Expected behavior**
Only the pin should be updated

**Screenshots**
Example of description field remove on change (

[2019-10-30 19:38] chrismclarke opened #729 "[bug] - Settings page cannot save workspace"
**Describe the bug**
I filled out all form fields but save button disabled

**To Reproduce**
Go to settings page, fill out all fields as workspace

**Expected behavior**
Button enabled for save or some sort of warning/error message to identify if something wrong or missing

**Screenshots**
![image](https://user-images.githubusercontent.com/10515065/67892491-0dbd3e80-fb12-11e9-9366-d47d92abe447.png

[2019-10-31 11:36] BenGamma commented on #729
I'm not able to reproduce using Firefox & chrome, can you give me more infos ?

But overall I agree that we should allow the click on the save button all the time and only display the errors/required field on click.

[2019-10-31 11:40] BenGamma opened #731 "display errors on fields on save click"
In pages :
`/settings`
`/how-to/create`
`/events/create`
`/how-to/edit`
To improve user experience we should display the errors on fields when user try to save his content instead of disabelling the save button before fields are validated.

[2019-10-31 11:44] #608 closed

[2019-10-31 21:29] chrismclarke commented on #698
should be closed with latest map PR

[2019-11-01 12:03] BenGamma opened #734 "[feature request] warn user if leave page without saving"
**Is your feature request related to a problem? Please describe.**
In case a user accidentally press previous button in the browser and content is not saved, he loose it all.
**Describe the solution you'd like**
If content (especially how-to) is not saved, show a confirmation alert() pop-up

[2019-11-01 13:57] drydenwilliams commented on #685
This one seems to be completed. @chrismclarke please could you confirm and if so we can close this issue.

[2019-11-01 15:32] drydenwilliams commented on #607
I think this has been taken over by @chrismclarke. Can you confirm please @chrismclarke?

[2019-11-01 16:10] #698 closed

[2019-11-01 16:59] #585 closed

[2019-11-01 19:20] chrismclarke commented on #729
Really strange then, maybe it's linked to my profile being old and conflict with something else somewhere... can try with fresh profile via cypress test. So just to confirm you can create a workspace profile fine? On the dev site there doesn't appear to be anyone with workspace profiles so more difficult for testing the map.

[2019-11-01 19:44] chrismclarke opened #739 "[bug] - Location input returns non-precise values"
**Describe the bug**
Pointed out by @NimaBoscarino in PR #738 - When using location input to search for a location on the map (or save a map pin location) algolia seems to cap the gps at 6 significant figures (so varying 2-3 decimal places). This throws off locations by a good few hundred metres. Not the end of the world but would be nicer if there were an easy way to return a more precise value f

[2019-11-03 00:47] chrismclarke commented on #607
The filters are there and I made a few tweaks to how they work, although I'm not sure if I understand what the issue refers to exactly? Is it old work just to bring the filters in? Or something we need to update for them? Happy to do whatever, or close this issue if already done, so just let me know.

[2019-11-03 00:48] chrismclarke commented on #685
agreed, closing

[2019-11-03 00:48] #685 closed

[2019-11-03 00:54] chrismclarke commented on #528
Just done @lfre , keep up the awesome work!

[2019-11-04 14:41] tmhung88 commented on #692
Fixed by #744

[2019-11-05 09:39] #731 closed

[2019-11-05 10:39] BenGamma opened #746 "improve form value handling"
- [x] Handle fields in the same object instead of `state.customFormValue` and form `values`
- [x] reset values when focus change
- [x] display warning on focus change

[2019-11-05 17:06] #692 closed

[2019-11-05 17:11] #746 closed

[2019-11-05 18:18] positive-impact commented on #739
Unfortunately, this looks like the __intended behavior__ of Algolia: the API is only accurate at a street level.

Algolia's comment about this can be found in this somewhat old issue https://github.com/algolia/places/issues/500

And in the official documentation:

[2019-11-05 21:14] chrismclarke commented on #739
Oh, I think I understand. When you use OSM lookup it links directly to saved place names, so in the example above `401 west georgia street` returns the building lighthouse labs whose specific gps has been saved, whilst algolia places doesn't have the same level of place names and so searches at a street level (not points of interest) and provides an approximation for street numbers.

So for exampl

[2019-11-06 05:13] tmhung88 opened #750 "Unable to create a new event"
**Describe the bug**
An required error on the event date prevented users from publishing a new event
![failed_create_event](https://user-images.githubusercontent.com/2813016/68270106-d957fe00-008e-11ea-8355-0f4ab47ede51.png)

**To Reproduce**
Run the events.spec.ts suite

**Expected behavior**
Should publish an event when all fields are inputted

[2019-11-06 08:24] tmhung88 opened #752 "Unable to save Workplace-focused Settings"
**Describe the bug**
Filled up all fields on the screen and failed to Save because the Focus type was deselected. I couldn't select any focus option. It seems the whole thing was disabled
![workplace-disabled](https://user-images.githubusercontent.com/2813016/68281037-6019d480-00a9-11ea-8be2-30b3a10c531d.png)

**To Reproduce**
Run the test suite **settings.spec.ts**  [Settings] => [Focus Workplace

[2019-11-06 08:28] tmhung88 opened #753 "Firebase error thrown when saving Settings"
**Describe the bug**
This error was thrown to all focus types except for Workplace.
![firebase error unhandled](https://user-images.githubusercontent.com/2813016/68281299-f6e69100-00a9-11ea-9e3f-6da3f13d5bd3.png)

**To Reproduce**
Run the test suite **settings.spec.ts**, **[Focus Member]**

[2019-11-06 09:50] shadiakiki1986 opened #754 "[bug] URL in new sign-up email is not from "dev.onearmy.cloud""
**Describe the bug**
Not really a bug, but potential concerns :) Upon signing up with a new account, I received an email to confirm my subscription, but the URL is `https://precious-plastic-v4-dev.firebaseapp.com/__/auth/action?mode=verifyEmail&oobCode=...&apiKey=...&lang=en`. First of all, it's not from the domain `onearmy.cloud`. Second, I'm not sure if the `apiKey` is a sensitive info or not. J

[2019-11-06 13:47] BenGamma opened #755 "how-tos seems to be ordered by user"
How-to list seems to be not only order by most recent date, but also by user.
Needs investigate.

[2019-11-07 10:49] BenGamma commented on #729
fixed with #747

[2019-11-07 10:49] #729 closed

[2019-11-07 11:35] BenGamma opened #756 "[bug] can't delete step images"
**Describe the bug**
if trying to remove a step image, it doesn't delete and the app crashes on dev mode. In production, the submit modal freeze.

**To Reproduce**
Steps to reproduce the behavior:

1. Delete an image
2. Click on save
3. See submit modal freeze

**Expected behavior**
App shouldn't freeze on image delete.
If there is an error on submit you should have an error message displayed.

[2019-11-07 14:41] lauvrenn opened #757 "Upload status isn't reset after editing a how-to"
**Describe the bug**
When a how-to is to be re-edited after a short amount of time, the upload status panel remains open on the 'Edit a how-to' page, blocking any user interaction. This is because the visibility of the panel is dependent on the upload status and the status isn't reset after editing a how-to.

**To Reproduce**
Steps to reproduce the behavior:
1. Edit a how-to
2. Go to the main page

[2019-11-07 14:47] BenGamma commented on #757
Sorry I fixed it this morning without any PR in 6a0da09fd8ea0ed7912556854f7b5dcbb5273e4c, I should have done a proper issue and PR 😬 my bad
Good catch though 👀

[2019-11-07 14:47] #757 closed

[2019-11-07 15:20] BenGamma commented on #752
fixed with #751

[2019-11-07 15:20] #752 closed

[2019-11-07 15:21] BenGamma commented on #723
closed with #736

[2019-11-07 15:21] #723 closed

[2019-11-07 15:36] #750 closed

[2019-11-07 15:36] #753 closed

[2019-11-08 08:52] lauvrenn commented on #728
Does this happen on a specific activity tab ("I run a workspace", "I am a member") or all of them? I can't seem to reproduce the issue

[2019-11-08 12:12] tmhung88 opened #762 "Incorrect contacts/links in Profile"
**Describe the bug**
All links/contacts were prefixed with http://localhost:3456/u/<link>
![image](https://user-images.githubusercontent.com/2813016/68475816-ba5a9700-025b-11ea-94d2-423bab46f9eb.png)

**To Reproduce**
Open a profile that has contacts & links. Click on any of them and users are taken

**Expected behavior**
- Users should open contacts/links correctly

[2019-11-08 22:14] davehakkens commented on #739
weird.. that feels incomplete.
Its not a big deal at all when you search on the map. A rough area is enough to find pins.

It is annoying though if you add a pin, search for address and it puts it somewhere else. This means all the pins will be on inaccurate locations.  What we use in the current map is "drag Pin" so you search and then drag the pin on the exact location. Works good. But seems lik

[2019-11-08 22:51] chrismclarke opened #763 "[bug] - Map member pins should be hidden"
**Describe the bug**
On the map you can see pins for members, although it was decided not to include this. So ideally these pins should be filtered out somewhere (early) in the general map pin flow.

I think in part this is a legacy bug, as new members aren't given the option to add a map pin point, although it should also be tested whether a user changing type (e.g. from workspace to member) keep

[2019-11-08 22:59] chrismclarke opened #764 "[bug] - Map pin should display pin description, not profile description"
**Describe the bug**
When creating a pin the user can add a pin description independent of general profile description. The map should use this description.

**To Reproduce**
Create a non-member profile pin (e.g. workspace).
Fill general and map pin description fields
View pin on the map

**Expected behavior**
Pin description shown

[2019-11-09 22:45] #764 closed

[2019-11-11 10:12] #697 closed

[2019-11-11 10:56] BenGamma opened #766 "show prompt only if form value changed"
In how-to form, show the <Prompt> warning when leaving the page without saving only if a change as be made to the form.
Should be doable using the `FormState` of react-final-form. Documentation [here](https://final-form.org/docs/final-form/types/FormState)

[2019-11-11 11:05] #734 closed

[2019-11-11 11:31] BenGamma opened #768 "display workspace type in user profile page"
The user page should display the workspace type in the title like in the mockup :
<img width="341" alt="Capture d’écran 2019-11-11 à 12 28 15" src="https://user-images.githubusercontent.com/4993215/68584013-ca05f580-047e-11ea-8384-2a4d95b2f899.png">
For now it display only "workspace" :
<img width="226" alt="Capture d’écran 2019-11-11 à 12 29 49" src="https://user-images.githubusercontent.com/

[2019-11-13 04:42] elyeel commented on #762
Hi, I found the issue lies with missing "http://" or "https://" link-prefix. If a user inputs the link incomplete, i.e "www.google.com" will not open the linked website. Instead, the user should input "http://www.google.com" and this should work fine.

Below is the sample when the user hovers on a complete website address.
![test](https://user-images.githubusercontent.com/51432156/68733601-02dfc08

[2019-11-14 14:12] #726 closed

[2019-11-15 12:36] BenGamma commented on #768
merged with #771

[2019-11-15 12:36] #768 closed

[2019-11-15 12:54] BenGamma opened #772 "[bug] deleted user still appear on the map"
**Describe the bug**
Deleted users still appears on the map.

**To Reproduce**
Steps to reproduce the behavior:

1. Check the pin of Precious Plastic Landcaster on the map (see screenshot)
2. Click on user profile
3. See error : user not found

**Expected behavior**
Map pin should be deleted with user.

**Screenshots**
<img width="620" alt="Capture d’écran 2019-11-15 à 13 45 19" src="https://use

[2019-11-15 13:25] BenGamma opened #773 "username with space in url"
At the moment we use the `userName` field to create the user url `/u/<userName>`.

We observe that some user have a username with space, which creates profile url like this :
https://community.preciousplastic.com/u/Plastiki%20Rafiki
https://community.preciousplastic.com/u/Recycle%20Rebuild

To avoid this behavior we will need to have two separate for the name :
- `userName` to use in the url `/u/<

[2019-11-15 13:25] BenGamma opened #774 "[bug] cover image doesn't load"
**Describe the bug**
The cover image doesn't show.

**To Reproduce**

1. Go to profile https://community.preciousplastic.com/u/Plastiki%20Rafiki
2. See blank cover image

**Expected behavior**
Should display cover image

**Additional context**
May be linked to issue with #773

[2019-11-15 13:47] BenGamma opened #775 "display user badge in header"
Instead of the current user logo in the header :
<img width="201" alt="Capture d’écran 2019-11-15 à 14 44 10" src="https://user-images.githubusercontent.com/4993215/68947785-97c60200-07b6-11ea-9d2a-936bc4098d22.png">

Display the profileType badge as in the mockups :
<img width="241" alt="Capture d’écran 2019-11-15 à 14 45 16" src="https://user-images.githubusercontent.com/4993215/68947783-97c

[2019-11-15 13:57] BenGamma opened #776 "change community-builder text"
Update all occurences of community-builder text to community-point.

[2019-11-15 14:01] BenGamma opened #777 "add limit of caracters on fields"
Add caracter limits on fields :
    - pin description (2 lines on the map card)
    - howto step :
        - title (max : 2 lines)
        - description (max :size of image height, error : Try to keep it short but informative)

[2019-11-15 14:08] BenGamma opened #778 "remove data caching"
Data caching is a great feature to help lower the bandwith impact of the platform. However in the current implementation it seem to lead to a few critical issues :
- Platform crashes when interacting with database on "private browsing" mode. The error is :
![Screenshot from 2019-11-25 17-10-29](https://user-images.githubusercontent.com/4993215/69903970-e8d21a80-13a0-11ea-9789-011b1039c3c6.png)

-

[2019-11-15 14:48] BenGamma opened #779 "[bug] how-to files button fit content"
**Describe the bug**
the clickable area to download files in a how-to page are bigger than the current button.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to a how-to page with files to download
2. Hover on the right side of the buttons (see screenshot)

**Expected behavior**
Clickable zone should be the side of the button

**Screenshots**
https://trello-attachments.s3.amazonaws.com/

[2019-11-15 15:15] BenGamma opened #780 "[bug] doubled map pins"
**Describe the bug**
Some map pins are doubled. (see screenshots)

**To Reproduce**
Steps to reproduce the behavior:
Seems like when an error occures when user try to save his profile and have to save it twice, the map pin is doubled.

**Expected behavior**
Should have doubled map pins

**Screenshots**
in eindhoven :
<img width="350" alt="Capture d’écran 2019-11-15 à 16 13 43" src="https://user-

[2019-11-15 15:24] BenGamma opened #781 "[bug] infinite how-to upload status"
**Describe the bug**
Some users experienced infinite upload status in how-to submit modal.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to how-to/create
2. save a how-to
3. while uploading deactivate the wifi, so upload is uncomplete

**Expected behavior**
User should have a better understanding of what is appening, with error message in case the upload fails.

**Screenshots**
https:/

[2019-11-15 15:28] BenGamma commented on #722
I know @pmcp had some contact in that field, maybe you could make the link with us ?

[2019-11-15 15:31] BenGamma commented on #607
Yes it was old work. Closing now that map with filtering was release in [v0.8.0](https://github.com/ONEARMY/community-platform/releases/tag/v0.8.0)

[2019-11-15 15:31] #607 closed

[2019-11-15 15:36] BenGamma commented on #690
Is this still to fix ?

[2019-11-15 15:36] BenGamma commented on #686
fixed with #745

[2019-11-15 15:36] #686 closed

[2019-11-15 15:40] BenGamma commented on #781
duplicate of #591

[2019-11-15 15:41] #591 closed

[2019-11-15 15:46] BenGamma commented on #525
Sorry @Andrux51 but we add to move on and we implement this in the [v0.7.0](https://github.com/ONEARMY/community-platform/releases/tag/v0.7.0)
Thanks for the effort putted and hopefully next time we'll manage to make it work for both of us !

[2019-11-15 15:46] #525 closed

[2019-11-15 15:48] BenGamma commented on #762
Yep thanks for pointing out @elyeel. Issue is telated to #526

[2019-11-15 16:00] #582 closed

[2019-11-15 16:06] BenGamma commented on #763
With #767 I introduce the reset of the profile values (including `location`) when user change their profile type.
Shouldn't be an issue any more (but may have some legacy data that we'll get rid of when spotting). Closing.

[2019-11-15 16:06] #763 closed

[2019-11-18 10:03] davehakkens opened #785 "Improve guidelines for profile page"
**Is your feature request related to a problem? Please describe.**
1: We currently have a few "edit tips" on the edit profile page but they need to be updated
2: The button underneath the workspace icons "go to starterkits" is not linked and should have different text

**Describe the solution you'd like:**
Change text from both to the text below. also include ([url](https://drive.google.com/open?i

[2019-11-20 03:33] sovesove opened #787 "[bug] Too many unsuccessful login attempts"
**Describe the bug**
"Too many unsuccessful login attempts. Please include reCaptcha verification or try again later" - > just there appears no captcha oO

email: friedrich.kegel@keinefarbe.de

[2019-11-20 14:46] sovesove commented on #780
@BenGamma trying to understand the criterias to set the priority, what makes this one a "high"?

[2019-11-21 07:13] sovesove opened #789 "[bug] email link in user profile is broken"
**Describe the bug**
if you click on "email" it opens a page with a broken URL

**To Reproduce**
https://community.preciousplastic.com/u/Atelier%20Lamoureux
click on "email"
see broken page

**Expected behaviour**
I think we want to open a composing email window? using "mailto:"

[2019-11-21 07:17] sovesove opened #790 "[bug] mutation error during sign up"
Description
I get this error: InvalidStateError A mutation operation was attempted on a database that did not allow mutations.

Link
https://community.preciousplastic.com/sign-up

Screenshots
https://wetransfer.com/downloads/a6c08c2c89a4e2ae5558a9b9f4f544a820191116013859/81ed01d39ead38d1a3d558f467d34c6620191116013859/6d4e1b

User contact
flo@precious-plastic-hamburg.de
Sure, I'm happy to help!

[2019-11-21 12:26] BenGamma commented on #789
duplicate of #762

[2019-11-21 12:26] #789 closed

[2019-11-21 12:30] BenGamma commented on #790
I can't see the screenshot, maybe we shouldn't advise to use wetransfer as it disapear after a week ?

[2019-11-21 12:31] BenGamma commented on #790
may be related to #778

[2019-11-22 03:21] sovesove opened #791 "[bug] Changing focus does not work properly"
Description
Changing focus does not work properly. I go to settings > change focus > save and when I go back is back to the previous focus. Also, map does not update. Tried this multiple time :(

Link
https://community.preciousplastic.com/u/Vincent%20Vega

Screenshots

User contact
hello@mattia.io
Not this time

[2019-11-22 03:24] sovesove commented on #790
ah damn, yeah maybe I'll remove that service then.
The screenshot was just showing the signup modal with that error as described, not much more to be honest

[2019-11-22 14:49] davehakkens commented on #791
could this be an issue with caching? I had it a few times in the past that things where removed (from database in firebase) but still showing up..

[2019-11-22 17:15] #775 closed

[2019-11-23 18:56] #785 closed

[2019-11-23 19:12] BenGamma commented on #780
They are purely objective for now 🤷‍♂
It is high because it can cause some heavy misunderstanding to the user, and makes the data on the map irrelevant

[2019-11-23 19:15] BenGamma commented on #790
alright, then yes it can be good to remove the service.
I'm closing this one because it is a duplicate of #778

[2019-11-23 19:15] #790 closed

[2019-11-24 13:36] BenGamma commented on #779
fix with #793

[2019-11-24 13:36] #779 closed

[2019-11-25 04:33] sovesove commented on #780
Replied to Slack to Cc everyone else:
https://onearmy.slack.com/archives/CHUDUK0UV/p1574656265007800

[2019-11-25 04:48] sovesove opened #795 "[bug] Duplicated titles in How-To list page"
Description
It shows 2 different tiles for "Extrude different textures", and both link to https://community.preciousplastic.com/how-to/extrude-different-textures.
Would be good if one tile can be deleted (the pink/grey one, see image), without deleting the how-to it links to.

Link
https://community.preciousplastic.com/how-to

Screenshots
https://we.tl/t-3Nq1QXWKgu

User contact
katharinaelleke@gm

[2019-11-25 04:49] sovesove opened #796 "[bug] Map profile card issues"
Description
The map card when user clicks the badge.
Currently online name is a link, the whole card should be a link.

Name of workspace should be reflecting the styling on the webflow prototype

Description should be longer.. not sure how's it cut if is char number or by line.. should be a little longer.. a little frustrating for the user

Last active user should have a capital L at the beginnin

[2019-11-25 04:52] sovesove opened #797 "[bug] Profile type typography"
Description
On the profiles the description of which workspaces have typos. No dashes and both words capitalized. Should be:

Collection Point
Machine Shop
Community Point
Workspace

Link
https://community.preciousplastic.com/u/P-PLASTK

Screenshots
https://postimg.cc/vgrQF4B5

User contact
hello@mattia.io
Not this time

[2019-11-25 04:54] sovesove opened #798 "[bug] Border style in How-to photos"
Description
Its broooooken! The image rounding on the bottom of all images is on the wrong side...

Link
https://community.preciousplastic.com/how-to/build-a-geodesic-dome

Screenshots
<img width="465" alt="image" src="https://user-images.githubusercontent.com/940045/69513413-a49ae080-0f82-11ea-8f8a-7f9f40597053.png">

User contact

Not this time