[2021-12-28 15:03] jparadasb commented on #1238
Great, I believe that `componentWillUnmount` should work.

About the TagsSelect, could be a good idea to create an issue for it too, what do you think?

And regarding to running e2e locally, I'm getting this error
[code]
when I run `yarn workspace oa-cypress start`, I'm using `node 12`.

[2021-12-28 15:37] jparadasb commented on #1238
I found to run the e2e locally using node 14. So I am going to take a look and let you know.

[2021-12-28 17:28] charEric opened #1354 "[bug] Explore | Start exploring | Watch online content - "Wild Wild Country" & "The Experimental City" show twice"
**Describe the bug**

In the "Watch online content" table, _Wild Wild Country_ & _The Experimental City_ show twice. Also, there is a typo in _Wild Wild Country_ (says "County", not "Country")

See screenshot below.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to: https://community.projectkamp.com/academy/explore/intro
2. Scroll down to "Watch online content"
3. See _Wild Wild Country

[2021-12-28 19:02] thisislawatts commented on #1354
Thanks for raising this @charEric. It is not obvious but this content is managed within a separate GitHub repo. I've raised to address this: https://github.com/ONEARMY/project-kamp-academy/pull/30

I will leave this issue open so we can track progress :)

[2021-12-28 19:04] thisislawatts commented on #1238
Sounds like a plan, please feel free to raise a separate issue to track that work.

[2021-12-28 19:09] thisislawatts commented on #1238
Thanks for flagging this issue with the e2e tests, that is unexpected behaviour. I would hope that we can keep the entire project tied to run with a single version of node.

Out of curiousity, what tooling to do you use locally to manage multiple node versions?

[2021-12-28 19:20] jparadasb commented on #1238
I'm using nvm

[2021-12-28 19:50] charEric commented on #1354
@thisislawatts ah, ok good to know 👍

[2021-12-28 20:59] thisislawatts commented on #1351
Looks like it could be tied to this:
https://github.com/ekwonye-richard/react-flags-select/issues/65

[2021-12-28 23:55] jparadasb opened #1358 "[bug] howto filtering by tags persists after going back in history browser"
**Describe the bug**
When using the how-to filter by tags after selecting at least two and then going back forward in the browser history, the filters still appear selected although not present in the URL.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to 'How-to'
2. Select one or more filters tags
3. Press the history back button on the browser
4. The content still is filtered and it a

[2021-12-29 06:46] thisislawatts commented on #1354
Changes have been merged, and duplicates removed from: https://community.projectkamp.com/academy/explore/intro

[2021-12-29 06:46] #1354 closed

[2021-12-29 07:07] thisislawatts commented on #1358
Thanks for raising this issue @jparadasb as discussed in #1238. Okay if I assign it to you?

[2021-12-29 10:42] jparadasb commented on #1358
Yes, please

[2021-12-29 11:03] davehakkens commented on #1351
Could see this being fixed as we find a  [solution for the map.](https://github.com/ONEARMY/community-platform/issues/1177)

Because up until it was always a bit vague since you had two ways to determine location.
1. Dropdown menu in profile for **members**
2. Add pin to map  in profile for **workspaces**.

I think having these 2 options caused some conflict before
Like here https://github.com/ONE

[2021-12-29 11:19] thisislawatts commented on #1351
@davehakkens I do not see this being tied directly to the map implementation.

At the moment there is a one to one relationship between a user and a map pin, but I think there is value in removing that constraint at a later date. I can think of a few scenarios where it is perfectly valid where a user may wish to be associated with a few geographic locations.

From what I understand #1211 is not ca

[2021-12-29 12:16] #1238 closed

[2021-12-29 12:41] davehakkens commented on #1351
I think before it had some conflicts that if users changed profile from member>workspace it could have different locations. (because the input fields used for members and workspaces are different for each profile)
https://github.com/ONEARMY/community-platform/pull/1153#issuecomment-844361997

That said, i don't really know what causes the problems or how to best go about it.
It just always seems a

[2021-12-29 14:11] thisislawatts commented on #1351
Thanks for sharing the thread attached to #1153, from what I understand this is a conversation around a user country being stored on individual comments AND the original user.

One design driven way to side step the comment flag issue completely would be to remove the country flag in favour of displaying a user avatar. Is there any reason we want to visually highlight the author's country more tha

[2021-12-29 21:11] davehakkens opened #1362 "Add "Want to get started" to map."
## Component infos

### Description
At the moment Workspace profiles can add a pin to the map to display their workspace.
Member profiles cannot add a pin to the map.

This new feature would allow members (everyone) to create a "want to get started" pin on the map

### Pages
https://community.preciousplastic.com/settings
https://community.preciousplastic.com/map

### Related to
This is related to

[2021-12-29 21:20] davehakkens commented on #1351
The main reason we use a flag is to make local collaboration easier and show the diversity of the global community. ( we use this more often on our platforms) +  we didn't have avatar upload integrated.

I've started this issue to visualize what a "want to get started pin" would look like.
Up for suggestions and feedback: https://github.com/ONEARMY/community-platform/issues/1362

[2021-12-30 18:08] franknoirot opened #1363 "Add Comments to Research Module"
## Description

This component is intended to add the ability to leave comments on each step of user-published Research Modules. It builds upon past work on the Comments feature (#1127, #1128, #1170, #1171).

Acceptance Criteria Checklist:
- [ ] Users can add and edit comments of their own only when logged in.
- [ ] If there are comments on a research step, a button appears at the end of its conta

[2021-12-31 04:41] thisislawatts commented on #1363
@franknoirot it looks like comments are only available to beta-testers. Has the Comments feature reached a level of maturity that supports us introducing it to other document types?

[code]
https://github.com/ONEARMY/community-platform/blob/master/src/pages/Howto/Content/Howto/HowToComments/HowToComments.tsx#L75-L78

[2021-12-31 09:44] thisislawatts commented on #1362
@davehakkens when looking at the referenced Workspace functionality I note the following:

Would the above restriction apply to this new _Want to get started_ functionality?

[2021-12-31 09:48] davehakkens commented on #1362
Nope. There wouldn't be any verification on this.

Also just realized this is still online and could serve as inspiration for this feature. "want to get started" pins from our old map
http://oldmap.preciousplastic.com/

[2021-12-31 12:06] thisislawatts commented on #1363
Given the above @franknoirot, I think the first two steps here are to:

1. Release comments to everyone
2. Extract comments frontend component ready for reuse elsewhere. I am not sure that the current implementation is ready to be dropped into Research straight away.

[2022-01-01 08:17] thisislawatts commented on #1362
I will pick this item up, let me know if anyone would like to pair on this work.

[2022-01-02 22:21] patrycjapraczyk commented on #1199
Hey @davehakkens thanks for the icons! Apologies for the delay in responding and working on this..
I've just submitted a PR, which adds the notifications feature. I'd appreciate any feedback if the functionality I added matches with what you had in mind. Thanks!

[2022-01-04 19:30] #1362 closed

[2022-01-04 20:10] thisislawatts opened #1370 "[feature request] Remove node-sass in favour of sass"
**Is your feature request related to a problem? Please describe.**

https://www.npmjs.com/package/node-sass

**Describe the solution you'd like**

Remove `node-sass` and replace with `sass`

Thanks to @patrycjapraczyk for raising this 🙏🏻

[2022-01-07 13:02] thisislawatts commented on #1370
Fixed in https://github.com/ONEARMY/community-platform/pull/1373

[2022-01-07 13:02] #1370 closed

[2022-01-09 16:28] kfern opened #1378 "[feature request] RFC: Unit tests"
**Is your feature request related to a problem? Please describe.**

Unit testing is a "legacy todo".

If we like to have it we must do a big refactor because the components are not isolated. They are using the store inside it.

For example this function
https://github.com/ONEARMY/community-platform/blob/1535808b3951c88b2a86d06d3fb3c5ef14c2fdbd/src/pages/Maps/Content/Controls/GroupingFilterDesktop.

[2022-01-11 19:17] thisislawatts commented on #1378
Thanks for raising this @kfern 🙇🏻 I will take a look at this over the next weekend.

Very interested in improving the test coverage on this project!

[2022-01-12 17:18] thisislawatts commented on #1363
Following up on this item, me and @franknoirot  had a call yesterday and we decided that:

* I would pick up the task of releasing the existing comments behaviour to everyone
* @franknoirot will work on introducing Comments to the Research document type.

[2022-01-12 19:49] davehakkens commented on #1363
sounds good!
Any date/timeframe in mind, or first see how it goes first @franknoirot?
No pressure, just to roughly keep check of our calendar.

[2022-01-13 10:10] davehakkens opened #1381 "[bug] Remove Map from PK Profile settings"
**Describe the bug**
Project Kamp doesn't have the `map-module ` enabled yet.

However Project Kamp still has the “add to map” feature in [the profile settings.](https://community.projectkamp.com/settings)
Ideally, this is only shown if “map-module” is turned on.

**To Reproduce**
Steps to reproduce the behavior:

1. Login to PK
2. Go to https://community.projectkamp.com/settings

**Screenshots**

[2022-01-13 20:35] thisislawatts commented on #1177
Hallo, following up on the event we introduced to try and understand the usage of our search tool. Based on the 2032 events we have seen in the last 16 days I think we currently sit within the definition of "reasonable usage" for the OSM API.

We average **1 request for every 680 seconds**, although this rough calculation ignores:
* Clustering of events, for example our highest single day had 213

[2022-01-13 21:30] #1381 closed

[2022-01-15 06:42] thisislawatts commented on #1378
Thanks for the patience @kfern, I got some time this morning to get the demo repo up and running. 🤩

I think this is a really great step forward, and I appreciate you putting into code some of the issues I have experienced whilst working with the stores over the last few months.

I am curious why you opted to spin up a standalone repo rather than working within a branch of the `community-platform`

[2022-01-15 08:15] thisislawatts commented on #684
Marking this issue as resolved.
There is a test for this in the current e2e suite and this has not failed at any point over the last 3 months even with an uptick in CircleCI jobs being run.
https://github.com/ONEARMY/community-platform/blob/master/packages/cypress/src/integration/sign-in.spec.ts#L18-L23

[2022-01-15 08:15] #684 closed

[2022-01-15 15:05] kfern commented on #1378
@thisislawatts I'm glad you like it :-D

I created a new repository because we can go further with integration and e2e testing using GitHub actions, and I will need a "lab" to test.

I am using updated versions of leaflet related components and they are not compatible with the actual dependencies. Could you align both? I could downgrade if you prefer.

I also encounter problems passing lint

[2022-01-15 15:13] thisislawatts commented on #1378
@kfern what do you think is the smallest step we could take to move the project towards the proposal you have outlined?

I had missed the GitHub workflows. At the moment, I would prefer to keep Circle CI as the primary location for verifying the project. We should be able to make this change at a later date but I do not think it should coupled with this refactor.

[2022-01-15 15:22] kfern commented on #1378
@thisislawatts. I think the first step would be to make a list of the use cases that need to be solved in order to use it in production.

We don´t need Github Actions by now.

[2022-01-15 16:09] thisislawatts commented on #1378
Could you clarify what you mean by use cases?

I was thinking about a way to perform an incremental refactor allowing us to release in phases rather than a single PR that switches from the existing implementation to an entirely new versions.

For example, as you've already mentioned:
1. Upgrade leaflet
2. Replace deprecated khan academy component

[2022-01-15 16:38] davehakkens commented on #1177
Where do you find these stats, or how do we know we go beyond "reasonable usage" in the future?
But generally i like the idea, seems like a smooth option.
Also up to support with a donation, their maps have been very useful.

[2022-01-15 19:30] kfern commented on #1378
Sorry, I was talking about the full refactoring process.

Do you plan to update the components to the latest versions?

The easiest solution would be to use the oldest version. I can downgrade the RFC.

What do you think?

[2022-01-15 19:48] thisislawatts commented on #1177
All of these events are currently being captured and logged to Google Analytics, so we can check the data there although there is a slight delay on items being visible in the reports.

As part of: _2. Implement a robust failure mode if the OSM endpoint is unavailable due to rate limiting._ I believe that we should set up some specific alerting around rate limits being reached. Either using Sentry

[2022-01-16 19:16] thisislawatts commented on #1378
I would prefer to see these components upgraded. If we're in the area we should move things forward. Would you like to raise a PR that makes that change?

[2022-01-16 20:09] thisislawatts commented on #1168
So I wrote up a long form idea which I will include below, but I wonder if the simplest possible solution to this problem is to **not** change a page's URL after it has been created. wdyt? @chrismclarke

---

Handle redirects for renamed content
---

**Context:**
User's can rename howtos as often as they like, which also affects the slug
of the page.

When the slug changes it means any links which

[2022-01-16 21:18] #1003 closed

[2022-01-17 17:27] kfern commented on #1378
Hi @thisislawatts

I have looked at this possibility but I think it's better to update dependencies after code refactoring because we are going to break things when we upgrade the components.

Also, we can't add unit tests to the actual implementation because the components involved have multiple side effects.

The "smaller steps" may be:

- PR aligned with current dependencies. I can do it.
- Cre

[2022-01-17 17:32] thisislawatts commented on #1378
That sounds good to me @kfern, if you can push your work into a branch on a fork of this repo we can collaborate on this 👍🏻

I went to look at the existing e2e for this page to see what use cases are documented, not much guidance to be found 😁
https://github.com/ONEARMY/community-platform/blob/master/packages/cypress/src/integration/map.spec.ts#L5-L7

We have our next monthly dev call on Monday 7t

[2022-01-17 18:49] kfern commented on #1378
I guess we can have something. I'm very busy at this moment, but I can find a little time each work day.

Right now, the most important step is to have the use cases. This task can be done with the team.

[2022-01-17 20:24] thisislawatts commented on #1378
Sounds good, no urgency on this from my side @kfern, so happy to work at the pace which works for you.

I will look at gathering the use cases over the next week or so.

[2022-01-18 19:37] kfern commented on #1378
Hi @thisislawatts.  I can't push it. I have some @typescript-eslint/no-empty-function errors. I'm using empty functions because the MapController injects props to the Map view component (Dependency inyection).

This rule was removed from eslint-config-standard-with-typescript as it is a common use case in React. https://github.com/standard/eslint-config-standard-with-typescript/issues/248

Could y

[2022-01-18 20:13] thisislawatts commented on #1378
@kfern, thanks for flagging this rule conflict, any reason not to do one of the following?

1. Disable this rule in your branch
2. Disable the rule on a file by file or directory basis within your branch

I will take a look into the separate asset issue you mentioned :)

[2022-01-18 21:09] kfern commented on #1378
@thisislawatts: PR aligned with current dependencies done!

[2022-01-19 00:51] franknoirot commented on #1363
@davehakkens I'm really having trouble getting started even running the app any time I try to work in the codebase, so I'm hesitant to give an estimate. I'm gonna reach out to @thisislawatts on Slack but I just cannot get the hang of development here, I'm sorry.

[2022-01-19 00:55] davehakkens commented on #1363
Ah bummer. But no worries, thanks for letting me know! Would you prefer to work more on design/figma or want to try dev?

[2022-01-19 01:27] chrismclarke commented on #1378
Sounds super interesting, thanks for all your input on this @kfern . I just checked out your branch and really like being able to see all the individual components in storybook and run all the individual tests.

My one thought is whether there would be any sense in keeping the store but providing a mock implementation that generates data (in the same way your test utils do)? Pretty much all featur

[2022-01-19 01:28] chrismclarke commented on #1378
A couple screenshots from your repo just for future ref:

![image](https://user-images.githubusercontent.com/10515065/150046323-98346615-40e1-44d6-a2ba-76a3fda5278a.png)

![image](https://user-images.githubusercontent.com/10515065/150046387-85e7ff23-382d-47d5-939b-4cf1e1cf10b4.png)

[2022-01-19 18:57] kfern commented on #1378
Hi @chrismclarke

You can test mobx but you can't add unit tests to your implementation because you need to prepare a lot of things before.

I think you will have a similar problem if you try to create a story for the current map page implementation.

Following my proposal we are going to have 2 components:

- MockDatabaseProvider: Generated Data Factory for unit tests. We should have a single com

[2022-01-19 20:15] chrismclarke commented on #1378
Oh, a MockDatabaseProvider makes a lot of sense to me. The main function of the stores typically are to a) get/stream db data and b) update data on user interaction (e.g. filter, go to active etc.), so I like the idea to keep the store use for integration/e2e and have a cleaner direct line to data for unit tests (which wouldn't need to.

The current database provider is already an abstract wrapper

[2022-01-19 20:22] kfern commented on #1378
@chrismclarke. SGTM

[2022-01-21 17:47] thisislawatts commented on #1363
@franknoirot do grab some time with me. It would be really helpful to understand what is making the development process more complicated. Any improvements we make here will benefit anyone looking to contribute to the project.

[2022-01-21 17:55] chrismclarke commented on #1168
If I'm understanding right, we're making the tradeoff that would allow multiple same slugs to exist following renames, so that one howto can't block out names permanently? Seems like a reasonable trade-off to me, and also keen to move the system outside just the howtos to make it easier to implement across modules.

As I take it, this could lead to a few different cases. For example, if we have 3

[2022-01-22 08:59] #1351 closed

[2022-01-22 12:05] #1177 closed

[2022-01-25 18:43] davehakkens opened #1405 "Add useful button to Research module"
## Component infos

### Description

We have a useful button in our [how-to](https://community.preciousplastic.com/how-to) module. We need the same button in our research module ( will be used extensively in Project Kamp setup next season🔥)

### Page related

Will be used in :
- PR related to useful button https://github.com/ONEARMY/community-platform/pull/1097
- See the [research module](https://

[2022-01-25 18:49] davehakkens opened #1406 "Add country flag to research username"
## Component infos

### Description

Everywhere on the platform we show username with country flag (comments/how-to) This was never integrated in the research module. That is an issue. Not cool.

### Page related

Will be used in :

- [Research page](https://community.preciousplastic.com/research/make-things-from-ocean-plastic) where it should come
- This layout already used in [how-to's ](https:/

[2022-01-25 18:56] davehakkens opened #1407 "Add username to profiles"
## Component infos

### Description

As we start using comments more, people will see usernames more. However, on the profile you can't see a username. Only the display name. This has been confusing to users.  We want to change three things.
1. Remove the label. This is redundant with the badge next to it.
2. Add username to the place of the label
3. Change the location of the country flag from `d

[2022-01-25 20:44] mmortar commented on #1405
Hello, I am interested in adding this feature to the research module.  Could you please assign me to the issue?

[2022-01-25 20:48] mmortar commented on #1406
I would also like to correct this issue in the research module if you could please assign it.  Thank you!

[2022-01-25 20:57] davehakkens commented on #1406
great! But maybe start one by one?
I'm conscious it's your first contribution ;)

[2022-01-25 23:34] EmanueleGurini commented on #1407
Hi, can i grab this issue?

[2022-01-26 02:12] chrismclarke opened #1409 "Replace react-multi-select component"
## Component infos

### Description

Mentioned #1378, the map page uses a component based on [ `@khanacademy/react-multi-select`](https://github.com/Khan/react-multi-select) which does seem to be actively maintained and starting to throw warnings during build (pinned to react 15, but we're currently using react 17).

A new component is therefore required which can replace the multiple item select

[2022-01-26 03:06] chrismclarke commented on #1407
Sounds great! Feel free to drop a message in the thread if you have any issues while working on it @EmanueleGurini

[2022-01-26 06:36] thisislawatts commented on #1407
:wave: Hey @EmanueleGurini, I think that this item is closely related to https://github.com/ONEARMY/community-platform/issues/1406, introducing a reusable `UsernameWithFlag` component to both the Profile and Research articles would be a good path forward here. What do you think? Okay if I also assign the otherone to you as well?

[2022-01-26 10:47] davehakkens opened #1411 "Combine map filter Desktop"
## Component infos

### Description

Currently we have 2 filters for the map on Desktop. `Workspace` and `Others`. We need to combine these into 1 `filter`.
- This is needed for other projects (instances) that will use the platform, since not all of them have two filters to fill.
- This method is already used in Mobile, nice to align.

### Page related

Will be used in :

- [Map page](https://comm

[2022-01-26 10:49] davehakkens commented on #1409
Little follow-up on this one. We plan to remove the double filter on Desktop and go for the Mobile approach everywhere.  One single filter: as raised in this issue. https://github.com/ONEARMY/community-platform/issues/1411

So yeh. good to start with mobile :)

[2022-01-26 15:52] EmanueleGurini commented on #1407
@thisislawatts Yes, don't worry

[2022-01-26 16:38] thisislawatts commented on #1406
Thanks for your interest @mmortar

I wanted to confirm know that @EmanueleGurini will be picking this up as part of #1407 ✨

[2022-01-26 16:47] thisislawatts opened #1412 "[bug] Deleting User Profile does not work"
![Screenshot 2022-01-26 at 17 45 42](https://user-images.githubusercontent.com/472589/151207741-a8fa4007-b494-466c-b6ec-f333716795f4.jpg)

**Describe the bug**

It is not possible to delete a User profile.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to User Profile > Settings
3. Scroll down to 'Account Settings'
2. Click on 'Delete Profile'
4. Nothing happens

In the browser console

[2022-01-26 16:56] davehakkens commented on #1412
hmm.. I tried it and managed to delete [my profile](https://dev.onearmy.world/u/davetest). Seems to work?
However due to caching it still shows in the local browser so probably the user thinks its not deleted.
If a try another browser it's not there..

![caching](https://user-images.githubusercontent.com/13672737/151209375-1379646f-99d7-4c65-9ae7-31bbd0d96203.jpg)

[2022-01-26 16:56] chrismclarke commented on #1409
Oh perfect, I'll close this issue then and merge into #1411 as makes sense to work on the two together

[2022-01-26 16:56] #1409 closed

[2022-01-26 17:23] thisislawatts commented on #1405
Hey @mmortar, thanks for picking up this issue it is really appreciated!

Please let me know if you have questions or feedback on how you find working with the project.

Speak soon! ✨

[2022-01-26 22:43] jojudre commented on #1411
Hi, i want to do this!

[2022-01-27 00:46] chrismclarke commented on #1411
Sounds great @jojudre ! Just to check, did the comment about linking the issue to #1409 make sense?

[2022-01-27 11:36] jojudre commented on #1411
Yes, i will delete dependency @khanacademy/react-multi-select

[2022-01-27 15:35] mattia-io opened #1414 "Change email associated with account"
Hello 🤙

Was just trying to change the email associated with my account but realized it is not currently possible to do so.
Would be great for a user to be able to change its own login data.
Something like "Change email address"

<img width="857" alt="image" src="https://user-images.githubusercontent.com/17761877/151390941-bc02e4c9-04b4-4f50-adf0-63b04062e90f.png">

[2022-01-29 12:04] davehakkens opened #1418 "Improving SEO #1 - Indexable by search engine."
## Component infos

### Description

The platform is currently very poorly indexed by search engines.
Our content is rendered dynamically and needs server-side rendering to improve.

### Page related
This issue is mainly important for the [how-to's](https://community.preciousplastic.com/how-to) since they contain the most indexable content.

### Additional work
Besides that, there are a few other

[2022-01-29 12:21] davehakkens opened #1419 "Improving SEO #2 - Metatags"
## Component infos

### Description
When sharing a link from the Community Platform the preview is not related to the content on the page. It shows a default text+image. Ideally, this represents the content. This is mainly important for the how-to's, since they all have a dynamic image + title + desciption

### Page related

- [How-to](https://dev.onearmy.world/how-to)
- Already brought up in an o

[2022-01-29 12:22] thisislawatts commented on #1418
I think the highest priority item here is to get key content pages such as the How-to listing and individual How-to articles rendered via SSR.
I am going to prototype an approach which will render these pages on the server, most likely via Google Cloud Functions so we can stick with our existing stack.

[2022-01-29 12:23] thisislawatts commented on #1419
This would likely be resolved as part of #1418

[2022-01-29 14:07] thisislawatts commented on #1177
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:07] thisislawatts commented on #1351
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:07] thisislawatts commented on #1381
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:07] thisislawatts commented on #1362
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:07] thisislawatts commented on #1238
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:07] thisislawatts commented on #447
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:07] thisislawatts commented on #1076
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:07] thisislawatts commented on #1211
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:07] thisislawatts commented on #1227
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:07] thisislawatts commented on #1210
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:08] thisislawatts commented on #933
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:08] thisislawatts commented on #1203
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:08] thisislawatts commented on #1256
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 14:08] thisislawatts commented on #1308
:tada: This issue has been resolved in version 1.7.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.7.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-29 15:48] #1411 closed

[2022-01-29 17:01] thisislawatts commented on #1411
:tada: This issue has been resolved in version 1.8.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.8.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-01-30 02:37] mmortar commented on #1405
Hey @thisislawatts,
So I've got the useful button created and doing everything it is meant to upon being clicked.  However, I'm struggling to get it to store the updated useful count.  I tried injecting as it was done for the HowTo module but this method doesn't work for the Research module because the button is not embedded in a class.  Please let me know if you have any ideas how to do this and

[2022-01-30 06:15] thisislawatts commented on #1405
@mmortar could you push up the code you have got so far into a branch or draft PR?

[2022-01-30 07:55] jojudre commented on #1414
Hello, i want to do this task, and see you have updateEmail function

[2022-01-30 17:39] thisislawatts commented on #1414
Hey @jojudre, happy to see you're interested in picking up another issue. Thanks for your continued interest on the project!

I had a quick look at the [updateEmail method](https://firebase.google.com/docs/auth/web/manage-users#update_a_users_profile) and the provided example seems like a good starting place.

Does the _Change Password_ provide you enough guidance for how it should look and work?

[2022-01-30 18:54] jojudre commented on #1414
Hey! you can look my pr and i can fix it if needed

[2022-01-31 06:17] #1414 closed

[2022-02-01 03:33] chrismclarke opened #1436 "[bug] Map page select multiple has scroll bars on desktop"
**Describe the bug**
Unnecessary scroll bars on map page select dropdown

**To Reproduce**
Visit map page on desktop (google chrome), look at workspace select filters

**Expected behavior**
No scroll bars

**Screenshots**
![image](https://user-images.githubusercontent.com/10515065/151909030-0d731edf-ac77-4440-943d-1a88fd068f18.png)

**Additional context**
Should be a one-line fix for the overflow

[2022-02-01 05:52] #1436 closed

[2022-02-01 06:22] chrismclarke commented on #1418
Getting a decent dev workflow going for testing these things is always a bit of a pain (most testing tools require site to be live), although if running from localhost you could possibly use something like https://ngrok.com/ to temporarily expose to public web, or if you want access to a spare firebase platform to test deployments too I think we probably have a few lying around!

I think server-si

[2022-02-01 06:41] thisislawatts opened #1438 "[feature request] Subscribe to Research pieces"
**Is your feature request related to a problem? Please describe.**

Research articles are intended to be an ongoing collection of updates around a single theme. The research themes will be documented during the process and will unfold over weeks, months and years.

Ideally people are able to engage with the research process at an early stage and follow it's progress.

**Describe the solution you'd

[2022-02-01 06:50] thisislawatts commented on #1418
Thanks for the insight @chrismclarke! I have been hacking on a version which uses NextJS from within serverless functions to render these pages. Hoping that there will be something to demo during next week's Dev meeting 🤞

It is struggling to consume the components from the project root which is what has me raising PRs picking at the monorepo setup.

[2022-02-01 11:45] davehakkens commented on #1438
that sounds nice!
Mainly see potential for integrating with notifications.- Do people still use RRS feed?  🤔

[2022-02-02 06:04] chrismclarke commented on #1418
I don't think there's a single corner of the project that wouldn't benefit from some additional housekeeping. Definitely happy to use these types of issues as motivation and guidance for ways we can keep pushing the overall codebase forward at the same time.

[2022-02-03 10:49] jojudre commented on #1363
Hey! i will try to do this)

[2022-02-03 16:41] thisislawatts commented on #1363
Thanks @jojudre, let me know if you want to jump on a kick-off call to talk through anything. Otherwise happy to chat async here or on the PR.

[2022-02-03 21:23] davehakkens commented on #1197
Hi @elvezpablo. FInal check in. let me know within 2 days if you want to finish this issue or share the code you made.
If we don't here anything no problem but then we will forward it to someone else.

[2022-02-04 20:11] thisislawatts commented on #1436
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-05 09:54] thisislawatts commented on #1436
:tada: This issue has been resolved in version 2.0.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v2.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-02-08 09:29] davehakkens opened #1463 "Give admin access to edit profiles"
## Component infos

### Description
At the moment we don't have an admin panel to moderate/manage the community. This is a problem for Precious Plastic to manage the growing amount of users. We are working on the panel (issue coming soon) however, this would take a bit of time since it's a complex thing. We need something quicker.

Suggestions for now (and perhaps later)
Give `admins` the right to

[2022-02-09 09:52] #1206 closed

[2022-02-09 13:16] davehakkens opened #1469 "[bug] Country flag doesnt change or shows on older comments"
**Describe the bug**
It seems that if a user changes or adds their location in the profile it doesnt update their flag on older comments.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to how-to
2. Leave a comment
3. Change location
4. Check the comment
5. Leave a new comment to see the difference

**Expected behavior**
Ideally, this is in sync across the entire platform. Change your lo

[2022-02-11 21:44] davehakkens commented on #1407
hey @EmanueleGurini. Just checking in. How is this one going, need any help?

[2022-02-11 23:06] EmanueleGurini commented on #1407
Hi @davehakkens, thanks for your interest. Sorry for the late: I'm preparing for an exam that I gonna make Monday. I will send you a PR with everything done this week.

Just one question: I'm using fake data because I do have not the DB, do you know how can I emulate your one?

Thanks again,
Emanuele

[2022-02-15 19:59] #1199 closed

[2022-02-16 21:08] davehakkens opened #1478 "Improve Error page "report feedback""
## Component infos

### Description

Every now and then an error occurs and you end up on the "report feedback" page. This page is very basic and not very useful
<img width="628" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/154355165-0b708803-d29d-48e4-9bf3-01c5a49ef021.png">

### Suggestions
- Minimum: Link the `Report Feedback` to our Discord (https://discord.com/invi

[2022-02-17 17:13] #1163 closed

[2022-02-17 19:27] kfern commented on #1198
Hi @davehakkens. I can go ahead.

[2022-02-17 23:43] chrismclarke commented on #1198
Just to follow-up, in case not clear the `UserStore` now has a list of all `verifiedUsers`, which has been used to display ticks in various places like howtos and events, e.g. for howtos we have a lookup for `userStore.verifiedUsers[activeHowto._createdBy]`

I'm also aware of the previously blocked changes for the map more generally (refactoring to make more testable). I think I cleared the main i

[2022-02-18 15:51] kfern commented on #1198
Thanks @chrismclarke. Don't worry about map refactoring. I know it is a long-term task.

At this point https://github.com/ONEARMY/community-platform/blob/e0d3b83f144f60a08318eb1dda1887446cb176e0/src/pages/Maps/Content/View/Sprites.tsx#L35 we have some details about a pin (profileUrl, shortDescription, heroImageUrl and name) but not the verifiedBadge field.

Every map icon is created by this compon

[2022-02-18 18:15] chrismclarke commented on #1198
I think the map pin should also have an `_id` property when retrieved from the database, and you should be able to just do a lookup for that id in the verifiedUsers list. But yeah, might be nicer to deal with slightly higher up (e.g in the `MapsStore`) and pass as an argument to the sprite.

![image](https://user-images.githubusercontent.com/10515065/154739440-88018a64-88f1-4543-9809-37842c1ddf27.

[2022-02-19 19:27] kfern commented on #1198
Hi @chrismclarke.

this.userStore.verifiedUsers[p._id] in the pins filter function returns undefined.

Do I have to do something before to load the data?

[2022-02-19 20:52] chrismclarke commented on #1198
hmm, the request is made to load the verified users automatically in the user store constructor (so gets called on instantiation), but I'm guessing there could be a case where the map pins load before that is complete.

The best way to test would be to `await userStore.loadVerifiedUsers()` from the mappins before filtering. Not super elegant as it's duplicating the call, but can easily be replaced

[2022-02-19 21:35] chrismclarke commented on #1198
Oh, and the other issue could be depending what version of the site you're using. I don't think the aggregations appear in the `preview` version (something I need to fix) but should on the `dev` version. Basically is you see verified ticks on stuff (like by davehakkens on the test howto) it means it's working.

![image](https://user-images.githubusercontent.com/10515065/154819891-35ea6553-9c21-4ca

[2022-02-19 21:46] kfern commented on #1198
It doesn´t work :-(

![image](https://user-images.githubusercontent.com/1898891/154819634-d9d82700-19bd-4542-a008-383a7cab6888.png)

It remains undefined and shows a warning.

![image](https://user-images.githubusercontent.com/1898891/154819732-a9e1b2de-c60e-4ca7-87dd-827a11e673f5.png)

I'm using "start:emulated" script with master branch

![image](https://user-images.githubusercontent.com/1898891

[2022-02-19 21:58] chrismclarke commented on #1198
ah, apologies yeah the data that the emulator uses won't have the updated aggregations. We haven't been able to find a smooth process for getting the data up to date so that's proving a bit limiting. So there are essentially 2 options:

1. Swap over to just run `yarn start` which will use the dev site db
2. Trigger the aggregation from within the emulated environment. The aggregators automatically

[2022-02-20 21:32] EmanueleGurini commented on #1407
@davehakkens sorry Dave, I'm continuously getting this message error that I'm not understanding, and it appears since I pulled updates from your master, to keep the fork synced. Do you know how can I fix it?

[2022-02-20 22:26] #1174 closed

[2022-02-21 01:30] chrismclarke commented on #1407
Hey @EmanueleGurini - that's pretty weird, I can't recreate the problem myself but as a workaround could you try deleting the folder `types\mobx-remotedev-v4` and see if that fixes.

If I can remember correct that remotedev library used to be included for people who wanted to use the mobx extension but looks like it's not even in the repo anymore so see no reason to keep the type definition

[2022-02-21 11:59] jaklatt92 opened #1498 "Change button at bottom right hand corner of Precious Plastic instance to just "Join our Chat :speech_balloon:""
## Component infos

### Description

Write a quick descritpion of what is the component for, and as main details you consider useful to the person that will have to build it.

### Page related

Will be used in :

- Related page name (#issue-number)

### Mockup

[Add here the mockup of the component]

### Example(s)

If you have any examples of existing similar components, add the link here. It can

[2022-02-21 22:21] #1498 closed

[2022-02-22 01:05] #1200 closed

[2022-02-23 17:43] kfern commented on #1197
@davehakkens Can I get to work on this?

[2022-02-23 17:44] davehakkens commented on #1197
Great. yes! :)

[2022-02-24 10:11] davehakkens opened #1505 "[bug] Notifications don't (always) link to how-to"
**Describe the bug**
When receiving a few notification it seems that the url doesnt actually load the how-to.
**You can see the url change in the address bar** but it doesn't go there.

**To Reproduce**
Steps to reproduce the behavior:

1. Create 2 accounts
2. Create a how-to
3. "useful" the how-to with the other account
4. Receive a few notifications

**Expected behavior**
Clicking the link shoul

[2022-02-24 13:50] davehakkens opened #1506 "Make simplified profile default"
**Is your feature request related to a problem? Please describe.**
We just released a simplified profile in #1267 this is used for `members. `
The extended (original) profile is used by `Spaces`.
However by default, the extended profile is still used.
This should be changed to the simplified layout.

**Describe the solution you'd like**
If a user signs up and does not choose a profile type `member

[2022-02-28 19:02] kfern commented on #1197
We need to make big changes to the map page components to close this issue.

Can we use an approach like [RFC: Unit Tests #1378](https://github.com/ONEARMY/community-platform/issues/1378)?

I can do it in the maps page component without any breaking changes.

@chrismclarke @thisislawatts What do you think?

[2022-03-01 04:16] franknoirot opened #1507 "Admin Panel: Create routes & navigation"
## Description
Part of the larger effort to create an Admin Panel to allow admin users to manage content from within the platform itself. Overarching issue to come.

Create the protected routes within the `/admin` section of the site, a secondary navigation bar, and a primary menu item to reach the `/admin` page.

Acceptance Criteria Checklist:
- [x] Users with the `admin` user role can access a n

[2022-03-01 04:36] franknoirot opened #1508 "Admin Panel: Create all Users page"
## Description
Part of the larger effort to create an Admin Panel to allow admin users to manage content from within the platform itself. Overarching issue to come.

Fill the `/admin/users` page's content and style it to match the designs.

Acceptance Criteria Checklist:
- [ ] Route shows a virtualized list of all the current and pending users
- [ ] Table shows the following data for each User as

[2022-03-01 04:55] franknoirot opened #1509 "Admin Panel: Create edit User page"
## Description
Part of the larger effort to create an Admin Panel to allow admin users to manage content from within the platform itself. Overarching issue to come.

Fill the `/admin/users/[id]` page's content and functionality, and style it to match the designs. The design of this page largely matches the normal User Settings page available to non-admins, so lessons can be learned from and code p

[2022-03-01 09:37] davehakkens commented on #1211
closing this issue since new releases have made.
But the problem is still there: https://github.com/ONEARMY/community-platform/issues/1469

[2022-03-01 09:37] #1211 closed

[2022-03-01 13:54] franknoirot commented on #1509
One thing I'm unsure of is what triggers a welcome email and everything to approved users? Is that handled in Firebase or does logic need to be added to the frontend to handle sending that?

[2022-03-01 18:12] davehakkens commented on #1509
Welcome mail for users comes from Firebase auth system. Cant change much about that process.
We use a webhook that sends a notification to our Slack channel with each new `map-pin` and `how-to`.
This channel in slack shows them #pp-community-notifications.
It works for now in our situation. But in the future, a mail notification would probably be better.

[2022-03-03 14:51] davehakkens opened #1511 "[bug] test webhook"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2022-03-03 18:08] chrismclarke commented on #1507
Thanks for the great mockups @franknoirot - I've started the process of scaffolding out the main pages in #1510 and will start trying to build out functionality over the next couple weeks

[2022-03-03 19:10] chrismclarke opened #1512 "[devops] Preview site fixes"
There are a few issues when trying to use the preview site, collated roughly as tasks

- [ ] Add option to toggle between dev/staging sites
- [ ] Add support for test admin/beta-tester users in preview site (either seeding users in same way as emulator or custom overrides - some of this was started in #1218 but left incomplete)
- [ ] Fix staging site reset scripts
- [ ] Integrate to circleCI pipel

[2022-03-03 19:14] franknoirot commented on #1507
Happy to help @chrismclarke, way to go powering through so much of this over the last couple days. I'll be working to scaffold out the remaining designs in the coming days (Map Pins and Tags tonight), and I'll have an overarching Admin Panel issue to group the sub-issues within soon. Love that it tracks the completed tasks on GH Issues, like a more intuitive form of Jira Stories and Epics.

[2022-03-03 20:31] chrismclarke commented on #1197
I think we're at slightly limited capacity right now for testing/reviewing/merging big changes, I still really want to find more time to review and move forward with the other changes you proposed for the map system before iterating too much further on large changes. Are you able to describe what the blocking issue is exactly?

[2022-03-04 21:46] #1507 closed

[2022-03-05 18:13] kfern commented on #1197
HI @chrismclarke

The component that manages the filter (GroupingFilterDesktop.tsx) receives pins grouped by IPinGrouping ('individual' | 'place') and type (IMapPinType)

A pin only belongs to one group and with this use case the same pin would have to be part of two groups (IMapPinType and "verified type").

I can't imagine a solution without making major changes.

Any ideas?

[2022-03-08 06:18] #1363 closed

[2022-03-08 15:33] chrismclarke opened #1522 "[bug] - e2e tests fail with firefox"
**Describe the bug**
As noted in #1521, firefox has been given quite a lot of flaky and failed tests. Ideally should be investigated further in the future (probably after a few more core updates are in to things like cypress and firebase)

[2022-03-08 18:58] davehakkens opened #1527 "Add notifications to Research comments"
## Component infos

### Description
We need a notification to be triggered to the owner of a research topic if someone post a comment on a research step.

### Text
**_New comment on your [Research](url-to-research.com) by [username](go-to-user-profile.com)_**

### Previous work :
Notifications from this PR https://github.com/ONEARMY/community-platform/pull/1464
Comments in Research from this PR: h

[2022-03-08 20:09] #1198 closed

[2022-03-08 20:13] davehakkens commented on #1407
hey @EmanueleGurini, this seems to be a bit stagnated.
Let me know if you want/can to take this one on before the end of the week.
If it no worries but we will assign it to someone else :)

[2022-03-09 02:14] chrismclarke opened #1532 "[refactor] Storybook UI Components - General Issues"
Following #1492, a loose collection of issues and TODO items related to future work to make the components used in the platform a little more independent and easy for designers to iterate on. Feel free to comment/update anything as required, eventually we can map to individual issues if anyone is interested on working more on this part of the codebase

- [ ] Migrate existing components (may have a

[2022-03-14 14:39] davehakkens opened #1541 "Add removable location dropdown"
## Component infos

### Description
We need a location field with country dropdown for members that don't add themselves to the map. This is mainly used for instances where the map is disabled.

1. By default it should display the dropdown in the info panel
2. If a user  will`add a map pin` the default dropdown disappears and the location is taken from the map

### Page related

Will be used in :

[2022-03-15 07:27] thisismattia opened #1543 "@mention feature request"
Hey team,

Not sure how big a deal this is but as I was using the comments it came up the need of being able to mention users.
Guess behaviour could be as follow:
User A @mention User B, User B gets a notification.

Not urgent, but maybe nice to have in the future
<img width="1265" alt="image" src="https://user-images.githubusercontent.com/17761877/158327349-bae411c9-b8a4-49dc-9c62-c76f829350dc.pn

[2022-03-15 07:37] mattia-io opened #1544 "Useuful count -1"
I was browsing around on the how-tos and spotted this how-to with -1 count. Strange.
When I click it goes to zero :)

<img width="402" alt="image" src="https://user-images.githubusercontent.com/17761877/158328874-ac71d49d-3540-4993-9d2f-1bb8b0810efd.png">

[2022-03-18 16:05] elinnert opened #1551 "[bug] Guideline link when creating a Research topic is broken"
**Describe the bug**
Testing on PK instance. If I'm creating a new research topic, I see the "How does it work?" side menu and an option to "Read our guidelines". If I click that guideline link it goes to a page not found

**To Reproduce**
Steps to reproduce the behavior:

1. Go to: https://community.projectkamp.com/research/create
2. Click on "our guidelines" link
3. redirects to Page not found

[2022-03-21 19:01] #1172 closed

[2022-03-22 10:57] davehakkens commented on #1438
Something like this @thisislawatts?
![subscribe to research](https://user-images.githubusercontent.com/13672737/159466449-21cf80e7-e165-4d5c-854f-e8056dfb2531.jpg)

[2022-03-22 12:48] thisislawatts commented on #1172
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-22 12:48] thisislawatts commented on #1507
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-22 12:48] thisislawatts commented on #1200
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-22 12:48] thisislawatts commented on #1174
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-22 12:48] thisislawatts commented on #1163
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-22 12:48] thisislawatts commented on #1206
:tada: This issue has been resolved in version 1.10.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.10.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-03-24 06:20] #1505 closed

[2022-03-24 17:29] jojudre commented on #1406
hi, i am working on this, as i understand we need to add flag near username in research modules

[2022-03-24 17:31] davehakkens commented on #1406
Jeej! Correct, and we already use this behaviour in our how-to's ([example](https://community.preciousplastic.com/how-to/make-christmas-ornaments-from-upcycled-bottle-caps))

[2022-03-24 21:58] davehakkens commented on #1551
Added some guideliness (draft)
https://community.projectkamp.com/academy/guides/research

[2022-03-24 21:58] #1551 closed

[2022-03-27 19:52] davehakkens opened #1571 "[bug] Change member icon PK instance"
**Describe the bug**
On the [Project Kamp instance ](https://community.projectkamp.com/u/projectkamp) profiles still have the Precious Plastic Icon. This should be changed to Project Kamp.

Badge can be found[ here in the repository](https://github.com/ONEARMY/community-platform/blob/master/src/assets/images/themes/project-kamp/badge.svg)

**To Reproduce**
See the icon on the [Member profile](http

[2022-03-27 22:19] jojudre commented on #1407
i will take this issue

[2022-03-31 05:52] #1407 closed

[2022-03-31 06:39] thisislawatts commented on #1407
:tada: This issue has been resolved in version 1.12.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.12.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-04 19:12] davehakkens opened #1588 "Add banner for users with incomplete profile"
## Component infos

### Description

We want a notification bar for users that **have not** filled in any profile information. ([example](https://community.preciousplastic.com/u/argentech), [example](https://community.preciousplastic.com/u/joel-tovar), [example](https://community.preciousplastic.com/u/aireverde), [example](https://community.preciousplastic.com/u/william-kadima-sakwah))
Specially w

[2022-04-04 19:20] davehakkens opened #1589 "[feature request] Change Avatar upload for member profile"
## Component infos

### Description

`Member profiles` use a smaller image than `space profiles`.
However the current upload system works the same for both. It saves full size images.
Great for space profiles, not for members
This result into unnecessary large avatar images for members and strange cropping
Ideally the `member profiles` use an avatar upload system that saves max 400px x 400px image

[2022-04-04 19:29] davehakkens opened #1590 "Add categories for How-to"
## Component infos

### Description

We will introduce categories to the how-to's.
This is needed to better organise them in specific areas.

- Unlike tags a howto's can only be in one category.
- Categories are moderated by the community managers.
- Categories can be removed and added like the tags.

### Categories on release
- Products
- Moulds
- Machines
- Guides
- Hacks

### Notes

Categories

[2022-04-05 02:25] franknoirot opened #1591 "[bug] Add CTA to log in to Research Comments section for logged-out users"
**Describe the bug**
This was a miss in my designs of the [Research Comments in Figma](https://www.figma.com/file/nPDwFo0Ee4wcHvtnEGtAu9/ONE-ARMY-Community-Platform?node-id=10%3A72) that was caught by @davehakkens.

The How-To comments on pages like [this one on Precious Plastic](https://community.preciousplastic.com/how-to/easily-hands-free-connect-moulds-to-the-injector) have a section that appe

[2022-04-05 10:53] jojudre commented on #1591
assign to me please

[2022-04-06 06:33] #1406 closed

[2022-04-06 06:34] #1591 closed

[2022-04-06 07:07] thisislawatts commented on #1406
:tada: This issue has been resolved in version 1.14.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-06 07:07] thisislawatts commented on #1591
:tada: This issue has been resolved in version 1.14.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.14.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-06 18:17] jojudre commented on #1588
work on this

[2022-04-06 18:38] hunjunChoi commented on #1571
.take

[2022-04-06 18:39] davehakkens commented on #1571
.go

[2022-04-06 18:41] hunjunChoi commented on #1571
Thanks, will keep you posted with the updates!

[2022-04-07 02:08] chrismclarke commented on #1469
I think short term the best we can probably do is a small fix and update the function mentioned above to also include the howto and research comments and any other places missing.

For anything _better_, we would probably either want a database that allows more automated updating/references, server-side-rendering, a summary aggregation of user flags (limited to those who have published content), o

[2022-04-08 08:06] jojudre commented on #1590
working on this)

[2022-04-08 08:58] davehakkens commented on #1590
Nice! Not sure if you are aware. We also have a very basic admin panel where you can add tags here:
https://dev.onearmy.world/admin/tags
Perhaps a good place to add/remove the ability to add categories there?

I've made `dreamdaura` admin so you should be able to see it now..
<img width="1316" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/162402036-0df37054-d6bb-422e-be7

[2022-04-08 09:07] jojudre commented on #1590
@dave yee, i wanted to ask about this, thanks

[2022-04-08 09:13] jojudre commented on #1590
@dave hmm admin panel is unavailable for dreamdaura (

[2022-04-08 10:09] davehakkens commented on #1590
try again @jojudre

[2022-04-09 15:49] #1405 closed

[2022-04-10 23:15] chrismclarke commented on #1544
I think this got fixed a little while back (we updated how the totals were calculated and recalculated all existing totals) so hopefully this shouldn't happen again - I just checked the db and everything is showing 0 or higher.

There might have still been a chance that locally could show the wrong number if the data not loaded in time for user to click, but that should be fixed with #1607 so I'll

[2022-04-14 21:21] hunjunChoi commented on #1571
Hi @davehakkens, a group of us worked together and corrected a few files so that the badges would render correctly on their respective page.
Now in testing, comes questions. After running the `yarn test` and getting the `cypress` screen up, what are the files that need to be checked?

[2022-04-14 21:25] davehakkens commented on #1571
Just double checking, have you seen our documentation about testing?
https://onearmy.github.io/community-platform/Testing/end-to-end

[2022-04-14 21:29] hunjunChoi commented on #1571
Yes!
However, `yarn test` won't locate the `cypress` installing via `yarn workspace oa-cypress install`, so I used `yarn add cypress --dev` instead and got the `cypress` working

[2022-04-14 21:30] hunjunChoi commented on #1571
Have the test running right now, it's done by a simple button click at the top right corner of `cypress` screen

[2022-04-15 11:44] davehakkens opened #1609 "Add option to download files from link"
## Component infos

### Description

Users can already upload files to attach to an how-to.
In some cases users want to use external storage (Gdrive, dropbox, grabcad etc)
Mainly to keep files in one place or due to the upload limit (100MB)
We want to add the ability to insert a URL

### Details
- Users can only choose one option. Either **upload** OR **Insert** link
- In both ways a button should

[2022-04-15 13:27] #1544 closed

[2022-04-15 14:55] thisislawatts commented on #1405
:tada: This issue has been resolved in version 1.15.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.15.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-16 08:59] davehakkens opened #1610 "[bug] Collecting Mobile (reponsive) weirdness"
**Describe the bug**
This issue is to gather all the incorrect mobile behaviour on the website. Throughout time we've build new componenets and refractored the site but don't always keep a good eye on mobile.
This thread is to gather all the pages to improve.

**Users:** Screenshot and dump them here.
**Developers:** Feel free to adress them and make a PR

[2022-04-16 09:00] davehakkens commented on #1610
**Page:** User(space) [Profile](https://community.preciousplastic.com/u/precious-plastic)
**To fix:** The icons is shown weirdly on top of the header image
<img width="560" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/163668930-57e5ccec-6994-47b9-9d6f-e2116d9f4090.png">

[2022-04-16 09:11] davehakkens commented on #1610
**Page:** **Single How to**
**To fix:** Header image should have a max-height
![IMG_3383](https://user-images.githubusercontent.com/13672737/163669265-33ceae35-8523-402f-9d87-94db7338da3d.PNG)

[2022-04-16 09:13] davehakkens commented on #1610
**Page:** [Single how-to](https://community.preciousplastic.com/how-to/easily-hands-free-connect-moulds-to-the-injector)
**To fix:** Images in steps should be reduced in height (or even show in normal ratio)
![IMG_3384](https://user-images.githubusercontent.com/13672737/163669285-aa99f1e7-517e-47f6-a3f4-f88540d02577.PNG)

[2022-04-16 09:15] davehakkens commented on #1610
**Page:**[Research](https://community.projectkamp.com/research/can-we-make-an-elevation-height-map-of-the-land) + [Howto](https://community.preciousplastic.com/how-to/easily-hands-free-connect-moulds-to-the-injector)
**To fix:** Comment components need to be made responsive. on both Research and How-to

![IMG_3385](https://user-images.githubusercontent.com/13672737/163669328-42925e3e-89e5-4232-984

[2022-04-16 09:17] davehakkens commented on #1610
**Page:** [Member profiles](https://community.preciousplastic.com/u/mattia)
To fix: Member profiles are not made responsive. Text should be below image
![IMG_3386](https://user-images.githubusercontent.com/13672737/163669451-f8f8b190-f209-463a-90df-c48e69b83912.PNG)

[2022-04-16 10:36] ttddee commented on #1610
**Page**: Intro
**To fix:** Table does not scroll horizontally and gets cut off in portrait mode. There is no way to see the right side of it. Tested on Android with Brave and Chrome

![Screenshot_20220416_111221_com brave browser](https://user-images.githubusercontent.com/16922381/163671718-bd964779-eace-4d77-815a-f61014d221fb.jpg)

[2022-04-16 11:01] davehakkens opened #1611 "Notifications for useful in research"
## Component infos

### Description

A few weeks before we introduced [notifications](https://github.com/ONEARMY/community-platform/pull/1464)
A few days ago we added a [useful button ](https://github.com/ONEARMY/community-platform/pull/1602) to our research module.
Now we need to pair them up and trigger a new notifications when someone usefuls

 **Action**
- If someone gives a useful to a resear

[2022-04-21 17:25] hunjunChoi commented on #1610
Hi @davehakkens, I would like to work on [one of the issues](https://github.com/ONEARMY/community-platform/issues/1610#issuecomment-1100613200).
Also, @amandaqiu1, a member of my team, would like to work on an [issue](https://github.com/ONEARMY/community-platform/issues/1610#issuecomment-1100617255)

[2022-04-21 19:04] #1527 closed

[2022-04-21 19:12] #1588 closed

[2022-04-21 19:23] davehakkens commented on #1610
Sounds good @hunjunChoi and @amandaqiu1! Would you be good to freestyle the improvements or need a design?

[2022-04-21 19:36] #1571 closed

[2022-04-21 20:29] thisislawatts commented on #1571
:tada: This issue has been resolved in version 1.16.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-21 20:29] thisislawatts commented on #1588
:tada: This issue has been resolved in version 1.16.0 :tada:

The release is available on [GitHub release](https://github.com/ONEARMY/community-platform/releases/tag/v1.16.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-04-21 23:53] amandaqiu1 commented on #1610
@davehakkens I'm good to freestyle the improvements for now. I'll let you know if I encounter any design issues.

[2022-04-22 00:19] ryanwbass commented on #1541
@danitrod Are you still working on this? I just found this project, got setup, and am looking for something to work on. If so no worries I will keep looking around.

[2022-04-22 11:29] ryanwbass commented on #1155
@thisislawatts @davehakkens Hey, just came across this after watching some Project Kamp videos and wanting to see how I could get involved. Im looking into this issue and am having trouble figuring out how to access i18n from the UserStats.tsx file. What would be the proper way to import it? It seems like there are a couple different versions of the package out there ("i18n", "react-i18next", etc.

[2022-04-22 13:20] davehakkens commented on #1155
hey thanks for wanting to help @ryanwbass.
I think this issue somewhat got fixed for all new users, or when a location is changed for existing users. Then it updates to the correct location.
Only existing static users still display the old location in their own language.
Right @thisislawatts?

Andd what kind of issues are you looking for? I can hook you up ;)

[2022-04-22 15:14] ryanwbass commented on #1155
I was a web dev for 3 years where we mostly did MEAN stack apps. React is a little new to me but not all that different and I'm eager to learn. Currently in a Game Dev role where I have gotten some experience with Firebase Databases (Realtime DB) but I primarily use C# in Unity.

I'm pretty comfortable anywhere so let me know where you need help/what you would suggest.

It might take me a bit to g

[2022-04-22 17:12] danitrod commented on #1541
Hey @ryanwbass ! Yes, I am actually in the final adjustments already, just paused for a long time due to stuff happening in my job. I'll hopefully be submitting a PR next week. If things go wrong and I can't work on it anymore I'll let you know so you can take it. Meanwhile, I think there are some other issues you could go ahead and pickup, such as https://github.com/ONEARMY/community-platform/iss

[2022-04-22 19:15] thisislawatts commented on #1155
Hey @ryanwbass, welcome to the project. Thanks for volunteering on this issue!

As @davehakkens mentioned we've updated the app to only persist location data using the English variant of a country name. There is probably a separate task required to perform a migration on all existing location data within the production database but I don't think that is covered by this task.

[2022-04-22 20:08] davehakkens commented on #1155
Thanks for the background info @ryanwbass! Good to have you here :)
I would be up for closing this issue. Not really worth the work for only existing location data.
As daniel mentioned in another topic. This would be a good one to take on as well
https://github.com/ONEARMY/community-platform/issues/1611
Currently used a lot for Project Kamp :)

More issues coming soon!

[2022-04-22 20:08] #1155 closed

[2022-04-22 21:22] ryanwbass commented on #1611
Hey @davehakkens, I will take this one on. You can assign it to me. You you have the MR for the how-to's for me to look at just to speed things up?

[2022-04-23 01:45] ryanwbass commented on #1611
@davehakkens I believe I have pieced the necessary code together, what is the best way to create test research topics? Can I be added as a beta-tester so I can post test reaserch articles? My username is 'scifiku' and email is 'stripedbass511@gmail.com'. Once I do that and test my changes I will have to figure out unit testing/whatever else you guys do.

Thanks!

[2022-04-23 08:02] davehakkens commented on #1611
good to hear @ryanwbass.
Good catch, indeed you need to be beta-tester.
I've added you on our dev-site https://dev.onearmy.world

[2022-04-23 13:08] ryanwbass commented on #1611
@davehakkens the MR is out, let me know if there is anything I missed or needs to be changed! This is my first time contributing to an open source project so I'm very excited! This community has inspired me!

[2022-04-24 17:48] davehakkens commented on #1611
nicee! Thanks a lot. Seems like some test are failing but we will have a look at it!
Hope to see you more often here :)

[2022-04-25 18:25] davehakkens opened #1617 "Add Download count to how-to"
## Component infos

We want to add a download counter for file download in the how-to.
So users can track how often their content gets downloaded.

### Build suggestions
- It will be build using the aggregations.
- Ideally there is some sort of logic that only counts a download per day. ( To prevent it being mis-used clicking 200 times in a row)

### Page related

Will be used in :
[- How-to ](htt

[2022-04-25 18:33] davehakkens opened #1618 "Add view count to How-to and Research"
## Component infos

### Description

We want to have a view count on our How-to and Research pages.

### Page related
[Research](https://community.projectkamp.com/research/can-we-make-an-elevation-height-map-of-the-land#update_3) and [How-to](https://community.preciousplastic.com/how-to/beads-mould---a-lot-of-them) pages.

### Build suggestion
- It will be build using the aggregations.
- Ideally t

[2022-04-25 20:00] davehakkens commented on #1618
Want to take on another issue @amandaqiu1 or @ryanwbass? 👆

[2022-04-26 00:47] ryanwbass commented on #1618
Hey @davehakkens  I will take it! Go ahead and assign.

[2022-04-26 07:16] davehakkens commented on #1618
sweet!

[2022-04-26 08:28] chrismclarke commented on #1618
@ryanwbass
Thanks for taking this on. There might be a bit of added challenge with this one with the best place to actually store this information. The natural place to think would be the howto itself, adding a `viewCount` property and just increasing by 1 any time the howto page is loaded except this will mean howto docs are constantly updated and the entire doc will need to be synced across all

[2022-04-26 12:09] Zodraccir commented on #1617
Hi, I found this project, and interested me, I would like to take this task in order to try to contribute, I've just configured the environment and I'm trying to figure out how to do. For any question can I ask to you?

[2022-04-26 12:20] davehakkens commented on #1617
awesome! yeh go for it! Post questions here if you have any :)

[2022-04-26 14:56] mattia-io opened #1619 "Links open in new tab?"
Would be really great to make links target="_blank" to open in new window.

<img width="1241" alt="target blank" src="https://user-images.githubusercontent.com/17761877/165329536-9d81ba05-3496-48e0-bf9a-35c756012a51.png">

[2022-04-27 20:13] davehakkens commented on #1619
This would be good to include for all links posted in textfields in [Research Module](https://dev.onearmy.world/research) and [How-to's](https://dev.onearmy.world/how-to).
Let me know if anyone wants to take it on

[2022-04-27 20:20] davehakkens opened #1626 "Increase character limit Research comment"
## Component infos

### Description

We want to increase the character limit for comments to 1000.  (instead of current 400)
Main reason for increasing is that people post double comments and @jojudre made a nice "show more" button.
So need anymore to keep it short :)
This is mainly needed for the research module.

### Page related

Will be used in :

- [Research module](https://community.projectk

[2022-04-27 20:43] jojudre commented on #1626
@davehakkens only for research module? or for howto too ?

[2022-04-27 20:48] davehakkens commented on #1626
It would be nice to also have it there.
But I think the "show more" button is not implemented in the how-to comments. (which means long comments!)

So would be cool if we can add "show more" button + increase character limit together to how-to.
If it's to big we can also raise a new issue for it.

[2022-04-28 19:45] hunjunChoi commented on #1619
Hello @davehakkens, this could be a friendly issue that a beginner might solve. May I take on the issue?

[2022-04-28 21:09] davehakkens commented on #1619
yeh sure go for it. But you also still have [this one](https://github.com/ONEARMY/community-platform/issues/1610) open right @hunjunChoi ?

[2022-04-30 05:45] #1626 closed

[2022-04-30 08:43] davehakkens opened #1638 "[bug] Profiles shows wrong badge"
**Describe the bug**
In the recent release this pink badge has changed for `workspaces`, `machine shops`, `community points`.
This should be a “space” badge (red, blue, green) not a “member” badge (pink)

**To Reproduce**
Go to the map.
Select a space account (workspace, community point machineshop)
Have a look at their badge

**Issue**
The problem is probably in this PR
https://github.com/ONEARMY

[2022-04-30 10:45] thisislawatts commented on #1619
Hey @hunjunChoi, I have done exactly this inside a new PR adding Linkify to our comments.
You can see the specific change here:
https://github.com/ONEARMY/community-platform/pull/1639/files#diff-7aab05b5c350e50591b3ebe276a7734835df27cdd7b6e1f8f607576f2023cbddR76

[2022-04-30 15:22] #1638 closed

[2022-05-02 04:54] hunjunChoi commented on #1619
@thisislawatts Understood

[2022-05-03 02:48] hunjunChoi commented on #1610
Hi, @davehakkens. Sorry for arousing confusion from switching around issues. Returned to work on one of the issues as #1619 is resolved.

[2022-05-03 14:50] mattia-io opened #1651 "Weird email UI/UX"
Hello,

I am not sure I understand the intended behavior for this piece of UI found in users profiles. Feels a bit confusing to have 3 email fields. Is that how it is meant to be?

<img width="321" alt="Screenshot 2022-05-03 at 16 47 08" src="https://user-images.githubusercontent.com/17761877/166476723-4f38347e-d491-4d6a-a2c6-0404405eb4d4.png">

[2022-05-03 17:11] davehakkens commented on #1651
this button is for admins only. Used to contact people through their sign up information.
Not available for other users.

[2022-05-03 17:11] #1651 closed

[2022-05-03 17:18] davehakkens commented on #1619
I'm not sure it's [resolved](https://github.com/ONEARMY/community-platform/issues/1610#issuecomment-1115560798) @hunjunChoi. I think Luke implemented this behaviour only in the comments but not in the actual content. Is that correct @thisislawatts ?

[2022-05-03 17:42] thisislawatts commented on #1619
Correct @davehakkens, I implemented this festure only for content within comments

[2022-05-04 13:13] davehakkens commented on #1197
@kfern I know you have been working on this. But after our chat last week you might understand our current problems better. Chris mentioned there is probably also an easier way to do this in the current setup.
Would you be interested to work on this Fernando and would you have any suggestions to get started @chrismclarke?
For anyone wanting to take on this issue

[2022-05-04 13:21] davehakkens commented on #1617
hi @Zodraccir how is this going, need any help?

[2022-05-04 13:23] kfern commented on #1197
@davehakkens

Yes. I can go ahead with @chrismclarke suggestions

[2022-05-04 17:35] davehakkens commented on #1590
thanks for asking!
But we don't need that for now. We can add later :)
Main thing we need now is the ability to filter on the overview page

[2022-05-04 20:26] thisislawatts opened #1653 "[bug] Instability with Storybook"
**Describe the bug**

The Storybook component library does not work for all components.

**To Reproduce**
Steps to reproduce the behaviour:

1. Run `yarn storybook`
1. Load [http://localhost:6006/?path=/story/base-components-comment--editable](http://localhost:6006/?path=/story/base-components-comment--editable)

**Expected behavior**

Storybook renders the Comment component variants.

**Screensho

[2022-05-04 22:48] knoopx commented on #1543
alright, taking this one. I suggest to start with a simple implementation and develop further as we go.

the bare minimum implementation is:

1) within the comment form submit handler, simply use a regex to match `@mentions` within the comment body
2) lookup the matched mentions to user ids and validate they actually exist
3) resolve the id of the page the user commented on and the id of the comme

[2022-05-05 23:27] davehakkens commented on #1541
Hi @danitrod. Just doing my thing here and checking in how its going 🙃
Need help?

[2022-05-06 08:02] jojudre commented on #1589
@davehakkens want to grab this issue, can i use react-image-crop, it's lightweight library to allow users crop images?

[2022-05-06 14:14] thisismattia opened #1654 "[feature request] Notification lightbulb behaviour"
Hey team,

I am a little confused with the behaviour of the notification icon. Currently icon only turn grey when notifications are cleared.
<img width="212" alt="Screenshot 2022-05-06 at 16 08 43" src="https://user-images.githubusercontent.com/17761877/167149892-8b9a8ee9-6560-461a-855e-d6146bfd576c.png">

Currently:
- When icon is yellow, user clicks on the icon and sees notifications
- Icon stay

[2022-05-06 21:26] danitrod commented on #1541
Hey @davehakkens! I know I've been off recently and not delivering this issue for a while, I'm sorry for that 🙁

I did almost finish it though (you can check on the progress [here](https://github.com/danitrod/community-platform/tree/1541-removable-location-dropdown)), just needed some final adjustments BUT I am switching jobs right now and lost access to the machine I used to code. A new one was a

[2022-05-06 21:28] danitrod commented on #1541
^ FYI @ryanwbass

[2022-05-07 13:46] davehakkens opened #1656 "[bug] Event page bad styling"
**Describe the bug**
The sidebar in the event pages is wrong.
Probably went wrong after this PR https://github.com/ONEARMY/community-platform/pull/1546

**To Reproduce**
See [here](https://community.preciousplastic.com/events/create)

**Screenshots**
<img width="1233" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/167256810-db22b7b8-5ce1-4ca0-b014-d7638914fccf.png">

[2022-05-07 19:50] thisislawatts commented on #1589
@davehakkens I think it is worth clarifying the exact requirements here, which of the following do we want?

1. User type specific (Member _or_ Workspace) upload requirements.
2. User managed cropping

At the moment the same image upload mechanism is used for different user types, User or Workspace, whereas we need different behaviour.

[2022-05-07 20:00] davehakkens commented on #1589
1. This PR is focussed on `member` profiles.
Since there will be much more of those than `workspace` (space) profiles
2. The cropping itself is somewhat flexible. The main goal is that the output is always square and max 400x400px.
Cropping in browser could be a very nice feature, if this gets to complex we could also ask for it when a user uploads. For instance. "Upload square image of max 400x40

[2022-05-09 15:43] thisislawatts commented on #1589
Cool, so I wouldn't necessarily build out an in browser editing/cropping for users straight away but it's definitely a nice feature to have. There are probably other opportunities to introduce elsewhere across the platform.

[2022-05-09 15:45] #1590 closed

[2022-05-09 16:34] davehakkens commented on #1589
ok thanks. is that 👆 clear enough for you to move forward @jojudre?

[2022-05-11 11:25] davehakkens commented on #1654
yeh makes sense
Soo what if you have two or more notifications popping up and you click only one of them.
What would happen in that case?
1. Icon becomes Grey
2. Icon stays Yellow
3. Only the one notification message you clicked changes

[2022-05-11 20:14] davehakkens commented on #1543
hi @knoopx Sorry for the slow reply. Missed the notification on this one!
But sounds like a good plan forward. Exciting.
- Usernames are without spaces.
- Comments don't have unique html yet, we need to add that.

Let my double check with our maintainer to see if they have additional suggestions.

[2022-05-11 20:16] davehakkens commented on #1541
No worries @danitrod. thanks for letting me know.
I'll try to find a new owner for this one!

[2022-05-12 07:09] mattia-io commented on #1654
1. Icon becomes Grey

Yellow icon signals there are new notification. Users might click on them or not but for the icon shouldn't matter I believe.

[2022-05-12 18:21] thisislawatts commented on #1543
Hey @knoopx, thanks for taking the time to write out your thoughts, really helpful. This sounds like a good implementation plan.

Following up on the requirements you've highlighted:

- ✅ usernames to not contain spaces, otherwise will be very unreliable to parse mentions.
  The usernames appear to be `A-z0-9\-`, although haven't seen the explicit requirement
- 🤔 comments to have unique html ids,

[2022-05-14 09:18] davehakkens commented on #1654
ok, so. Everytime you click a yellow icon it becomes grey, until a new notification comes in. Then it becomes yellow again?

[2022-05-14 11:15] thisislawatts commented on #1654
It may be worth considering an alternative visual approach to communicate the various states.

The contrast difference between the Gray and Yellow is not very apparent, especially if you:

* Have any issues distinguishing colours
* Are not paying attention
* Unfamiliar with the site

[2022-05-16 20:31] AlfonsoGhislieri commented on #1617
Hello, I'd start contributing to the project and would like to take this task !

[2022-05-16 20:33] davehakkens commented on #1617
Sounds great! This would be a very useful one. Let me know if you need help

[2022-05-16 20:45] AlfonsoGhislieri commented on #1617
Thanks Dave, quick question regarding testing, I couldn't find anything concrete on the guidelines. Do you want this feature to be fully tested/should all features be fully tested?

[2022-05-16 20:48] davehakkens commented on #1617
Just double checking, have you seen our documentation on testing? https://onearmy.github.io/community-platform/Testing/end-to-end

[2022-05-16 20:55] AlfonsoGhislieri commented on #1617
Just read over it now and so I'm guessing no unit testing for me (yay!), if you do want me to implement some tests do let me know!

[2022-05-17 16:53] davehakkens opened #1676 "[bug] Notification in research has how-to text"
**Describe the bug**
We just added a notification when someone gives "useful" to a research topic.
However the text that is shown is "new comment on how-to"

I think this bug came after releasing this https://github.com/ONEARMY/community-platform/pull/1615

**Expected behaviour**
`How-to` should be replaced by `research`

**Screenshots**
<img width="273" alt="afbeelding" src="https://user-images.g

[2022-05-17 17:06] thisislawatts commented on #1653
Fixed via: https://github.com/ONEARMY/community-platform/pull/1661

[2022-05-17 17:06] #1653 closed

[2022-05-17 17:34] davehakkens commented on #1676
'article title' is not shown at this point in notifications. (got to long)
Only general names `howto` or `research` are shown which link to the article

[2022-05-17 18:19] thisislawatts commented on #727
This issue has been partially addressed through: https://github.com/ONEARMY/community-platform/pull/1663

[2022-05-17 18:19] #727 closed

[2022-05-18 03:16] eliasvelardezft commented on #1541
Hi! I just wanted to start contributing and found this issue. @danitrod said he almost had it so I figured I could finish what they had started, but their code is complete and functioning correctly. Should I create a pull request with their changes if they can't? Obviously danitrod should get the bounty.

[2022-05-18 06:21] davehakkens commented on #1541
Thanks for picking it up @eliasvelardezft! Yeh add a PR if you think its ready so we can test it! :)

[2022-05-18 13:30] davehakkens commented on #1618
hi @ryanwbass are you still planning to take this on?
If not possible, or no time due to moving no worries.
Just let me know so I can assign someone else

[2022-05-18 13:47] ryanwbass commented on #1618
Hey @davehakkens ya I was just thinking the same thing. Between moving, some sustainability projects at home (gardening, etc...), and other development projects Im not finding myself with a lot of time right now. You can assign this one on to someone else. I was super excited to get involved but just have too much going on right now, I haven't had any down time for a few weeks. I will keep the pro

[2022-05-18 15:35] davehakkens commented on #1618
Thanks for the update! Do come back when you find some time @ryanwbass! :)
For now @adrianduke will take over the issue. But for some reason I can't assign.. 🤔

<img width="323" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/169082855-1d181903-1475-4bf7-b514-d3e274168584.png">

[2022-05-18 22:12] Cabezaa commented on #1676
Hi all, I have been trying to replicate this bug for doing my first contribution to this awesome project, but I haven't been able to replicate it.

If I'm not mistaken, the bug should appear when someone touches the button "useful" from one of your research and you receive the notification right? If so, I'm seeing this correctly I think because it is tagged as Research:
![image](https://user-image

[2022-05-19 09:16] davehakkens commented on #1676
thanks for looking into it @Cabezaa!
What you do is correct. But to be honest it doesnt seem to happen all the time, just occasionally.
Let me keep an eye on it and see if I find a pattern to replicate it

[2022-05-20 19:46] danitrod commented on #1541
Actually I'm pretty sure there was an edge case where something wouldn't work out with my code, I don't quite remember it right now though 🫢
I think it's worth it to double check every possible behaviour (changing user's location, using pins and deleting pins), pretty sure some bug will happen xD

[2022-05-26 22:40] eliasvelardezft commented on #1469
hi! I'll try to fix this bug

[2022-05-28 05:47] #1609 closed

[2022-05-28 16:27] thisismattia opened #1697 "[feature request] Connect CP account with Discord"
This is a feature request/exploration.

I've seen on multiple website the ability to connect 3rd party accounts to Discord accounts. Patreon of course is a good example. But also other smaller websites seems to feature this option.

In our case would be:
Community Platform user connects their account with their Discord account.

How easy would be to develop something like this?

I have not fully t

[2022-05-28 20:03] davehakkens commented on #1697
Agree interesting to connect platforms more together. However I think the first question is less wheter its doable or how easy it is.

But more understanding what features we would really need from this connection and how its intergrated with the rest. It easily gets way more complex with different platforms/discords people having individual profiles or represent a Space (group) etc.

[2022-05-29 04:52] thisislawatts commented on #1697
There is this well documented example of how to add support for logging in with a Discord account
https://github.com/luizkc/firebase-discord-oauth2-example

So from a technical perspective it looks quite straightforward.

The limitation here is that each CP instance is entirely isolated from another. So a user would have to log in/authorise with each one separately.

[2022-05-29 17:05] davehakkens commented on #1543
hey @knoopx. Just checking in how this is going. Need help?

[2022-05-29 17:16] #1676 closed

[2022-05-31 05:36] #1619 closed

[2022-05-31 06:00] mattia-io commented on #1619
I feel like also how-tos, profiles and cp as default would benefit from this. When users add links they are usually outgoing which would normally be nice to have on a new window. My 2cents.

[2022-05-31 19:05] #1656 closed

[2022-06-01 20:26] davehakkens opened #1705 "Add Previous events to event page"
## Component infos

### Description

We would like to display previous events in the event module.
- It makes the page more rich
- It could help people to find eachother locally even after events.

### Page related

Will be used in : [Event page](https://community.preciousplastic.com/events)

### Build suggestion
- Previous events should be greyed out.
- They are loaded with infinite scroll as the

[2022-06-01 20:43] davehakkens opened #1706 "Enable Digital events"
## Component infos

### Description

Digital events are becoming more popular in the community. (hello 2022)
This issue would allow members to share them in the events page.
If the checkbox "digital" event is selected it should show the `Digital.png` icon on the frontend.

⭐️Bonus: Ideally we can add this:
If the checkbox digital is selected > the field `In which city is the event taking place?`

[2022-06-01 21:56] Xyli0 commented on #1705
Hi, everyone,
I just found your project and would love to contribute.
I am all set and would like to work on this issue if you don't mind 😃.
@mattia-io

[2022-06-02 03:33] missalyss commented on #1706
Hi! Can I take on this issue? I've got code running and more docs to read but noticed all the other 'Good first issue's were taken 😊

[2022-06-02 05:40] thisislawatts commented on #1706
Absolutely @missalyss ✨ I have assigned the issue to you. Please let me know if you've any further questions.

Additional details to be aware of:

1. The _﻿﻿In which city is the event taking place?_ field, which is currently marked as required. I would expect this field to be optional or completely hidden.
2. For visibility, I'm [working on a PR](https://github.com/ONEARMY/community-platform/pull/

[2022-06-02 06:04] thisislawatts commented on #1705
Welcome aboard @Xyli0, let us know if you have any questions getting up and running with this issue.

[2022-06-02 19:13] Xyli0 commented on #1705
Thanks @thisislawatts. I start working on it.

[2022-06-03 17:45] #1541 closed

[2022-06-04 09:29] mattia-io commented on #1697
Thanks @thisislawatts for finding relevant documentation.

Indeed what you described could be an issue.

I guess the main challenge would be that:
- A user has multiple CP accounts (PP, PK etc..) but one Discord account.

A way to circumvent this is that each connection gives a different role:
- If a user connects from CP PK they'll get a "Prokect Kamp Community Member" role on Discord (or whateve

[2022-06-04 09:33] thisislawatts opened #1709 "Help to migrate src/components/Animations/FadeInOut.tsx"
We are looking to migrate `src/components/Animations/FadeInOut.tsx` to `packages/components/src/FadeInOut/FadeInOut.tsx`

**Why?**
* Improve structure of the components
* Improve documentation for our existing components
* Make it easier for our design team to review and refine the components
* Decouple our components from application state
* Convert our class based components to functional compon

[2022-06-04 09:43] mattia-io commented on #1654
Sorry for late response, had a difficult couple of weeks.
Shame conversation was closed (and deleted? can't find previous messages 😭)

Wanted to thank whoever posted the different notification icon behaviors (can't remember if it was @thisislawatts or @tedspare). Indeed there are many different options for this.

My main worry is that users by seeing the notification icon always yellow they'll sto

[2022-06-04 10:58] Xyli0 commented on #1705
I took a look at the code and I am still trying to figure out how to implement infinite scrolling.

For now I suggest to put the two lists into their own component named `UpcomingEventsList` and `PreviousEventsList` located inside /src/pages/Events/content/ and rename _/src/pages/Events/Content/`EventList`_ to `EventLists` to display both components.

Currently `Eventlist` displays the list of upc

[2022-06-04 13:11] davehakkens commented on #1654
You can still find the previous conversation back [here](https://github.com/ONEARMY/community-platform/pull/1688)  @mattia-io Only the PR is closed.

Also for anyone else following up on this issue. Might be good to have a look at that PR https://github.com/ONEARMY/community-platform/pull/1688 which shows the problem and the reason why its postponed for now

[2022-06-04 13:31] thisislawatts commented on #1705
Hey @Xyli0,

Thanks for raising this point. I actually think that we should not use infinite scrolling here and instead introduce pagination. I am aware that we currently use infinite loading on the how-to listing but this is something we will likely remove to improve the SEO performance.

So maybe the block in the design shows the 20 most recent past events and then we have a link through to an a

[2022-06-04 13:34] thisislawatts commented on #1705
@ONEARMY/design, @Xyli0 has flagged an additional state here. When there are no upcoming events and _only_ past events. What is the most useful thing we can present our users with in that situation?

[2022-06-04 14:07] mattia-io commented on #1654
Oh, of course 🤦‍♀️

[2022-06-04 17:36] davehakkens commented on #1705
yeh thanks for adding that state @Xyli0, sounds good!
Altough I would propose another text for that state, something like:
"At the moment there are no upcoming events"
(don't display "No data to show")

<img width="524" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/172018737-e29119e2-e9e3-4807-8c88-44cb68a5068a.png">

Also up for swapping that infinite scrolling for pagi

[2022-06-04 19:38] mattia-io opened #1711 "[bug] add update to someone else's research module"
Hey team,

I just found what looks like a pretty critical bug. I was able to add an update to someone else's research topic. You can see the latest update below 👇 As far as I understood I should only be able to comment on updates not create new ones.
https://community.preciousplastic.com/research/make-open-source-arbor-press-injection-machine

I am a beta tester I believe (that could simply be the

[2022-06-04 19:44] davehakkens commented on #1711
Yeh
You are `beta tester` and `admin`
`Beta tester `can start + edit their own research topics
`Admin` can start + edit everyones research topic
So it's probably that..

[2022-06-04 19:48] mattia-io commented on #1711
Ok. All good then.

[2022-06-04 19:48] #1711 closed

[2022-06-05 13:25] thisislawatts opened #1714 "Help to migrate src/components/Avatar/index.tsx"
We are looking to migrate `src/components/Avatar/index.tsx` to `packages/components/src/Avatar/Avatar.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our class based components to functional component

[2022-06-05 14:10] thisislawatts opened #1716 "Help to migrate src/components/Category/CategoriesSelect.tsx"
We are looking to migrate `src/components/Category/CategoriesSelect.tsx` to `packages/components/src/CategoriesSelect/CategoriesSelect.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our class based c

[2022-06-05 14:13] thisislawatts opened #1717 "Help to migrate src/components/Comment/Comment.tsx"
We are looking to migrate `src/components/Comment/Comment.tsx` to `packages/components/src/Comment/Comment.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our class based components to functional comp

[2022-06-05 14:14] thisislawatts opened #1718 "Help to migrate src/components/Comment/CommentHeader.tsx"
We are looking to migrate `src/components/Comment/CommentHeader.tsx` to `packages/components/src/CommentHeader/CommentHeader.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our class based components

[2022-06-05 14:15] thisislawatts opened #1719 "Help to migrate src/components/Comment/CommentTextArea.tsx"
We are looking to migrate `src/components/Comment/CommentTextArea.tsx` to `packages/components/src/CommentTextArea/CommentTextArea.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our class based compo

[2022-06-05 14:18] thisislawatts opened #1720 "Help to migrate src/components/CommentList/CommentList.tsx"
We are looking to migrate `src/components/CommentList/CommentList.tsx` to `packages/components/src/CommentList/CommentList.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our class based components to

[2022-06-05 14:23] thisislawatts opened #1721 "Help to migrate src/components/DropdownIndicator/index.tsx"
We are looking to migrate `src/components/DropdownIndicator/index.tsx` to `packages/components/src/DropdownIndicator/DropdownIndicator.tsx`

✨ **This component was introduced to workaround a limitation of [react-select](https://github.com/JedWatson/react-select/issues/685#issuecomment-420213835). It may be possible to completely remove this item, please review before migrating.**

**Why?**

-   Im

[2022-06-05 14:27] thisislawatts opened #1722 "Help to migrate src/components/ElWithBeforeIcon/index.tsx"
We are looking to migrate `src/components/ElWithBeforeIcon/index.tsx` to `packages/components/src/ElWithBeforeIcon/ElWithBeforeIcon.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our class based comp

[2022-06-05 14:37] thisislawatts opened #1723 "src/components/ImageGallery/ImageGallery.tsx"
We are looking to migrate `src/components/ImageGallery/ImageGallery.tsx` to `packages/components/src/ImageGallery/ImageGallery.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our class based component

[2022-06-05 14:39] thisislawatts opened #1724 "Help to migrate src/components/Loader/index.tsx"
We are looking to migrate `src/components/Loader/index.tsx` to `packages/components/src/Loader/Loader.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our class based components to functional component

[2022-06-05 14:40] thisislawatts opened #1725 "Help to migrate src/components/Modal/Modal.tsx"
We are looking to migrate `src/components/Modal/Modal.tsx` to `packages/components/src/Modal/Modal.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our class based components to functional components
-

[2022-06-05 14:47] thisislawatts opened #1727 "Help to migrate src/components/MoreContainer/MoreContainer.tsx"
We are looking to migrate `src/components/MoreContainer/MoreContainer.tsx` to `packages/components/src/MoreContainer/MoreContainer.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our class based compo

[2022-06-05 14:52] thisislawatts opened #1728 "Help to migrate src/components/ModerationStatusText/ModerationStatustext.tsx"
We are looking to migrate `src/components/ModerationStatusText/ModerationStatustext` to `packages/components/src/ModerationStatus/ModerationStatus.tsx`

**Why?**

-   Improve structure of the components
-   Improve documentation for our existing components
-   Make it easier for our design team to review and refine the components
-   Decouple our components from application state
-   Convert our c

[2022-06-05 17:03] Xyli0 commented on #1705
Thanks @thisislawatts @davehakkens, I know enough to continue.

[2022-06-05 19:13] thisislawatts opened #1729 "[bug] Profile image upload doesnt seem to work? (both member and space)"
**Describe the bug**

It is not possible to upload a Profile image for either a member or space user type.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behaviour**

A user should be able to upload a Profile image

[2022-06-05 19:24] thisislawatts opened #1730 "[bug] Fixing fashion edit profile links incorrect"
**Describe the bug**

Incorrect links in Fixing Fashion

**Expected behaviour**

#1 + #3 = https://community.fixing.fashion/academy/guides/profile
#2 + #4 = https://community.fixing.fashion/academy/guides/community-program

**Screenshots**

![FF urls](https://user-images.githubusercontent.com/472589/172067162-e5b96a8b-f827-4aa6-ad2c-117cfe7c262b.jpg)

[2022-06-05 19:31] davehakkens opened #1731 "[bug] Fixing Fashion Map shows wrong spaces"
**Describe the bug**
The map for Fixing Fashion isntance still shows the Precious Plastic spaces.
It should show the ones from Fixing Fashion
- Member
- Space

**Screenshots**
<img width="1185" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/172067387-485a85c6-97c9-4802-a40c-7ca09c8bbcdb.png">

[2022-06-05 20:04] thisislawatts opened #1732 "[bug] Incorrect academy content loaded into Fixing Fashion"
**To Reproduce**
Steps to reproduce the behaviour:

1. Go to https://fixing-fashion-prod.web.app/academy/
1. See that Project Kamp academy content is displayed

**Expected behaviour**

The content that is displayed should match what is currently available on https://community.fixing.fashion/academy/start/intro.html

Whilst we could load the content of https://community.fixing.fashion/academy into

[2022-06-05 21:11] #1732 closed

[2022-06-06 13:03] davehakkens opened #1734 "[bug] Change webhooks Fixing Fashion notifications"
**Describe the bug**
We use both Discord and Slack webhooks to send a notification when a:
1.  `new map pin is waiting to be approved `(Slack #pp-community-notifications)
2.  `map pin is approved and made public` (Discord #activity-bot)
Ideally these webhooks are changed for Fixing Fashion to have its own notifications.

**Screenshots**
<img width="615" alt="afbeelding" src="https://user-images.gi

[2022-06-07 21:24] thisislawatts opened #1737 "[bug] Comment box background missing"
**Describe the bug**
The comments box lost its white background

**Screenshots**

Development version / master branch.

![image (1)](https://user-images.githubusercontent.com/472589/172485179-19039e24-b29f-49b3-bb8e-cdfdb37b032a.png)

Production (as it should be)

![image (2)](https://user-images.githubusercontent.com/472589/172485185-68d64378-f664-4f23-8f47-d11d727e5e71.png)

[2022-06-07 21:27] davehakkens opened #1738 "[bug] Events button mobile is off"
**Describe the bug**
Publish button on mobile for events is not correct

**Screenshots**
<img width="476" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/172485518-1452e071-c4eb-4628-b09a-5b20c826ea15.png">

[2022-06-07 21:37] davehakkens commented on #1543
Let me know if you still manage to take this one @knoopx.
If not not worries but then we can free it up and assign to someone else!

[2022-06-08 05:37] #1716 closed

[2022-06-08 05:40] chrismclarke opened #1741 "[feature request] - Make relative and absolute import paths more consistent"
**Is your feature request related to a problem? Please describe.**
Raised in #1726, we have a mix of relative and absolute imports, many of which don't really make sense (some point outside the src workspace entirely into components, others use long absolute paths to pick sibling files etc.)

I think we first need to decide if we actually care about this, and then what are options are to try and g

[2022-06-08 06:08] #1714 closed

[2022-06-08 10:35] Xyli0 commented on #1705
Hi everyone,

I have been able to display a list of past events by reusing `src/components/EventCard/EventCard.tsx` (not greyed out).

![Screenshot 2022-06-08 at 11-18-42 Community Platform](https://user-images.githubusercontent.com/10441748/172586179-3f3db528-3be9-4887-a8cf-cc8c3bc9b850.png)

So now I have to grey these items out.
To proceed I need to clarify two things:

Should the "Awaiting mod

[2022-06-08 14:11] thisislawatts commented on #1725
Picking up as this component is used within the `Comment` component #1717

[2022-06-08 17:09] #1738 closed

[2022-06-08 17:52] davehakkens commented on #1705
Good to see this moving forward!

I think you could keep the "awaiting moderation" badges visable.
This is only shown to admins and indeed should not be there in the first place.
But if there is one that slipped through its a good moment to revisit and moderate it. (for the users point system)

The second question i'll leave up to devs:)

[2022-06-08 20:37] DataWorm opened #1745 "[feature request] Placing multiple pins on PP Map with one account only"
**Is your feature request related to a problem? Please describe.**
My PP group has currently a focus on building a workspace. Nevertheless we already act in some parts as a community point. And now we are also starting to setup some small collection points at different locations. We intend to slowly start registering pins on the PP Map for all these spaces. But apparently with one account/profile

[2022-06-09 16:12] AlfonsoGhislieri commented on #1730
Happy to pick this one while waiting for my other ticket to get reviewed

[2022-06-09 16:12] AlfonsoGhislieri commented on #1729
Also happy to pick this one up

[2022-06-09 20:15] Xyli0 commented on #1705
The feature is pretty much done however I am a bit stuck for now with testing.

I wrote a test in 'events.spec.ts` but it seems that there is no previous events stored in the test database so my test can't pass in the current state.
Could somebody add a bunch of past events to the database or should I skip it for now?

Also while looking at the tests I found a step that doesn't look right. In `eve

[2022-06-10 06:40] davehakkens commented on #1730
Great, go for it! These Fixing Fashion issues are a bit more challenging since it deals with our themes. (urls are different for each instance, Precious Plastic, Project Kamp, Fixing Fashion etc.) But you would be the first one ever to take an issue with theming! Good testing for us. Curiours if you would manage :)
If not let us know what is unclear!

[2022-06-10 10:55] AlfonsoGhislieri commented on #1730
So this should all be setup, only issue is that there seem to be some bugs when not on the precious plastic theme. To make sure everything worked I had to remove `.normal` from the theme badge inside of `Focus.section.tsx` (error message below). But the links are all good to go :)

<img width="867" alt="Screenshot 2022-06-10 at 11 52 18" src="https://user-images.githubusercontent.com/652368/173050

[2022-06-10 13:08] davehakkens commented on #1745
Thanks for the suggestion. Would love to see a map with many plastic drop off points!
We had the request a few times before througout the years, but not often.
Not many collection point have fixed pickup location yet so it doesn't really feel a feature worth integrating yet.

That said probably a good place to post this is here: https://feedback.preciousplastic.com/
In this way other people can up

[2022-06-10 21:22] thisislawatts commented on #1705
Hey @Xyli0, do you want to share your branch or raise a Draft PR?

I can then take look at the tests to ensure some past events are seeded into the test database.

Thanks!

[2022-06-11 13:27] #1719 closed

[2022-06-11 13:27] #1737 closed

[2022-06-11 15:37] #1729 closed

[2022-06-11 15:57] thisislawatts commented on #1197
:wave: Hey @kfern, have you had a chance to pick this item up yet?

[2022-06-11 16:04] thisislawatts commented on #1717
Migrated https://onearmy.github.io/community-platform/storybook-static/index.html?path=/story/base-components-commentitem--short-text-with-link

[2022-06-11 16:04] #1717 closed

[2022-06-11 16:05] #1718 closed

[2022-06-11 16:30] thisislawatts commented on #1731
@davehakkens would this work?

![Screenshot 2022-06-11 at 18 29 58](https://user-images.githubusercontent.com/472589/173196545-4318fe6d-2c1b-4f15-8a60-1e95929dc3c7.jpg)

[2022-06-11 16:38] davehakkens commented on #1731
It works. But.
1. Ideally the want to get started icon is red (Fixing Fashion)
2. "Space" sounds a bit strange like that, but should be good enough to get going! 🔥

[2022-06-11 17:38] kfern commented on #1197
Hi @thisislawatts. I'm waiting for @chrismclarke suggestions

[2022-06-11 17:57] thisislawatts commented on #1734
@davehakkens would it be possible to get the Webhook URL for the Discord channel you want these notifications sent through to? I am guessing that this would be #activity-bot.

Please send me the URL via DM

[2022-06-11 19:52] thisislawatts commented on #1197
🤦🏻 My apologies @kfern, I misunderstood your previous message. I incorrectly assumed you had chatted with Chris outside of this issue. Let me take a closer look and see if anything emerges 🔍

[2022-06-11 19:56] thisislawatts commented on #1734
The secrets which manage these are defined via the Firebase CLI, it is currently unclear what key=value and format should be used to store these credentials

[2022-06-11 20:09] AlfonsoGhislieri commented on #1720
Happy to pick this one up and start helping work through these!

[2022-06-11 23:51] davehakkens commented on #1706
hey @missalyss how is this going? Need any help or guidance?

[2022-06-11 23:55] davehakkens commented on #1469
hey @eliasvelardezft are you still good to take this one on, need any help?
Also send a message to you here https://github.com/ONEARMY/community-platform/pull/1681 but not sure if you get notifications on closed PR.

[2022-06-12 08:49] thisislawatts commented on #1197
@kfern I took a look into this and was able to get a functional verified filter working with some minor changes. Would appreciate your eyes on this as a starting point:
https://github.com/ONEARMY/community-platform/compare/spike/verified-dropdown

I see the next steps here being:
1. Introducing unit tests around _filterMapPinsByType_ and improve logic. My hacky implementation ignores the situation

[2022-06-12 18:52] thisislawatts opened #1755 "[operations] Migrate from Firebase configuration to use Google Secrets"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-06-13 08:48] #1731 closed

[2022-06-13 16:58] kfern commented on #1197
@thisislawatts For the next few months I will have little free time because I'm moving to a new job. Feel free to assign to another.

[2022-06-13 20:21] thisislawatts commented on #1197
Congratulations on the new job @kfern ✨ Enjoy getting settled in!

[2022-06-14 08:39] davehakkens commented on #1706
Good to hear some of it is working @missalyss! Did you manage to follow [these steps ](https://onearmy.github.io/community-platform/)to run locally?

[2022-06-14 15:25] thisislawatts commented on #1617
Closed via https://github.com/ONEARMY/community-platform/pull/1687

[2022-06-14 15:25] #1617 closed

[2022-06-14 17:17] thisislawatts opened #1766 "Release Notifications Component"
Currently available to our `beta-tester` users, it would be great to release this item to all users of the platform.

[2022-06-14 22:22] Xyli0 commented on #1727
Hi, I would like to work on this issue if you don't mind.

[2022-06-15 05:28] #1705 closed

[2022-06-15 05:35] thisislawatts commented on #1727
Absolutely @Xyli0, I will assign this to you. Please let me know if you have any questions when working on this item.

[2022-06-15 06:52] #1197 closed

[2022-06-15 17:34] Xyli0 commented on #1727
I have looked into the problem and didn't find any difficulty, however while refactoring the component, I have a suggestion to make.

Currently, `MoreContainer` is not a flex container which forces us to include a flex element as it's first child to be able to center it's children.

I suggest to include this flex child element in the component since I guess children elements will always be stacked

[2022-06-15 19:49] davehakkens commented on #1730
@AlfonsoGhislieri Project kamp doesnt use this yet (since they only have 1 profile type, members)
That sidebar is still hidden...

<img width="1278" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/173913877-9e0593d8-f8ef-43f0-864d-c73567f77920.png">

Anyway seems to be merged so good to close, thankkkkss!

[2022-06-15 19:49] #1730 closed

[2022-06-16 06:28] thisislawatts opened #1775 "[bug] Verified showing zero on fixing fashion instance"
**Describe the bug**

Verified option in Map dropdown shows `0` for Platform instances which don't feature verified pins.

![image (4)](https://user-images.githubusercontent.com/472589/174005571-2083fe2c-bfaf-4aa6-a3c7-8fab0687494c.png)

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to https://fixing-fashion-prod.web.app/map
1. Click on 'Select filters'
1. See error state

**Expected b

[2022-06-16 08:13] davehakkens opened #1776 "[bug] Edit button on research in wrong position"
**Describe the bug**
The edit button in the research module moved. It should be aligned to the right
(button can only seen by Research Author or Admin)

**Screenshots**
<img width="1086" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/174024243-cc52814b-2b36-459d-a2fd-00b6d63bd649.png">

[2022-06-16 10:40] davehakkens commented on #1618
awesome!

[2022-06-16 10:55] AlfonsoGhislieri commented on #1618
Just one thing for the implementation, do we want to update the views just when a howto is clicked (this would be definitely the easier choice)? Or also when someone also visits the specific url / refreshes the page?

[2022-06-16 11:27] adrianduke commented on #1618
@AlfonsoGhislieri fyi I came across: https://firebase.google.com/products/extensions/firebase-firestore-counter - might help you along.

[2022-06-16 12:43] thisismattia opened #1777 "Flag bug"
Precious Plastic flag is currently France.
Recently its location has been changed to Portugal but the flag does not reflect the change.
Might be a more common issues with other pins to.
<img width="425" alt="Screenshot_2022-06-16_at_14_41_39" src="https://user-images.githubusercontent.com/17761877/174072234-9235538d-c11b-4b77-8ab9-e412469bb2ca.png">

[2022-06-16 13:55] eliasvelardezft commented on #1469
@davehakkens hi!! Sorry for the late reply, I've been really really busy and haven't got the time to work on the bug. I started reading through the code when I said I would fix it and I couldn't easily find the solution and then I simply couldn't work on it. I'll try to solve it this weekend, if I can't I'll ask for help haha.
As for the bounty you're correct, I hadn't seen the message. As I said

[2022-06-16 15:52] davehakkens opened #1778 "[bug] Disable modules for release Fixing Fashion"
**Describe the bug**
To release Fixing Fashion we need to disable a few modules.
- **Events** + **How-to's** won't be used and can be fully disabled.
- **Research** Should be live but hidden, for testing, so not in Navbar. (like how it is currently on [Precious Plastic](https://community.preciousplastic.com/research))

[2022-06-16 17:43] chrismclarke opened #1779 "[feature request] Generate sitemap xml on the server"
**Is your feature request related to a problem? Please describe.**
To improve SEO we want to be able to submit a sitemap to search engines / bots etc. to let them know what pages are available within the site. This ideally should be accessible on a URL like `/sitemap` that proxies the function

**Describe the solution you'd like**
Ideally a cloud function that either triggers on demand or on a sch

[2022-06-16 19:29] davehakkens commented on #1779
Sounds good.
Everything can be indexed except for `draft` and `non-approved` how-to's.
(They are also not publicly available)

[2022-06-16 20:49] AlfonsoGhislieri commented on #1618
@chrismclarke My thinking was to use logic similar to the one I created for the download counter and implement the cool-down in local storage just like I did for the other ticket. I was thinking of extracting some of those functions and making them work for this feature as well.

My main question for implementation really is if we want views to increment only when a user clicks the howto and it lo

[2022-06-16 21:05] chrismclarke commented on #1618
Oh, that was you also! Amazing, yeah looks like a sensible approach to me.
I think it's ok if things aren't 100% accurate, we also have tools like google-analytics integrated that track individual page views and have more intelligent detection methods for new vs returning visitors etc. I think this is mostly just to give a rough impression and some nice feedback for the creators.

So you can proba

[2022-06-17 08:55] missalyss commented on #1706
Yep—I believe I just had errors I couldn’t identify so localhost was hanging. but I have it fixed now. The event form is submitting correctly, just some cleanup and extra tasks before the PR will be ready to put up. 😊

[2022-06-17 12:00] Justy116 commented on #1589
Hi, can you assign me this issues?

[2022-06-18 08:36] thisislawatts commented on #1618
🐒⚡Chaos Monkey Mode(TM)

What we are talking about here is analytics. This is a solved problem and I would argue our own implementation is unlikely to contribute significantly towards the core mission of our software, building sustainable communities around tackling environmental challenges.

I want to share a few more questions here which I believe are useful in thinking about the implementation.

[2022-06-18 13:31] davehakkens commented on #1618
Hey thanks all for flagging some issues.

The main reason for implementing this is to show better to the content creators that their contributions are seen and used.
Since we are not aiming to get active comments beyond practical things. And "useful button" will take a while before intergrated into peoples behaviour. Views should be an easy way to bring some of that..

That said:
- Views should al

[2022-06-18 18:48] thisislawatts commented on #1618
I had not considered this use case. That definitely increases the value of this functionality sitting within the platform. I wonder whether a "view" provides enough data to determine whether it has collaborative value. As a metric it could be simply gamed through click bait content.

Is there an opportunity here for the platform to take a stance and only place value and celebrate actual collaborat

[2022-06-18 19:58] chrismclarke commented on #1618
I think there's some good long term thoughts and discussion points here. My main takeaway is that at least short term 3rd party tooling/integration probably doesn't make sense until after we resolve the bigger picture.

So given the question of whether to code a small feature ourselves or not have it at all, I would be voting in favour of adding it I'd hope creators feel it would add value, could

[2022-06-19 07:14] thisislawatts commented on #1618
I think if we have a shared understanding of what would success look like for this feature we can build it. It is after all cheaper to not build something then build it and remove it.

In addition to qualitative feedback from creators is there something we can measure to verify that this feature is providing the desired benefit?

For example:
- Users who contribute multiple posts have a higher per

[2022-06-19 22:19] chrismclarke commented on #1779
Ok, I might take a quick go at drafting a PR for this myself as it will have quite a few moving parts to it (mostly in the backend)

[2022-06-20 20:14] #1727 closed

[2022-06-20 23:07] chrismclarke opened #1790 "[feature request] Improve handling of environment variables"
**Is your feature request related to a problem? Please describe.**
We currently have a mix of variables specified through firebase config and circle-ci, some which are available to the frontend (cra build includes any prefixed REACT_APP), and others which are only backend (and some not at all).

**Describe the solution you'd like**
Ideally we should move to a more transparent system, ideally keepi

[2022-06-20 23:10] chrismclarke commented on #953
This is pretty old and outdated (although we do still need to improve our handling of env variables, so have opened #1790)...
Closing here

[2022-06-20 23:10] #953 closed

[2022-06-20 23:10] Xyli0 commented on #1778
Would it be possible to take on this one?

[2022-06-21 19:40] thisislawatts opened #1794 "[bug] We used to have the option to edit comments, with a little edit button. Possible that this is gone now?"
**Describe the bug**
We used to have the option to edit comments, with a little edit button.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to a how to article and write a comment
2. Click on submit
3. Attempt to edit newly submitted comment

**Expected behaviour**
An author can edit a comment they create.

**Screenshots**

![image (5)](https://user-images.githubusercontent.com/472589/

[2022-06-22 08:34] Xyli0 commented on #1776
Hi, I looked at the issue and it just need a quick fix.
I will work on that.

side note: i looked at more advanced issues and didn't feel one I felt comfortable to tackle yet. I still need to familiarize myself with the codebase and many concepts. I hope I am not "stealing" to much good first issues. If it is a problem let me know 😀

[2022-06-22 08:36] davehakkens commented on #1776
steal them! Love it :D

[2022-06-22 11:43] #1776 closed

[2022-06-22 20:35] #1728 closed

[2022-06-23 05:39] chrismclarke opened #1800 "[test] Improved Testing Data"
Items for future development for [Improved Testing Data Milestone](https://github.com/ONEARMY/community-platform/milestone/6)

Phase 1
- [x] Refactor test data to shared folder #1799
- [ ] Refactor seed data and tests to link generated content to see auth profiles (e.g. so that beta-tester seed user could see a consistent set of notifications)
- [ ] Add additional seed data for aggregations and ca

[2022-06-23 18:45] #1794 closed

[2022-06-23 18:48] #1722 closed

[2022-06-24 13:35] AlfonsoGhislieri commented on #1724
Can pick this one up

[2022-06-24 16:13] thisislawatts commented on #1724
Great thanks for picking this one up @AlfonsoGhislieri! Hoping this one is straightforward.

Let me know if you have any questions

[2022-06-24 16:49] davehakkens commented on #1706
Nice! Looking forward to it 💪

[2022-06-25 14:03] Xyli0 commented on #1723
Can I work on this?

[2022-06-25 15:03] thisislawatts commented on #1723
Absolutely @Xyli0, thanks for picking this up ✨

[2022-06-25 16:32] thisislawatts commented on #1778
Updated @davehakkens, only the academy and map now appear in the top menu
https://fixing-fashion-prod.web.app/academy/start/intro.html

[2022-06-25 16:32] #1778 closed

[2022-06-25 16:34] thisislawatts opened #1810 "Redirect Fixing Fashion domain to Firebase instance"
Currently the community.fixing.fashion domain points to the academy instance. We should update this forward traffic to the Firebase instance.

[2022-06-25 18:06] Xyli0 commented on #1723
Thanks @thisislawatts 😀.
I don't see much difficulty except for the `IUploadedFileMeta` type import which is problematic.
It's currently imported from `src/stores/storage` a directory that doesn't belong to the same root folder as the package directory so for now I'd have to figure out how to access it before doing more.
Any ideas?

[2022-06-27 18:54] thisislawatts commented on #1720
Closed by https://github.com/ONEARMY/community-platform/pull/1772

[2022-06-27 18:54] #1720 closed

[2022-06-28 03:46] #1779 closed

[2022-07-04 10:51] AlfonsoGhislieri commented on #1724
Hi sorry been a very busy week with work, will get this done  by tomorrow!

[2022-07-05 04:57] chrismclarke opened #1822 "[feature request] Improve SEO re-cache strategy"
**Is your feature request related to a problem? Please describe.**
We currently use prerender.io to cache howtos and research articles. This happens on a scheduled basis, so that changes to something like a howto title or image also show updated in social snippets

As part of the free tier we are allowed 1000 cache events per month, so currently have the settings to check for any changes every 8 d

[2022-07-09 20:36] thisislawatts opened #1833 "[bug] permissions issue around Project Kamp deployments"
**Describe the bug**

When deploying to the [Project Kamp PROD](https://app.circleci.com/pipelines/github/ONEARMY/community-platform/2749/workflows/02ba7ea2-f937-4137-9238-24d50e7fc5ea/jobs/16490) environment, there are permissions issues around cleaning up items in the artifactregistry.

[code]

[2022-07-11 18:48] #1724 closed

[2022-07-22 03:49] franknoirot opened #1838 "Updates to Research Landing Page"
## Overview
The [Research Landing Page](https://community.preciousplastic.com/research) launched with the essential information included in it 🎉. This update adds some UI polishing touches to the page, including headers to the table on larger screens and a responsive design update for the research listing card component.

All designs can be inspected within the [ONE ARMY Figma](https://www.figma.c

[2022-07-23 11:58] thisismattia opened #1839 "[mobile] Zoom in/out buttons unusable"
Issue:
Browsing the map from mobile I am not able to use zoom in/out buttons as they're either completely or partly outside of the screen.

Link:
https://community.preciousplastic.com/map

Screenshots:
Same issue on Ecosia, Chrome, Firefox and Brave.
![Screenshot_20220723-132415_Ecosia](https://user-images.githubusercontent.com/17761877/180603902-974f1da2-da49-4ef3-bac7-75954dd8acab.jpg)

Proposal

[2022-07-23 12:06] thisismattia opened #1840 "[mobile] Reset email sent"
Issue:
After clicking "lost password?" message "reset email sent, check your inbox/spam" appears misaligned

Link:
https://community.preciousplastic.com/sign-in

Screenshots:
![Screenshot_20220723-132645_Ecosia](https://user-images.githubusercontent.com/17761877/180604119-79677ec3-1748-44e0-b7ba-9ac40c6bbf71.jpg)

Proposal:
Push the message to the next line and align left
![Screenshot_20220723-132

[2022-07-23 12:38] thisismattia opened #1841 "[mobile] Profile Focus alignment"
Issue:
Profile Focus options is hard to use and misaligned

Link:
https://community.preciousplastic.com/settings

Screenshots:
![Screenshot_20220723-132948_Ecosia__1_](https://user-images.githubusercontent.com/17761877/180605226-1fd7b82f-fc97-46a8-9641-87cb5acafee5.png)

Proposal:
<img width="317" alt="Screenshot 2022-07-23 at 14 37 25" src="https://user-images.githubusercontent.com/17761877/18060

[2022-07-23 12:50] thisismattia opened #1842 "[bug] Delete field full width"
Issue:
Delete icon + field misaligned

Link:
https://community.preciousplastic.com/settings

Screenshots:
![Screenshot_20220723-133014_Ecosia](https://user-images.githubusercontent.com/17761877/180605566-ba0cbbe8-cbe0-46fb-ada3-f304a5946799.png)

Proposal:
We stretch the field to 80% of its parent container and push the delete icon to the right with the parent stretching the full width.

<img widt

[2022-07-23 12:53] thisismattia opened #1843 "[bug] remove brackets"
Issue:
Strange brackets in account settings

Link:
https://community.preciousplastic.com/settings

Screenshots:
<img width="890" alt="Screenshot_2022-07-23_at_14_51_47" src="https://user-images.githubusercontent.com/17761877/180605759-96b0ae71-86b1-4662-93d2-869f8617f43f.png">

Proposal:
Remove the brackets (unless they have a purpose I am missing)

[2022-07-23 12:55] thisismattia opened #1844 "[mobile] settings page endless scroll"
Issue:
On settings the page extends vertically indefinitely

Link:
https://community.preciousplastic.com/settings

Screenshots:
![Screenshot_20220723-133340_Ecosia](https://user-images.githubusercontent.com/17761877/180605851-64fea59c-4da3-4ae5-882a-d41b945bcd97.jpg)

Proposal:
Page ends with One Army footer

[2022-07-23 13:01] thisismattia opened #1845 "[bug] location icon color"
Issue:
Location icon is inheriting some default colour

Link:
https://community.preciousplastic.com/u/mattia

Screenshots:
<img width="140" alt="Screenshot 2022-07-23 at 14 59 45" src="https://user-images.githubusercontent.com/17761877/180606038-e2a4895d-6b82-49cc-b07c-54112369a4e7.png">

Proposal:
Chane location color to color: var(--theme-ui-colors-black);
<img width="142" alt="Screenshot 2022-0

[2022-07-23 13:26] thisismattia opened #1846 "[bug] Change inline link colour"
Issue:
Inline links (maybe all links) seem to be set to browser default colours which looks.. well.. defaulty.
Also the "visited" state to purple looks so unloved :)

Link:
https://community.preciousplastic.com/

Screenshots:
<img width="1177" alt="Screenshot_2022-07-23_at_15_18_22" src="https://user-images.githubusercontent.com/17761877/180606918-60987ceb-860e-4840-9881-c3d1d1246764.png">

Propos

[2022-07-23 13:29] thisismattia opened #1847 "[feature request] Sort by "Most downloads""
As we now have download counts could we sort by most downloads?
Would it make sense bring value to the users?

<img width="264" alt="Screenshot 2022-07-23 at 15 27 36" src="https://user-images.githubusercontent.com/17761877/180607129-025e45dc-37bf-421c-9927-920f34fe32b7.png">

[2022-07-23 17:21] danitrod commented on #1469
So as discussed on Slack, the current comments structure doesn't allow for queries such as "all comments for which the userId is X", which prevents us to update comments for an updated user (unless we query for all howto's and manually filter, which is inefficient).

The proposed solution is to add to the user info an array of all the howto (and research) id's where they commented. We still have t

[2022-07-24 10:52] davehakkens commented on #1847
Good idea but a bit early and not really useful yet.
1. Currently only PP uses how-to's
2. Counts are still very low..
3. Most crucial. Only a few new how-to's there are counting, old how to's still just have a link with no files attached. They need to be changed before counting even starts.

Would say lets revisit this issue when more how-to's use counting

[2022-07-24 10:52] #1847 closed

[2022-07-24 10:55] #961 closed

[2022-07-24 10:55] #886 closed

[2022-07-24 10:56] #1419 closed

[2022-07-24 10:56] #1418 closed

[2022-07-24 10:57] davehakkens commented on #1418
We are using prerender.io for now.
Will create an issue in the future to implement it better in the platform using SSR
But this is solved for now

[2022-07-24 15:25] thisismattia opened #1848 "[mobile] Hide Bazar/Global site from menu dropdown"
Issue:
The drop down menu has some unintended legacy links to Bazar and Global Site.

Link:
https://community.preciousplastic.com/

Screenshots:
![Screenshot_20220724-172156_Brave](https://user-images.githubusercontent.com/17761877/180654250-4a69e7c9-5646-4ba4-ae6b-d35659606144.png)

![Screenshot_20220724-142438_Brave](https://user-images.githubusercontent.com/17761877/180654189-d4e1b7b3-62fe-4a4b

[2022-07-24 15:35] thisismattia opened #1849 "[mobile] Reduce header padding"
Issue:
The hero header has a big margin that hides the first how-to, ux would be improved if the first how-to was more shown inviting the user to scroll.

Link:
https://community.preciousplastic.com/how-to

Screenshots:
![Screenshot_20220724-172748_Brave](https://user-images.githubusercontent.com/17761877/180654624-5be17c13-b61a-4202-8d92-3443abbfb75c.png)

Proposal:
Reduce top and bottom padding

[2022-07-24 15:45] thisismattia opened #1850 "[mobile] Inconsistent space btw how-tos"
Issue:
In the how-tos in the list page have inconsistent spacing.

Link:
https://community.preciousplastic.com/how-to

Screenshots:
![Screenshot_20220724-173808_Brave](https://user-images.githubusercontent.com/17761877/180655126-74761c7c-023f-4626-b7fc-11b326032e03.png)

Proposal:
All how-tos have equal spacing btw them (30px).

[2022-07-24 16:00] thisismattia opened #1851 "[bug] How-to step layout"
Issue:
How-to step layout is hard to read.

Link:
https://community.preciousplastic.com/how-to/injection-machine-automatic-connection-upgrade-

Screenshots:
![Screenshot_20220724-174722_Brave](https://user-images.githubusercontent.com/17761877/180655782-574934e3-1635-4484-a3ed-a2810470e77b.jpg)

Proposal:
A simple flex-direction: column could fix it + column reverse to have image first

css-s86h58

[2022-07-24 16:08] thisismattia opened #1852 "[mobile nice-to-have] Apply filter button"
Issue:
On the map the filter drop down could benefit from a "Apply Filters" button to help with the UX. As now you select the filters and are left wondering, "what's next?" no sign/hint of what to do next.

Link:
https://community.preciousplastic.com/map

Screenshots:
![Screenshot_20220724-180259_Brave](https://user-images.githubusercontent.com/17761877/180656056-1af09922-3e61-4db5-9d28-ef08429af2

[2022-07-24 16:21] thisismattia opened #1853 "Research module user consistency"
Issue:
Users look different on research module when compared to how-tos and the rest of cp. Would be great to have them aligned and consistent

Link:
https://community.preciousplastic.com/research

Screenshots:
<img width="1624" alt="Screenshot_2022-07-24_at_18_16_04" src="https://user-images.githubusercontent.com/17761877/180656517-1f87386e-52d0-4285-aa17-ad928a0adc10.png">
<img width="1623" alt=

[2022-07-24 17:12] davehakkens commented on #1853
Should be fixed in this issue https://github.com/ONEARMY/community-platform/issues/1838

[2022-07-24 17:12] #1853 closed

[2022-07-25 22:43] chrismclarke commented on #961
Haha, took a while but we got there in the end! Thanks for all the help @thisislawatts

[2022-07-26 06:26] asheerrizvi commented on #1851
@thisismattia I can take this up 😄

[2022-07-26 07:35] asheerrizvi commented on #1851
@thisismattia have opened a PR for this, lmk how it looks?

https://github.com/ONEARMY/community-platform/pull/1855

[2022-07-26 08:30] asheerrizvi commented on #1849
I can take this up.

[2022-07-26 08:30] asheerrizvi commented on #1848
I can take this up.

[2022-07-26 08:31] asheerrizvi commented on #1850
I can take this up.

[2022-07-26 16:48] Connor-McMillin commented on #1846
I'm interested in taking on this one. First time looking at/contributing to the codebase, but I'm excited to learn :)

[2022-07-26 21:32] Connor-McMillin commented on #1846
I might need a bit of guidance on making this change.

I attempted to stylize Linkify within src/pages/Howto/Content/Howto/HowtoDescription and wasn't able to find a way to stylize the links with hover and visited. I also saw the global style which allowed me to style those links (and every other link on the site). I don't know if this change should be made at the precious-plastic theme level or o

[2022-07-27 06:11] thisismattia commented on #1846
Hey @Connor-McMillin nice one, thanks for taking this issue :)
@davehakkens any ideas who could be the best person to point Connor to for this?

[2022-07-27 06:26] davehakkens commented on #1846
Thanks for askin @Connor-McMillin, the style should be at theme level. For all body text

[2022-07-27 06:29] thisismattia commented on #1850
Nice one @asheerrizvi let me know if you need any help/support on that

[2022-07-27 06:30] thisismattia commented on #1848
Thanks! Simple change but so valuable for the UX 😎

[2022-07-27 09:21] osouthwell-scottlogic commented on #1845
@thisismattia, am I okay to pick this up?

[2022-07-27 09:41] thisismattia commented on #1845
That'd be sweet 👻

[2022-07-28 13:11] asheerrizvi commented on #1848
@thisismattia have opened a PR for this:

https://github.com/ONEARMY/community-platform/pull/1858

😃

[2022-07-30 09:43] asheerrizvi commented on #1849
Opened a PR for this:

https://github.com/ONEARMY/community-platform/pull/1859

[2022-07-30 09:49] asheerrizvi commented on #1850
Since these cards can be of different heights (depending on the text in each of them), can we have masonic layout for this?

@thisismattia what do you think?

[2022-07-30 09:52] asheerrizvi commented on #1850
It seems like these cards can have different heights based on their text. Should I go for a grid based solution (will result in extra space where the adjacent cards aren't equal in height), or we can go for a masonic layout?

@thisismattia

[2022-07-30 10:07] thisismattia commented on #1850
hey @asheerrizvi thanks for following up on this. If I understand it correctly, masonic layout is what we're after.

This would be ideal layout on desktop which I would assume cascading trough mobile. Let me know if that is what you meant or if I am getting it completely wrong  😇
<img width="1346" alt="Screenshot_2022-07-30_at_12_05_58" src="https://user-images.githubusercontent.com/17761877/18190

[2022-07-30 13:01] asheerrizvi commented on #1850
@thisismattia you can see an example over here:

https://bvaughn.github.io/react-virtualized/#/components/Masonry

On mobile it will be a single column. Since we can have variable height cards Masonic layout seems to be the most appropriate imo. Plus, react-virtualized seems to support it out of the box so +1 for that as well. 😆

[2022-07-30 15:43] thisismattia commented on #1850
Oh ok, I see what you mean. Actually that wouldn't the preferred layout.
Ideally we go for a grid system where each card take up the same height on the page.
Is there a simple way out of the box to achieve that?

[2022-07-30 16:03] asheerrizvi commented on #1850
Sure, think we can do that as well. Will submit a PR. 👍

[2022-08-01 19:58] #1845 closed

[2022-08-01 20:16] #1848 closed

[2022-08-01 20:17] #1849 closed

[2022-08-02 12:22] asheerrizvi commented on #1844
I can take this @thisismattia

[2022-08-02 12:23] asheerrizvi commented on #1843
can you assign this to me? @thisismattia

[2022-08-02 12:23] asheerrizvi commented on #1842
can you assign this to me? @thisismattia

[2022-08-02 16:33] thisismattia commented on #1841
All yours 🫶

[2022-08-02 16:34] thisismattia commented on #1842
All yours 🫶

[2022-08-02 16:35] thisismattia commented on #1843
All yours 🫶

[2022-08-02 16:36] thisismattia commented on #1844
All yours 🫶

[2022-08-02 16:49] thisismattia opened #1863 "404 page redesign"
404 page for a more fun experience :)

Design
Image + text with link to homepage
![404_UI](https://user-images.githubusercontent.com/17761877/182430236-deb3ae54-d21e-4375-8dbd-b59663e7c67c.jpg)

Here's the optimized png for the illustration
![404](https://user-images.githubusercontent.com/17761877/182430329-a7c960d4-6b8c-425b-bc55-a9092fe89241.png)

Mobile should be straightforward. Everything (im

[2022-08-04 16:19] davehakkens opened #1864 "[bug] Cant edit or delete comments"
**Describe the bug**
The edit and delete feature doesnt work in comments.
For both the research module and the how-to's
1. In the research module the button is there but non clickable
2. in How-to's the `Remove` and `Edit` button are not present

This probably got broken when migrating the component
In this https://github.com/ONEARMY/community-platform/pull/1742 or this https://github.com/ONEARMY/

[2022-08-06 19:42] davehakkens commented on #1766
released

[2022-08-06 19:42] #1766 closed

[2022-08-06 19:44] davehakkens commented on #1697
closing this for now. If you want to continue the conversation let me know and i'll change it to a discussion

[2022-08-06 19:44] #1697 closed

[2022-08-06 19:46] davehakkens commented on #1610
doing it in separated issues

[2022-08-06 19:46] #1610 closed

[2022-08-06 20:20] thisismattia opened #1866 "[bug] Contacts & links overflow hidden"
Issue:
In the user settings > Info > Contacts & Links the dropdown menu to select user preferred way to be reached is cut off by the parent container. Might be an overflow:hidden  on the parent causing it
https://community.preciousplastic.com/settings

Bug
<img width="857" alt="Screenshot_2022-08-06_at_22_17_20" src="https://user-images.githubusercontent.com/17761877/183264860-2e7c3c2a-cf16-442b-8

[2022-08-06 20:36] thisismattia opened #1867 "Change button on Sign Up Message page"
Issue:
Once user successfully creates an account they're prompted to go "home". A more useful place would be to send them to complete their profile.

https://community.preciousplastic.com/sign-up-message

Current
![Screenshot 2022-07-31 at 06 55 1](https://user-images.githubusercontent.com/17761877/183265211-df02f99e-9895-4236-9d27-87871b775380.png)

Proposal:
- replace the secondary button with p

[2022-08-06 21:04] LucasGabrielBecker commented on #1866
Hi, I would like to help on this one.

Can I open a PR for it ?

[2022-08-07 02:28] pkpndy commented on #1863
can I take this?

[2022-08-07 04:06] Yash-Var commented on #1866
@thisismattia I want to fix this can you  assign it to me .....

[2022-08-07 04:12] Yash-Var commented on #1866
@thisismattia i want to fix this ....

[2022-08-07 04:39] thisismattia commented on #1863
Be my guest 🙂

[2022-08-07 08:14] thisismattia commented on #1866
Hey guys thanks for the eagerness. We'll work on a first come first served basis. @LucasGabrielBecker will assign this to you. @Yash-Var we have many other open issues waiting for your contributions :)

[2022-08-07 17:47] LucasGabrielBecker commented on #1839
Hi, @thisismattia

I would like to contribute on this one, can you assign it to me?

[2022-08-08 06:44] thisismattia commented on #1839
Be my guest 😁

[2022-08-08 13:59] thisismattia commented on #1867
Neat 🤘

[2022-08-08 14:13] thisismattia opened #1870 "Profile Settings UX rework"
**Issue**
Many users create their accounts but don’t update their infos resulting in incomplete/spam accounts diminishing the overall UX on the Community Platform.
![image3](https://user-images.githubusercontent.com/17761877/183437025-7e1feeaa-6ae6-4590-92aa-b38a34e90d50.png)

**Solution**
There are probably multiple solutions to tackle this problem. With this issue we want to improve the overall

[2022-08-08 17:00] ThakurKarthik commented on #1870
Hello I am Karthik, I am new here and I would like solving this issue, is there a timelimit for this to be fixed ?

[2022-08-08 17:57] ThakurKarthik commented on #1870
I have done the local setup of this repo, I can allot couple of hours on week days for this and I think it should be done within 3 days from tomorrow, if that is fine please assign this to me :)

[2022-08-08 19:07] thisismattia commented on #1870
That'd be great. Issue is yours 👍

[2022-08-08 19:45] #1867 closed

[2022-08-08 19:48] #1866 closed

[2022-08-08 19:54] #1469 closed

[2022-08-09 22:09] cschilbe commented on #1840
@thisismattia 👋 Hey, I'd love to pitch in to help this cool community! I can take on this issue to get to know the setup.

[2022-08-09 22:39] cschilbe opened #1877 "[bug] Sign-up consent terms checkbox alignment and label click"
**Describe the bug**
Within the sign-up form, the terms and conditions checkbox and label are misaligned and the label is not clickable.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to '/sign-up'
2. Observe the alignment of the consent checkbox
3. Attempt to click the label
4. Observe that the checkbox is not checked

**Expected behaviour**
* Checkbox and label should be aligned
* La

[2022-08-10 04:44] thisismattia commented on #1840
Hello @cschilbe thanks! Go ahead and ping if you need any help.

[2022-08-10 04:47] thisismattia commented on #1877
Thanks @cschilbe this was bugging me for a while ✌️

[2022-08-10 11:56] asheerrizvi commented on #1842
@thisismattia have created a PR for this: https://github.com/ONEARMY/community-platform/pull/1882

[2022-08-10 16:25] #1842 closed

[2022-08-10 16:27] #1839 closed

[2022-08-10 16:45] #1843 closed

[2022-08-10 16:54] #1840 closed

[2022-08-10 16:56] #1877 closed

[2022-08-11 04:50] asheerrizvi commented on #1844
@thisismattia created a PR for this: https://github.com/ONEARMY/community-platform/pull/1885

[2022-08-11 05:48] asheerrizvi commented on #1841
@thisismattia have created a PR for this here: https://github.com/ONEARMY/community-platform/pull/1886

Have also left a comment for you. Let me know if you need any changes. 😄

[2022-08-11 07:10] #1851 closed

[2022-08-11 07:27] asheerrizvi commented on #1864
@davehakkens I can work on this :D

[2022-08-11 07:29] asheerrizvi commented on #1850
@thisismattia shoot almost forgot about this. Can you assign this to me so that I can track it. Will come up with a PR as soon as I can.

[2022-08-11 07:30] asheerrizvi commented on #1846
@Connor-McMillin hey are you still working on this?

[2022-08-11 07:47] davehakkens commented on #1864
that would be great @asheerrizvi! Let me know if you need any help :)

[2022-08-12 06:49] thisismattia opened #1890 "[bug] Country container overflow"
Issue:
On profile page the country container gets overflown when country name is too long.

Link:
https://community.preciousplastic.com/u/biso-plastique
<img width="282" alt="Screenshot 2022-08-12 at 08 38 16" src="https://user-images.githubusercontent.com/17761877/184299563-48cf16e3-48aa-4fcc-a88b-0155039aeab3.png">

Proposed fix:
Currently the size of the container is defined by the parent
<img

[2022-08-12 07:38] thisismattia commented on #1846
Maybe @asheerrizvi you good to go ahead with this issue. Seems like @Connor-McMillin is not able to work on this anymore. Thanks both ✌️

[2022-08-14 11:24] asheerrizvi commented on #1850
@thisismattia was thinking of a solution along the following lines:

1. Make each card be 434px in height. This will have enough space to list all the available tags as well.
2. Clamp the heading to 2 lines. If it is bigger than 2 lines then it will show ellipsis.

This will make it look somewhat like this:

https://user-images.githubusercontent.com/17976252/184534462-6c147d21-df60-4d73-8402-c5bf2

[2022-08-14 15:18] asheerrizvi commented on #1846
Have created a PR for this: https://github.com/ONEARMY/community-platform/pull/1891

[2022-08-15 07:14] thisismattia commented on #1850
hey @asheerrizvi thanks for this proposal. Unfortunately I am not sure this would be the best practice for responsiveness and will result in much unnecessary white space.

Wouldn't something like flex:stretch work in this case?
Also grids could work indeed but ideally we stay away from fixed px based sizes.

Thanks!

[2022-08-15 07:19] asheerrizvi commented on #1850
@thisismattia true. Tell me this though. Lets say we have three cards in a row with auto height. One of them has a height of let's say 500px due to its content. What should happen to the two other cards which are less than 500px? Should they stretch to be 500px? Those two stretched cards will also have white space in that scenario since their content is less.

[2022-08-15 07:22] thisismattia commented on #1846
hey @asheerrizvi thanks man 🤘 this works as expected 💪
As you're at it could you please add an hover state where the underline gets removed?

Big up!

[2022-08-15 07:24] asheerrizvi commented on #1846
@thisismattia yea that's the tricky part. The code uses a library to highlight links and I am not able to set the hover styles through that library. Have added a comment on the PR. Can you help me tag relevant people there so that I can have some help? 😅

[2022-08-15 07:26] thisismattia commented on #1850
Yes I would say that's the desired scenario.

We rarely will have a card that is 500px as we have a char limit on the title so it is really just the pixel difference btw having the title in one line of text or two I think.
<img width="486" alt="image" src="https://user-images.githubusercontent.com/17761877/184593480-85dfbecf-4bb1-490b-bbea-7c93978371b1.png">

[2022-08-15 07:29] thisismattia commented on #1846
I see.
Maybe @thisislawatts or @chrismclarke ?
Or anyone else @davehakkens ?

[2022-08-15 08:45] Light2Dark commented on #1890
Hi, I found that removing the max-width's of both the child and parent container and making the parent container a flexbox works.

Let me know if I can help with a PR, the code seems to work on my side! :)

[2022-08-15 08:54] thisismattia commented on #1890
Hey @Light2Dark nice one!
Yes I would say make a PR and we can check if everything works.
Thanks ♡

[2022-08-15 11:09] asheerrizvi commented on #1846
Never mind guys, was able to work out a solution.

[2022-08-17 05:24] #1841 closed

[2022-08-17 05:26] #1844 closed

[2022-08-17 05:27] #1846 closed

[2022-08-17 11:40] IvaTsu commented on #1412
Hey @thisislawatts @davehakkens

I am not able to delete the account when hitting Settings -> Delete Profile at https://community.preciousplastic.com/settings

I have 1 warning and 1 error at the console:
`@firebase/database: – "FIREBASE WARNING: set at /v3_users/{my_username} failed: permission_denied "`
`Unhandled Promise Rejection: Error: PERMISSION_DENIED: Permission denied`

But, if I run the

[2022-08-17 12:03] davehakkens commented on #1412
thanks for looking into it @IvaTsu
Strange.. perhaps a permission issue in Firebase?

[2022-08-18 02:43] cschilbe commented on #1864
The delete worked for me on mobile. The delete confirmation appeared to be an iOS dialog and not the delete confirmation dialog seen in other areas.

[2022-08-18 06:00] cschilbe opened #1895 "[bug] comment character count overlaps content"
**Describe the bug**
When a user is adding a comment, the character count `xx/1000` sits above the comment being entered and can make it very difficult to add a comment especially on mobile.

**To Reproduce**
Steps to reproduce the behaviour:

1. Login to community
2. Go to any research topic
3. Add a comment
4. Type enough until the comment runs under the character count
5. Observe that it is dif

[2022-08-18 06:01] cschilbe commented on #1895
✋ I can submit a small style fix for this if you like the proposed solution.

[2022-08-18 09:31] thisismattia opened #1897 "[bug] Remove Logout active state"
**Issue:**
User menu shows "Log out" as active navlink on all pages
<img width="1713" alt="Screenshot_2022-08-18_at_11_26_27" src="https://user-images.githubusercontent.com/17761877/185361918-9cbd8e6d-1559-483f-98e3-f4b88dc60e7d.png">

**Link:**
https://community.preciousplastic.com/academy/intro.html

**Proposed change:**
"Logout" not highlighted and same colour as other nav elements

[2022-08-18 09:41] thisismattia opened #1898 "User menu items active state"
**Issue:**
Navbar items active state is still set to default (I think)
<img width="221" alt="image" src="https://user-images.githubusercontent.com/17761877/185363327-558ec97e-3bdd-4f2e-b956-8d6cbf9a200c.png">

Link:
https://community.preciousplastic.com/u/your-username

Proposed change:
:active state is same as :hover state (grey bg + black font-color)
<img width="249" alt="image" src="https://use

[2022-08-18 11:38] davehakkens commented on #1864
Thanks for letting us know @cschilbe are you still on this @asheerrizvi?

[2022-08-18 11:40] davehakkens commented on #1412
@chrismclarke, tagging you in here. You might have some suggestions since you love dealing with Firebase permissions

[2022-08-18 11:43] asheerrizvi commented on #1864
@davehakkens haven't been able to start on this as of now.

[2022-08-18 13:15] fk00750 commented on #1897
Hey @thisismattia can you assign me this issue

[2022-08-20 07:42] asheerrizvi commented on #1850
Hey guys, I am somewhat stuck on this one. This grid uses `react-virtualized` and is using its `CellMeasurer` component to measure each row. The issue is that `CellMeasurer` is not able to correctly calculate the heights of these rows. For example the height of the first row in the below image should be much more than 403px.

<img width="1379" alt="image" src="https://user-images.githubusercontent

[2022-08-20 10:52] asheerrizvi commented on #1864
Guys, delete was already working. Have fixed the issue with editing the comment. Here's the PR: https://github.com/ONEARMY/community-platform/pull/1901

[2022-08-22 11:31] asheerrizvi commented on #1838
Is this issue still open for work?

[2022-08-22 11:37] asheerrizvi commented on #1898
@mahmoud-elgammal are you working on this?

[2022-08-22 12:47] davehakkens commented on #1838
yes! Nice one to take on!

[2022-08-22 12:48] asheerrizvi commented on #1838
@davehakkens can you assign this to me :D

[2022-08-23 09:23] thisismattia commented on #1897
Hey @fk00750 sorry for the slight delay. All yours 👍

[2022-08-23 09:24] thisismattia commented on #1898
you go 😁

[2022-08-23 15:47] thisismattia commented on #1850
Hey hey thanks for the update. I am not the best person for this.
Hopefully maintainers find the time to help you on this 🤞

[2022-08-24 04:14] asheerrizvi commented on #1850
Yea I meant the moderators only 😆

[2022-08-25 21:23] davehakkens commented on #1850
Sorry for the slow response @asheerrizvi maintainers are on holiday!

[2022-08-30 13:02] thisislawatts commented on #1897
@fk00750, following up on this, we have a fix inbound in #1902 so I am going to remove you from this issue. Apologies for the short notice on this.

[2022-08-30 13:04] #1897 closed

[2022-08-30 13:13] asheerrizvi commented on #1898
@davehakkens we can close this as well.

[2022-08-30 13:18] #1898 closed

[2022-08-30 13:27] #1895 closed

[2022-08-30 14:17] #1890 closed

[2022-09-05 08:14] asheerrizvi commented on #1838
Have created a PR for this: https://github.com/ONEARMY/community-platform/pull/1905

@franknoirot @davehakkens

[2022-09-05 13:25] #1725 closed

[2022-09-09 04:03] thisismattia opened #1916 "Remove how-to download button margin-left"
Heyo annoying designer coming at you 😆

How to download button is slightly misaligned. Can we remove margin-left on the button?
<img width="1331" alt="Screenshot_2022-09-09_at_05_58_28" src="https://user-images.githubusercontent.com/17761877/189269374-f0330b60-0089-4fda-8cd5-e7bb07ff518c.png">

Thanks!

[2022-09-11 07:44] asheerrizvi commented on #1916
@thisismattia I'll tinker with this lol

[2022-09-11 07:45] asheerrizvi commented on #1852
Does this needs to be done?

[2022-09-11 08:48] thisismattia commented on #1852
Thanks @asheerrizvi , @davehakkens what do you think?

[2022-09-11 08:49] thisismattia commented on #1916
Thanks for sorting out my OCD 👻

[2022-09-11 08:56] asheerrizvi commented on #1916
hahaha I have OCD as well. Can you assign this to me?

[2022-09-11 12:37] thisislawatts commented on #1916
@asheerrizvi be sure to pull the latest version down. I merged a change a few hours ago that moved some of these files around

[2022-09-11 20:54] davehakkens commented on #1852
I would say low priority @asheerrizvi and we didn't make a very clear plan for it yet.
But if you have inspiration and want to propose something go for it :)

[2022-09-13 19:07] #1864 closed

[2022-09-13 19:31] #1838 closed

[2022-09-16 04:30] #1863 closed

[2022-09-19 05:42] thisislawatts commented on #1709
Closed by https://github.com/ONEARMY/community-platform/pull/1932

[2022-09-19 05:42] #1709 closed

[2022-09-19 06:59] thisislawatts commented on #1721
Aiming to address via: https://github.com/ONEARMY/community-platform/pull/1934

[2022-09-19 20:47] #1706 closed

[2022-09-21 04:29] thisismattia opened #1937 "Download button text wrong color"
The text of the download button on how-tos is blue when I think it should be (and already was) black.

<img width="887" alt="Screenshot_2022-09-19_at_07_11_06" src="https://user-images.githubusercontent.com/17761877/191414497-c823bdd0-d597-4081-b6ab-c77841d4bc13.png">

[2022-09-21 10:35] Kiebert commented on #1937
Hello @thisismattia
This looks indeed like a 'Good first issue' for me.
Could you add a 'live' url of this issue? And maybe the browser you are using?
Thanks in advance.

[2022-09-21 11:47] asheerrizvi commented on #1852
@thisismattia do you have a design in mind for the button?

[2022-09-21 11:49] asheerrizvi commented on #1870
Is this done?

[2022-09-21 11:54] asheerrizvi commented on #1478
I can take this up if we can have it designed by someone 😆

[2022-09-21 12:04] asheerrizvi commented on #1916
@thisismattia do you want the number of downloads text below the button to also be aligned to the left? Currently it has a left padding of 8px:

<img width="617" alt="image" src="https://user-images.githubusercontent.com/17976252/191499055-9a1d302a-bb1e-4e72-8a6b-eb43586c2f86.png">

[2022-09-21 12:05] Kiebert commented on #1937
Hello.
Created a pull request for the update.
Please let me know, if you have questions or remarks.

[2022-09-21 12:08] asheerrizvi commented on #1916
Have opened a PR without removing the padding but let me know if you need it removed @thisismattia

https://github.com/ONEARMY/community-platform/pull/1939

[2022-09-21 19:10] #1916 closed

[2022-09-21 19:16] davehakkens commented on #1870
yeh it's merged but I think @mattia had a few changes for it

[2022-09-21 19:18] davehakkens commented on #1478
You could start by changing the text to:

-----
Woops. We got a little error, please [refresh the page](refreshpage.com) or send us a mail to improve our software platform@onearmy.earth
-----

[2022-09-22 05:37] asheerrizvi commented on #1870
@thisismattia can you open an issue with the changes you want and assign it to me? I can work on those if you want.

[2022-09-22 06:02] ThakurKarthik commented on #1870
Hello, I have been busy lately. The PR opened by me is shown as closed. If some one wants to pick up the issue it is fine :)

[2022-09-22 06:36] thisismattia commented on #1870
Yep, will do it by the end of today 🤞🤞

[2022-09-22 06:38] thisismattia commented on #1916
Yes please 👊 would be great

[2022-09-22 06:40] thisismattia commented on #1937
thank you ♡

[2022-09-22 16:05] thisismattia opened #1940 "Error message － Nowrap"
Issue
Error message displaying on settings page could be improved for better ux.

To reproduce the issue
https://community.preciousplastic.com/settings

Screenshot of issue
<img width="431" alt="188541797-a3aab39d-4f36-444d-9dfd-6aabd6bb1628-1" src="https://user-images.githubusercontent.com/17761877/191796759-128b69ac-f99a-4d2f-8888-0de533633d16.png">

Desired behavior
The text does not wrap and s

[2022-09-22 16:08] thisismattia opened #1941 "Error message － Contacts and links"
Issue
Error message displaying on settings page could be improved for better ux.

To reproduce the issue
https://community.preciousplastic.com/settings

Screenshot of issue
<img width="837" alt="188542098-e0bee05f-ca97-432a-95eb-399f42ce9b27" src="https://user-images.githubusercontent.com/17761877/191797328-727b4ecf-5bff-4dc8-9874-6839b4f5737b.png">

Desired behavior
Remove the error message on li

[2022-09-22 16:13] thisismattia opened #1942 "Error message － Collection Opening time"
Issue
Error message displaying on settings page for Collection Point profile could be improved for better ux.

To reproduce the issue
https://community.preciousplastic.com/settings

Screenshot of issue
<img width="804" alt="Screenshot_2022-09-22_at_18_10_59" src="https://user-images.githubusercontent.com/17761877/191798349-e967ce83-bfdd-4eb1-bd9b-07192b7ae2a4.png">

Desired behavior
Push error mes

[2022-09-22 16:17] thisismattia opened #1943 "Error message － Consistency"
Issue
There are two type of error messages displaying on settings page. Would be ideal to align and have only 1 type of error message for consistency. I found the different messages on the following sections:

I run a workspace > Workspace
I build machines > Expertise
I collect & sort plastic > Collection

To reproduce the issue
https://community.preciousplastic.com/settings

Screenshot of issue
<

[2022-09-23 07:01] Kiebert commented on #1937
Hello,
I created a new PR with the right commit message format.
Please let me know, if you have questions or remarks.

[2022-09-23 11:09] thisislawatts commented on #1937
Closed by https://github.com/ONEARMY/community-platform/pull/1945

[2022-09-23 11:09] #1937 closed

[2022-09-24 13:08] Kiebert commented on #1940
Hello,
Created a pull request for this one.

[2022-09-24 13:14] Kiebert commented on #1941
Hello @thisismattia
The 'link' input has a separate error field that also is used to show the 'required' message (after you select a 'type): do you really want to delete it?
I assume the height of the link input should also align with the 'type' selectlist list height?

[2022-09-25 10:36] asheerrizvi commented on #1850
I think I have finally found a fix 😄

https://github.com/ONEARMY/community-platform/pull/1947

[2022-09-25 12:12] thisismattia commented on #1850
You are a persistent guy :) I like it ♡
Thanks for this looks much better!

[2022-09-25 12:23] thisismattia commented on #1941
hey @Kiebert thanks for looking in to this. I see.. in my way of looking at it from the end user point of view I would see this block as one, the required info necessary to complete your profile (not the individual type + field)

<img width="889" alt="Screenshot_2022-09-25_at_14_13_54" src="https://user-images.githubusercontent.com/17761877/192142896-38711eec-09e1-49c2-8ca9-da6acb5502f0.png">

I g

[2022-09-25 12:24] thisismattia commented on #1940
Thanks!

[2022-09-25 16:32] davehakkens opened #1948 "[bug] Wrong Icon size on Fixing Fashion Map"
**Describe the bug**
The icons on the map of Fixing Fashion are not correct.
The icons shown are for large display size, but they should be for small display size.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to https://community.fixing.fashion/map
2. See the icons

**Expected behaviour**

1. Space icon should be:
https://github.com/ONEARMY/community-platform/blob/master/src/assets/i

[2022-09-25 18:17] sev-osr commented on #1943
lol, the time you clowns spend writing that issue, you could have perfectly fixed it - at least once, you'd get your hands dirty on anything - I suppose, that nonsense serves well to justify your ridiculous existence.

In the meantime, there are families, workers, and investors paying a big price for your incompetence and abuses, across the entire project and community.

Let's see what the communi

[2022-09-25 18:18] sev-osr commented on #1943
@davehakkens , @thisismattia

[2022-09-26 17:14] davehakkens opened #1949 "[bug] Fixing Fashion Academy broken (sometimes)"
**Describe the bug**
We have our academies build with [Netlify](https://www.netlify.com/)
But it seems to behave strange in Fixing Fashion
For instance this page:
https://community.fixing.fashion/academy/guides/profile
Coming from direct URL doesnt work, but from navbar it works. (watch video)
Anyone an idea how this happens? 👀

**Screenshots**

https://user-images.githubusercontent.com/13672737/1

[2022-09-28 19:24] thisislawatts commented on #1949
There seem to be a few issues here contributing towards this behaviour.

**Inconsistent URL structure**

Across the various academy sites, note that PP is the only one with academy:

* PK – https://project-kamp-academy.netlify.app/
* PP – https://onearmy.github.io/academy/
* FF – https://fixing-fashion-academy.netlify.app/

**Missing Redirects**

`curl https://fixing-fashion-academy.netlify.app`
[

[2022-09-28 19:45] thisislawatts commented on #1949
This change to `fixing-fashion-academy` will help here:
https://github.com/ONEARMY/fixing-fashion-academy/pull/28

[2022-09-29 06:25] Kiebert commented on #1940
Hello @thisislawatts, I did an update of the PR. The changes are visible here:
https://github.com/ONEARMY/community-platform/pull/1946

[2022-09-29 11:03] davehakkens commented on #1949
Thanks a lot for looking into this @thisislawatts! Seems to be fixed now!

[2022-09-29 11:03] #1949 closed

[2022-09-30 12:22] asheerrizvi commented on #1948
@davehakkens I can take this.

[2022-09-30 12:23] asheerrizvi commented on #1943
@thisismattia I will take this.

[2022-09-30 12:23] asheerrizvi commented on #1942
@thisismattia I will take this.

[2022-09-30 17:00] thisismattia commented on #1943
All yours :)

[2022-09-30 17:00] thisismattia commented on #1942
Thank you man!

[2022-09-30 18:26] Kiebert commented on #1940
@thisismattia This bug fix is merged

[2022-10-01 08:10] Kiebert commented on #1941
Hello @thisismattia.
As far as I know: the error fields are 'connected' to every single input field.
This is the current proposal I could create. It is aligned with the image upload field:

![error_contact_links_full_width](https://user-images.githubusercontent.com/3414938/193399831-4d897cac-2285-44eb-9d92-fe7afbc76473.jpg)
![error_contact_links_mobile_width](https://user-images.githubusercontent.

[2022-10-01 08:55] Kiebert commented on #1777
Hi @thisismattia
This looks like an administrative thing.
Isn't the location connected to the pin on the map?
Precious Plastic appears to be pinned in Francia?
![image](https://user-images.githubusercontent.com/3414938/193401609-afb858ff-7fa6-4fc2-858d-555497afe7ca.png)

[2022-10-01 09:18] Kiebert commented on #1506
Hello @davehakkens.
This was an easy fix. No need for the bounty.
I will create a pull request.

[2022-10-01 12:05] Kiebert commented on #1506
Oops. Not an easy fix. The Cypress tests fails... I will have an attempt on fixing this...

[2022-10-01 13:16] Kiebert commented on #1506
Added a fix to pass the Cypress test.

[2022-10-01 14:47] davehakkens commented on #1948
great. thanks!

[2022-10-02 03:45] thisismattia commented on #1777
On the map is in PT
<img width="472" alt="image" src="https://user-images.githubusercontent.com/17761877/193436878-0b074340-b9d0-4717-a842-e8d82859e47d.png">

However, flag might be connected to this location
<img width="902" alt="image" src="https://user-images.githubusercontent.com/17761877/193436905-ef232f29-46a0-43a0-b11a-dfff07bca083.png">

Gonna try to retrieve pp log in to check

[2022-10-02 03:47] thisismattia commented on #1941
hey @Kiebert I see. Your proposed solution also works great.
Thank you :)

[2022-10-02 10:42] #1870 closed

[2022-10-02 10:42] davehakkens commented on #1734
seems to be working 💪

[2022-10-02 10:42] #1734 closed

[2022-10-02 10:44] #1940 closed

[2022-10-02 13:29] thisislawatts commented on #1810
This has been implemented

[2022-10-02 13:29] #1810 closed

[2022-10-02 17:13] Kiebert commented on #1506
Main outcome now according to this communication flow:
https://github.com/ONEARMY/community-platform/pull/1961

"When users signup and didn't select a profiletype yet (not space or member), they got the layout of the 'SpaceProfile'. But it should show the 'MemberProfile'"

[2022-10-02 20:36] davehakkens opened #1968 "[bug] Precious Plastic Discord Webhook broken?"
**Describe the bug**
We use a Discord webhook to display a message when there is activity on the Community Platform. (new map pin, new how-to)
This is used for [Precious Plastic](https://community.preciousplastic.com/map) and recently introduced for [Fixing Fashion](https://community.fixing.fashion/map). Messages are posted in[ #activity-bot channel.](https://discord.com/invite/SSBrzeR)
But the la

[2022-10-03 03:36] thisismattia opened #1969 "Release Categories Publicly"
Time to release categories to the world 🎉
This feature been running in beta until now, we've now prepared how-tos + academy for its release. We're now ready to release categories publicly (out of beta-tester).

![categories](https://user-images.githubusercontent.com/17761877/193496924-b591ba01-bad7-44df-8d05-f6e5d0c401fb.jpg)

 This requires hiding tags dropdown from how-to overview page.

<img wi

[2022-10-03 12:00] Sc4ramouche commented on #1969
Hey there 👋 First-time contributor here 👀
I have a couple of questions:

1. Is this one is a "good first issue"? If so, I'd like to take a look and contribute (and let's add the label?)
2. Should we remove the `<AuthWrapper roleRequired="beta-tester">` in scope of this issue so that Category filter becomes available for everyone?

[2022-10-03 12:19] Sc4ramouche commented on #1969
Also, should tags still be displayed on the how-to cards?

[2022-10-03 14:46] thisislawatts opened #1971 "[feature request] Show `-` instead of `0` on the Research Listing page"
**Is your feature request related to a problem? Please describe.**

![Screenshot 2022-10-02 at 15 54 01](https://user-images.githubusercontent.com/472589/193605894-adcb6a85-dd7c-4876-9108-34c93fadbbd8.jpg)

At the moment we show a full `0` character for instances where there have been, no updates, no comments or no useful votes.

**Describe the solution you'd like**

![Screenshot 2022-10-02 at 15

[2022-10-03 14:46] thisislawatts commented on #1971
One to take a look at during the next monthly dev call :)

[2022-10-03 19:08] Sc4ramouche commented on #1971
Hey @thisislawatts 👋

Have you started working on this one? I took a look out of curiosity and looks like the required changes are simple from the first glance.

I'll open a draft PR shortly, hope you wouldn't mind. Feel free to build upon it or scrap it :)

[2022-10-03 19:14] thisislawatts commented on #1971
Thanks for looking into that so quickly, apologies for any confusion. This was an Issue I created specifically for walking through the contribution flow end to end. Closing now as the fix was merged.

[2022-10-03 19:14] #1971 closed

[2022-10-04 11:58] thisismattia commented on #1969
Thanks @davehakkens
@Sc4ramouche thanks for taking this on!

[2022-10-04 22:10] davehakkens commented on #1948
Would be cool to try and get this done before Thursday @asheerrizvi if possible.
Sharing a Patreon article about it. :)

[2022-10-05 09:52] asheerrizvi commented on #1948
hey @davehakkens this should be done for all screen sizes right?

[2022-10-05 09:52] davehakkens commented on #1948
yes.

[2022-10-05 09:53] asheerrizvi commented on #1948
Got you, it's somewhat tricky. Currently, the codebase uses `src/modules/profile/SupportedProfileTypesFactory.ts` to fetch the type of icons it shows on the map. And all of them are generic icons. We will have to come up with a way to show theme based icons instead.

[2022-10-05 10:15] asheerrizvi commented on #1948
@davehakkens here's what I was able to come up with:

https://github.com/ONEARMY/community-platform/pull/1978

[2022-10-05 10:16] davehakkens commented on #1948
Hmm but it seems to already show correct on the Precious Plastic Instance..
Or because it doesnt use theming?

[2022-10-05 10:17] asheerrizvi commented on #1948
Yea that's because it is not using theming. That's the default one.

[2022-10-05 10:22] asheerrizvi commented on #1948
It is using pt-member badge there which is basically this:

<img width="810" alt="image" src="https://user-images.githubusercontent.com/17976252/194038506-aae9acbb-f5e4-4a0b-85db-bb0475a1f6e5.png">

[2022-10-09 08:08] Kiebert commented on #1508
Hi @franknoirot.
Can you assign me to this story?

[2022-10-09 14:01] davehakkens commented on #1508
This one is already in draft PR for a while @Kiebert : https://github.com/ONEARMY/community-platform/pull/1837
It's a complex one. You want to finish it?

[2022-10-09 15:15] Kiebert commented on #1508
@davehakkens Good to know that there is a branch/PR already.
I will have a look at the code to see if I can work with that.
If it is too complex for my brain I will let you know.

[2022-10-10 06:45] Kiebert commented on #1508
I did a quickscan of the users overview page and code. Added a screenshot.
I think most of the functionality is presebt.
One 'TODO' added by the former developer is still open: optimalization of the users database query. I will have to try if I can make this more efficient.

For what I could spot the Figma mockup and the current styling differ on the following:
- A pagination element is added: I t

[2022-10-11 12:01] davehakkens commented on #1508
hey @Kiebert thanks for looking into it!
`A pagination element is added: I think this a good choice;`
Agree
`Color of the 'User name' is different;`
Not a big problem for release, but feel free to change :)
`Filter when activated has no 'border line';`
Also not a big problem for first release.

`And in the mockup there is a 'Status' column: in the current page this is 'Badges'`
I think this is rel

[2022-10-12 22:03] davehakkens opened #1980 "[bug] @mentions dont work with all characters"
**Describe the bug**
Some usernames dont show well when mentioned in the comments.
Below a screenshot of the user [@paul-r-](https://community.projectkamp.com/u/paul-r-) on Project Kamp Instance. (last one)
probably because of the last character` - `

**Screenshots**
![afbeelding](https://user-images.githubusercontent.com/13672737/195455927-dcca0552-ca5d-400f-9c96-191338128fad.png)

**Problem**
Th

[2022-10-12 22:09] #1941 closed

[2022-10-15 13:18] #1969 closed

[2022-10-15 14:35] #1980 closed

[2022-10-15 16:55] davehakkens commented on #1968
Hmm not sure whats going on anymore.
Seems like a member pin notification came in Discord yesterday
But still not all of them...

<img width="523" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/195998619-1df9da26-c258-4423-84ef-58a09cfdc0c8.png">

[2022-10-15 19:52] Sc4ramouche commented on #1852
Hey there, I'm new to the project, although I thought it might make sense to use the same button as we do in other places where it's suggested for user to initiate an action. Let me know if it makes sense to you and feel free to leave your feedback in the PR linked above 🙌

![Screenshot 2022-10-15 at 21 49 44](https://user-images.githubusercontent.com/25829136/196005246-392045db-2d9f-45cf-8a52-dc4

[2022-10-16 00:44] thisismattia commented on #1852
hey @Sc4ramouche that's great! Yep primary button works in this case. Make sure it is hidden on desktop.

[2022-10-16 10:10] Kiebert commented on #1508
Hey @davehakkens
The simple design things (color of the user name and activated filter border line) are done.
And I merged the latest master version in this branch.

Currently I do not see a problem with the way the database query is done.
It now loads all available users into the grid in one go. That seems to work fine with around 10.000 of users.

I assume if the users amount increases to around

[2022-10-16 10:18] asheerrizvi commented on #1943
hey @thisismattia below is a PR for this. I have only changed the text styling for now and have left the text copy as it is. Let me know if you want changes to the text as well.

https://github.com/ONEARMY/community-platform/pull/1988

[2022-10-16 11:03] asheerrizvi commented on #1942
@thisismattia here's a PR for this:

https://github.com/ONEARMY/community-platform/pull/1989

[2022-10-17 05:04] thisismattia commented on #1942
Thanks man 🙏

[2022-10-17 05:05] thisismattia commented on #1943
beautiful thanks ♡

[2022-10-17 11:44] thisismattia commented on #1943
Perfect! Thank you

[2022-10-21 18:39] #1948 closed

[2022-10-22 21:12] #1942 closed

[2022-10-22 21:29] #1943 closed

[2022-10-25 15:56] Ulian commented on #693
I would like to take this one if is ok with you @thisislawatts

[2022-10-25 16:02] #1506 closed

[2022-10-25 16:45] thisislawatts commented on #693
Go for it @Ulian :sparkles:

[2022-10-26 15:46] davehakkens commented on #1968
Some workspaces seem the coming in now.
I'll keep an eye on it but close the issue for now

[2022-10-28 15:50] Ulian commented on #1358
The tag filter doesn't exist anymore. This behavior happens to category and search filters as well, do I create a new issue or can I take this one @thisislawatts?

[2022-10-29 09:42] davehakkens commented on #1358
well spotted @Ulian, you can take this one and replace tags with categories

[2022-10-30 23:16] #1852 closed

[2022-11-01 11:03] #1509 closed

[2022-11-01 11:03] #1508 closed

[2022-11-01 19:59] Kiebert commented on #1777
Hello @thisismattia.
Any new insights on this flag bug?

[2022-11-01 21:49] davehakkens commented on #1168
@Kiebert not sure if this falls in your expertise or intrest. But this would still be a useful one to take on! :)

[2022-11-02 07:04] Kiebert commented on #1168
Hi @davehakkens.
This week I am pretty occupied but next week I will reserve time for this issue.

[2022-11-04 12:51] tudi2d commented on #1721
Closing issue as it was solved by #1934

[2022-11-04 12:51] #1721 closed

[2022-11-09 15:40] thisismattia commented on #1777
Yep so that was indeed the issue. Or actually no issue. User mistake. I will close this issue.

[2022-11-09 15:40] #1777 closed

[2022-11-10 15:30] #1358 closed

[2022-11-21 01:20] Ulian commented on #772
I was able to reproduce this issue on localhost. The problem is that when a user is deleted there is nothing that marks the pin as deleted or removes the doc.

I have three questions:
1. The mappin document should be removed or should be updated with `_deleted: true`? I check the user and is deleted by removing the document.
2. Should be removed in `onDelete` hook ([similar to this](https://github

[2022-11-21 16:31] davehakkens commented on #772
Thanks for looking into the old issues. This is still a very useful one the fix! :)
Tagging @chrismclarke in since he would have a better understanding on how to implement this.

[2022-11-22 21:37] davehakkens opened #2002 "Add categories to research module"
## Component infos

### Description

We've recently added categories to our how-to's module (https://github.com/ONEARMY/community-platform/pull/1624), now we would like to also add them to the research module.
Note: There are different categories for how-to's and research. (Unlike tags they are not sitewide). So each module would need to be able to configure their own categories.

### Page related

[2022-11-24 19:25] Kiebert commented on #1168
Hi @davehakkens When working on the code I can't find a way to 'moderate' the created 'how-to' page.
Is there a trick to make the 'Awaiting moderation' sign dissappear?

[2022-11-24 22:16] davehakkens commented on #1168
You deed to be admin, then you can approve them.
(but sometimes the 'Awaiting moderation' label sticks around due to caching)

[2022-11-25 07:13] Kiebert commented on #1168
Ok. And where is the 'Approve' button to be found?

[2022-11-25 14:08] thisislawatts opened #2006 "[feature request] Support contributors to Research items"
**Is your feature request related to a problem? Please describe.**

The majority of items on Project Kamp are attributed to the `projectkamp` user, this is misleading as it does not adequately represent the individual humans who have worked on the project.

**Describe the solution you'd like**

In the MVP version of this it should be possible to credit other users on the Platform who have contribu

[2022-11-25 14:51] thisislawatts commented on #2006
I think before merging this it would be great to get a review from @ONEARMY/design on the Research Description as there are quite a few different chunks of information here 😬

![Screenshot 2022-11-25 at 14 46 21](https://user-images.githubusercontent.com/472589/204001359-3c3f8d44-e2aa-4bea-863c-b7433e1300e2.jpg)

For context, [an example from the live site](https://community.projectkamp.com/resear

[2022-11-25 15:57] #1850 closed

[2022-11-25 15:58] thisislawatts commented on #1755
Duplicate #1790

[2022-11-25 15:58] #1755 closed

[2022-11-25 22:49] davehakkens commented on #1168
Should be on top. When you click on the how-to the ✓
![afbeelding](https://user-images.githubusercontent.com/13672737/204061281-5a70f839-4336-4801-9371-ab6063e48c8e.png)

[2022-11-26 10:10] Kiebert commented on #1168
Probably my account doesn't have the right rights to see these buttons.
I am able to access the admin section and see the 'how-to' that need approval.
![image](https://user-images.githubusercontent.com/3414938/204083336-a2a667ad-1314-4637-9abf-ea7ee9ab9a17.png)
This is in the  following state of the local environment:
![image](https://user-images.githubusercontent.com/3414938/204083418-3934f7fc-10

[2022-11-26 10:14] davehakkens commented on #1168
Hmm not sure what is going on here.
Are you testing locally? And does yoururl.com/admin <http://url.com/admin> work
for you?

On 26 November 2022 at 10:10:45, Rob Kiebert ***@***.***)
wrote:

Probably my account doesn't have the right rights to see these buttons.
I am able to access the admin section and see the 'how-to' that need
approval.
[image: image]
<https://user-images.githubusercontent.com

[2022-11-26 13:35] Kiebert commented on #1168
Ah check. The 'Admin' option links to 'localhost/admin_v2'.
When I use the url: 'localhost/admin' I am getting a list of 'Super-admins' and 'Admins'.
There I was able to add my account as 'admin' and now I get the 'approval' option (after re-login).
Thanks for explanation.

[2022-11-26 13:59] davehakkens commented on #1168
cool.Yes Its the old vs new admin panel.
In the old one you can assign admin roles to users.
It should also happen when you toggle here in the menubar.
But sounds like it doest assign fully?
<img width="161" alt="afbeelding" src="https://user-images.githubusercontent.com/13672737/204092488-3714fe66-93be-4457-86de-f27351a7a3ff.png">

[2022-11-26 20:37] davehakkens opened #2012 "Increase character limit comments"
## Component infos

### Description

There is a to low character limits on comments. This often results in people leaving a double comment. Which is not necceserry because comments have a 'read more' feature. So long comments dont annoy other users.

So time to increase the limit

### Page related

Will be mainly use in [PK research. ](https://community.projectkamp.com/research)

- Related page na

[2022-11-26 21:52] #2012 closed

[2022-11-27 15:18] thisislawatts opened #2015 "[bug] Poorly documented max string length for How-to title"
**Describe the bug**

It is not possible to type more than 50 characters into the How to title field.

**To Reproduce**
Steps to reproduce the behaviour:

1. Go to 'How to -> Create'
2. Click on 'Title of your How-to *'
3. Type or copy a long string into the box, for example:

4. Notice the absence of any visual indicators or explanation to the user about why the input is no longer working.

**Exp

[2022-11-27 15:39] thisislawatts commented on #2015
Oh wait... it's there in the placeholder hint 😬
I was demonstrating how hard it is to expect folks to read things 😰

![Screenshot 2022-11-27 at 16 38 21](https://user-images.githubusercontent.com/472589/204143881-114e736a-f3ed-46df-af9c-70186cab161a.jpg)

[2022-11-27 20:30] davehakkens commented on #772
Ok whilst waiting for Chris I got an answer on 1 and 2.
1. Lets start with `_deleted: true` for now.
2. ....
3. I asked in our discord.  Like the reply below.
![afbeelding](https://user-images.githubusercontent.com/13672737/204157862-cd663273-2d31-4e10-bde0-2770455b782e.png)
So what can be removed:
- Profile, email, personal data etc
- Map Pin

What should stay
- How-to's uploaded
- Research start

[2022-11-29 13:33] asheerrizvi commented on #2002
@davehakkens I can take this up :)

[2022-11-30 12:43] davehakkens commented on #2006
Will get an update on this next week.
We will include it with the design of a new footer for how-to/research